@charset 'utf-8';

// variables
$MIN_WIDTH: 1600px;
$MAX_WIDTH: 1968px;

// colors
$WHITE: #FFFFFF;
$PRIMARY_BLUE: #0056A2;
$NEGATIVE_RED: #E32502;
$NOTICE_ORANGE: #E8652D;

$BLUE_FILL: #0056A2;
$BLUE_FILL_HOVER: #3378B5;
$BLUE_FILL_PRESSED: #003461;
$BLUE_LINE_HOVER: #E4F2FF;
$BLUE_LINE_PRESSED: #C1E0FC;

$SUB_BLUE: #4393F0;
$SUB_LIGHTBLUE: #E4F2FF;
$SUB_ORANGE: #E8652D;

$SUBBLUE_FILL: #4393F0;
$SUBBLUE_HOVER: #69A9F3;
$SUBBLUE_PRESSED: #285890;

$GRAY: #676767;
$GRAY_FILL: #606060;
$GRAY_FILL_HOVER: #808080;
$GRAY_FILL_PRESSED: #3A3A3A;
$GRAY_FILL_DISABLED: #3A3A3A;
$GRAY_LINE_HOVER: #F9F9F9;
$GRAY_LINE_PRESSED: #F0F0F0;

$FONT_GRAY01: #333333;
$FONT_GRAY02: #666666;
$FONT_GRAY03: #777777;
$FONT_GRAY04: #999999;
$FONT_GRAY05: #AAAAAA;
$FONT_WHITE: #FFFFFF;
$FONT_BLUE01: #0056A2;
$FONT_BLUE02: #5B82B0;
$FONT_BLUE03: #A9C4DC;

$BORDER_GRAY01: #D2D2D2;
$BORDER_GRAY02: #DDDDDD;
$BORDER_GRAY03: #E1E1E1;
$BORDER_GRAY04: #E9E9E9;
$BORDER_GRAY05: #F2F2F2;
$BORDER_BLUE01: #0056A2;
$BORDER_BLUE02: #C3D2E3;
$BGCOLOR_BLUE01: #D8EAFF;
$BGCOLOR_BLUE02: #E3EEFB;
$BGCOLOR_BLUE03: #F3F9FF;
$BGCOLOR_BLUE04: #FAFBFF;
$BGCOLOR_GRAY01: #E0DEDE;
$BGCOLOR_GRAY02: #F0F0F0;
$BGCOLOR_GRAY03: #F3F3F3;
$BGCOLOR_GRAY04: #F9F9F9;
$BGCOLOR_GRAY05 :#8C949E;
$BGCOLOR_WHITE: #FFFFFF;
$BGCOLOR_LIGHT_RED :#FFEAEA;
$BGCOLOR_RED :#FF9C9C;
$BGCOLOR_YELLOW :#FFFDDB;
$BGCOLOR_LIGHT_BLUE: #E4F2FF;
$BGCOLOR_LIGHT_GRAY: #F9F9F9;

$DIMMED_BLACK: rgba(0, 0, 0, 0.8);

$TAG_DANGER: #d9481d;
$TAG_WARNING: #dd7c2c;
$TAG_PRIMARY: #4987ff;
$TAG_PURPLE: #8b76ec;