<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" conten)t="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>사용자관리</title>
    <link rel="stylesheet" type="text/css" href="../../resource/css/ems_common.css">
    <script type="text/javascript" src="../../resource/library/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../resource/library/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.ko.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../resource/library/feather/feather.min.js"></script>
    <script type="text/javascript" src="../../resource/js/common.js"></script>
</head>

<body>
    <div class="contents" style="width: 100% !important;">
        <!-- 페이지헤더 -->
        <div class="page_heading" style="position: static !important;">
            <h1 class="h1">사용자관리</h1>
            <ul class="location">
                <li class="ico_home"><a><span class="sr_only">홈</span></a></li>
                <li>정보관리</li>
                <li>사용자관리</li>
                <li class="on">사용자관리</li>
            </ul>
        </div>
        <!--// 페이지헤더 -->

        <!-- 그리드 -->
        <form id="form1" name="form1" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="s_SAVENAME" name="s_SAVENAME" value="">

            <div class="searcher" style="position: static !important;">
                <div class="searcher_items_wrap">
                    <div class="select_set">
                        <label class="label_bullet">그룹사</label>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="cmgrpCdOpt" name="cmgrpCdOpt" class="select round" data-width="fit" tabindex="-98">
                            <option value="">전체</option>                            
                            <option value="00">BNK금융지주</option>                            
                            <option value="01">BNK부산은행</option>
                            <option value="02">BNK경남은행</option>
                            <option value="03">BNK캐피탈</option>                            
                            <option value="04">BNK투자증권</option>                            
                            <option value="05">BNK저축은행</option>                            
                            <option value="06">BNK자산운용</option>                            
                            <option value="07">BNK신용정보</option>                            
                            <option value="08">BNK시스템</option>                            
                            <option value="09">BNK벤처투자</option>
                        </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-11" aria-haspopup="listbox" aria-expanded="false" data-id="cmgrpCdOpt" title="전체"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">전체</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-11" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                    </div>
                    <div class="select_set">
                        <label class="label_bullet">사용자</label>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="optList" name="optList" class="select round" data-width="fit" tabindex="-98">
                            <option value="usrIdOpt">사용자ID</option>
                            <option value="usrNmOpt">사용자명</option>
                        </select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-12" aria-haspopup="listbox" aria-expanded="false" data-id="optList" title="사용자ID"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">사용자ID</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-12" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                        <input type="text" id="optForm" name="optForm" class="input round" placeholder="검색어를 입력하세요." maxlength="20" kor_eng_num2="">
                    </div>
                    <button type="button" id="btn_sch" name="btn_sch" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg><span>검색</span></button>
                    <button type="button" id="btn_rst" name="btn_rst" class="btn_sm_gray round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-cw"><polyline points="23 4 23 10 17 10"></polyline><path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"></path></svg><span>초기화</span></button>
                </div>
            </div>

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">목록</h3>
                            <button type="button" class="btn_sm_gray adjust_grid_height"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code" style="transform:rotate(90deg)"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg><span>확장</span></button>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_xls" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>엑셀다운로드</span></button>
                            <button type="button" id="btn_sav" name="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>적용</span></button>
                        </div>
                    </div>
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <div class="table-responsive">
                            <hr class="tr_selected" style="display:none;">
                            <table class="table grid_table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>                                                                    
                                </colgroup>
                                <thead>                            
                                    <tr>
                                        <th>순번</th>
                                        <th>삭제</th>
                                        <th>사용자권한</th>
                                        <th>그룹사</th>
                                        <th>사업장</th>
                                        <th>사용자ID</th>
                                        <th>사용자명</th>
                                        <th>소속점</th>
                                        <th>근무점</th>
                                        <th>부서</th>
                                        <th>비밀번호오류</th>
                                        <th>초기화상태</th>
                                        <th>사용여부</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="selected">
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>시스템관리자</td>
                                        <td>BNK금융지주</td>
                                        <td>[ ]</td>
                                        <td>BSFG_DC</td>
                                        <td>관리자</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td>초기화아님</td>
                                        <td>Y</td>                                       
                                    </tr>                                    
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>시스템관리자</td>
                                        <td>BNK금융지주</td>
                                        <td>[ ]</td>
                                        <td>BSFG_DC</td>
                                        <td>관리자</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td>초기화아님</td>
                                        <td>Y</td>                                       
                                    </tr> 
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>시스템관리자</td>
                                        <td>BNK금융지주</td>
                                        <td>[ ]</td>
                                        <td>BSFG_DC</td>
                                        <td>관리자</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td>초기화아님</td>
                                        <td>Y</td>                                       
                                    </tr> 
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>시스템관리자</td>
                                        <td>BNK금융지주</td>
                                        <td>[ ]</td>
                                        <td>BSFG_DC</td>
                                        <td>관리자</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td>초기화아님</td>
                                        <td>Y</td>                                       
                                    </tr> 
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>시스템관리자</td>
                                        <td>BNK금융지주</td>
                                        <td>[ ]</td>
                                        <td>BSFG_DC</td>
                                        <td>관리자</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td>초기화아님</td>
                                        <td>Y</td>                                       
                                    </tr> 
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>시스템관리자</td>
                                        <td>BNK금융지주</td>
                                        <td>[ ]</td>
                                        <td>BSFG_DC</td>
                                        <td>관리자</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td>초기화아님</td>
                                        <td>Y</td>                                       
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                                </tbody>
                            </table>
                        </div>
                        <div class="grid_footer">
                            <span>[ 4 / 4 ]</span>
                        </div>
                    </div>
                </div>
            </section>
	    </form>
	    <!--// 그리드 -->

        <!-- 상세 -->
        <form id="form2" name="form2" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="cmgrpCdForm" name="cmgrpCdForm" value="">
            <input type="hidden" id="usrIdForm" name="usrIdForm" value="">
            <input type="hidden" id="cmgrpCdPk" name="cmgrpCdPk" value="">
            <input type="hidden" id="usrIdPk" name="usrIdPk" value="">
            <input type="hidden" id="cmgrpCdPop" name="cmgrpCdPop" value="">
            <input type="hidden" id="brno" name="brno" value="">
            <input type="hidden" id="cmgrpCdTemp" name="cmgrpCdTemp" value="">

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">상세</h3>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_rst" name="btn_rst" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span>초기화</span></button>
                            <button type="button" id="btn_del" name="btn_del" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg><span>삭제</span></button>
                            <button type="button" id="btn_sav" name="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>저장</span></button>
                        </div>
                    </div>

                    <div class="card_body">
                        <hr class="border_top_2px">
                        <article class="div_table cols_3 has_dt_wide">
                            <div class="col">
                                <div class="dt requird">사용자권한</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select bs3"><select id="usrLvCd" name="usrLvCd" class="select" tabindex="-98">                                        
                                        <option value="1">시스템관리자</option>                                        
                                        <option value="2">운영관리자</option>
                                        <option value="3">그룹사관리자</option>                                        
                                        <option value="4">지점관리자</option>                                        
                                        <option value="5" selected="">사용자</option>
                                    </select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-18" aria-haspopup="listbox" aria-expanded="false" data-id="usrLvCd" title="사용자"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">사용자</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-18" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">그룹사</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select bs3"><select id="cmgrpCd" name="cmgrpCd" class="select" tabindex="-98">                                        
                                        <option value="00" selected="">BNK금융지주</option>                                        
                                        <option value="01">BNK부산은행</option>                                        
                                        <option value="02">BNK경남은행</option>
                                        <option value="03">BNK캐피탈</option>                                        
                                        <option value="04">BNK투자증권</option>                                        
                                        <option value="05">BNK저축은행</option>                                        
                                        <option value="06">BNK자산운용</option>                                        
                                        <option value="07">BNK신용정보</option>                                        
                                        <option value="08">BNK시스템</option>                                        
                                        <option value="09">BNK벤처투자</option>
                                    </select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-19" aria-haspopup="listbox" aria-expanded="false" data-id="cmgrpCd" title="BNK금융지주"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">BNK금융지주</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-19" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">사업장</div>
                                <div class="dd">
                                    <div class="rst_input_wrap">
                                        <input type="text" id="brnoVal" name="brnoVal" class="input" title="사업장" maxlength="20" readonly="">
                                        <button type="button" id="btn_brno_rst" name="btn_brno_rst" class="ico_btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span class="sr_only">초기화</span></button>
                                    </div>
                                    <button type="button" id="btn_brno_sch" name="btn_brno_sch" class="btn_tertiary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg><span>사업장</span></button>
                                <!--
                                    <input type="text" id="brnoVal" name="brnoVal" class="input" title="사업장" maxlength="20" readonly />
                                    <button type="button" id="btn_brno_sch" name="btn_brno_sch" class="btn_tertiary"><i data-feather="search"></i><span>사업장</span></button>
                                    <button type="button" id="btn_brno_rst" name="btn_brno_rst" class="btn_underline" ><span>초기화</span></button>
                                -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">사용자ID</div>
                                <div class="dd">
                                <!-- <div class="rst_input_wrap"> -->
                                    <input type="text" id="usrId" name="usrId" class="input" title="사용자ID" maxlength="20" eng_num2="">
                                <!--
                                    <button type="button" id="btn_enob_rst" name="btn_enob_rst" class="ico_btn"><i data-feather="x"></i><span class="sr_only">초기화</span></button>
                                </div>
                                    <button type="button" id="btn_enob_sch" name="btn_enob_sch" class="btn_tertiary" ><i data-feather="search"></i><span>행번</span></button>
                                -->
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">사용자명</div>
                                <div class="dd">
                                    <input type="text" id="usrNm" name="usrNm" class="input" title="사용자명" maxlength="20" kor_eng_num2="">
                                </div>
                            </div>
                            <hr class="col col_blank">
                            <div class="col">
                                <div class="dt">비밀번호오류횟수</div>
                                <div class="dd">
                                    <input type="text" id="usrPwErrCnt" name="usrPwErrCnt" class="input" title="비밀번호오류횟수" style="text-align:right;" maxlength="3" readonly="">
                                    <button type="button" id="btn_rstUsrPwErrCnt" name="btn_rstUsrPwErrCnt" class="btn_secondary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-ccw ico_14px"><polyline points="1 4 1 10 7 10"></polyline><polyline points="23 20 23 14 17 14"></polyline><path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path></svg><span>오류횟수초기화</span></button>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">비밀번호초기화상태여부</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select bs3"><select id="usrRstCd" name="usrRstCd" class="select" tabindex="-98">
                                        
                                        
                                        <option value="0" disabled="">초기화아님</option>
                                        
                                        <option value="1">초기화상태</option>
                                    </select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-20" aria-haspopup="listbox" aria-expanded="false" data-id="usrRstCd" title="초기화상태"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">초기화상태</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-20" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                    <button type="button" id="btn_rstUsrPw" name="btn_rstUsrPw" class="btn_secondary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-ccw ico_14px"><polyline points="1 4 1 10 7 10"></polyline><polyline points="23 20 23 14 17 14"></polyline><path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path></svg><span>비밀번호초기화</span></button>
                                </div>
                            </div>
                            <hr class="col col_blank">
                            <div class="col">
                                <div class="dt">소속점</div>
                                <div class="dd">
                                    <input type="text" id="blgBrnoVal" name="blgBrnoVal" class="input" title="소속점" maxlength="20" kor_eng_num2="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">근무점</div>
                                <div class="dd">
                                    <input type="text" id="wrkBrnoVal" name="wrkBrnoVal" class="input" title="근무점" maxlength="20" kor_eng_num2="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">부서</div>
                                <div class="dd">
                                    <input type="text" id="deptNm" name="deptNm" class="input" title="담당자부서" maxlength="10" kor_eng_num2="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">사용여부</div>
                                <div class="dd">
                                    <div class="selecting_set">
                                        <label class="selecting">
                                            <input type="radio" id="useCd" name="useCd" value="1" checked="">
                                            <span class="radiomark"></span>
                                            <span class="text">예</span>
                                        </label>
                                    </div>
                                    <div class="selecting_set">
                                        <label class="selecting">
                                            <input type="radio" id="useCd" name="useCd" value="0">
                                            <span class="radiomark"></span>
                                            <span class="text">아니오</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">최초등록사용자ID</div>
                                <div class="dd">
                                    <input type="text" id="frstRegUsrId" name="frstRegUsrId" class="input" title="최초등록사용자ID" maxlength="20" readonly="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">최초등록일시</div>
                                <div class="dd">
                                    <input type="text" id="frstRegDtm" name="frstRegDtm" class="input" title="최초등록일시" maxlength="19" readonly="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">최종수정사용자ID</div>
                                <div class="dd">
                                    <input type="text" id="lastChgUsrId" name="lastChgUsrId" class="input" title="최종수정사용자ID" maxlength="20" readonly="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">최종수정사용자IP</div>
                                <div class="dd">
                                    <input type="text" id="lastChgUsrIp" name="lastChgUsrIp" class="input" title="최종수정사용자IP" maxlength="15" readonly="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt">최종수정일시</div>
                                <div class="dd">
                                    <input type="text" id="lastChgDtm" name="lastChgDtm" class="input" title="최종수정일시" maxlength="19" readonly="">
                                </div>
                            </div>
                        </article>
                    </div><!-- //card_body -->
                </div>
            </section>
	    </form>
        <!--// 상세 -->
    </div>  
</body>

</html>
