<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" conten)t="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>그룹권한관리</title>
    <link rel="stylesheet" type="text/css" href="../../resource/css/ems_common.css">
    <script type="text/javascript" src="../../resource/library/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../resource/library/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.ko.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../resource/library/feather/feather.min.js"></script>
    <script type="text/javascript" src="../../resource/js/common.js"></script>
</head>

<body>
    <div class="contents" style="width: 100% !important;">
        <!-- 페이지헤더 -->
        <div class="page_heading" style="position: static !important;">
            <h1 class="h1">그룹권한관리</h1>
            <ul class="location">
                <li class="ico_home"><a><span class="sr_only">홈</span></a></li>
                <li>정보관리</li>
                <li>메뉴관리</li>
                <li class="on">그룹권한관리</li>
            </ul>
        </div>
        <!--// 페이지헤더 -->

        <!-- 그리드 -->
        <form id="form1" name="form1" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="s_SAVENAME" name="s_SAVENAME" value="">

            <div class="searcher" style="position: static !important;">
                <div class="searcher_items_wrap">
                    <div class="select_set">
                        <label class="label_bullet">사용자권한</label>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="usrLvCdOpt" name="usrLvCdOpt" class="select round" data-width="fit" tabindex="-98">                            
                            <option value="1" selected="">시스템관리자</option>                            
                            <option value="2">운영관리자</option>                            
                            <option value="3">그룹사관리자</option>                            
                            <option value="4">지점관리자</option>                            
                            <option value="5">사용자</option>                            
                        </select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-3" aria-haspopup="listbox" aria-expanded="false" data-id="usrLvCdOpt" title="시스템관리자"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">시스템관리자</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-3" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                    </div>
                </div>
            </div>

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">목록</h3>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_xls" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>엑셀다운로드</span></button>
                            <button type="button" id="btn_sav" name="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>적용</span></button>
                        </div>
                    </div>
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <div class="table-responsive">
                            <hr class="tr_selected" style="display:none;">
                            <table class="table grid_table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>                                                                                                        
                                </colgroup>
                                <thead>                            
                                    <tr>
                                        <th>순번</th>
                                        <th>선택</th>
                                        <th>대메뉴</th>
                                        <th>중메뉴</th>
                                        <th>소메뉴</th>
                                        <th>메뉴경로</th>
                                        <th>사용자권한</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="selected">
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>기준정보</td>
                                        <td>E-일반현황 기준정보</td>
                                        <td>법인정보 관리</td>
                                        <td>gms/bz/CMCP001/init.do</td>
                                        <td>운영관리자</td>                                     
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>기준정보</td>
                                        <td>E-일반현황 기준정보</td>
                                        <td>법인정보 관리</td>
                                        <td>gms/bz/CMCP001/init.do</td>
                                        <td>운영관리자</td>                                     
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>기준정보</td>
                                        <td>E-일반현황 기준정보</td>
                                        <td>법인정보 관리</td>
                                        <td>gms/bz/CMCP001/init.do</td>
                                        <td>운영관리자</td>                                     
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>기준정보</td>
                                        <td>E-일반현황 기준정보</td>
                                        <td>법인정보 관리</td>
                                        <td>gms/bz/CMCP001/init.do</td>
                                        <td>운영관리자</td>                                     
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>기준정보</td>
                                        <td>E-일반현황 기준정보</td>
                                        <td>법인정보 관리</td>
                                        <td>gms/bz/CMCP001/init.do</td>
                                        <td>운영관리자</td>                                     
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>기준정보</td>
                                        <td>E-일반현황 기준정보</td>
                                        <td>법인정보 관리</td>
                                        <td>gms/bz/CMCP001/init.do</td>
                                        <td>운영관리자</td>                                     
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                                </tbody>
                            </table>
                        </div>
                        <div class="grid_footer">
                            <span>[ 4 / 4 ]</span>
                        </div>
                    </div>
                </div>
            </section>
	    </form>
	    <!--// 그리드 -->
    </div>  
</body>

</html>
