<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" conten)t="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>파일관리</title>
    <link rel="stylesheet" type="text/css" href="../../resource/css/ems_common.css">
    <script type="text/javascript" src="../../resource/library/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../resource/library/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.ko.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../resource/library/feather/feather.min.js"></script>
    <script type="text/javascript" src="../../resource/js/common.js"></script>
</head>

<body>
    <div class="contents" style="width: 100% !important;">
        <!-- 페이지헤더 -->
        <div class="page_heading" style="position: static !important;">
            <h1 class="h1">파일관리</h1>
            <ul class="location">
                <li class="ico_home"><a><span class="sr_only">홈</span></a></li>
                <li>정보관리</li>
                <li>운영관리</li>
                <li class="on">파일관리</li>
            </ul>
        </div>
        <!--// 페이지헤더 -->

        <!-- 그리드 -->
        <form id="form1" name="form1" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="s_SAVENAME" name="s_SAVENAME" value="">

            <div class="searcher" style="position: static !important;">
                <div class="searcher_items_wrap">
                    <div class="select_set">
                        <label class="label_bullet">파일</label>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="optList" name="optList" class="select round" data-width="fit" tabindex="-98">
                            <option value="fileNmOrgOpt">파일명</option>
                            <option value="lyNmOpt">레이아웃명</option>
                        </select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-7" aria-haspopup="listbox" aria-expanded="false" data-id="optList" title="파일명"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">파일명</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-7" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                        <input type="text" id="optForm" name="optForm" class="input round" placeholder="검색어를 입력하세요." maxlength="20" kor_eng_num="">
                    </div>
                    <button type="button" id="btn_sch" name="btn_sch" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg><span>검색</span></button>
                    <button type="button" id="btn_rst" name="btn_rst" class="btn_sm_gray round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-cw"><polyline points="23 4 23 10 17 10"></polyline><path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"></path></svg><span>초기화</span></button>
                </div>
            </div>

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">목록</h3>
                            <button type="button" class="btn_sm_gray adjust_grid_height"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code" style="transform:rotate(90deg)"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg><span>확장</span></button>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_xls" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>엑셀다운로드</span></button>
                            <button type="button" id="btn_sav" name="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>적용</span></button>
                        </div>
                    </div>
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <div class="table-responsive">
                            <hr class="tr_selected" style="display:none;">
                            <table class="table grid_table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>                                                                                                                                            
                                </colgroup>
                                <thead>                            
                                    <tr>
                                        <th>순번</th>
                                        <th>삭제</th>
                                        <th>원본파일명</th>
                                        <th>등록파일명</th>
                                        <th>저장경로</th>
                                        <th>레이아웃</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="selected">
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>BNK부산은행_201_2023년01월_일반_1월한전.pdf</td>
                                        <td>000000509</td>
                                        <td>d:/data/esg/upload/2023</td>
                                        <td></td>                                                                             
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>BNK부산은행_201_2023년01월_일반_1월한전.pdf</td>
                                        <td>000000509</td>
                                        <td>d:/data/esg/upload/2023</td>
                                        <td></td>                                                                             
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>BNK부산은행_201_2023년01월_일반_1월한전.pdf</td>
                                        <td>000000509</td>
                                        <td>d:/data/esg/upload/2023</td>
                                        <td></td>                                                                             
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>BNK부산은행_201_2023년01월_일반_1월한전.pdf</td>
                                        <td>000000509</td>
                                        <td>d:/data/esg/upload/2023</td>
                                        <td></td>                                                                             
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>BNK부산은행_201_2023년01월_일반_1월한전.pdf</td>
                                        <td>000000509</td>
                                        <td>d:/data/esg/upload/2023</td>
                                        <td></td>                                                                             
                                    </tr>
                                    <tr>
                                        <td>1</td>       
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>                                 
                                        <td>BNK부산은행_201_2023년01월_일반_1월한전.pdf</td>
                                        <td>000000509</td>
                                        <td>d:/data/esg/upload/2023</td>
                                        <td></td>                                                                             
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                                </tbody>
                            </table>
                        </div>
                        <div class="grid_footer">
                            <span>[ 4 / 4 ]</span>
                        </div>
                    </div>
                </div>
            </section>
	    </form>
	    <!--// 그리드 -->

        <!-- 상세 -->
        <form id="form2" name="form2" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="fileSeqForm" name="fileSeqForm" value="">
            <input type="hidden" id="fileSeqPk" name="fileSeqPk" value="">

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">상세</h3>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_rst" name="btn_rst" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span>초기화</span></button>
                            <button type="button" id="btn_del" name="btn_del" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg><span>삭제</span></button>
                            <button type="button" id="btn_sav" name="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>저장</span></button>
                        </div>
                    </div>

                    <div class="card_body">
                        <hr class="border_top_2px">
                        <article class="div_table cols_4">
                            <div class="col_2">
                                <div class="dt">파일</div>
                                <div class="dd">
                                    <div class="file_downloader">
                                        <input type="text" id="fileNmOrg" name="fileNmOrg" class="input" title="파일" maxlength="650" readonly="">
                                        <button type="button" id="btn_file_dwn" name="btn_file_dwn" class="btn_tertiary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>다운로드</span></button>
                                    </div>
                                    <div class="file_uploader">
                                        <label for="upFile">파일선택</label>
                                        <input type="file" id="upFile" name="upFile" title="파일" maxlength="650" style="display:none">
                                        <input type="text" id="upFileNm" name="upFileNm" placeholder="선택된 파일 없음" readonly="readonly">
                                        <span id="btn_file_rst" class="ico_btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span class="sr_only">초기화</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col_2 cols_2">
                                <div class="col">
                                    <div class="dt">레이아웃</div>
                                    <div class="dd">
                                        <div class="dropdown bootstrap-select select bs3"><select id="lyId" name="lyId" class="select" tabindex="-98">
                                            <option value="">선택</option>                                            
                                            <option value="MANUAL">매뉴얼</option>                                            
                                            <option value="CMFS001">상품정보</option>                                            
                                            <option value="CMPS001">우편번호</option>                                            
                                            <option value="CMPS001_UDT">우편번호업데이트</option>                                            
                                            <option value="CMOP001">유가정보</option>                                            
                                            <option value="CMPD001">제품정보</option>                                            
                                            <option value="BTFC001">차량연계정보</option>                                            
                                            <option value="CMFC001">차량정보</option>                                            
                                            <option value="BTET001">출장연계정보</option>                                            
                                            <option value="CMET001">출장정보</option>                                            
                                            <option value="BTAT001">ATM연계정보</option>                                            
                                            <option value="CMAT001">ATM정보</option>                                            
                                        </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-8" aria-haspopup="listbox" aria-expanded="false" data-id="lyId" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-8" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                    </div>
                                </div>
                                <hr class="col_2 col_blank_bl">
                            </div>
                        </article>
                    </div><!-- //card_body -->
                </div><!-- //card -->
            </section>
	    </form>
        <!--// 상세 -->
    </div>  
</body>

</html>
