/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.min.css'); */
/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable-dynamic-subset.min.css'); */

/* :root  {
    --typo-sans:        "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --typo-sans:        'wf-PretendardVAR', 'wf-Pretendard', 'Pretendard Variable', Pretendard, 'wf-NotoSansKR', 'Noto Sans KR', 'Noto Sans CJK KR', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
} */
:root  {
    --bold-1:           200;
    --bold-4:           450;
    --bold-5:           500;
    --bold-7:           700;
    --bold-9:           900;


    --typo-system:      -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum';
    --typo-emoji:       'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --typo-serif:       'wf-NotoSerifKR', 'Noto Serif KR', 'Noto Serif CJK KR', 'AppleMyungjo', '바탕', 'Batang';
    --typo-mono:        'wf-D2Mono', 'D2Coding', 'Noto Sans Mono KR', 'Noto Sans Mono CJK KR', 'Consolas', 'Monaco', 'Courier New', 'Lucida Console', 'Courier', '바탕체', 'BatangChe';
    --typo-sans:        'wf-PretendardVF', 'wf-Pretendard', 'Pretendard Variable', 'Pretendard', 'wf-NotoSansKR', 'Noto Sans KR', 'Noto Sans CJK KR';
    --typo-sans-latin:  'wf-OpenSans';

    --typo-quot:        var(--typo-serif), serif;
    --typo-code:        var(--typo-mono), monospace;
    --typo-header:      var(--typo-sans-latin), var(--typo-sans), var(--typo-system), sans-serif;
    --typo-number:      'wf-OpenSansNum', var(--typo-sans), var(--typo-system), sans-serif;
    --typo-password:    'wf-charDisc', var(--typo-sans-latin), var(--typo-system), sans-serif;
    --typo-base:        var(--typo-sans), var(--typo-system), var(--typo-emoji), sans-serif;
}

html  { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
body  { font-family: var(--typo-base); font-weight: var(--bold-4); word-wrap: break-word; word-break: break-word; word-break: keep-all; }
input,  button,  select,  textarea  { font-family: inherit; }
pre,  code,  samp,  kbd  { font-family: monospace, monospace; font-family: var(--typo-code); font-size: 100%; }
pre *,  code *,  samp *,  kbd *  { font-family: inherit; }

th:before  { content: "\2022" "*" "\25CF"; }
td:before  { content: "\2022" "\25CF" "*"; font-family: var(--typo-password); }
