@charset "UTF-8";

@property --color-scrollbar-hidden-track  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

@property --color-scrollbar-hidden-thumb  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

@property --color-scrollbar-hidden-thumb-edge  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

:root  {
  --breakpoint-min:     320px;
  --breakpoint-max:     calc(var(--rem) * 1200);


  --color-scrollbar-track:      rgba(0,0,0, 0.05);
  /* --color-scrollbar-track:      var(--tp); */
  --color-scrollbar-thumb:      rgba(0,0,0, 0.3);
  --color-scrollbar-thumb-hover: rgba(0,0,0, 0.4);
  --color-scrollbar-thumb-active: rgba(0,0,0, 0.5);
  --color-scrollbar-thumb-edge: rgba(255,255,255, 0.3);
  --margin-global-scrollbar:    calc(var(--rem) * 3);
  --width-global-scrollbar:     calc(var(--rem) * 6 + var(--margin-global-scrollbar) * 2);


  // @include setTextStyle(20px);
}

/** Scrollbars
 ------------- */

// .g-scroll-gutter-stable  {
//   /* --margin-global-scrollbar:    calc(var(--rem) * 4); */
//   --width-global-scrollbar:     calc(var(--rem) * 4 + var(--margin-global-scrollbar) * 2);
// }

.g-scroll-width-thin  {
  --margin-global-scrollbar:    calc(var(--rem) * 2);
  --width-global-scrollbar:     calc(var(--rem) * 4 + var(--margin-global-scrollbar) * 2);
}

::-webkit-resizer  { background: var(--object-symbol-resizer-scrollable) 0 /100%; }
::-webkit-scrollbar  { width: var(--width-global-scrollbar, 12px); height: var(--width-global-scrollbar, 12px); }
::-webkit-scrollbar-corner  { background-color: var(--color-scrollbar-track, rgba(0,0,0, 0.05)); outline: 1px solid rgba(255,255,255, 0.05); border-radius: 4px; }
::-webkit-scrollbar-track  { background-color: var(--color-scrollbar-track, rgba(0,0,0, 0.05)); border-radius: var(--width-global-scrollbar, 12px); }
::-webkit-scrollbar-thumb  { min-width: 50px; min-height: 50px; border: var(--margin-global-scrollbar, 3px) solid Transparent; background-clip: padding-box; background-color: var(--color-scrollbar-thumb, rgba(0,0,0, 0.3)); outline: 1px solid var(--color-scrollbar-thumb-edge, rgba(255,255,255, 0.3)); outline-offset: calc(var(--margin-global-scrollbar, 3px) * -1); border-radius: var(--width-global-scrollbar, 12px); }
::-webkit-scrollbar-thumb:hover  { background-color: var(--color-scrollbar-thumb-hover, rgba(0,0,0, 0.4)); outline-color: rgba(255,255,255, 0.4); }
::-webkit-scrollbar-thumb:active  { background-color: var(--color-scrollbar-thumb-active, rgba(0,0,0, 0.5)); outline-color: rgba(255,255,255, 0.5); }

/* 
.g-scroll-gutter-stable:not(:hover):not(:focus-within)::-webkit-scrollbar-track  { background-color: Transparent; }
.g-scroll-gutter-stable::-webkit-scrollbar-thumb  { transition-duration: 0.8s; }
.g-scroll-gutter-stable:not(:hover):not(:focus-within)::-webkit-scrollbar-thumb  { border-color: Transparent; background-color: Transparent; outline-color: Transparent; }
.g-scroll-gutter-stable:where( :hover, :focus-within )::-webkit-scrollbar-thumb  { transition-duration: 0.15s; }
 */

.g-scroll-gutter-stable  { transition: 0.8s; transition-property: --color-scrollbar-hidden-track, --color-scrollbar-hidden-thumb, --color-scrollbar-hidden-thumb-edge; }
.g-scroll-gutter-stable:hover,
  .g-scroll-gutter-stable:focus-within  { --color-scrollbar-hidden-track: var(--color-scrollbar-track); --color-scrollbar-hidden-thumb: var(--color-scrollbar-thumb); --color-scrollbar-hidden-thumb-edge: var(--color-scrollbar-thumb-edge); transition-duration: 0.15s; }
.g-scroll-gutter-stable::-webkit-scrollbar-track  { background-color: var(--color-scrollbar-hidden-track); }
.g-scroll-gutter-stable::-webkit-scrollbar-thumb:not(:hover):not(:active)  { background-color: var(--color-scrollbar-hidden-thumb); outline-color: var(--color-scrollbar-hidden-thumb-edge, Transparent); }

*  { scroll-behavior: inherit; scrollbar-width: inherit; }
html  { overflow: auto; scroll-behavior: smooth; /* scrollbar-gutter: stable both-edges; scrollbar-gutter: stable; scrollbar-width: thin; scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track); overscroll-behavior: auto none; */ }


/** Define Fonts
 --------------- */

*  { letter-spacing: var(--text-spacing); }
:before,  :after  { border-radius: inherit; letter-spacing: inherit; }
html  { font-size: 100%; font-size: calc(16em / 16); font-size: var(--root-em-base, calc(16em / 16)); }
body  { font-family: var(--typo-base); font-feature-settings: var(--text-feature, normal); font-optical-sizing: auto; font-weight: var(--bold-40, inherit); font-size: var(--text-size); line-height: var(--text-height); color: var(--color-text1); background: var(--color-surface, WhiteSmoke); }
/* @media
  screen and (not (max-width: 1920px))  {
    html  { font-size: var(--root-em-base, calc(10em / 16)); font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); }
} */
/* html  { font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); } */


/** Sectioning-Area */

/* .dom-wrapper >*  { display: flex; flex-direction: column; }
.dom-wrapper >* >.roles  { display: flex; flex-direction: column; min-height: 100%; background-color: var(--color-ground); } */
/* .dom-wrapper >:not(.dom-nav):not(.dom-main) >.roles  { width: 1260px; margin: 0 auto; padding: 0 30px; background: rgba(0,0,0, 0.1); background: rgb(0 0 0 /10%); } */

[class*=" dom-"],
  [class|="dom"]  { display: flex; flex-direction: column; min-width: 0; }
[class*=" dom-"] >.roles,
  [class|="dom"] >.roles  { flex: 1; display: flex; flex-direction: column; background-color: var(--color-ground); }
[class*=" dom-"] >.g-overlay,
  [class|="dom"] >.g-overlay  { min-height: 0; opacity: 0.001; }
[class*=" dom-"] >.roles >*,
  [class|="dom"] >.roles >*  { @include inc-scrollbar-width(3, 4); }

.dom-wrapper  { position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%; background-color: inherit; }


/** Skip Navigation */
.dom-header .div-skip  { position: absolute; z-index: 99; left: 0; top: 0; width: 100%; }
.dom-header .div-skip *  { position: absolute; width: 100%; margin: 0; padding: 0; height: 0; }
.dom-header .div-skip a  { display: block; z-index: 1; left: -1px; width: 1px; height: 1px; overflow: hidden; text-decoration: none; }
.dom-header .div-skip a:before  { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.dom-header .div-skip a strong  { position: static; }
.dom-header .div-skip a strong:before  { content: "» "; }
.dom-header .div-skip a[id]  { text-align: center; font-weight: 700; font-size: 16px; font-family: 'Tahoma', 'Geneva', 'Dotum', 'AppleGothic', sans-serif; font-family: inherit; }
.dom-header .div-skip a[id]:focus,
  .dom-header .div-skip a[id]:active  { left: 0; top: 0; padding: 0.5em 0; width: 100%; height: auto; color: #ffffff; background: #404040; background-color: var(--color-point2, var(--color-main1, #404040)); }
.dom-header .div-skip .o-ogp *  { width: auto; }

/** Layout */
.dom-wrapper  { display: grid; grid-template-columns: auto 200px 800px auto; grid-template-rows: minmax(var(--height-layout-header), auto) 1fr minmax(0, auto); }
.dom-wrapper  { grid-template-columns: 0 18.75% 81.25% 0; }
.dom-wrapper  { grid-template-columns: 0 minmax(24rem, 36rem) auto 0; }
.dom-header  { grid-row: 1 /2; grid-column: 1 /span 5; }
.dom-nav  { grid-row: 2 /3; grid-column: 2 /3; }
.dom-main  { grid-row: 2 /3; grid-column: 3 /4; }
.dom-aside  { grid-row: 2 /3; grid-column: 4 /5; }
.dom-footer  { grid-row: 3 /4; grid-column: 1 /span 5; }


/** Header */
.dom-header  {  }
.dom-header >.roles  { flex-direction: row; color: var(--color-white); background: #004C9D; }

.dom-header .div-root  { display: flex; align-items: center; gap: III(6); position: relative; min-width: var(--width-layout-nav); padding: III(4) 0 0 III(88); background: #033468; }
.dom-header .div-root:after  { content: ""; position: absolute; left: III(60); top: 50%; transform: translateY(-50%);  width: III(175); height: III(24); background: var(--object-image-logo) no-repeat; }
.dom-header .div-root >*  { font-size: III(17); color: $tp; }
.dom-header .div-root .logo  { font-size: III(20); }


.dom-header .div-nav-global  { font-size: $font-lm; line-height: $line-lm; white-space: nowrap; }
.dom-header .div-nav-global .link  { display: flex; align-items: center; padding: calc((var(--height-layout-header) - 1lh) / 2) 1em; white-space: nowrap; }
.dom-header .div-nav-global .link[aria-current]:not([aria-current="false"])  { font-weight: $bold-70; }

.dom-header .div-nav-global >*  { display: flex; padding: 0 1em; }

.dom-header .div-search  { display: none; }


/** Global Navigation */
.dom-wrapper  { grid-template-columns: 0 var(--width-layout-nav) auto 0 0; }/* ### */
.dom-wrapper  { height: 100%; }/* ### */

.dom-nav  { background: red; border-right: var(--e10) solid var(--color-edge2); }


.dom-nav .div-nav-local  { flex: 1 0 0; background: gold; overflow: auto scroll; }
@include setScrollGutterStable(".dom-nav .div-nav-local", 1000);












.dom-main  { margin: III(16); background: var(--color-ground); border-radius: III(12); box-shadow: 0 III(2) III(12) 0 #0334681F; }
.dom-main >*  { padding: III(20); }
.dom-main >:first-child  { border-top-left-radius: inherit; border-top-right-radius: inherit; }
.dom-main >:last-child  { border-bottom-left-radius: inherit; border-bottom-right-radius: inherit; }
.dom-main >.roles  { flex: 1 0 0; overflow: auto scroll; padding-right: calc(III(20) - III(12)); }

.dom-main >.div-tablist  { font-size: inherit; line-height: inherit; padding: III(4) 0 0; border-bottom: $e10 solid #0B68CB; }

.dom-main .div-header  { display: flex; align-items: center; gap: III(16); }
.dom-main .div-header >*  { flex: none; min-width: 0; }
.dom-main .div-header >.o-breadcrumb  { flex: 1 0 0; overflow: hidden; @include inc-ellipsis(); }
.dom-main .div-header .o-title  { order: -1; }
.dom-main .div-header .o-title .o-heading1  { display: flex; align-items: center; }
.dom-main .div-header .m-binds  { margin-left: auto; }


.dom-main .div-header  { position: sticky; top: 0; background-color: inherit; }
.dom-main .div-footer  { position: sticky; bottom: 0; background-color: inherit; }





.dom-aside  { display: none; background: Silver; }
.dom-footer  { display: none; background: Silver; }


















/** Container */
// .dom-main  { flex-direction: row; background-color: inherit; }
// .dom-main >.roles  { flex: none; min-width: 0; max-width: 100%; }
// .dom-main >.roles >*  { flex: none; margin: 0 var(--margin-layout-inline); }

// .dom-main >.role-primary  { flex: auto; }
// .dom-main >.role-primary >*  { margin: 0 var(--margin-layout-inline-prim); }


// .dom-main .div-header:before  { content: ""; display: block; margin-bottom: var(--margin-layout-block); }
// .dom-main .div-header .o-title >.title  { display: table; table-layout: fixed; width: 100%; white-space: nowrap; }
// .dom-main .div-header .o-title >.title:not(:has(:first-child)),
//   .dom-main .div-header .o-title >.title :not(:has(:first-child))  { display: block; overflow: hidden; text-overflow: ellipsis; }

// .dom-main >.role-primary .div-header .o-title  { gap: var(--gap-global-element-wide); border-bottom-width: 0; }
// .dom-main >.role-primary .div-header .o-title :where( [class^="o-heading"], [class*=" o-heading"] )  { padding: 0 0; }

// .dom-main >.role-secondary .div-header .navs  { order: -1; margin-right: calc(-1 * var(--gap-global-element) + var(--gap-global-element-narrow)); }
// .dom-main >.role-secondary .div-header .navs .fn-close  { font-size: var(--width-object-symbol-l); padding: calc((var(--height-global-form-wide) - 1em) / 2); }
// .dom-main >.role-secondary .div-header .navs .fn-close:before  { content: "keyboard_double_arrow_right"; }


.dom-main .div-contents  { display: flex; flex-direction: column; flex: 1; margin: 0; /* padding: var(--margin-layout-block) var(--margin-layout-inline) var(--margin-layout-block); */ }

// .dom-main .div-contents >.where-cols-even  { width: 100%; min-width: 64rem; max-width: 90rem; margin-left: auto; margin-right: auto; }
// .dom-main >.role-primary .div-contents >.where-cols-even  { min-width: 84rem; }


.dom-main .div-path  { font-size: var(--font-m); line-height: calc(24 / 16 * 1em); display: none; clear: both; margin-bottom: var(--margin-layout-block); }
.dom-main .div-path .breadcrumb  { display: block; vertical-align: middle; position: relative; max-width: 100%; overflow: hidden; margin: -0.3rem 0; text-overflow: ellipsis; white-space: nowrap; }
.dom-main .div-path .breadcrumb:after  { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.dom-main .div-path .breadcrumb >*  { display: inline; float: left; padding: 0.3rem 0; }
.dom-main .div-path .breadcrumb .sep  { width: 2.4rem; min-height: 2.4rem; overflow: hidden; margin: 0.1rem 0.1rem -0.1rem; background: url('../img/layout/icos_path.png') no-repeat 100% 50%; color: Transparent; user-select: none; text-align: center; }
.dom-main .div-path .breadcrumb .item  { position: relative; }
.dom-main .div-path .breadcrumb .item.root  { margin: 0 -0.6rem; padding: 0.3rem; }
.dom-main .div-path .breadcrumb .item.root:before  { content: ""; display: block; width: 2.4rem; height: 2.4rem; background: url('../img/layout/icos_path.png') no-repeat 0; }
.dom-main .div-path .breadcrumb .item.root >.inner  { position: absolute; left: 50%; bottom: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); color: Transparent; user-select: none; text-shadow: none; }







// .o-grid  { flex: 1; display: flex; }
// .o-grid >.column  { display: flex; flex-direction: column; }
// .o-grid >.column:first-child  { flex: 1 0 0; }
// .o-grid >.column:not(:nth-child(1))  { width: calc(100% * 5 / 12); }

.o-grid  { flex: 1; display: flex; gap: var(--margin-layout-block); }
.o-grid >.column  { flex: 0 0 auto; display: flex; flex-direction: column; min-width: 0; }
.o-grid >.column:first-child  { flex: 1 0 0; }
.o-grid >.column:not(:nth-child(1))  { width: calc(100% * 5 / 12); max-width: calc(var(--rem) * 600); }










.o-section  { display: flex; flex-direction: column; }
.o-section:has(>.main._primary),
  .o-section >.main._primary  { flex: 1 0 0; }
.o-section >.main._primary  {
  --height-section-main-body-10: calc(var(--height-global-cell) * 10 + var(--edge-global-cell) * 1);
  --height-section-main-body-5: calc(var(--height-global-cell) * 5 + var(--edge-global-cell) * 1);
  --height-section-main-body-3: calc(var(--height-global-cell) * 3 + var(--edge-global-cell) * 1);
  --height-section-main-body: var(--height-section-main-body-10);

  --height-section-main-head-1: calc(var(--height-global-cell-head) * 1);
  --height-section-main-head-2: calc(var(--height-global-cell-head) * 2);
  --height-section-main-head-3: calc(var(--height-global-cell-head) * 3);
  --height-section-main-head: var(--height-section-main-head-1);

  --height-section-main: calc(var(--height-section-main-body) + var(--height-section-main-head));
  position: relative;
}
.o-section >.main._primary:where(.o-grid >.column:nth-child(1) *)  { z-index: 4; }
.o-section >.main._primary.rows-head-2i  { --height-section-main: calc(var(--height-section-main-body) + var(--height-section-main-head-2)); }
.o-section >.main._primary.rows-head-3i  { --height-section-main: calc(var(--height-section-main-body) + var(--height-section-main-head-3)); }
.o-section >.main._primary.rows-body-5i  { --height-section-main: calc(var(--height-section-main-body-5) + var(--height-section-main-head)); }
.o-section >.main._primary.rows-body-3i  { --height-section-main: calc(var(--height-section-main-body-3) + var(--height-section-main-head)); }
.o-section >.main._primary.rows-body-5i.rows-head-2i  { --height-section-main: calc(var(--height-section-main-body-5) + var(--height-section-main-head-2)); }
.o-section >.main._primary.rows-body-3i.rows-head-2i  { --height-section-main: calc(var(--height-section-main-body-3) + var(--height-section-main-head-2)); }
.o-section >.main._primary.rows-body-5i.rows-head-3i  { --height-section-main: calc(var(--height-section-main-body-5) + var(--height-section-main-head-3)); }
.o-section >.main._primary.rows-body-3i.rows-head-3i  { --height-section-main: calc(var(--height-section-main-body-3) + var(--height-section-main-head-3)); }
.o-section >.main._primary.rows-auto  { --height-section-main: auto !important; }
.o-section >.main._primary:not(:has(.p-datatable-scrollable-table))  { flex-basis: var(--height-section-main); min-height: 0; overflow: auto; }









// .o-section:not(:first-child)  { margin-top: var(--margin-layout-block); box-shadow: 0 0 0 1px navy; }
.o-section:not(:first-child)  { margin-top: var(--margin-layout-block); }




.dom-main .div-header  { z-index: 10; }
.dom-main .div-footer  { z-index: 10; }

