@charset "UTF-8";

:root  {
  --width-object-symbol-m:      calc(var(--rem) * 16);
  --width-object-symbol-l:      calc(var(--rem) * 20);
  --width-object-symbol:        var(--width-object-symbol-m);

  --object-image-logo: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 175 24" color="%230056A2" fill="none"><path d="M6.33 1.275c-.62.31-1.08.84-1.3 1.5L.89 15.225c-.22.655-.17 1.36.145 1.98.31.615.84 1.075 1.495 1.295l13.59 4.565c.66.22 1.36.165 1.98-.14.62-.31 1.08-.84 1.295-1.5l4.145-12.45a2.597 2.597 0 0 0-1.64-3.28L8.31 1.135a2.57 2.57 0 0 0-1.98.14" fill="%23fff"/><path d="M12.975 13.235a7.1 7.1 0 0 1-2.725 1.9l-.61.24v-5.77l.605.235c1.07.41 1.99 1.07 2.735 1.89.53-.85.855-1.835.925-2.905.17-2.77-1.565-5.305-3.945-6.19L8 1.98a1.677 1.677 0 0 0-2.12 1.075L1.71 15.52c-.295.885.2 1.85 1.09 2.14l9.43 3.15a6.22 6.22 0 0 0 1.675-3.89 6.2 6.2 0 0 0-.935-3.685M7.525 9.26v6.47H6.59V9.26z" fill="%230099DA"/><path d="M21.6 6.525 12.945 3.63a7.16 7.16 0 0 1 1.875 4.815 7.2 7.2 0 0 1-1.25 4.035 7.2 7.2 0 0 1 1.26 4.03c0 1.75-.63 3.36-1.675 4.605l3.25 1.085a1.676 1.676 0 0 0 2.12-1.08l4.16-12.46c.295-.885-.205-1.845-1.09-2.14m-2.29 9.19h-1.17l-2.405-3.23 2.445-3.235h1.18l-2.45 3.24 2.4 3.23z" fill="%230056A2"/><path d="M12.43 12.485a6.3 6.3 0 0 0-1.895-1.515v3.04a6.2 6.2 0 0 0 1.896-1.525" fill="%23F15A22"/><path d="M31.11 5.94h-2.48v14.8h2.48zm3.425 0v14.8h4.505c3.835-.01 5.645-1.36 5.65-4.065 0-1.695-.96-2.985-2.55-3.46l-.145-.045.14-.06c1.475-.625 2.185-1.69 2.185-3.3 0-2.53-1.725-3.865-5.22-3.87h-4.57m4.085 8.255c1.77 0 3.47.285 3.475 2.295 0 .725-.25 1.31-.79 1.645-.54.34-1.35.49-2.485.49H37.01v-4.43h1.6m.82-6.145c.71 0 2.41.245 2.415 1.965 0 .95-.38 1.485-1.005 1.755-.62.28-1.47.31-2.43.315h-1.395V8.05zm19.155-2.11c-.78.815-6.66 7.015-6.66 7.015s6.375 6.92 7.18 7.785H55.65l-5.785-6.67v6.67H47.39V5.94h2.475v5.985S55.08 6.27 55.39 5.94zm9.312.103q.97 0 1.7.238.73.22 1.241.629.51.39.816.935.306.525.425 1.139h2.499V5.89h2.397v7.19q0 .392-.391.579-.375.187-.833.187a1.8 1.8 0 0 1-.816-.187.61.61 0 0 1-.357-.578V10.48h-2.465a3.7 3.7 0 0 1-.408 1.207 3.2 3.2 0 0 1-.833.952q-.51.408-1.258.646-.731.238-1.717.238-1.087 0-1.887-.29-.8-.305-1.326-.815a3.4 3.4 0 0 1-.799-1.19 4.1 4.1 0 0 1-.255-1.445q0-.75.255-1.428a3.4 3.4 0 0 1 .799-1.19q.526-.51 1.326-.816.816-.306 1.887-.306m-1.224 8.653h2.363v2.006h5.593v-2.006h2.329v4.658q0 .645-.408 1.07-.39.425-1.088.68a6.6 6.6 0 0 1-1.598.392q-.918.118-1.938.136-.357 0-.986-.034-.63-.018-1.377-.102-.73-.085-1.496-.221a9 9 0 0 1-1.394-.323zm3.077-4.913q0-1.14-.442-1.7-.442-.561-1.411-.561-1.054 0-1.462.56-.39.562-.391 1.7 0 1.123.391 1.7.409.562 1.462.562.986 0 1.411-.578.442-.579.442-1.683m4.879 8.364h-5.593v1.75q.272.069.663.103.408.05.816.068.408.033.765.034.374.016.612.017.493-.018.969-.051.493-.018.884-.102.39-.069.629-.204.255-.137.255-.357zm6.786-11.611h10.727v3.62q0 .817-.204 1.412a2.15 2.15 0 0 1-.629.986q-.442.374-1.156.56-.714.188-1.734.222h-7.004zM94.2 16.464h-6.205v5.168h-2.448v-5.168H79.92q-.357 0-.544-.221a.77.77 0 0 1-.187-.51q0-.29.187-.51.187-.239.544-.238H94.2zm-4.47-8.45h-5.9v3.843h4.624q.459 0 .714-.153a1 1 0 0 0 .391-.425q.12-.256.136-.544.034-.306.034-.578zm6.037 8.96q1.224-1.005 2.006-2.108a10.6 10.6 0 0 0 1.224-2.227 10 10 0 0 0 .629-2.21q.17-1.089.204-2.074h-2.737q-.375 0-.51-.221a.95.95 0 0 1-.136-.51q0-.29.136-.527.135-.239.51-.238h8.364v1.496h-3.162a19 19 0 0 1-.119 1.717q-.086.9-.374 1.887.476.459 1.037 1.054t1.105 1.258q.56.645 1.054 1.326.492.68.85 1.309l-1.224.952a20 20 0 0 0-1.802-2.023 20 20 0 0 0-1.938-1.717 12.2 12.2 0 0 1-1.53 2.074q-.918 1.036-2.312 2.057zM106.68 5.89h2.397v14.977q0 .39-.374.56-.375.188-.816.188-.443 0-.833-.187-.375-.17-.374-.561zm10.646 6.103q-2.023 0-3.128-.782-1.105-.783-1.105-2.193 0-1.412 1.105-2.193 1.105-.783 3.128-.782 2.005 0 3.111.782 1.122.78 1.122 2.193 0 1.41-1.122 2.193-1.105.781-3.111.782m2.482 3.145h3.366V5.89h2.397v11.628q0 .374-.391.56a1.84 1.84 0 0 1-.833.188q-.442 0-.816-.187-.357-.187-.357-.561v-.901h-3.366zm-4.981 6.256v-4.046h2.448v2.533h5.848q.68 0 1.292-.102a9.4 9.4 0 0 0 1.326-.323l.17 1.343a3 3 0 0 1-.561.238q-.306.118-.646.187-.34.067-.697.102a7 7 0 0 1-.646.068zm.323-4.964a5 5 0 0 0 .459-1.037q.187-.545.289-1.122H112.6q-.34 0-.527-.221a.9.9 0 0 1-.17-.527q0-.29.17-.51.187-.222.527-.221h5.236q.424 0 1.02-.034a19 19 0 0 0 1.275-.153q.68-.102 1.343-.238a10 10 0 0 0 1.207-.357v1.36q-.833.459-2.023.663t-2.414.238q-.102.764-.408 1.445a7.4 7.4 0 0 1-.561 1.037zm2.176-5.865q.935 0 1.411-.34.493-.341.493-1.207t-.493-1.207q-.476-.34-1.411-.34-.934 0-1.428.34-.476.34-.476 1.207t.476 1.207q.494.34 1.428.34m9.999 6.562q1.377-1.344 2.295-2.686a16 16 0 0 0 1.479-2.67q.561-1.325.799-2.6a13.4 13.4 0 0 0 .238-2.465h2.499q0 1.122-.187 2.482-.186 1.342-.816 2.839.476.441 1.037.986.561.543 1.088 1.156.544.612 1.02 1.275.494.645.833 1.275l-1.19.969a30 30 0 0 0-1.853-1.99 16.5 16.5 0 0 0-1.989-1.682 15 15 0 0 1-1.632 2.09 19 19 0 0 1-2.295 2.092zm13.77 3.74q0 .39-.374.56a1.8 1.8 0 0 1-.816.188 1.84 1.84 0 0 1-.833-.187q-.374-.17-.374-.561V5.89h2.397zm11.972-14.178a8.2 8.2 0 0 1-.289 1.632q-.222.747-.578 1.445.561.306 1.326.765.781.459 1.581 1.02.798.543 1.547 1.139.747.578 1.241 1.122l-.969 1.139-1.428-.918a35 35 0 0 0-1.53-.952 27 27 0 0 0-1.564-.85 12 12 0 0 0-1.445-.663 9.7 9.7 0 0 1-1.292 1.258 15 15 0 0 1-1.428 1.02q-.732.442-1.479.765a12 12 0 0 1-1.411.527l-.629-1.377q.9-.323 1.853-.986a9.8 9.8 0 0 0 1.785-1.581 10 10 0 0 0 1.394-2.074q.594-1.156.765-2.431zm5.746 10.506v1.496h-14.28q-.391 0-.561-.221a.88.88 0 0 1 0-1.037q.17-.239.561-.238zm4.712-1.632h10.268v3.502q0 .85-.493 1.343-.493.51-1.292.782a6.8 6.8 0 0 1-1.768.34q-.986.084-1.972.102-.424 0-1.071-.051t-1.326-.17a13 13 0 0 1-1.326-.306q-.629-.171-1.02-.408zm-2.363-9.197h5.933v1.479h-3.553v1.53h2.703v1.479h-2.703v1.683q.29.084.697.119.408.034.85.034.629 0 1.394-.136t1.581-.391v1.41q-.68.255-1.547.426a9.4 9.4 0 0 1-1.666.153q-.357 0-.816-.017a33 33 0 0 1-.952-.085 18 18 0 0 1-.986-.17 8 8 0 0 1-.935-.29zm5.746 2.89h1.853V6.06h2.193v7.922q0 .374-.34.56a1.5 1.5 0 0 1-.765.188 1.5 1.5 0 0 1-.765-.187.61.61 0 0 1-.323-.561V10.82h-1.853zm4.913-3.366h2.227v8.16q0 .374-.34.56a1.54 1.54 0 0 1-.782.188q-.442 0-.782-.187a.61.61 0 0 1-.323-.561zm-.442 11.118h-5.457v2.822a6.5 6.5 0 0 0 1.241.255q.34.05.663.068.323.016.578.017.476 0 1.003-.051.526-.035.969-.153.442-.102.714-.306.29-.204.289-.51z" fill="currentColor"/></svg>');
}

$width-object-symbol-m:      var(--width-object-symbol-m);
$width-object-symbol-l:      var(--width-object-symbol-l);
$width-object-symbol:        var(--width-object-symbol);

@mixin setScrollGutterStable($selector: ".g-scroll-gutter-stable", $comb: null)  {
  #{$selector}:not(:hover):not(:focus-within)#{$comb}::-webkit-scrollbar-track  { background-color: Transparent; }
  #{$selector}#{$comb}::-webkit-scrollbar-thumb  { transition-duration: 0.8s; }
  #{$selector}:not(:hover):not(:focus-within)#{$comb}::-webkit-scrollbar-thumb  { border-color: Transparent; background-color: Transparent; outline-color: Transparent; }
  #{$selector}:where( :hover, :focus-within )#{$comb}::-webkit-scrollbar-thumb  { transition-duration: 0.15s; }
}

@mixin inc-scrollbar-width($margin: 3, $thumb: 6)  {
  --margin-global-scrollbar:    calc(var(--rem) * #{$margin});
  --width-global-scrollbar:     calc(var(--rem) * #{$thumb} + var(--margin-global-scrollbar) * 2);
}

@mixin inc-translate($x: -50%, $y: -50%)  {
  -webkit-transform: translate($x, $y); transform: translate($x, $y);
}

@mixin inc-abscenter()  {
  left: 50%; top: 50%; @include inc-translate();
}

@mixin inc-sronly($user-select: null)  {
  font-size: var(--ss); line-height: 1; position: absolute; @include inc-abscenter(); color: Transparent; pointer-events: none; user-select: $user-select; text-shadow: none;
}

@mixin inc-ellipsis()  {
  text-overflow: ellipsis; white-space: nowrap;
}


@mixin setSymbolVariationSettings($fill: 0, $wght: 400, $opsz: 24)  {
  font-variation-settings: 'FILL' $fill, 'wght' $wght, 'GRAD' 0, 'opsz' $opsz;
}

@mixin setSymbolStyle($fill: 0, $wght: 400, $opsz: 24, $size: $width-object-symbol)  {
  font-family: 'wf-MaterialSymbolsRounded-Var', sans-serif; @include setSymbolVariationSettings($fill, $wght, $opsz); font-size: $size; display: inline-flex; max-width: 1em; overflow: hidden; text-transform: uppercase;
}

@mixin inc-symbol($fill: 0, $wght: 400, $opsz: 24, $size: $width-object-symbol)  {
  direction: ltr; font: normal normal calc(1rem / var(--root-em-int, 16) * 24) /1 'wf-MaterialSymbolsOutlined-Var', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; display: inline-block; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;
  @include setSymbolStyle($fill, $wght, $opsz, $size);
}

/** Scrollbars
 ------------- */

// .g-scroll-gutter-stable  {
//   /* --margin-global-scrollbar:    calc(var(--rem) * 4); */
//   --width-global-scrollbar:     calc(var(--rem) * 4 + var(--margin-global-scrollbar) * 2);
// }

.g-scroll-width-thin  {
  --margin-global-scrollbar:    calc(var(--rem) * 2);
  --width-global-scrollbar:     calc(var(--rem) * 4 + var(--margin-global-scrollbar) * 2);
}

::-webkit-resizer  { background: var(--object-symbol-resizer-scrollable) 0 /100%; }
::-webkit-scrollbar  { width: var(--width-global-scrollbar, 12px); height: var(--width-global-scrollbar, 12px); }
::-webkit-scrollbar-corner  { background-color: var(--color-scrollbar-track, rgba(0,0,0, 0.05)); outline: 1px solid rgba(255,255,255, 0.05); border-radius: 4px; }
::-webkit-scrollbar-track  { background-color: var(--color-scrollbar-track, rgba(0,0,0, 0.05)); border-radius: var(--width-global-scrollbar, 12px); }
::-webkit-scrollbar-thumb  { min-width: 50px; min-height: 50px; border: var(--margin-global-scrollbar, 3px) solid Transparent; background-clip: padding-box; background-color: var(--color-scrollbar-thumb, rgba(0,0,0, 0.3)); outline: 1px solid rgba(255,255,255, 0.3); outline-offset: calc(var(--margin-global-scrollbar, 3px) * -1); border-radius: var(--width-global-scrollbar, 12px); }
::-webkit-scrollbar-thumb:hover  { background-color: var(--color-scrollbar-thumb-hover, rgba(0,0,0, 0.4)); outline-color: rgba(255,255,255, 0.4); }
::-webkit-scrollbar-thumb:active  { background-color: var(--color-scrollbar-thumb-active, rgba(0,0,0, 0.5)); outline-color: rgba(255,255,255, 0.5); }

.g-scroll-gutter-stable:not(:hover):not(:focus-within)::-webkit-scrollbar-track  { background-color: Transparent; }
.g-scroll-gutter-stable::-webkit-scrollbar-thumb  { transition-duration: 0.8s; }
.g-scroll-gutter-stable:not(:hover):not(:focus-within)::-webkit-scrollbar-thumb  { border-color: Transparent; background-color: Transparent; outline-color: Transparent; }
.g-scroll-gutter-stable:where( :hover, :focus-within )::-webkit-scrollbar-thumb  { transition-duration: 0.15s; }

// @property --var1 {
//   syntax: "<color>";
//   inherits: true;
//   initial-value: purple;
// }

// .g-scroll-gutter-stable  { transition: --var1 0.8s; }
// .g-scroll-gutter-stable:not(:hover):not(:focus-within)  { --var1: Transparent; }
// .g-scroll-gutter-stable:where( :hover, :focus-within )  { transition-duration: 0.35s; }
// .g-scroll-gutter-stable::-webkit-scrollbar-track  { background-color: var(--var1); }
// .g-scroll-gutter-stable::-webkit-scrollbar-thumb  { border-color: var(--var1); background-color: var(--var1); outline-color: var(--var1); }

*  { scroll-behavior: inherit; scrollbar-width: inherit; }
html  { overflow: auto; scroll-behavior: smooth; /* scrollbar-gutter: stable both-edges; scrollbar-gutter: stable; scrollbar-width: thin; scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track); overscroll-behavior: auto none; */ }


/** Define Fonts
 --------------- */

*  { letter-spacing: var(--text-spacing); }
:before,  :after  { border-radius: inherit; letter-spacing: inherit; }
html  { font-size: 100%; font-size: calc(16em / 16); font-size: var(--root-em-base, calc(16em / 16)); }
body  { font-family: var(--typo-base); font-feature-settings: var(--text-feature, normal); font-optical-sizing: auto; font-weight: var(--bold-40, inherit); font-size: var(--text-size); line-height: var(--text-height); color: var(--color-text1); background: var(--color-surface, WhiteSmoke); }
/* @media
  screen and (not (max-width: 1920px))  {
    html  { font-size: var(--root-em-base, calc(10em / 16)); font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); }
} */
/* html  { font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); } */
:root  {
  // @include setTextStyle(20px);
}


/** Sectioning-Area */

/* .dom-wrapper >*  { display: flex; flex-direction: column; }
.dom-wrapper >* >.roles  { display: flex; flex-direction: column; min-height: 100%; background-color: var(--color-ground); } */
/* .dom-wrapper >:not(.dom-nav):not(.dom-main) >.roles  { width: 1260px; margin: 0 auto; padding: 0 30px; background: rgba(0,0,0, 0.1); background: rgb(0 0 0 /10%); } */

[class*=" dom-"],
  [class|="dom"]  { display: flex; flex-direction: column; min-width: 0; }
[class*=" dom-"] >.roles,
  [class|="dom"] >.roles  { flex: 1; display: flex; flex-direction: column; background-color: var(--color-ground); }
[class*=" dom-"] >.g-overlay,
  [class|="dom"] >.g-overlay  { min-height: 0; opacity: 0.001; }
[class*=" dom-"] >.roles >*,
  [class|="dom"] >.roles >*  { @include inc-scrollbar-width(3, 4); }

.dom-wrapper  { position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%; background-color: inherit; }


/** Skip Navigation */
.dom-header .div-skip  { position: absolute; z-index: 99; left: 0; top: 0; width: 100%; }
.dom-header .div-skip *  { position: absolute; width: 100%; margin: 0; padding: 0; height: 0; }
.dom-header .div-skip a  { display: block; z-index: 1; left: -1px; width: 1px; height: 1px; overflow: hidden; text-decoration: none; }
.dom-header .div-skip a:before  { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.dom-header .div-skip a strong  { position: static; }
.dom-header .div-skip a strong:before  { content: "» "; }
.dom-header .div-skip a[id]  { text-align: center; font-weight: 700; font-size: 16px; font-family: 'Tahoma', 'Geneva', 'Dotum', 'AppleGothic', sans-serif; font-family: inherit; }
.dom-header .div-skip a[id]:focus,
  .dom-header .div-skip a[id]:active  { left: 0; top: 0; padding: 0.5em 0; width: 100%; height: auto; color: #ffffff; background: #404040; background-color: var(--color-point2, var(--color-main1, #404040)); }
.dom-header .div-skip .o-ogp *  { width: auto; }

/** Layout */
.dom-wrapper  { display: grid; grid-template-columns: auto 200px 800px auto; grid-template-rows: minmax(var(--height-layout-header), auto) 1fr minmax(0, auto); }
.dom-wrapper  { grid-template-columns: 0 18.75% 81.25% 0; }
.dom-wrapper  { grid-template-columns: 0 minmax(24rem, 36rem) auto 0; }
.dom-header  { grid-row: 1 /2; grid-column: 1 /span 5; }
.dom-nav  { grid-row: 2 /3; grid-column: 2 /3; }
.dom-main  { grid-row: 2 /3; grid-column: 3 /4; }
.dom-aside  { grid-row: 2 /3; grid-column: 4 /5; }
.dom-footer  { grid-row: 3 /4; grid-column: 1 /span 5; }


/** Header */
.dom-header  {  }
.dom-header >.roles  { flex-direction: row; color: var(--color-white); background: #004C9D; }

.dom-header .div-root  { display: flex; align-items: center; gap: III(6); position: relative; min-width: var(--width-layout-nav); padding: III(4) 0 0 III(88); background: #033468; }
.dom-header .div-root:after  { content: ""; position: absolute; left: III(60); top: 50%; transform: translateY(-50%);  width: III(175); height: III(24); background: var(--object-image-logo) no-repeat; }
.dom-header .div-root >*  { font-size: III(17); color: $tp; }
.dom-header .div-root .logo  { font-size: III(20); }


.dom-header .div-nav-global  { font-size: $font-lm; line-height: $line-lm; white-space: nowrap; }
.dom-header .div-nav-global .link  { display: flex; align-items: center; padding: calc((var(--height-layout-header) - 1lh) / 2) 1em; white-space: nowrap; }
.dom-header .div-nav-global .link[aria-current]:not([aria-current="false"])  { font-weight: $bold-70; }

.dom-header .div-nav-global >*  { display: flex; padding: 0 1em; }

.dom-header .div-search  { display: none; }


/** Global Navigation */
.dom-wrapper  { grid-template-columns: 0 var(--width-layout-nav) auto 0 0; }/* ### */
.dom-wrapper  { height: 100%; }/* ### */

.dom-nav  { background: red; border-right: var(--e10) solid var(--color-edge2); }


.dom-nav .div-nav-local  { flex: 1 0 0; background: gold; overflow: auto scroll; }
// @include setScrollGutterStable(".dom-nav .div-nav-local", "");












.dom-main  { margin: III(16); background: var(--color-ground); border-radius: III(12); box-shadow: 0 III(2) III(12) 0 #0334681F; }
.dom-main >*  { padding: III(20); }
.dom-main >:first-child  { border-top-left-radius: inherit; border-top-right-radius: inherit; }
.dom-main >:last-child  { border-bottom-left-radius: inherit; border-bottom-right-radius: inherit; }
.dom-main >.roles  { flex: 1 0 0; overflow: auto scroll; padding-right: calc(III(20) - III(12)); }

.dom-main >.div-tablist  { font-size: inherit; line-height: inherit; padding: III(4) 0 0; border-bottom: $e10 solid #0B68CB; }

.dom-main .div-header  { display: flex; align-items: center; gap: III(16); }
.dom-main .div-header >*  { flex: none; min-width: 0; }
.dom-main .div-header >.o-breadcrumb  { flex: 1 0 0; overflow: hidden; @include inc-ellipsis(); }
.dom-main .div-header .o-title  { order: -1; }
.dom-main .div-header .o-title .o-heading1  { display: flex; align-items: center; }
.dom-main .div-header .m-binds  { margin-left: auto; }


.dom-main .div-header  { position: sticky; top: 0; background-color: inherit; }
.dom-main .div-footer  { position: sticky; bottom: 0; background-color: inherit; }





.dom-aside  { display: none; background: Silver; }
.dom-footer  { display: none; background: Silver; }


















/** Container */
// .dom-main  { flex-direction: row; background-color: inherit; }
// .dom-main >.roles  { flex: none; min-width: 0; max-width: 100%; }
// .dom-main >.roles >*  { flex: none; margin: 0 var(--margin-layout-inline); }

// .dom-main >.role-primary  { flex: auto; }
// .dom-main >.role-primary >*  { margin: 0 var(--margin-layout-inline-prim); }


// .dom-main .div-header:before  { content: ""; display: block; margin-bottom: var(--margin-layout-block); }
// .dom-main .div-header .o-title >.title  { display: table; table-layout: fixed; width: 100%; white-space: nowrap; }
// .dom-main .div-header .o-title >.title:not(:has(:first-child)),
//   .dom-main .div-header .o-title >.title :not(:has(:first-child))  { display: block; overflow: hidden; text-overflow: ellipsis; }

// .dom-main >.role-primary .div-header .o-title  { gap: var(--gap-global-element-wide); border-bottom-width: 0; }
// .dom-main >.role-primary .div-header .o-title :where( [class^="o-heading"], [class*=" o-heading"] )  { padding: 0 0; }

// .dom-main >.role-secondary .div-header .navs  { order: -1; margin-right: calc(-1 * var(--gap-global-element) + var(--gap-global-element-narrow)); }
// .dom-main >.role-secondary .div-header .navs .fn-close  { font-size: var(--width-object-symbol-l); padding: calc((var(--height-global-form-wide) - 1em) / 2); }
// .dom-main >.role-secondary .div-header .navs .fn-close:before  { content: "keyboard_double_arrow_right"; }


.dom-main .div-contents  { display: flex; flex-direction: column; flex: 1; margin: 0; /* padding: var(--margin-layout-block) var(--margin-layout-inline) var(--margin-layout-block); */ }

// .dom-main .div-contents >.where-cols-even  { width: 100%; min-width: 64rem; max-width: 90rem; margin-left: auto; margin-right: auto; }
// .dom-main >.role-primary .div-contents >.where-cols-even  { min-width: 84rem; }


.dom-main .div-path  { font-size: var(--font-m); line-height: calc(24 / 16 * 1em); display: none; clear: both; margin-bottom: var(--margin-layout-block); }
.dom-main .div-path .breadcrumb  { display: block; vertical-align: middle; position: relative; max-width: 100%; overflow: hidden; margin: -0.3rem 0; text-overflow: ellipsis; white-space: nowrap; }
.dom-main .div-path .breadcrumb:after  { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.dom-main .div-path .breadcrumb >*  { display: inline; float: left; padding: 0.3rem 0; }
.dom-main .div-path .breadcrumb .sep  { width: 2.4rem; min-height: 2.4rem; overflow: hidden; margin: 0.1rem 0.1rem -0.1rem; background: url('../img/layout/icos_path.png') no-repeat 100% 50%; color: Transparent; user-select: none; text-align: center; }
.dom-main .div-path .breadcrumb .item  { position: relative; }
.dom-main .div-path .breadcrumb .item.root  { margin: 0 -0.6rem; padding: 0.3rem; }
.dom-main .div-path .breadcrumb .item.root:before  { content: ""; display: block; width: 2.4rem; height: 2.4rem; background: url('../img/layout/icos_path.png') no-repeat 0; }
.dom-main .div-path .breadcrumb .item.root >.inner  { position: absolute; left: 50%; bottom: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); color: Transparent; user-select: none; text-shadow: none; }







// .o-grid  { flex: 1; display: flex; }
// .o-grid >.column  { display: flex; flex-direction: column; }
// .o-grid >.column:first-child  { flex: 1 0 0; }
// .o-grid >.column:not(:nth-child(1))  { width: calc(100% * 5 / 12); }

.o-grid  { flex: 1; display: flex; gap: var(--margin-layout-block); }
.o-grid >.column  { flex: 0 0 auto; display: flex; flex-direction: column; min-width: 0; }
.o-grid >.column:first-child  { flex: 1 0 0; }
.o-grid >.column:not(:nth-child(1))  { width: calc(100% * 5 / 12); max-width: calc(var(--rem) * 600); }






:root  {
  --edge-global-cell: var(--e10);
  --margin-global-cell-block: calc(var(--rem) * 4);
  --height-global-cell: calc(var(--height-global-form) + var(--margin-global-cell-block) * 2 + var(--edge-global-cell) * 1);
  --height-global-cell-head: var(--height-global-cell);
}





.o-section  { display: flex; flex-direction: column; }
.o-section:has(>.main._primary),
  .o-section >.main._primary  { flex: 1 0 0; }
.o-section >.main._primary  {
  --height-section-main-body-10: calc(var(--height-global-cell) * 10 + var(--edge-global-cell) * 1);
  --height-section-main-body-5: calc(var(--height-global-cell) * 5 + var(--edge-global-cell) * 1);
  --height-section-main-body-3: calc(var(--height-global-cell) * 3 + var(--edge-global-cell) * 1);
  --height-section-main-body: var(--height-section-main-body-10);

  --height-section-main-head-1: calc(var(--height-global-cell-head) * 1);
  --height-section-main-head-2: calc(var(--height-global-cell-head) * 2);
  --height-section-main-head-3: calc(var(--height-global-cell-head) * 3);
  --height-section-main-head: var(--height-section-main-head-1);

  --height-section-main: calc(var(--height-section-main-body) + var(--height-section-main-head));
  position: relative;
}
.o-section >.main._primary:where(.o-grid >.column:nth-child(1) *)  { z-index: 9; }
.o-section >.main._primary.rows-head-2i  { --height-section-main: calc(var(--height-section-main-body) + var(--height-section-main-head-2)); }
.o-section >.main._primary.rows-head-3i  { --height-section-main: calc(var(--height-section-main-body) + var(--height-section-main-head-3)); }
.o-section >.main._primary.rows-body-5i  { --height-section-main: calc(var(--height-section-main-body-5) + var(--height-section-main-head)); }
.o-section >.main._primary.rows-body-3i  { --height-section-main: calc(var(--height-section-main-body-3) + var(--height-section-main-head)); }
.o-section >.main._primary.rows-body-5i.rows-head-2i  { --height-section-main: calc(var(--height-section-main-body-5) + var(--height-section-main-head-2)); }
.o-section >.main._primary.rows-body-3i.rows-head-2i  { --height-section-main: calc(var(--height-section-main-body-3) + var(--height-section-main-head-2)); }
.o-section >.main._primary.rows-body-5i.rows-head-3i  { --height-section-main: calc(var(--height-section-main-body-5) + var(--height-section-main-head-3)); }
.o-section >.main._primary.rows-body-3i.rows-head-3i  { --height-section-main: calc(var(--height-section-main-body-3) + var(--height-section-main-head-3)); }
.o-section >.main._primary.rows-auto  { --height-section-main: auto !important; }
.o-section >.main._primary:not(:has(.p-datatable-scrollable-table))  { flex-basis: var(--height-section-main); min-height: 0; overflow: auto; }




// .o-section >.main._primary:has(.p-datatable-scrollable-table),
//   .o-section >.main._primary :has(.p-datatable-scrollable-table):not(:has(>.p-datatable-scrollable-table))  { display: flex; flex-direction: column; }
// .o-section >.main._primary :has(.p-datatable-scrollable-table)  { flex: 1 0 0; }
// .o-section >.main._primary :has(>.p-datatable-scrollable-table)  { flex-basis: var(--height-section-main); overflow: auto; }

:has(.p-datatable-scrollable-table):is(.o-section >.main._primary),
  :has(.p-datatable-scrollable-table):is(.o-section >.main._primary *):not(:has(>.p-datatable-scrollable-table))  { display: flex; flex-direction: column; }
:has(.p-datatable-scrollable-table):is(.o-section >.main._primary *)  { flex: 1 0 0; }
:has(>.p-datatable-scrollable-table):is(.o-section >.main._primary *)  { flex-basis: var(--height-section-main); min-width: 100%; min-height: 0; overflow: auto; resize: both; }
:has(>.p-datatable-scrollable-table):is(.o-section >.main._primary *)[style*="width:"]  { flex-basis: auto; min-height: var(--height-section-main); }







.o-section:not(:first-child)  { margin-top: var(--margin-layout-block); box-shadow: 0 0 0 1px navy; }

.dom-main .div-header  { z-index: 10; }
.dom-main .div-footer  { z-index: 10; }
















/** Tooltips */
.o-tooltip  { position: absolute; z-index: 5; text-align: left; text-align: start; }
.tooltip-wrap  { padding: 0.6rem 1rem; color: var(--color-white); background: var(--color-ground-tooltip); cursor: auto; border-radius: calc(var(--radius-global-element) / 2); }
.tooltip-head .heading  { font-weight: var(--bold-70); display: block; margin-bottom: var(--gap-global-element-narrow); padding-bottom: var(--gap-global-element-narrow); border-bottom: var(--e10) solid var(--color-edge3); }
.tooltip-body  { padding-right: var(--gap-global-element-wide); }

.o-tooltip  { --l-duration: 0.1s; transition: opacity var(--l-duration) var(--timing-func-ease-slower, ease); }
.o-tooltip:where(:not(:hover):not(:focus-within) >*)  { visibility: hidden; opacity: 0.0; transition: visibility 0s ease calc(var(--l-duration) * 2), opacity var(--l-duration) var(--timing-func-ease-faster, ease) var(--l-duration); }
.o-tooltip:focus-visible  { outline: 0; }
.o-tooltip:focus-visible >*  { outline: var(--e20) solid var(--color-edge-selected); outline-offset: var(--e10); }


/** Tags */
.o-tag  { display: inline-block; display: inline-flex; align-items: center; position: relative; max-width: 100%; }
.o-tag >*  { display: flex; flex: none; }
.o-tag >.label  { font-size: var(--ss); position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: Transparent; pointer-events: none; text-shadow: none; }
.o-tag .o-symbol  { font-size: var(--font-l); font-size: 1lh; color: var(--color-icon1); }

.o-tag._help  { cursor: help; }

/* .o-tag._help ~.o-tooltip  { left: 100%; top: 100%; } */
.o-tag._help ~.o-tooltip  { left: 0; top: 0; padding: 1lh; cursor: help; }


/** Require Tags */
.o-require-tag  { color: var(--color-require); position: relative; white-space: nowrap; }
.o-require-tag:before  { content: "*"; margin-right: 0.2rem; }
.o-require-tag >.tag  { font-size: var(--ss); line-height: 1; vertical-align: super; position: absolute; top: 0.5rem; right: 0.3rem; color: Transparent; pointer-events: none; /* user-select: none; */ }


/** Labels */
.o-label  { display: inline-block; display: inline-flex; align-items: center; gap: 0 var(--gap-global-element); max-width: 100%; }
.o-label >*  { display: flex; flex: none; }
.o-label >.label  { font-weight: var(--bold-70); }

.o-label >.inner-binds  { position: relative; }

.o-label >.outer-binds  { margin-left: auto; }


/** State Labels */
.o-state-label  { font-size: var(--font-2xs); line-height: var(--line-2xs); display: inline-flex; align-items: center; max-width: 100%; padding: 0.4rem 0.9rem; border: var(--e10) solid Transparent; color: currentColor; background: Gold; border-radius: var(--radius-global-element); white-space: nowrap; }
.o-state-label >*  { flex: none; }
.o-state-label >.o-icon  { font-size: 1.6rem; margin-right: var(--gap-global-whitespace); }
.o-state-label >.label  { font-weight: var(--bold-70); flex: 1; max-width: 100%; overflow: hidden; text-overflow: ellipsis; }
.o-state-label[class*=" _unit"]  { color: var(--color-state-neg); background-color: var(--color-ground-chip-rec); }



.o-empty-data  { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; padding: 12rem 1em; padding: min(5%, 12rem) 1em; color: var(--color-text2); }
.o-empty-data >*  { position: absolute; min-width: max-content; color: Transparent; pointer-events: none; text-shadow: none; }
.o-empty-data:before  { content: ""; display: block; width: 100%; height: 100%; background: var(--object-image-data-empty) no-repeat 50% /100% min(100%, 57rem); background-clip: content-box; }



/** Icons
 -------- */

/** Default Icons */
// .o-symbol  { direction: ltr; font: normal normal calc(1rem / var(--root-em-int, 16) * 24) /1 'wf-MaterialSymbolsOutlined-Var', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; display: inline-block; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
// .o-symbol  { font-family: 'wf-MaterialSymbolsRounded-Var', sans-serif; font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; font-size: var(--width-object-symbol); display: inline-flex; max-width: 1em; overflow: hidden; text-transform: uppercase; }
// .o-symbol.type-fill  { font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
// .o-symbol.type-norm  { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }

.o-symbol  { @include inc-symbol(); }
.o-symbol.type-fill  { @include setSymbolVariationSettings(1); }
.o-symbol.type-norm  { @include setSymbolVariationSettings(); }


.o-icon  { font-size: var(--width-object-symbol); line-height: 1; display: inline-block; position: relative; }
.o-icon:not([class*=" _"])  { background-color: Gold; }
.o-icon:after  { content: ""; position: absolute; right: 0; bottom: 0; transform: translate(calc(1em / 20), calc(1em / 20)); width: calc(12em / 20); height: calc(12em / 20); background: none no-repeat 0 /100%; }
.o-icon:before  { content: ""; display: block; width: 1em; height: 1em; }
.o-icon:not(:empty):before  { content: none; }
.o-icon:before  { direction: ltr; font: normal normal 100% /1 'wf-MaterialSymbolsOutlinedVF', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
.o-icon:before  { font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24; max-width: 1em; overflow: hidden; text-transform: uppercase; }
.o-icon >:is( object, img )  { display: block; width: 1em; height: 1em; }


/** Default Button */
.o-button,
  .o-action  { font-size: 100%; line-height: 1.25; display: inline-block; display: inline-flex; justify-content: center; align-items: center; vertical-align: middle; position: relative; min-width: 4em; height: 2em; min-height: 0; padding: 0.1rem 0.5em; border: var(--e10, 1px) solid Transparent; color: ButtonText; background: ButtonFace; border-radius: 0; text-decoration: none; text-align: center; white-space: nowrap; }
.o-button >*,
  .o-action >*  { flex: none; }
/* :where( .o-button, .o-action ) >:first-child  { margin-left: 0.5em; }
:where( .o-button, .o-action ) >:last-child  { margin-right: 0.5em; } */

.o-button  { font-weight: var(--bold-70); font-size: var(--font-2xs); line-height: var(--line-2xs); min-width: 5em; min-height: var(--height-global-form); padding: 0.4rem calc(1em - var(--e10, 1px)); border-color: currentColor; border-color: Transparent; color: var(--color-text1); background-color: var(--color-ground, White); border-radius: var(--radius-global-element); box-shadow: var(--elevation-1); }
.o-button:not([disabled]),  .o-button:not([aria-disabled="true"])  { -webkit-transition: all 0.15s; transition: all 0.15s; -webkit-transition-property: border-color, background-color, color; transition-property: border-color, background-color, color; }
.o-button[disabled],  .o-button[aria-disabled="true"]  { /* color: rgb(var(--color-gray)) !important; background-color: rgb(var(--color-ground1)) !important; opacity: 1.0; */ opacity: 0.3; box-shadow: none; }

.o-button:not([class*=" _"])  { border-color: #a8aeb7; background: #EAECEF; background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EAECEF)); background: linear-gradient(to bottom, white, #EAECEF); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#EAECEF', GradientType=0 ); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFEAECEF', EndColorStr='#FFFFFFFF')"; }
.o-button:not([class*=" _"]):hover  { border-color: currentColor; background: white; background: -webkit-gradient(linear, left top, left bottom, from(#edeff1), to(white)); background: linear-gradient(to bottom, #edeff1, white); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeff1', endColorstr='white', GradientType=0 ); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFFFF', EndColorStr='#FFEDEFF1')"; }

.o-button._rawer  { font-size: 100%; line-height: inherit; border-width: 0; background-color: Transparent; box-shadow: none; }
.o-button._delete  { color: var(--color-delete); background-color: Transparent; box-shadow: none; }
.o-button._delete[disabled],  .o-button._delete[aria-disabled="true"]  { color: var(--color-text1); }
.o-button._thertiary  { background-color: Transparent; box-shadow: none; }
.o-button._secondary  { border-color: var(--color-edge4); box-shadow: none; }
.o-button._primary  { color: var(--color-white); background-color: var(--color-ground-button1); }
.o-button._apply  { color: var(--color-white); background-color: var(--color-point1); }
.o-button._error  { color: var(--color-white); background-color: var(--state-negative); }
.o-button._success  { color: var(--color-white); background-color: var(--state-positive); }

.o-button:is( ._primary, ._error, ._success ):is( [disabled], [aria-disabled="true"] )  { color: var(--color-text1); background-color: #B5B5B5; }

.o-button:where( .m-binds:not(.o-subset *).type-end * ),
  .o-button.size-md  { font-size: var(--font-m); line-height: var(--line-m); min-height: var(--height-global-form-wide); }
.o-button.size-lg  { font-size: var(--font-lm); line-height: var(--line-lm); min-height: var(--height-global-form-wider); padding: 0.4rem calc(20em / var(--font-lm-int) - var(--e10)); padding: 0.4rem calc(1lh - 0.2rem - var(--e10)); }

.o-button >.o-symbol  { font-size: calc(var(--line-m) * var(--font-m)); margin-right: var(--gap-global-whitespace); }
.o-button.size-lg >.o-symbol  { font-size: calc(var(--line-lm) * var(--font-lm)); margin-right: calc(var(--gap-global-whitespace) * 2); }
.o-button >.label ~.o-symbol  { margin-left: var(--gap-global-whitespace); margin-right: 0; }
.o-button.size-lg >.label ~.o-symbol  { margin-left: calc(var(--gap-global-whitespace) * 2); }

.o-button:is( ._rawer ) >.o-symbol  { color: var(--color-icon2); }
.o-button:is( ._secondary, ._thertiary ) >.o-symbol  { color: var(--color-icon1); }


/** Icon-only Button */
/* .o-button.type-icon  { min-width: var(--width-object-symbol); aspect-ratio: 1; padding: 0 calc(0.5em - 1px); } */
.o-button.type-icon  { min-width: var(--width-object-symbol); aspect-ratio: 1.0; padding: 0 0; }
/* .o-button.type-icon >.inner  { position: absolute; left: 50%; bottom: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); color: Transparent; pointer-events: none; user-select: none; text-shadow: none; } */
.o-button.type-icon >.label  { font-size: var(--ss); line-height: 1; position: absolute; color: Transparent; pointer-events: none; text-shadow: none; }
.o-button.type-icon >.o-symbol  { margin: auto 0; }

.o-button._rawer.type-icon  { min-width: 0; aspect-ratio: auto; padding: 0; }







/** Default Checks */
/* 
.o-check  { display: inline; }
.o-check >input,
  .o-check >input ~*  { cursor: pointer; }
.o-check >input  { position: absolute; margin: 0.3rem 0.4rem; opacity: 0.001; }
.o-check >input ~.label  { display: inline-block; position: relative; margin: -0.5em 0; padding: 0.5em 0; padding-left: 2.8rem; }
.o-check >input ~.label:before  { content: ""; display: inline-block; vertical-align: middle; position: absolute; left: -0.2rem; top: 50%; width: 2.4rem; height: 2.4rem; margin-top: -1.2rem; background: url('../img/common/btns_form_check.png') no-repeat 0; border-radius: 0.2rem; -webkit-transition: background-color 0.15s; transition: background-color 0.15s; }
.o-check >input[type="radio"]:not(.type-checkbox) ~.label:before  { background-image: url('../img/common/btns_form_radio.png'); border-radius: 50%; }
.o-check >input:focus ~.label:not(:hover):before  { background-color: rgba(0,123,255, 0.35); }
.o-check >input[disabled],
  .o-check >input[disabled] ~*  { cursor: default; cursor: not-allowed; }
.o-check >input[disabled] ~.label  { color: GrayText; }
.o-check >input:checked ~.label:before  { background-position: 25%; -webkit-animation: ANI_blink 0.3s; animation: ANI_blink 0.3s; }
.o-check >input[disabled] ~.label:before  { background-position: 50%; }
.o-check >input[disabled]:checked ~.label:before  { background-position: 75%; }
.o-check >input ~.label._hidden  { vertical-align: middle; width: 2.4rem; height: 2.4rem; overflow: hidden; margin: 0; padding: 0; padding-left: 2.4rem; white-space: nowrap; }
.o-check >input ~.label._hidden:before  { left: 0; }
 */

.o-check  { display: inline-block; display: inline-flex; align-items: baseline; gap: 1rem; vertical-align: middle; position: relative; max-width: 100%; }
.o-check >*  { vertical-align: inherit; vertical-align: -webkit-baseline-middle; }
.o-check >input  { font-size: calc(24em / 14); font-size: min(2.4rem, calc(24em / 14)); position: absolute; margin: calc((1em - 13px) / 2); opacity: 0.001; }
.o-check >input ~.label  { align-self: center; overflow: hidden; }
.o-check >input ~i  { font-size: calc(24em / 14); font-size: min(2.4rem, calc(24em / 14)); display: inline-block; display: inline-flex; align-items: center; flex: none; position: relative; max-height: 1em; }
.o-check >input ~i:before  { content: ""; width: 1em; height: 1em; background: none no-repeat 0 /100%; border-radius: 0.2rem; -webkit-transition: background-color 0.15s; transition: background-color 0.15s; }
.o-check >input ~i:before  { direction: ltr; font: normal normal 100% /1 'wf-MaterialSymbolsRounded-Var', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
.o-check >input ~i:before  { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; max-width: 1em; overflow: hidden; text-transform: uppercase; }
.o-check >input ~i:before  { content: "check_box_outline_blank"; color: var(--color-check-enabled); }
.o-check >input[type="radio"]:not(.type-checkbox) ~i:before  { border-radius: 50%; }
.o-check >input[type="radio"]:not(.type-checkbox) ~i:before  { content: "radio_button_unchecked"; font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24; }

.o-check >input[type="checkbox"]:indeterminate ~i:before  { content: "indeterminate_check_box"; color: var(--color-check-checked); }
.o-check >input:checked ~i:before  { content: "check_box"; color: var(--color-check-checked); }
.o-check >input[type="radio"]:not(.type-checkbox):checked ~i:before  { content: "radio_button_checked"; }

.o-check >input[disabled] ~.label  { color: var(--color-text-disabled, GrayText); }
.o-check >input[disabled] ~i:before  { color: var(--color-check-enabled); opacity: 0.35; }

/* .o-check >input ~i:before  { content: ""; background-image: url('../img/common/btns_form_check.png'); }
.o-check >input[type="radio"]:not(.type-checkbox) ~i:before  { content: ""; background-image: url('../img/common/btns_form_radio.png'); } */

.o-check >input,
  .o-check >input ~*  { cursor: pointer; }
.o-check >input[disabled],
  .o-check >input[disabled] ~*  { cursor: default; cursor: not-allowed; }

.o-check >input ~i  { outline: var(--e20) solid Transparent; outline-offset: calc(-1 * var(--e20)); border-radius: 0.5rem; transition-duration: 0.05s; }
.o-check >input[type="radio"]:not(.type-checkbox) ~i  { outline-offset: calc(-1 * var(--e20) / 2); border-radius: 50%; }
/* .o-check >input:focus ~.label:not(:hover):before  { background-color: rgba(0,123,255, 0.35); } */
.o-check:hover >input:not([disabled]):not(:focus) ~i  { box-shadow: 0 0 var(--e20) var(--color-point1); }
.o-check >input:focus-visible ~i:not(:hover)  { outline: var(--e20) solid currentColor; }

/* .o-check >input ~.label._hidden  { position: absolute; max-width: 0; overflow: hidden; white-space: nowrap; } */
/* .o-check >input ~.label._hidden  { font-size: var(--ss); position: absolute; width: 100%; height: 100%; color: Transparent; } */
.o-check >input ~.label._hidden  { font-size: var(--ss); position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: Transparent; pointer-events: none; text-shadow: none; }

.o-check.style-visibility >input ~i:before  { content: "visibility"; color: var(--color-icon2); }
.o-check.style-visibility >input:checked ~i:before  { content: "visibility_off"; }

.o-check.style-favorite >input ~i:before  { content: "star" !important; color: var(--color-icon-disabled); }
.o-check.style-favorite >input:checked ~i:before  { font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; color: var(--color-state-neut); }









.o-grid-table  { font-family: inherit; font-feature-settings: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; }
.o-grid-table  { clear: both; width: 100%; }
.o-grid-table table  { border: $e10 solid #EAEBEC; border-width: $e10 0 0 $e10; text-align: center; }
.o-grid-table :where(table :not(tr >* >*))  { color: inherit; background-color: $tp; text-align: inherit; }
.o-grid-table tr >*  { height: var(--height-global-cell); padding: var(--margin-global-cell-block); border: $e10 solid #EAEBEC; border-width: 0 $e10 $e10 0; }
.o-grid-table th  { font-weight: $bold-70; }
.o-grid-table thead  { font-size: calc(1em * 12 / 14); line-height: calc(18 / 12); color: #004C9D; background: #F7F7F8; }
.o-grid-table thead >tr:last-child >*  { border-bottom-color: #004C9D; }
.o-grid-table tbody >tr  { background: var(--color-ground); }

.o-grid-table tr >*  { min-width: 180px; }




















.m-tab  { --l-color-point: navy; line-height: calc(1em * 16 / 14); clear: both; display: flex; position: relative; }
.m-tab .link  { display: flex; align-items: center; position: relative; padding: 0.5em; border: $e10 solid var(--l-color-point); background: var(--color-ground); border-radius: $radius-global-element $radius-global-element 0 0; text-align: center; white-space: nowrap; }
.m-tab .link[aria-current]:not([aria-current="false"])  { border-color: $tp; color: var(--color-white); background-color: var(--l-color-point); }

.m-tab .link.type-icon  { min-width: 0; }
.m-tab .button  { line-height: inherit; display: flex; align-items: center; position: relative; min-width: 0; min-height: 0; padding: 0; border: 0; background: $tp; }

.m-tab .link:before,
  .m-tab .button:before  { content: ""; @include inc-symbol(); }
.m-tab .link.type-icon >.label,
  .m-tab .button >.label  { @include inc-sronly(); }

.m-tab:after  { content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: $e10; background: var(--l-color-point); }
.m-tab >*  { display: flex; min-width: 0; }
.m-tab >* >*  { flex: none; position: relative; min-width: 0; }
.m-tab >* >:not(:first-child)  { margin-left: calc($e10 * -1); }
.m-tab >.lists  { flex: 1; }









.m-mdi  { --l-color-point: navy; line-height: calc(1em * 16 / 14); clear: both; display: flex; position: relative; }
.m-mdi .link  { display: flex; align-items: center; position: relative; padding: 0.5em; border: $e10 solid var(--l-color-point); background: var(--color-ground); border-radius: $radius-global-element $radius-global-element 0 0; text-align: center; white-space: nowrap; }
.m-mdi .link[aria-current]:not([aria-current="false"])  { border-color: $tp; color: var(--color-white); background-color: var(--l-color-point); }

.m-mdi .link.type-icon  { min-width: 0; }
.m-mdi .button  { line-height: inherit; display: flex; align-items: center; position: relative; min-width: 0; min-height: 0; padding: 0; border: 0; background: $tp; }

.m-mdi .link:before,
  .m-mdi .button:before  { content: ""; @include inc-symbol(); }
.m-mdi .link.type-icon >.label,
  .m-mdi .button >.label  { @include inc-sronly(); }

.m-mdi:after  { content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: $e10; background: var(--l-color-point); }
.m-mdi >*  { display: flex; min-width: 0; }
.m-mdi >* >*  { flex: none; position: relative; min-width: 0; }
.m-mdi >* >:not(:first-child)  { margin-left: calc($e10 * -1); }
.m-mdi >.lists  { flex: 1; }




.m-mdi  {
  --color-scrollbar-track: navy;
  --margin-global-scrollbar: calc(var(--rem) * 0);
  --width-global-scrollbar: calc(var(--rem) * 1 + var(--margin-global-scrollbar) * 2);
}
.m-mdi  { gap: 0 III(2); padding: III(0) III(18) 0; }
.m-mdi >*  { gap: 0 III(3); }
.m-mdi .link  { min-width: III(120); height: 100%; min-height: III(32); padding: III(7) III(11); border: $e10 solid #EAEBEC; border-bottom-color: $tp; background: #F7F7F8; }
.m-mdi .link.root:before  { content: "home"; @include setSymbolVariationSettings(1); color: var(--l-color-point); }
.m-mdi .link.list:before  { content: "menu"; }
.m-mdi .link.close-all:before  { content: "tab_close"; }
.m-mdi .button.close  { position: absolute; top: 50%; right: III(12); @include inc-translate(0); color: #AEB0B6; }
.m-mdi .button.close:before  { content: "close"; }

// .m-mdi .link  { transition-duration: 0.8s; background: red; }
// .m-mdi .link:not(:hover):not(:focus-within)  { background: Transparent; }
// .m-mdi .link:where( :hover, :focus-within )  { transition-duration: 0.15s; }

.m-mdi:after  { content: none; }

.m-mdi >.lists  { overflow: scroll hidden; margin-bottom: calc(var(--width-global-scrollbar) * -1); }
.m-mdi >.lists .link  { padding-right: III(11 + 16 + 4) }

.m-mdi >.controls  { box-shadow: 0 0 5px 5px var(--color-ground); }
.m-mdi >.controls .link.group  { display: flex; align-items: center; gap: III(3); min-width: 0; padding: 0; }
.m-mdi >.controls .link.group:before  { content: none; }
.m-mdi >.controls .link.group >.item  { position: relative; padding: 0 III(7); }
.m-mdi >.controls .link.group >.item:not(:first-child):before  { content: ""; position: absolute; left: III(1-3); top: 50%; @include inc-translate(0); width: III(1); height: III(10); background: #DBDCDF; }
.m-mdi >.controls .link.group .button:before  { font-size: $width-object-symbol-l; }
.m-mdi >.controls .link.group .button.scroll.neg:before  { content: "keyboard_arrow_left"; }
.m-mdi >.controls .link.group .button.scroll.pos:before  { content: "keyboard_arrow_right"; }







.m-binds  { display: flex; justify-content: space-between; align-items: flex-start; gap: var(--gap-global-element); clear: both; }
.m-binds >*  { display: inline-flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: var(--gap-global-element-narrow); flex: auto; }
.m-binds >* >*  { flex: none; }

.m-binds:has(>:nth-child(n+3)) >*  { flex: 1; }
.m-binds >:not(:only-child):first-child  { justify-content: flex-start; }
.m-binds >:not(:only-child):last-child  { justify-content: flex-end; }
.m-binds >:only-child  { justify-content: flex-end; }
.m-binds >._start  { justify-content: flex-start; }
.m-binds >._center  { justify-content: center; }
.m-binds >._justify  { justify-content: space-between; }

.m-binds >._around  { flex: 1; }
.m-binds >._around >*  { flex: 1; }
.m-binds >._around >* >*  { width: 100%; }

// .m-binds:not(.o-subset *).type-end  { gap: var(--gap-global-element-wide); }
// .m-binds:not(.o-subset *).type-end >*  { gap: var(--gap-global-element); }






.m-filter-form  { display: flex; align-items: flex-end; gap: III(16); clear: both; padding: III(14); border: $e10 solid navy; background: Ivory; border-radius: $radius-global-element; }
.m-filter-form .fieldset  { flex: 1 0 0; }
.m-filter-form .fieldset .table  { $l-border-spacing: III(8); border-spacing: 0 $l-border-spacing; max-width: 100%; margin: calc($l-border-spacing * -1) 0; }
.m-filter-form .fieldset .table th,
  .m-filter-form .fieldset .table td  { height: $height-global-form; padding: III(0) III(4); }









.m-search-form  th,
.m-search-form  td,  { border: 1px solid gray; }
