@charset "UTF-8";

:root  {
  --edge-cell: var(--e10, 1px);
  --margin-cell-block: calc(var(--rem) * 4);
  --height-cell: calc(var(--rem) * var(--height-form-50) + var(--margin-cell-block) * 2 + var(--edge-cell) * 1);
  --height-cell-head: var(--height-cell);
}





// /** Elements Width
//  ----------------- */

// /** Elements */

// .o-form:has(.c-cols-auto)  { flex: 1; }
// .o-form:has(.c-cols-100p)  { width: 100%; }
// .o-form:has(.c-cols-50p)  { width: 50%; }
// .o-form:has(.c-cols-70)  { width: 30rem; width: calc(1em * 300 / 14); }
// .o-form:has(.c-cols-50)  { width: 21.1rem; width: calc(1em * 211 / 14); }
// .o-form:has(.c-cols-40)  { width: 16.8rem; width: calc(1em * 148 / 14); }
// .o-form:has(.c-cols-30)  { width: 12.6rem; width: calc(1em * 126 / 14); }
// .o-form:has(.c-cols-10)  { width: 6rem; width: calc(1em * 60 / 14); }


/** Text-Level
 ------------- */

/** Colors */
.c-color-key  { color: $color-key1-40 !important; }
.c-color-point  { color: $color-point-40 !important; }
.c-color-gray  { color: $color-text-30 !important; }
.c-color-pos  { color: $color-status-80 !important; }
.c-color-med  { color: $color-status-50 !important; }
.c-color-neg  { color: $color-status-20 !important; }
.c-color-error  { color: $color-error !important; }


/** Texts */
.o-text-strong  { font-weight: $bold-70; color: $color-key1-40; }


/** Headings */
.o-heading  { font-weight: $bold-70; font-size: $font-70; line-height: $line-70; display: block; color: $color-text-70; }
.o-heading.level1  { font-size: $font-90; line-height: $line-90; }











// /** Tooltips */
// .o-tooltip  { position: absolute; z-index: 5; text-align: left; text-align: start; }
// .tooltip-wrap  { padding: 0.6rem 1rem; color: $color-white; background: var(--color-ground-tooltip); cursor: auto; border-radius: calc($radius-40 / 2); }
// .tooltip-head .heading  { font-weight: var(--bold-70); display: block; margin-bottom: var(--gap-element-50-narrow); padding-bottom: var(--gap-element-50-narrow); border-bottom: $e10 solid var(--color-edge3); }
// .tooltip-body  { padding-right: var(--gap-element-50-wide); }

// .o-tooltip  { --l-duration: 0.1s; transition: opacity var(--l-duration) var(--timing-func-ease-slower, ease); }
// .o-tooltip:where(:not(:hover):not(:focus-within) >*)  { visibility: hidden; opacity: 0.0; transition: visibility 0s ease calc(var(--l-duration) * 2), opacity var(--l-duration) var(--timing-func-ease-faster, ease) var(--l-duration); }
// .o-tooltip:focus-visible  { outline: 0; }
// .o-tooltip:focus-visible >*  { outline: $e20 solid var(--color-edge-70); outline-offset: $e10; }


// /** Tags */
// .o-tag  { display: inline-block; display: inline-flex; align-items: center; position: relative; max-width: 100%; }
// .o-tag >*  { display: flex; flex: none; }
// .o-tag >.label  { font-size: $ss; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: Transparent; pointer-events: none; text-shadow: none; }
// .o-tag .o-symbol  { font-size: var(--font-l); font-size: 1lh; color: var(--color-icon1); }

// .o-tag._help  { cursor: help; }

// /* .o-tag._help ~.o-tooltip  { left: 100%; top: 100%; } */
// .o-tag._help ~.o-tooltip  { left: 0; top: 0; padding: 1lh; cursor: help; }


/** Require Tags */
.o-require-tag  { order: -1; position: relative; color: $color-require; white-space: nowrap; }
.o-require-tag:before  { content: "*"; margin-right: calc(var(--rem) * 2); }
.o-require-tag >.tag  { font-size: $ss; line-height: 1; vertical-align: super; position: absolute; top: calc(var(--rem) * 4); right: calc(var(--rem) * 3); color: Transparent; pointer-events: none; /* user-select: none; */ }
.o-require-tag  { order: 0; }
.o-require-tag:before  { margin-left: calc(var(--rem) * 2); margin-right: auto; }
.o-require-tag >.tag  { left: calc(var(--rem) * 3); right: auto; }


/** Labels */
.o-label  { display: inline-block; display: inline-flex; align-items: center; gap: 0 $gap-element-50; max-width: 100%; }
.o-label >*  { flex: 0 1 auto; display: flex; min-width: 0; height: 100%; }
.o-label >.label  { flex: 1 0 0; font-weight: $bold-70; color: $color-text-70; }

.o-label:where(.m-data-form th *) >.label  { font-weight: inherit; }

// .o-label >.inner-binds  { position: relative; }

// .o-label >.outer-binds  { margin-left: auto; }


// /** State Labels */
// .o-state-label  { font-size: var(--font-2xs); line-height: var(--line-2xs); display: inline-flex; align-items: center; max-width: 100%; padding: 0.4rem 0.9rem; border: $e10 solid Transparent; color: inherit; background: Gold; border-radius: $radius-40; white-space: nowrap; }
// .o-state-label >*  { flex: none; }
// .o-state-label >.o-icon  { font-size: 1.6rem; margin-right: var(--gap-whitespace-50); }
// .o-state-label >.label  { font-weight: var(--bold-70); flex: 1; max-width: 100%; overflow: hidden; text-overflow: ellipsis; }
// .o-state-label[class*=" _unit"]  { color: var(--color-status-20); background-color: var(--color-ground-chip-rec); }



// .o-empty-data  { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; padding: 12rem 1em; padding: min(5%, 12rem) 1em; color: var(--color-text-70); }
// .o-empty-data >*  { position: absolute; min-width: max-content; color: Transparent; pointer-events: none; text-shadow: none; }
// .o-empty-data:before  { content: ""; display: block; width: 100%; height: 100%; background: var(--obj-img-data-empty) no-repeat 50% /100% min(100%, 57rem); background-clip: content-box; }

.o-length  { font-size: $font-30; line-height: $line-30; display: flex; gap: $gap-whitespace-30; }
.o-length >*  { display: flex; gap: inherit; }

.m-header  { display: flex; justify-content: flex-end; align-items: center; gap: $gap-element-70; }
.m-header >*  { flex: 0 1 auto; min-width: 0; @include inc-ellipsis(); }
.m-header >.o-heading  { flex: 1 0 0; overflow: hidden; }



/** Icons
 -------- */

/** Default Icons */
// .o-symbol  { direction: ltr; font: normal normal calc(1rem / var(--root-em-int, 16) * 24) /1 'wf-MaterialSymbolsOutlined-Var', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; display: inline-block; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
// .o-symbol  { font-family: 'wf-MaterialSymbolsRounded-Var', sans-serif; font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; font-size: var(--height-icon-50); display: inline-flex; max-width: 1em; overflow: hidden; text-transform: uppercase; }
// .o-symbol.type-fill  { font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
// .o-symbol.type-norm  { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }

.o-symbol  { @include inc-symbol(); }
.o-symbol.type-fill  { @include setSymbolVariationSettings(1); }
.o-symbol.type-norm  { @include setSymbolVariationSettings(); }


.o-icon  { font-size: var(--height-icon-50); line-height: 1; display: inline-block; position: relative; }
.o-icon:not([class*=" _"])  { background-color: Gold; }
.o-icon:after  { content: ""; position: absolute; right: 0; bottom: 0; transform: translate(calc(1em / 20), calc(1em / 20)); width: calc(12em / 20); height: calc(12em / 20); background: none no-repeat 0 /100%; }
.o-icon:before  { content: ""; display: block; width: 1em; height: 1em; }
.o-icon:not(:empty):before  { content: none; }
.o-icon:before  { direction: ltr; font: normal normal 100% /1 'wf-MaterialSymbolsOutlinedVF', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
.o-icon:before  { font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24; max-width: 1em; overflow: hidden; text-transform: uppercase; }
.o-icon >:is( object, img )  { display: block; width: 1em; height: 1em; }















/** Default Button */
.o-button,
  .o-action  { font-size: inherit; line-height: inherit; display: inline-block; display: inline-flex; justify-content: center; align-items: center; vertical-align: middle; position: relative; min-width: calc(4em - $e10 * 2); min-height: 1em; padding: calc($e10 * 2) 0.5em; border: $e10 solid; color: ButtonText; background: ButtonFace; border-radius: 0; box-shadow: none; text-decoration: none; text-align: center; white-space: normal; }
.o-button >*,
  .o-action >*  { flex: none; }


.o-button,  .o-button._default  { --theme: var(--color-text-40); gap: III(4); min-width: calc(4em - $e10 * 2); min-height: $height-form-30; padding: III(3) 0.5em; border-color: currentColor; color: var(--theme); background-color: var(--color-ground); border-radius: $radius-40; white-space: nowrap; }
.o-button:not([disabled], [aria-disabled="true"])  { transition: all 0.15s; transition-property: border-color, background-color, color; }
.o-button:is([disabled], [aria-disabled="true"])  { filter: none; filter: grayscale(1.0) opacity(0.6) brightness(0.9); }

.o-button:not([class*="-button _"])  { border-color: #A8AEB7; background: #EAECEF; background: -webkit-gradient(linear, left top, left bottom, from(White), to(#EAECEF)); background: linear-gradient(to bottom, White, #EAECEF); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='White', endColorstr='#EAECEF', GradientType=0 ); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFEAECEF', EndColorStr='#FFFFFFFF')"; }
.o-button:not([class*="-button _"]):not([disabled], [aria-disabled="true"]):hover  { border-color: currentColor; background: White; background: -webkit-gradient(linear, left top, left bottom, from(#EDEFF1), to(White)); background: linear-gradient(to bottom, #EDEFF1, White); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EDEFF1', endColorstr='White', GradientType=0 ); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFFFF', EndColorStr='#FFEDEFF1')"; }

.o-button[class*="-primary"]  { --theme: #0B68CB; }
.o-button[class*="-primary"]:not([disabled], [aria-disabled="true"]):hover  { --theme: #004C9D; }
.o-button[class*="-secondary"]  { --theme: #0092D6; }
.o-button[class*="-secondary"]:not([disabled], [aria-disabled="true"]):hover  { --theme: #0C76A7; }
.o-button[class*=" _filled"]  { --fill-opacity: 0.12; border-color: Transparent; background-color: rgb(from currentColor r g b /var(--fill-opacity)); }
.o-button[class*=" _filled"]:not([disabled], [aria-disabled="true"]):hover  { --fill-opacity: 0.2; }
.o-button[class*=" _solid"]  { font-weight: var(--bold-70); border-color: Transparent; color: $color-white; background-color: var(--theme); }
// .o-button[class*=" _lined"]  { color: var(--theme); }
.o-button._normal  { --theme: #94A3B8; }
.o-button._normal:not([disabled], [aria-disabled="true"]):hover  { --theme: #475569; }
.o-button._normal:not([disabled], [aria-disabled="true"]) >.label  { color: #1E293B; }

.o-button:is([class*=" _filled"], [class*=" _solid"]):is([disabled], [aria-disabled="true"])  { color: #64748B; background-color: #CBD5E1; filter: opacity(0.6); }
.o-button:is([class*=" _lined"], ._normal:not(.style-texted)):is([disabled], [aria-disabled="true"])  { border-color: #CBD5E1; color: #64748B; filter: opacity(0.6); }

.o-button.style-texted  { border-color: Transparent; background: Transparent; box-shadow: none; }


.o-button:where(.dom-main .div-header .m-binds *),
.o-button:where(.dom-nav .div-nav-local .m-binds *),
  .o-button.size-40  { font-size: $font-30; line-height: $line-30; }
.o-button:where(.dom-main .div-footer .m-binds *),
  .o-button.size-70  { font-size: $font-50; line-height: $line-50; min-width: calc(4em + $e10 * 4); padding: calc(III(3) + III(2)) calc(0.5em + 0.25em); }
.o-button:where(.m-header .m-binds *),
  .o-button:where(.m-field *),
  .o-button:where(.m-filter-form .binds *),
  .o-button.size-50  { font-size: $font-50; line-height: $line-50; }












// /** Icon-only Button */
// /* .o-button.type-icon  { min-width: var(--height-icon-50); aspect-ratio: 1; padding: 0 calc(0.5em - 1px); } */
// .o-button.type-icon  { min-width: var(--height-icon-50); aspect-ratio: 1.0; padding: 0 0; }
// /* .o-button.type-icon >.inner  { position: absolute; left: 50%; bottom: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); color: Transparent; pointer-events: none; user-select: none; text-shadow: none; } */
// .o-button.type-icon >.label  { font-size: $ss; line-height: 1; position: absolute; color: Transparent; pointer-events: none; text-shadow: none; }
// .o-button.type-icon >.o-symbol  { margin: auto 0; }

// .o-button._rawer.type-icon  { min-width: 0; aspect-ratio: auto; padding: 0; }


// /** Image Button */
.o-image-button  { min-width: 1em; min-height: 1em; padding: 0; border: 0; }

// .o-image-button  { font-weight: var(--bold-40); font-size: var(--height-icon-50); line-height: 1; display: inline-block; display: inline-flex; justify-content: center; align-items: center; position: relative; min-width: 0; min-height: 0; padding: 0; border: 0; background: Transparent; border-radius: 0.2rem; }
// /* .o-image-button >.inner  { font-size: var(--font-4xs); line-height: 1; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: Transparent; user-select: none; white-space: nowrap; } */
// .o-image-button >.label  { font-size: $ss; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: Transparent; pointer-events: none; text-shadow: none; }
// .o-image-button:before  { content: ""; display: block; width: 1em; height: 1em; margin: 0 auto; background: Gold none no-repeat 50% /100%; }

// .o-image-button[aria-disabled="true"],
//   .o-image-button[disabled]  { opacity: 0.3; }

// .o-image-button.type-symbol  { color: var(--color-icon2); }
// .o-image-button.type-symbol:before  { background-color: Transparent; }
// .o-image-button.type-symbol:before  { direction: ltr; font: normal normal 100% /1 'wf-MaterialSymbolsOutlined-Var', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
// .o-image-button.type-symbol:before  { font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 24; max-width: 1em; overflow: hidden; text-transform: uppercase; }





.m-binds  { display: flex; justify-content: space-between; align-items: flex-start; gap: $gap-element-70; clear: both; }
.m-binds >*  { flex: 0 1 auto; display: inline-flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: $gap-element-50; }
.m-binds >* >*  { flex: 0 1 auto; }

.m-binds:has(>:nth-child(n+3)) >:where(:first-child, :last-child)  { flex: 1 0 0; }
.m-binds >:not(:only-child):first-child  { justify-content: flex-start; }
.m-binds >:not(:only-child):last-child  { justify-content: flex-end; }
.m-binds >:only-child  { flex: auto; justify-content: flex-end; }
.m-binds >._start  { justify-content: flex-start; }
.m-binds >._center  { justify-content: center; }
.m-binds >._justify  { justify-content: space-between; }

.m-binds >._around  { flex: 1; }
.m-binds >._around >*  { flex: 1; }
.m-binds >._around >* >*  { width: 100%; }









/** Default Checks */
/*
.o-check  { display: inline; }
.o-check >input,
  .o-check >input ~*  { cursor: pointer; }
.o-check >input  { position: absolute; margin: 0.3rem 0.4rem; opacity: 0.001; }
.o-check >input ~.label  { display: inline-block; position: relative; margin: -0.5em 0; padding: 0.5em 0; padding-left: 2.8rem; }
.o-check >input ~.label:before  { content: ""; display: inline-block; vertical-align: middle; position: absolute; left: -0.2rem; top: 50%; width: 2.4rem; height: 2.4rem; margin-top: -1.2rem; background: url('../img/common/btns_form_check.png') no-repeat 0; border-radius: 0.2rem; -webkit-transition: background-color 0.15s; transition: background-color 0.15s; }
.o-check >input[type="radio"]:not(.type-checkbox) ~.label:before  { background-image: url('../img/common/btns_form_radio.png'); border-radius: 50%; }
.o-check >input:focus ~.label:not(:hover):before  { background-color: rgba(0,123,255, 0.35); }
.o-check >input[disabled],
  .o-check >input[disabled] ~*  { cursor: default; cursor: not-allowed; }
.o-check >input[disabled] ~.label  { color: GrayText; }
.o-check >input:checked ~.label:before  { background-position: 25%; -webkit-animation: ANI_blink 0.3s; animation: ANI_blink 0.3s; }
.o-check >input[disabled] ~.label:before  { background-position: 50%; }
.o-check >input[disabled]:checked ~.label:before  { background-position: 75%; }
.o-check >input ~.label._hidden  { vertical-align: middle; width: 2.4rem; height: 2.4rem; overflow: hidden; margin: 0; padding: 0; padding-left: 2.4rem; white-space: nowrap; }
.o-check >input ~.label._hidden:before  { left: 0; }
 */

.o-check  { display: inline-block; display: inline-flex; align-items: baseline; gap: 1rem; vertical-align: middle; position: relative; max-width: 100%; }
.o-check >*  { vertical-align: inherit; vertical-align: -webkit-baseline-middle; }
.o-check >input  { font-size: calc(24em / 14); font-size: min(2.4rem, calc(24em / 14)); position: absolute; margin: calc((1em - 13px) / 2); opacity: 0.001; }
.o-check >input ~.label  { align-self: center; overflow: hidden; }
.o-check >input ~i  { font-size: calc(24em / 14); font-size: min(2.4rem, calc(24em / 14)); display: inline-block; display: inline-flex; align-items: center; flex: none; position: relative; max-height: 1em; }
.o-check >input ~i:before  { content: ""; width: 1em; height: 1em; background: none no-repeat 0 /100%; border-radius: 0.2rem; -webkit-transition: background-color 0.15s; transition: background-color 0.15s; }
.o-check >input ~i:before  { direction: ltr; font: normal normal 100% /1 'wf-MaterialSymbolsRounded-Var', sans-serif; -moz-font-feature-settings: 'liga'; -webkit-font-feature-settings: 'liga'; font-feature-settings: 'liga'; text-transform: none; white-space: nowrap; word-wrap: normal; letter-spacing: normal; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; }
.o-check >input ~i:before  { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; max-width: 1em; overflow: hidden; text-transform: uppercase; }
.o-check >input ~i:before  { content: "check_box_outline_blank"; color: var(--color-check-enabled); }
.o-check >input[type="radio"]:not(.type-checkbox) ~i:before  { border-radius: 50%; }
.o-check >input[type="radio"]:not(.type-checkbox) ~i:before  { content: "radio_button_unchecked"; font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24; }

.o-check >input[type="checkbox"]:indeterminate ~i:before  { content: "indeterminate_check_box"; color: var(--color-check-checked); }
.o-check >input:checked ~i:before  { content: "check_box"; color: var(--color-check-checked); }
.o-check >input[type="radio"]:not(.type-checkbox):checked ~i:before  { content: "radio_button_checked"; }

.o-check >input[disabled] ~.label  { color: var(--color-text-disabled, GrayText); }
.o-check >input[disabled] ~i:before  { color: var(--color-check-enabled); opacity: 0.35; }

/* .o-check >input ~i:before  { content: ""; background-image: url('../img/common/btns_form_check.png'); }
.o-check >input[type="radio"]:not(.type-checkbox) ~i:before  { content: ""; background-image: url('../img/common/btns_form_radio.png'); } */

.o-check >input,
  .o-check >input ~*  { cursor: pointer; }
.o-check >input[disabled],
  .o-check >input[disabled] ~*  { cursor: default; cursor: not-allowed; }

.o-check >input ~i  { outline: $e20 solid Transparent; outline-offset: calc(-1 * $e20); border-radius: 0.5rem; transition-duration: 0.05s; }
.o-check >input[type="radio"]:not(.type-checkbox) ~i  { outline-offset: calc(-1 * $e20 / 2); border-radius: 50%; }
/* .o-check >input:focus ~.label:not(:hover):before  { background-color: rgba(0,123,255, 0.35); } */
.o-check:hover >input:not([disabled]):not(:focus) ~i  { box-shadow: 0 0 $e20 var(--color-key1-40); }
.o-check >input:focus-visible ~i:not(:hover)  { outline: $e20 solid currentColor; }

/* .o-check >input ~.label._hidden  { position: absolute; max-width: 0; overflow: hidden; white-space: nowrap; } */
/* .o-check >input ~.label._hidden  { font-size: $ss; position: absolute; width: 100%; height: 100%; color: Transparent; } */
.o-check >input ~.label._hidden  { font-size: $ss; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: Transparent; pointer-events: none; text-shadow: none; }

.o-check.style-visibility >input ~i:before  { content: "visibility"; color: var(--color-icon2); }
.o-check.style-visibility >input:checked ~i:before  { content: "visibility_off"; }

.o-check.style-favorite >input ~i:before  { content: "star" !important; color: var(--color-icon-disabled); }
.o-check.style-favorite >input:checked ~i:before  { font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; color: var(--color-status-50); }


















/** Forms Type Selector */
.o-form ::-ms-clear,
  .o-form ::-ms-reveal  { display: none; }
.o-form ::-webkit-search-cancel-button,
  .o-form ::-webkit-search-decoration,
  .o-form ::-webkit-search-results-button,
  .o-form ::-webkit-search-results-decoration  { display: none; }
.o-form ::-webkit-inner-spin-button,
  .o-form ::-webkit-outer-spin-button  { -webkit-appearance: none; margin:0; }

.o-form :-ms-input-placeholder  { font-weight: inherit !important; font-family: inherit !important; text-align: start !important; text-align: left; color: $color-text-placeholder !important; }
.o-form ::-ms-input-placeholder  { font-weight: inherit !important; font-family: inherit !important; text-align: start !important; text-align: left; color: $color-text-placeholder !important; }
.o-form ::-moz-placeholder  { font-weight: inherit; font-family: inherit; text-align: start !important; text-align: left; color: $color-text-placeholder; opacity: 1; }
.o-form ::-webkit-input-placeholder,
  .o-form ::placeholder  { font-weight: inherit; font-family: inherit; text-align: start !important; text-align: left; color: $color-text-placeholder; }


/** Default Forms */
.o-form  { flex: 1 0 0; display: inline-block; display: inline-flex; position: relative; max-width: 100%; border-radius: 0; transition-duration: 0.05s; }
.o-form:not(.type-string)  { font-weight: var(--bold-40, inherit); }
.o-form >*  { flex: 0 1 auto; box-sizing: border-box; min-width: 0; border-radius: inherit; transition-duration: inherit; }
.o-form >.bind  { font-size: inherit; line-height: inherit; flex: 1; width: 100%; min-width: 2.4em; color: inherit; outline: 0; box-shadow: none; }
.o-form >.bind[disabled]  { opacity: 1.0; -webkit-text-fill-color: currentColor; }
.o-form >.bind ~i  { position: absolute; inset: 0; border: $e10 solid Transparent; outline-offset: calc(-1 * $e10); pointer-events: none; }
.o-form:where( ._input, ._select )  { background-color: var(--color-ground-enabled); }
.o-form:where( ._input, ._select ) >.bind  { min-height: $height-form-50; padding-left: 0.7rem; padding-left: max(calc(7em / 14), 0.7rem); border: $e10 solid Transparent; background-color: Transparent; }
.o-form:where( ._input, ._select ) >.bind ~i  { border-color: var(--color-edge-40); }

.o-form:has(>.bind[disabled])  { color: inherit; background-color: var(--color-ground-disabled); }

.o-form:where( ._input, ._select ):has(>.bind:where( :not([disabled]):not([readonly]) )):hover  { color: var(--color-text-40); background-color: var(--color-ground); }
.o-form:where( ._input, ._select ):hover >.bind:where( :not([disabled]):not([readonly]) ) ~i  { outline: $e10 solid var(--color-edge5); }

.o-form >.bind:focus ~i  { outline-offset: $e10; }
.o-form:where( ._input, ._select ) >.bind:focus ~i  { outline: $e20 solid var(--color-black); }

.o-form:has(>.bind:where( :not([readonly]) ):focus-visible)  { color: var(--color-text-40); background-color: var(--color-ground); }
.o-form >.bind:where( :not([readonly]) ):focus-visible ~i  { outline: $e20 solid var(--color-edge-70); outline-width: $e20 !important; }
.o-form:where( ._input, ._select ) >.bind:where( :not([readonly]) ):focus-visible ~i  { outline-offset: calc(-1 * $e10); }


.o-form._select >select  { -webkit-appearance: none; appearance: none; overflow: hidden; padding-right: 1.5em; background: var(--obj-sym-expand-more) no-repeat calc(100% + $e10) 50% /2rem 100%; text-overflow: ellipsis; white-space: nowrap; }
.o-form._select >select[required]:invalid  { color: GrayText; }
.o-form._select >select option  { color: var(--color-text-40); }

.o-form._file >input  { min-height: $height-form-50; padding: calc(($height-form-50 - 19em / 14 - 6px) / 2) 0; }

.o-form._range >input  { min-height: $height-form-50; }

.o-form._input >input  { -webkit-appearance: none; appearance: none; overflow: hidden; padding: calc(($height-form-50 - 1lh - III(2)) / 2) 0.7rem; text-overflow: ellipsis; white-space: nowrap; }
.o-form._input >input[type="password"]  { font-family: var(--typo-password); }

.o-form._input >textarea  { -webkit-appearance: none; appearance: none; line-height: var(--text-height, calc(18 / 12)); padding: 0.6rem 0.7rem; }
.o-form._input >textarea:not([rows])  { height: calc(1em * var(--text-height, calc(18 / 12)) * 5 + (0.6rem + $e10) * 2); }

// .o-form:is(.size-md)  { font-size: var(--font-lm); line-height: var(--line-lm); }
// .o-form:is(.size-md) >.bind  { min-height: $height-form-70; }
// .o-form:is(.size-lg)  { font-size: var(--font-xl); line-height: var(--line-xl); }
// .o-form:is(.size-lg, .m-forms.type-subject *) >.bind  { padding: 0.5rem 0.9rem; }


.o-form._input.type-string  { color: inherit; background-color: Transparent; }
.o-form._input.type-string >.bind  { font-size: inherit; line-height: inherit; box-shadow: none; text-align: inherit; }
.o-form._input.type-string >.bind ~i  { border-color: Transparent; outline: 0; }
.o-form._input.type-string:not(.style-keep) >.bind  { padding-left: 0; padding-right: 0; }

.o-form:has(>.bind.mode-edited:not(:focus):where( :not(.o-subset *) ))  { background-color: var(--color-ground-selected); }
.o-form >.bind.mode-edited:not(:focus):where( :not(.o-subset *) ) ~i  { outline: $e10 solid var(--color-edge-70); outline-offset: calc(-1 * $e10); }

.o-form:has(>.bind.mode-invalid)  { color: var(--color-text-40); background-color: var(--color-ground); }
.o-form >.bind.mode-invalid ~i  { outline: $e20 solid var(--color-require); outline-offset: calc(-1 * $e10); }


.o-form .inner-strings  { align-self: center; margin-left: var(--gap-element-50-narrow); }
.o-form .inner-strings._decibel  { min-width: calc(1em * 32 / 14); text-align: right; text-align: end; }


.o-form .inner-binds  { display: flex; }
.o-form .inner-binds >*  { flex: 1; }
// .o-form .inner-binds  { line-height: 1; }

.o-form .inner-binds .o-check >input ~i  { margin: calc(($height-form-50 - 1em) / 2); }
.o-form .inner-binds .o-check >input ~i:before  { font-size: calc(20em / 24); margin: calc((var(--height-icon-50) - 1em) / 2); }
.o-form.size-md .inner-binds .o-check >input ~i  { margin: calc(($height-form-70 - 1em) / 2); }
.o-form.size-md .inner-binds .o-check >input ~i:before  { font-size: calc(24em / 24); }

.o-form .inner-binds .o-button  { font-size: inherit; height: calc(44em / 24); border-color: Transparent; color: var(--color-icon2); background: Transparent; border-radius: inherit; box-shadow: none; }
.o-form .inner-binds .o-button >.o-symbol  { font-size: calc(1em * 20 / 14); font-size: min(calc(1em * 20 / 14), $height-form-70); }

.o-form .inner-binds .o-spins  { margin: 0 0.2rem; }
.o-form .inner-binds .o-spins .o-button  { height: auto; min-height: 0; }
.o-form .inner-binds .o-spins .o-button >.o-symbol  { font-size: calc(1em * 15 / 14); color: var(--color-icon1); }







.m-field  { display: flex; flex-direction: column; gap: III(4); }
.m-field >.field  { display: flex; align-items: center; gap: III(4); margin: 0; }
.m-field >.field >*  { min-width: 0; }























.m-tab  { --l-color-point: navy; line-height: calc(1em * 16 / 14); clear: both; display: flex; position: relative; }
.m-tab .link  { display: flex; align-items: center; position: relative; padding: 0.5em; border: $e10 solid var(--l-color-point); background: var(--color-ground); border-radius: $radius-40 $radius-40 0 0; text-align: center; white-space: nowrap; }
.m-tab .link[aria-current]:not([aria-current="false"])  { border-color: $tp; color: $color-white; background-color: var(--l-color-point); }

.m-tab .link.type-icon  { min-width: 0; }
.m-tab .button  { line-height: inherit; display: flex; align-items: center; position: relative; min-width: 0; min-height: 0; padding: 0; border: 0; background: $tp; }

.m-tab .link:before,
  .m-tab .button:before  { content: ""; @include inc-symbol(); }
.m-tab .link.type-icon >.label,
  .m-tab .button >.label  { @include inc-sronly(); }

.m-tab:after  { content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: $e10; background: var(--l-color-point); }
.m-tab >*  { display: flex; min-width: 0; }
.m-tab >* >*  { flex: none; position: relative; min-width: 0; }
.m-tab >* >:not(:first-child)  { margin-left: calc($e10 * -1); }
.m-tab >.lists  { flex: 1; }









.m-mdi  { --l-color-point: navy; line-height: calc(1em * 16 / 14); clear: both; display: flex; position: relative; }
.m-mdi .link  { display: flex; align-items: center; position: relative; padding: 0.5em; border: $e10 solid var(--l-color-point); background: var(--color-ground); border-radius: $radius-40 $radius-40 0 0; text-align: center; white-space: nowrap; }
.m-mdi .link[aria-current]:not([aria-current="false"])  { border-color: $tp; color: $color-white; background-color: var(--l-color-point); }

.m-mdi .link.type-icon  { min-width: 0; }
.m-mdi .button  { line-height: inherit; display: flex; align-items: center; position: relative; min-width: 0; min-height: 0; padding: 0; border: 0; background: $tp; }

.m-mdi .link:before,
  .m-mdi .button:before  { content: ""; @include inc-symbol(); }
.m-mdi .link.type-icon >.label,
  .m-mdi .button >.label  { @include inc-sronly(); }

.m-mdi:after  { content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: $e10; background: var(--l-color-point); }
.m-mdi >*  { display: flex; min-width: 0; }
.m-mdi >* >*  { flex: none; position: relative; min-width: 0; }
.m-mdi >* >:not(:first-child)  { margin-left: calc($e10 * -1); }
.m-mdi >.lists  { flex: 1; }




.m-mdi  {
  --color-scrollbar-track: navy;
  --margin-scrollbar: calc(var(--rem) * 0);
  --width-scrollbar: calc(var(--rem) * 1 + var(--margin-scrollbar) * 2);
}
.m-mdi  { gap: 0 $gap-whitespace-30; padding: III(0) III(18) 0; }
.m-mdi >*  { gap: 0 III(3); }
.m-mdi .link  { min-width: III(120); height: 100%; min-height: III(32); padding: III(7) III(11); border: $e10 solid #EAEBEC; border-bottom-color: $tp; background: #F7F7F8; }
.m-mdi .link.root:before  { content: "home"; @include setSymbolVariationSettings(1); color: var(--l-color-point); }
.m-mdi .link.list:before  { content: "menu"; }
.m-mdi .link.close-all:before  { content: "tab_close"; }
.m-mdi .button.close  { position: absolute; top: 50%; right: III(12); @include inc-translate(0); color: #AEB0B6; }
.m-mdi .button.close:before  { content: "close"; }

// .m-mdi .link  { transition-duration: 0.8s; background: red; }
// .m-mdi .link:not(:hover):not(:focus-within)  { background: Transparent; }
// .m-mdi .link:where( :hover, :focus-within )  { transition-duration: 0.15s; }

.m-mdi:after  { content: none; }

.m-mdi >.lists  { overflow: scroll hidden; margin-bottom: calc(var(--width-scrollbar) * -1); }
.m-mdi >.lists .link  { padding-right: III(11 + 16 + 4) }

.m-mdi >.controls  { box-shadow: 0 0 5px 5px var(--color-ground); }
.m-mdi >.controls .link.group  { display: flex; align-items: center; gap: III(3); min-width: 0; padding: 0; }
.m-mdi >.controls .link.group:before  { content: none; }
.m-mdi >.controls .link.group >.item  { position: relative; padding: 0 III(7); }
.m-mdi >.controls .link.group >.item:not(:first-child):before  { content: ""; position: absolute; left: III(1-3); top: 50%; @include inc-translate(0); width: III(1); height: III(10); background: #DBDCDF; }
.m-mdi >.controls .link.group .button:before  { font-size: $height-icon-70; }
.m-mdi >.controls .link.group .button.scroll.neg:before  { content: "keyboard_arrow_left"; }
.m-mdi >.controls .link.group .button.scroll.pos:before  { content: "keyboard_arrow_right"; }
















.o-grid-table  { font-family: inherit; font-feature-settings: inherit; font-weight: inherit; font-size: inherit; line-height: inherit; }
.o-grid-table  { clear: both; }
.o-grid-table table  { width: 100%; background: var(--color-ground); text-align: center; }
// .o-grid-table :where(table :not(tr >* >*))  { color: inherit; background-color: inherit; text-align: inherit; }
.o-grid-table tr >*  { height: var(--height-cell); padding: var(--margin-cell-block) III(11); border: 0 solid #EAEBEC; border-width: 0 $e10 $e10 0; }
// .o-grid-table tr:first-child:not(:first-of-type ~* >*) >*  { border-top-width: $e10; }
// .o-grid-table tr:first-child:not(thead ~* >*) >*  { border-top-width: $e10; }
.o-grid-table tr:first-child:not(:where(thead, tbody) ~* >*) >*  { border-top-width: $e10; }
.o-grid-table tr >:first-child  { border-left-width: $e10; }
.o-grid-table th  { font-weight: $bold-70; }
.o-grid-table thead  { font-size: $font-30; line-height: $line-30; color: #004C9D; background: #F7F7F8; }
.o-grid-table thead >tr:last-child >*  { border-bottom-color: #004C9D; }
.o-grid-table tbody >tr:nth-child(even)  { background: #F7F7F8; }

// .o-grid-table thead >* >:hover:not(:active)  { background-image: linear-gradient(to bottom, rgba(#334155, 0.08), rgba(#334155, 0.08)); }
.o-grid-table tbody >tr:hover:not(:active) >*  { background-image: linear-gradient(to bottom, rgba(#334155, 0.08), rgba(#334155, 0.08)); }

.o-grid-table tbody >tr:is(:nth-child(3), :nth-child(6))  { background-color: #D9F9DB; }
.o-grid-table tbody >tr:is(:nth-child(9), :nth-child(12))  { background-color: #D7EAFE; }
.o-grid-table tbody >tr >*  { min-width: 180px; }

.o-grid-table thead  { position: sticky; z-index: 4; top: 0; }
.o-grid-table tr >:nth-child(3)  { position: sticky; z-index: 3; left: 0; border-right-color: #004C9D; background-color: inherit; }





// .m-filter-form  { display: flex; justify-content: space-between; align-items: flex-end; gap: III(16); clear: both; padding: III(14); border: $e10 solid navy; background: Ivory; border-radius: $radius-40; }
// .m-filter-form >*  { flex: none; min-width: 0; }
// .m-filter-form .fieldset  { flex: 0 0 auto; overflow: hidden; }
// .m-filter-form .fieldset .table  { $l-border-spacing: III(8); border-spacing: 0 $l-border-spacing; width: 100%; margin: calc($l-border-spacing * -1) 0; }
// .m-filter-form .fieldset .table th,
//   .m-filter-form .fieldset .table td  { height: $height-form; padding: III(0) III(4); white-space: nowrap; }
// // .m-filter-form .fieldset .table th  { width: 0; }
// // .m-filter-form .fieldset .table td  { max-width: 0; white-space: nowrap; overflow: hidden; }

.m-filter-form  { display: flex; align-items: flex-end; gap: III(16); clear: both; padding: III(14); border: $e10 solid navy; background: Ivory; border-radius: $radius-40; }
.m-filter-form >*  { flex: 0 1 auto; min-width: 0; }
.m-filter-form .fieldset  { flex: 1 0 0; }



.m-data-form  { clear: both; }
.m-data-form table  { table-layout: fixed; width: 100%; background: var(--color-ground); }
.m-data-form tr >*  { height: var(--height-cell); padding: var(--margin-cell-block) III(7); border: 0 solid #EAEBEC; border-width: 0 0 $e10; }
.m-data-form tr:first-child:not(:where(thead, tbody) ~* >*) >*  { border-top-width: $e10; border-top-color: #0B68CB; }
.m-data-form tr >:first-child  { border-left-width: $e10; }
.m-data-form tr >:last-child  { border-right-width: $e10; }
.m-data-form th  { font-size: $font-30; line-height: $line-30; width: 20%; padding: III(1) III(11); color: #1E293B; background: #F1F5F9; }








.m-search-form  th,
.m-search-form  td  { border: 1px solid gray; }
