@charset "UTF-8";

:root  {
  // --font-family: var(--typo-base);
  // --color-test: #f00;
}

// $root-em-int: var(--root-em-int, 16);
$root-em-int: 16;
// $root-em: var(--root-em, 1rem / 16);

$bold-30: var(--bold-30);
$bold-40: var(--bold-40);
$bold-50: var(--bold-50);
$bold-70: var(--bold-70);

$font-30:           var(--font-30);
$font-50:           var(--font-50);
$font-70:           var(--font-70);
$font-90:           var(--font-90);

$line-abs-30:           var(--line-abs-30);
$line-abs-50:           var(--line-abs-50);
$line-abs-70:           var(--line-abs-70);
$line-abs-90:           var(--line-abs-90);

$line-30:           var(--line-30);
$line-50:           var(--line-50);
$line-70:           var(--line-70);
$line-90:           var(--line-90);

$tp:                      var(--tp);
$cc:                      var(--cc);
$ss:                      var(--ss);
$e10:                     var(--e10, 1px);
$e20:                     var(--e20, 2px);

$text-shadow:       var(--text-shadow);

$radius-abs-10:     var(--radius-abs-10);












$shadow-normal:     var(--shadow-normal);












$color-test: var(--color-test, #f00);

$radius-global-element:   var(--radius-global-element);

$height-global-form:   var(--height-global-form);

$height-object-symbol-m:      var(--height-object-symbol-m);
$height-object-symbol-l:      var(--height-object-symbol-l);
$height-object-symbol:        var(--height-object-symbol);


@function III($int)  {
  // @return #{($int / $root-em-int)}rem;
  @return calc(1rem / $root-em-int * $int);
  // @return calc($root-em * $int);
}

@mixin setTextStyle($size, $line: null, $wght: null)  {
  font-weight: #{$wght};
  font-size: $size;
  line-height: $line;
}

@mixin getGlobalHidden($inline: null)  {
  width: auto; height: 1px; overflow: hidden; margin: 0 0 -1px; padding: 0; border: 0; background: none; visibility: visible; white-space: inherit;

  @if ($inline == 1) {
    display: inline-block; width: 1px; margin-right: -1px; white-space: nowrap;
  } @else {
    display: block; position: absolute; clip: rect(0 0 0 0); clip: rect(0,0,0,0); clip-path: circle(0);
  }
}

:root  {
  // @include setTextStyle($font-l, $line-l, $wght: $bold-70);
  // @include setTextStyle($font-l, $wght: $bold-70);
  // @include setTextStyle(calc(var(--rem) * var(--font-16px)), calc(var(--rem) * var(--line-16px)));
  // margin-top: III(-1);

  // @debug III(-24);
}
