@charset "UTF-8";

@use "./vars" as *;
@use "./mixins" as *;


.p-component-overlay  { z-index: 100; animation-duration: 0s !important; }
.p-component-overlay-enter  { animation-duration: 0s !important; }

// html  { scroll-behavior: auto !important; }

// // .o-section:not(.o-section *):not(.o-grid >.column >*)  {
// .o-section:not(.o-section *):not(.home-section *):not(.o-grid >.column >*):not(.m-sections >*):not(.m-tabs >.m-tabs-panel >*)  {
//   outline: thick solid Red;
// }
// .o-grid:where(.o-grid *):where(.dom-wrapper.type-proto *) {
//   outline: thick solid Blue;
// }
