@charset "UTF-8";

@use "./vars" as *;
@use "./mixins" as *;


// _parcial
// .x-selector  {  }

.x-app-header  {
  text-align: center;

  .primary  { @include font(70, 800); font-family: var(--typo-header); }

  .secondary  { @include font(50, 700); }

  .approve  {
    display: flex;
    gap: calc($mg-section-40 * 2);

    &:where(* +*)  {
      margin-block-start: $mg-section-70;
    }

    >.column  {
      flex: 12;
    }
  }
}

.x-icon-card  {
  @include font(70);

  .o-tabular >* >.data  { text-align: right; text-align: end; }

  .label  {
    display: flex;
    align-items: center;
    gap: $gap-element-50;
    color: var(--cl-key1-70);

    .o-sym  { color: var(--cl-key1-50); }
  }

  .value  {
    font-weight: $bold-700;
    color: var(--cl-point-orange);
  }

  &:hover:where(.g-cursor-pointer)  {
    border-color: var(--cl-key1-50);
  }

  &:where(.-selected)  {
    background-color: var(--cl-key1-70);

    .label  {
      color: var(--cl-text-00);

      .o-sym  { color: var(--cl-text-00); }
    }
  }
}

.x-application-card  {
  --bw: #{$e10};
  --pdi: #{$gap-element-80};
  --pdb: #{$gap-element-80};

  line-height: calc(18 / 12);
  padding-inline: calc(var(--pdi) - var(--bw));
  padding-block: calc(var(--pdb) - var(--bw));
  border: var(--bw) solid var(--cl-edge-50);
  border-radius: $br-50;
  white-space: normal;

  display: flex;
  flex-direction: column;

  >*  { min-height: 0; }

  >.main  {
    flex: 1;
    display: flex;
    flex-direction: column;

    >*  { min-height: 0; }

    .caption  {
      margin-bottom: $gap-element-70;

      .category  { @include font(50, $lh: 0); color: var(--cl-key1-50); }
      .subject  { @include font(70, 700, 0); font-family: var(--typo-header); color: var(--cl-text-70); }
    }

    .summary  {
      @include font(60, $lh: 0);
      flex: 1;
    }

    .aside  {
      color: var(--cl-text-40);

      &:where(* +*)  {
        margin-top: $gap-element-70;
      }
    }
  }

  >.footer  {
    &:where(* +*)  {
      margin-top: $gap-element-70;
    }

    .m-binds  {
      >.group  {
        justify-content: center;

        >*  {
          flex: 1;
          height: px(var(--ht-form-70));
        }
      }
    }
  }
}

.x-report-cloud-process  { padding: $mg-section-40; }
