@charset "UTF-8";

@use "./vars" as *;
@use "./mixins" as *;


@property --cl-scrollbar-hidden-track  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

@property --cl-scrollbar-hidden-thumb  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

@property --cl-scrollbar-hidden-thumb-edge  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

@property --br  {
  syntax: '<length-percentage>+';
  inherits: false;
  initial-value: 0px;
}

@property --brss  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --brse  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --bree  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --bres  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --bw  {
  syntax: '<length-percentage>+';
  inherits: false;
  initial-value: 0px;
}

@property --bwis  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --bwbs  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --bwie  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --bwbe  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --pdi  {
  syntax: '<length-percentage>+';
  inherits: false;
  initial-value: 0px;
}

@property --pdb  {
  syntax: '<length-percentage>+';
  inherits: false;
  initial-value: 0px;
}

@property --pdis  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --pdbs  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --pdie  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --pdbe  {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0px;
}

@property --mgi  {
  syntax: '<length-percentage>+';
  inherits: false;
  initial-value: 0px;
}

@property --mgb  {
  syntax: '<length-percentage>+';
  inherits: false;
  initial-value: 0px;
}

@property --mgis  {
  syntax: '<length-percentage> | auto';
  inherits: false;
  initial-value: 0px;
}

@property --mgbs  {
  syntax: '<length-percentage> | auto';
  inherits: false;
  initial-value: 0px;
}

@property --mgie  {
  syntax: '<length-percentage> | auto';
  inherits: false;
  initial-value: 0px;
}

@property --mgbe  {
  syntax: '<length-percentage> | auto';
  inherits: false;
  initial-value: 0px;
}


/** Box Models
 ------------- */

// body :where(:not(tr:is([border] >* >*, [cellpadding] >* >*) >*))  {
//   padding-inline: var(--pdi);
//   padding-block: var(--pdb);
//   border: 0 solid;
//   border-width: var(--bw);
//   border-color: var(--cl-edge-50, currentColor);
//   border-radius: var(--brss) var(--brse) var(--bree) var(--bres);
// }


html  {
  --typo-serif-app:     '';
  --typo-mono-app:      'wf-D2Coding', 'D2Coding';
  // --typo-sans-app:      'wf-Pretendard', 'Pretendard';

  --typo-brand-res:     '원신한', 'OneShinhan', 'OneShinhan Light', 'OneShinhan Medium', 'OneShinhan ExtraBold';
  --typo-brand-700:     'OneShinhan Medium';
  --typo-brand-400:     'OneShinhan Light';
  // --typo-brand-body:    var(--typo-brand-400, '');


  --breakpoint-min:                 320;
  --breakpoint-max:                 1280;
  --breakpoint-max:                 1272;


  --br-scrollbar-track:             2px;
  --cl-scrollbar-track:             rgba(0,0,0, 0.05);
  --cl-scrollbar-track:             Transparent;
  --cl-scrollbar-track-edge:        Transparent;
  --cl-scrollbar-corner-edge:       Transparent;
  --cl-scrollbar-thumb:             rgba(0,0,0, 0.3);
  --cl-scrollbar-thumb-hover:       rgba(0,0,0, 0.4);
  --cl-scrollbar-thumb-active:      rgba(0,0,0, 0.5);
  --cl-scrollbar-thumb-edge:        rgba(255,255,255, 0.3);

  --cl-theme-key1:               #303060;
  --cl-theme-key1:               #2c3c4c;

  --mg-scrollbar:                   calc(var(--px, 1px) * 3);
  --wd-scrollbar:                   calc(var(--px, 1px) * 6 + var(--mg-scrollbar) * 2);


  --filter-root-contrast:           0.96;
  --filter-root-brightness:         0.96;
  // --filter-root:                    contrast(var(--filter-root-contrast, 1)) brightness(var(--filter-root-brightness, 1));


  --mgb-pop:                 20;
  --mgi-pop:                24;

  --ht-pop-header:                46;


  --mgb-dom:                20;
  --mgi-dom:               32;

  --ht-dom-header:               64;
  --ht-dom-footer:               0;
  --wd-dom-nav:                  192;

  --sp-dom-header:               var(--wd-scrollbar);


  /* @supports (font-variation-settings: 'wght' 700) {
    --typo-sans-app:      'wf-Pretendard-Var', 'Pretendard Variable', 'wf-Pretendard', 'Pretendard';
  } */

  @media
    screen and (color-gamut: rec2020),
    screen and (color-gamut: p3)  {
      --filter-root: none;
    }
}


/** Scrollbars
 ------------- */

:where(html, body, textarea, [role="listbox"], [contenteditable]:not([contenteditable~="false"]), .c-scrollbar, .div-center, .role-localnav, .role-subnav .navbar, .m-mdiist .tab-wrapper >.lists, [class^="ant-table"])::-webkit-resizer  { image-rendering: pixelated; background: var(--obj-sym-resizer-scrollable) 0 /100%; }
:where(html, body, textarea, [role="listbox"], [contenteditable]:not([contenteditable~="false"]), .c-scrollbar, .div-center, .role-localnav, .role-subnav .navbar, .m-mdiist .tab-wrapper >.lists, [class^="ant-table"])::-webkit-scrollbar  { width: var(--wd-scrollbar, 12px); height: var(--wd-scrollbar, 12px); }
:where(html, body, textarea, [role="listbox"], [contenteditable]:not([contenteditable~="false"]), .c-scrollbar, .div-center, .role-localnav, .role-subnav .navbar, .m-mdiist .tab-wrapper >.lists, [class^="ant-table"])::-webkit-scrollbar-corner  { background-color: var(--cl-scrollbar-track, rgba(0,0,0, 0.05)); outline: 1px solid var(--cl-scrollbar-corner-edge, rgba(255,255,255, 0.05)); border-radius: 2px; }
:where(html, body, textarea, [role="listbox"], [contenteditable]:not([contenteditable~="false"]), .c-scrollbar, .div-center, .role-localnav, .role-subnav .navbar, .m-mdiist .tab-wrapper >.lists, [class^="ant-table"])::-webkit-scrollbar-track  { background-color: var(--cl-scrollbar-track, rgba(0,0,0, 0.05)); border: 1px solid; border-color: var(--cl-scrollbar-track-edge, Transparent); border-radius: var(--br-scrollbar-track, 2px); will-change: background-color; }
:where(html, body, textarea, [role="listbox"], [contenteditable]:not([contenteditable~="false"]), .c-scrollbar, .div-center, .role-localnav, .role-subnav .navbar, .m-mdiist .tab-wrapper >.lists, [class^="ant-table"])::-webkit-scrollbar-thumb  { min-width: 24px; min-height: 24px; border: var(--mg-scrollbar, 3px) solid Transparent; background-clip: padding-box; background-color: var(--cl-scrollbar-thumb, rgba(0,0,0, 0.3)); outline: 1px solid var(--cl-scrollbar-thumb-edge, rgba(255,255,255, 0.3)); outline-offset: calc(-1 * var(--mg-scrollbar, 3px)); border-radius: var(--wd-scrollbar, 12px); will-change: background-color, outline-color; }
:where(html, body, textarea, [role="listbox"], [contenteditable]:not([contenteditable~="false"]), .c-scrollbar, .div-center, .role-localnav, .role-subnav .navbar, .m-mdiist .tab-wrapper >.lists, [class^="ant-table"])::-webkit-scrollbar-thumb:hover  { background-color: var(--cl-scrollbar-thumb-hover, rgba(0,0,0, 0.4)); outline-color: rgba(255,255,255, 0.4); }
:where(html, body, textarea, [role="listbox"], [contenteditable]:not([contenteditable~="false"]), .c-scrollbar, .div-center, .role-localnav, .role-subnav .navbar, .m-mdiist .tab-wrapper >.lists, [class^="ant-table"])::-webkit-scrollbar-thumb:active  { background-color: var(--cl-scrollbar-thumb-active, rgba(0,0,0, 0.5)); outline-color: rgba(255,255,255, 0.5); }

:where(.scroll-gutter-stable)  { transition: 0.8s; transition-property: --cl-scrollbar-hidden-track, --cl-scrollbar-hidden-thumb, --cl-scrollbar-hidden-thumb-edge; }
:where(.scroll-gutter-stable):hover,
  :where(.scroll-gutter-stable):focus-within  { --cl-scrollbar-hidden-track: var(--cl-scrollbar-track); --cl-scrollbar-hidden-thumb: var(--cl-scrollbar-thumb); --cl-scrollbar-hidden-thumb-edge: var(--cl-scrollbar-thumb-edge); transition-duration: 0.15s; }
:where(.scroll-gutter-stable)::-webkit-scrollbar-track  { background-color: var(--cl-scrollbar-hidden-track); }
:where(.scroll-gutter-stable)::-webkit-scrollbar-thumb:not(:hover):not(:active)  { background-color: var(--cl-scrollbar-hidden-thumb); outline-color: var(--cl-scrollbar-hidden-thumb-edge, Transparent); }


// body :where(:not(:has([class|="role"]), [class|="role"], :has(.div-center), .div-center))  {
//   @include inc-scrollbar-width(2, 4);
// }
.role-subnav,
  textarea  {
    @include inc-scrollbar-width(2, 4);
  }
.role-localnav  {
  @include inc-scrollbar-width(3, 4);
}
[class^="ant-table"],
  .table-wrapper:where(.o-gridtable *)  {
    @include inc-scrollbar-width(2, 6);
    --cl-scrollbar-track: rgba(240,240,240, 0.52);

    // overscroll-behavior: contain;
  }

// *  { scroll-behavior: inherit; }
// html  { overflow: auto; scroll-behavior: smooth; scrollbar-gutter: stable both-edges; scrollbar-gutter: stable; scrollbar-width: thin; scrollbar-color: var(--cl-scrollbar-thumb) var(--cl-scrollbar-track); overscroll-behavior: auto none; }
html  { overflow: auto; scroll-behavior: smooth; }
html  { scroll-behavior: auto; overscroll-behavior: none; }
@media
  screen and (pointer: coarse) and (hover: none)  {
    // *  { outline: 1px solid Red; }
    html  { overscroll-behavior: auto; }
  }


/** Layouts
 ---------- */

html  {
  font-size: 100%; font-size: calc(16em / 16); font-size: var(--root-em-base, calc(16em / 16));
  accent-color: var(--cl-key1-70, #0078d7);
  filter: var(--filter-root, none);
}
body  {
  font-family: var(--typo-base);
  font-feature-settings: var(--text-feature, normal);
  font-optical-sizing: auto;
  font-weight: var(--bold-400);
  font-size: calc(var(--text-size));
  line-height: calc(var(--text-height));
  color: var(--cl-text-50);
  background: var(--cl-surface, WhiteSmoke);
  accent-color: var(--accent, DodgerBlue);
  word-spacing: var(--word-spacing);
  letter-spacing: var(--text-spacing);
}
/* @media
  not screen and (max-width: 1920px)  {
    html  { font-size: var(--root-em-base, calc(10em / 16)); font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); }
  } */
/* html  { font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); } */


/** Sectioning-Area */
:where(body >*)  { background-color: inherit; }
[class|="dom"]  { background-color: inherit; }
.roles:where([class|="dom"]:not(.dom-container) >*)  { background-color: var(--cl-ground); }

[class|="dom"]  { /* --herit-wd-scrollbar: var(--wd-scrollbar); */ display: flex; flex-direction: column; min-width: 0; min-height: 0; }
.roles:where([class|="dom"] >*)  { flex: 1; display: flex; flex-direction: column; min-height: 0; }
[class|="role"]  { flex: none; display: flex; flex-direction: column; min-height: 0; }
.g-overlay:where([class|="dom"] >*)  { min-height: 0; opacity: 0.001; }

.dom-wrapper  { position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%; }


/** Skip Navigation */
.role-skip  { position: absolute; z-index: 99; left: 0; top: 0; width: 100%; }
.role-skip *  { position: absolute; width: 100%; margin: 0; padding: 0; height: 0; }
.role-skip a  { display: block; z-index: 1; left: -1px; width: 1px; height: 1px; overflow: hidden; text-decoration: none; }
.role-skip a:before  { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.role-skip a strong  { position: static; }
.role-skip a strong:before  { content: "» "; }
.role-skip a[id]  { text-align: center; font-weight: var(--bold-700, 700); font-size: 16px; font-family: 'Tahoma', 'Geneva', 'Dotum', 'AppleGothic', sans-serif; font-family: inherit; }
.role-skip a[id]:focus,
  .role-skip a[id]:active  { left: 0; top: 0; padding: 0.5em 0; width: 100%; height: auto; color: #ffffff; background: #404040; background-color: var(--cl-point-50, var(--cl-key1-50, #404040)); }
.role-skip .o-ogp *  { width: auto; }


/** Layout */
.dom-popup  { display: block; position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%; }
.dom-wrapper  { display: grid; grid-template-columns: auto 200px 800px auto; grid-template-rows: minmax($ht-dom-header, auto) 1fr minmax($ht-dom-footer, auto); }
.dom-wrapper  { grid-template-columns: 0 18.75% 81.25% 0; grid-template-columns: 0 minmax(px(240), px(360)) auto 0; }
.dom-header  { position: relative; grid-row: 1 /2; grid-column: 1 /span 5; }
.dom-nav  { position: relative; grid-row: 2 /3; grid-column: 2 /3; }
.dom-container  { grid-row: 2 /3; grid-column: 3 /4; }
.dom-aside  { position: relative; grid-row: 2 /3; grid-column: 4 /5; }
.dom-footer  { position: relative; grid-row: 3 /4; grid-column: 1 /span 5; }

.dom-wrapper  { height: 100%; }


/** Header */
.dom-header  {
  >.roles  {
    display: flex;
    flex-direction: row;
    background: #e4e8ec;
  }
}

.role-banner  {
  width: px(var(--wd-dom-nav));
  width: px(var(--wd-dom-nav-var));

  .div-branding  {
    .system  {
      @include font(70, 800);
      font-family: var(--typo-header);
      display: flex;
      align-items: center;
      color: var(--cl-theme-key1);

      >*  {
        flex: none;
        display: flex;
        align-items: center;
        min-width: 0;
      }

      .logo  {
        padding: var(--pd-dom-header-logo-var, 0px) 0 0 var(--pd-dom-header-logo-var, 0px);
        width: px(64);
      }

      .name  {
        flex-direction: column;
        align-items: normal;

        .root  {
          @include font(40);
        }
      }
    }
  }
}

.role-header-util  {
  --brss: 10px;
  --brse: 10px;
  --pdi: #{px(var(--mgi-dom))};

  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: $gap-element-50 $gap-element-70;
  margin: var(--sp-dom-header) var(--sp-dom-header) 0 var(--sp-dom-header-var, 0px);
  padding-inline: var(--pdi);
  padding-inline-start: calc(var(--pdi) - var(--sp-dom-header-var, 0px));
  padding-inline-end: calc(var(--pdi) - var(--sp-dom-header));
  color: var(--cl-text-00);
  background: var(--cl-theme-key1);
  border-radius: var(--brss, 0) var(--brse, 0) var(--bree, 0) var(--bres, 0);

  >:not(:empty)  { flex: none; display: flex; align-items: center; gap: inherit; min-height: $ht-form-50; min-width: 0; }

  >.prime  { flex: 0 1  auto; min-width: 0; margin-right: auto; }

  .div-menu-search  {
    .m-field  {
      >.header  {
        @include getGlobalHidden();
      }
    }

    .d-form  {
      --ant-color-border: #{rgba(#CBD5E1, 0.1)};
      color: white;
      background: rgba(255,255,255, 0.1);

      ::placeholder,
      .ant-select-placeholder  {
        color: rgba(255,255,255, 0.4);
      }
    }
  }

  .div-account  {
    display: flex;
    align-items: center;

    dl  {
      display: flex;
      align-items: center;
      gap: px(12);
      position: relative;

      >dt  {
        @include getGlobalHidden();
      }
    }

    .user  {
      display: flex; align-items: center;

      >*  {
        &:where(:not(:empty, .pos, .job:where(.branch +*))):before  { content: ""; display: inline-block; width: $e10; height: calc(1em - 4px); margin-inline: 12px; background: currentColor; opacity: 0.4; }

        &:where(:first-child):before  { content: none; }
      }

      .pos:where(.name +*)  {
        font-size: px(var(--font-30-int));

        &:where(:not(:empty)):before  { content: var(--utf-nbsp); }
      }

      .branch  {
        display: inline-flex;
        align-items: center;
      }

      .job  {
        &:where(.branch +*)  {
          &:where(:not(:empty)):before  { content: "("; }
          &:where(:not(:empty)):after  { content: ")"; }
        }
      }
    }
  }
}


/** Global Navigation */
.dom-wrapper  { --wd-dom-nav-var: var(--wd-dom-nav); --duration-nav-toggle: 0.3s; grid-template-columns: 0 px(var(--wd-dom-nav-var)) minmax(calc(var(--px) * var(--breakpoint-max) - px(var(--wd-dom-nav-var))), auto) 0 0; transition: grid-template-columns var(--duration-nav-toggle) var(--timing-func-ease-faster); }/* ### */
.dom-wrapper:has(.role-nav-core .menu-toggle :checked)  { --wd-dom-nav-var: 0; --sp-dom-header-var: var(--sp-dom-header); --pd-dom-header-logo-var: #{px(10)}; }
.dom-nav  {
  position: relative;
  border-right: $e10 solid var(--cl-edge-50);

  .role-nav-core  {
    .div-control  {
      .menu-toggle  {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.role-localnav  {
  @include font(60, 700);

  // --herit-wd-scrollbar: var(--wd-scrollbar);

  flex: 1 0 0;
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  color: var(--cl-text-00);
  background: var(--cl-theme-key1);

  >*  {
    min-width: calc(px(var(--wd-dom-nav)) - $e10 - var(--wd-scrollbar));
  }

  .link  {
    // --lh: 1lh;
    --box: var(--lh, 1lh);

    --pdi: #{px(10)};
    --pdb: calc(var(--box) / 2);

    display: flex;
    align-items: center;
    box-sizing: content-box;
    min-height: calc((var(--box) * 2));
    padding-inline: var(--pdi);
    padding-block: var(--pdb);
    border-bottom: #{$e10} solid clmix(var(--cl-edge-50), 0.3);
  }

  .navbar  {  }

  // &:has(.link:where(.-hover):hover)  {
  //   +:where(.role-subnav)  {
  //     --pdis: calc(var(--wd-scrollbar) + 2px);
  //     width: max-content;
  //     padding-inline-start: var(--pdis);
  //   }
  // }
}

.role-subnav  {
  --brse: #{px(var(--br-50))};
  --bree: #{px(var(--br-50))};
  --pdis: calc(var(--wd-scrollbar) + 2px);

  display: flex;
  flex-direction: row;
  position: absolute;
  left: 100%;
  transform: translateX(calc(-1 * var(--pdis)));
  height: 100%;
  width: max-content;
  overflow: hidden;
  padding-inline-start: var(--pdis);
  color: var(--cl-text-70);
  border-radius: var(--brss, 0) var(--brse, 0) var(--bree, 0) var(--bres, 0);
  box-shadow: $dropshadow-70;

  z-index: 30;

  &:where(.-hover):not(:hover)  {
    --pdis: 0px;
    width: 0;
  }

  .link  {
    // --lh: 1lh;
    --box: var(--lh, 1lh);

    --pdi: #{px(10)};
    --pdb: calc(var(--box) / 2);

    display: flex;
    align-items: center;
    box-sizing: content-box;
    min-height: calc((var(--box) * 2));
    padding-inline: var(--pdi);
    padding-block: var(--pdb);
    border-bottom: #{$e10} solid clmix(var(--cl-edge-50), 0.3);
  }

  .navbar  {
    --pdi: #{px(12)};

    height: 100%;
    overflow: auto;
    overscroll-behavior: contain;
    background: var(--cl-ground);
  }

  .div-cascade  {
    flex: none;
    min-width: px(var(--wd-dom-nav));
    min-width: px(278);
    width: max-content;
    max-width: calc(var(--vi) * 50 - px(var(--wd-dom-nav, 0)));

    +:where(.div-cascade)  {
      --pdis: calc(var(--wd-scrollbar) + #{px(12)} + 2px);

      overflow: hidden;
      margin-left: calc(-1 * var(--pdis));
      padding-inline-start: var(--pdis);

      &:where(.-hover):not(:hover)  {
        --pdis: 0px;
        width: 0;
      }
    }

    // &:has(.link:where(.-hover):hover)  {
    //   +:where(.div-cascade)  {
    //     --pdis: calc(var(--wd-scrollbar) + #{px(12)} + 2px);
    //     width: max-content;
    //   }
    // }
  }

  .div-local  {
    padding-block-end: $mg-section-50;
  }
}









.dom-aside  { display: none; background: Silver; }
.dom-footer  { display: none; background: Silver; }













/** Container */
.dom-container  {
  background: var(--cl-ground);
}

.role-main-core  {
  .div-tablist  {
    --pdi: #{px(var(--mgi-dom))};
    --pdb: #{px(12)} 0;

    position: relative;
    padding-inline: var(--pdi);
    padding-block: var(--pdb);

    &:before  {
      content: "";
      position: absolute;
      z-index: 1;
      inset: auto 0 0 0;
      border-bottom: $e10 solid var(--cl-edge-30);
    }
  }
}

.role-main  {
  flex: 1 0 auto;
  flex-direction: row;

  >.nodes {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    // min-height: 100%;
  }

  :where(.div-center)  {
    flex: 1 0 auto;
  }

  .div-header  {
    --pdi: #{px(var(--mgi-dom))};
    --pdb: #{px(var(--mg-section-50))};

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: $gap-element-90;
    box-sizing: content-box;
    min-height: px(var(--ht-form));
    padding-inline: var(--pdi);
    padding-block: var(--pdb);
    border-bottom: $e10 solid var(--cl-edge-30);
    background: var(--cl-ground-50);

    >*  {
      flex: none;
      min-width: 0;
    }

    >.prime  {
      display: flex;
      align-items: center;
      gap: px(var(--gap-element-50));

      &:where(:has(.o-heading))  {
        flex-direction: column;
        align-items: normal;
      }

      .m-title  {
        display: flex;
        align-items: center;
        gap: px(var(--gap-element-50));
      }
    }

    >.extra  {
      flex: 1 0 auto;
    }

    .favorite-util  {
      .o-sym:where(.d-button[title="즐겨찾기 추가/해제"] *)  {
        --fvs-fill: 1;
        // --fs: #{px(20)};

        color: var(--cl-icon-30);
      }

      .o-sym:where(.d-button[title="즐겨찾기 추가/해제"].-checked *)  {
        color: #fdd33a;
      }

      &:where(.o-heading ~*)  {
        order: -1;
      }
    }
  }
}


.div-center  {
  // --herit-wd-scrollbar: var(--wd-scrollbar);
  --pdi: #{px(var(--mgi-dom))};
  --pdb: #{px(var(--mgb-dom))};
  --pdie: calc(var(--pdi) - var(--wd-scrollbar));

  flex-basis: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto scroll;
  // overscroll-behavior: contain;
  padding-inline: var(--pdi);
  padding-block: var(--pdb);
  padding-inline-end: var(--pdie);

  // :where(:has(.m-grid))  { flex: 1 0 0; display: flex; flex-direction: column; }

  // .m-grid  {
  //   flex: 1 0 0;
  // }

  &:where(.ant-modal-body >*)  {
    --pdi: #{px(var(--mgi-pop))};
    --pdb: #{px(12)};

    overflow: visible;
    margin: 0 calc(-1 * var(--pdi));
    padding-inline: var(--pdi);
    padding-block-start: px(4);
  }

  :where(.m-tabs._primary)  {
    flex: 1 0 auto;
  }

  :where(.m-grid._primary)  {
    flex: 1 0 auto;
  }
}


.m-tabs  {
  display: flex;
  flex-direction: column;

  :where(.ant-tabs-content-holder)  {
    display: flex;
    flex-direction: column;

    &:where(.m-tabs._primary *)  {
      flex: 1 0 auto;
    }
  }

  :where(.ant-tabs-content)  {
    display: flex;
    flex-direction: row;

    &:where(.m-tabs._primary *)  {
      flex: 1 0 auto;
    }
  }

  :where(.ant-tabs-tabpane)  {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;

    // &:where(.m-tabs._primary *)  {
    //   flex: 1 0 auto;
    // }
  }
}


.m-grid  {
  --gap-grid: #{px(var(--mg-section-70))};

  display: flex;
  flex-direction: row;
  margin: 0 calc(-1 * var(--gap-grid) / 2);

  >.column  {
    --pdi: calc(var(--gap-grid) / 2);

    flex: 12;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding-inline: var(--pdi);

    &:where(* +*)  {
      flex: 12;
    }

    &:where(
      [style^="width:"], [style*="/width:"], [style*=";width:"], [style*=" width:"],
      [class^="wd-"], [class*=" wd-"]
    )  { flex: 0 1 auto; }
  }

  :where(.m-section._primary)  {
    flex: 1 0 auto;
  }
}


.m-section  {
  display: flex;
  flex-direction: column;

  >*  { margin-bottom: $gap-element-50; }
  >.main  { margin-bottom: 0; }
  >.main ~*  { margin-top: $gap-element-50; margin-bottom: 0; }

  >.main  {
    display: flex;
    flex-direction: column;
  }

  >.main:where(.m-section._primary >*)  { flex: 1 0 auto; }
}


/* Section Footer */
// .m-footer:where(* +:not(.m-section >*))  { margin-top: $gap-element-30; }
// .m-footer:where(.o-dataform.style-rawer >*)  { margin-top: $gap-element-90; }


/* Section Header */
// .m-header  { display: flex; align-items: center; justify-content: flex-end; gap: $gap-element-70; }
// .m-header >*  { flex: none; min-width: 0; @include inc-ellipsis(); }
// .m-header >.o-heading  { flex: 0 1 auto; min-height: $ht-form-50; }
// .m-header >.m-binds  { gap: inherit; }
// .m-header:not(.board-container >*) >:where(.o-heading, .o-helper, .justify-start):not(:has(~.o-heading, ~.o-helper, ~.justify-start))  { margin-right: auto; }

// .m-header:where(.m-section >*)  { min-height: $ht-form-50; }

.m-header  {
  --gapc: #{px(var(--gap-element-70))};
  --gapr: #{px(var(--gap-element-50))};

  display: flex; align-items: center; justify-content: flex-end; gap: var(--gapr) var(--gapc);

  >:not(:empty)  { flex: none; display: flex; align-items: center; gap: inherit; min-height: $ht-form-50; min-width: 0; }

  >.prime  { flex: 0 1  auto; min-width: 0; margin-right: auto; }

  // .o-heading  { @include inc-ellipsis(1); flex: 0 1 auto; min-width: 0; }

  .m-binds  { gap: inherit; }

  .d-button:where(.type-symbol:where(.sym-help)):where(.o-heading +.m-inline-binds *)  { left: calc(-1 * var(--gapc)); }
}









/* Margin */
// :has(>.m-section) >*  { margin-bottom: $mg-section-50; }
// :has(>.m-section) >.m-section  { margin-bottom: 0; }
// :has(>.m-section) >.m-section ~*  { margin-top: $mg-section-50; margin-bottom: 0; }

// :has(>.m-grid) >*  { margin-bottom: $mg-section-50; }
// :has(>.m-grid) >.m-grid  { margin-bottom: 0; }
// :has(>.m-grid) >.m-grid ~*  { margin-top: $mg-section-50; margin-bottom: 0; }

// :has(>.m-tabs) >*  { margin-bottom: $mg-section-50; }
// :has(>.m-tabs) >.m-tabs  { margin-bottom: 0; }
// :has(>.m-tabs) >.m-tabs ~*  { margin-top: $mg-section-50; margin-bottom: 0; }

:not(:last-child):where(.div-center >*)  { margin-bottom: $mg-section-50; }
:not(:last-child):where(.ant-tabs-tabpane >*)  { margin-bottom: $mg-section-50; }
:not(:last-child):where(.m-grid >.column >*)  { margin-bottom: $mg-section-50; }
:not(:last-child):where(.m-section >.main >.m-section)  { margin-bottom: $mg-section-50; }



// .dom-container .div-header  { position: sticky; top: 0; }
// .dom-container .div-footer  { position: sticky; bottom: 0; margin: $mg-section-50 0 calc(-1 * $mgb-dom); background-color: var(--cl-ground); }
// .dom-container .div-footer .m-binds.type-end  { min-height: $ht-form-70; }
// .dom-container * ~.div-footer  { padding: $gap-element-70 0; border-top: $e10 solid var(--cl-edge-70); }
// .dom-container * ~.div-footer:before  { content: ""; position: absolute; left: px(-8); right: px(-8); height: $mg-section-50; background: var(--cl-ground); }
// .dom-container * ~.div-footer:before  { bottom: calc(100% + $e10); background: fnScrollShadow(); }


/* Z-Index */
:root  {
  --zx-init: 10;

  --zx-main-footer: (var(--zx-init) + 0);
  --zx-main-header: (var(--zx-main-footer) + 0);

  --zx-nav-control: (var(--zx-main-header) + 10);

  --zx-nav-depthnav: (var(--zx-nav-control) + 10);

  --zx-overlay-listbox: (var(--zx-nav-depthnav) - 5);
}

.role-main .div-footer  { z-index: calc(var(--zx-main-footer)); }
.role-main .div-header  { z-index: calc(var(--zx-main-header)); }

.role-nav-core .div-control  { z-index: calc(var(--zx-nav-control)); }

.role-depthnav  { z-index: calc(var(--zx-nav-depthnav)); }
