@charset "UTF-8";

@use "./vars" as *;
@use "./mixins" as *;


@property --cl-scrollbar-hidden-track  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

@property --cl-scrollbar-hidden-thumb  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}

@property --cl-scrollbar-hidden-thumb-edge  {
  syntax: '<color>';
  inherits: true;
  initial-value: Transparent;
}


/** Box Models
 ------------- */

// @layer LAY-base {
  @layer local-univ {

    :where(body :not(tr:is([border] >* >*, [cellpadding] >* >*) >*))  {
      // --htn: ;
      // --ht: ;
      // --htx: ;

      // --wdn: ;
      // --wd: ;
      // --wdx: ;

      // --gap: 0px;
      // --gapc: var(--gap);
      // --gapr: var(--gap);

      --br: 0px;
      --brs: var(--br);
      --bre: var(--br);
      --brss: var(--brs);
      --brse: var(--bre);
      --bree: var(--brs);
      --bres: var(--bre);

      --bw: 0px;
      --bwi: var(--bw);
      --bwb: var(--bw);
      --bwis: var(--bwi);
      --bwbs: var(--bwb);
      --bwie: var(--bwi);
      --bwbe: var(--bwb);

      --pd: 0px;
      --pdi: var(--pd);
      --pdb: var(--pd);
      --pdis: var(--pdi);
      --pdbs: var(--pdb);
      --pdie: var(--pdi);
      --pdbe: var(--pdb);

      --mg: 0px;
      --mgi: var(--mg);
      --mgb: var(--mg);
      --mgis: var(--mgi);
      --mgbs: var(--mgb);
      --mgie: var(--mgi);
      --mgbe: var(--mgb);

      // min-height: var(--htn);
      // height: var(--ht);
      // max-height: var(--htx);
      // min-width: var(--wdn);
      // width: var(--wd);
      // max-width: var(--wdx);
      margin: var(--mgbs) var(--mgie) var(--mgbe) var(--mgis);
      padding: var(--pdbs) var(--pdie) var(--pdbe) var(--pdis);
      border: 0 solid;
      border-width: var(--bwbs) var(--bwie) var(--bwbe) var(--bwis);
      border-color: var(--cl-edge-50, currentColor);
      border-radius: var(--brss) var(--brse) var(--bree) var(--bres);
    }
    // :before,  :after  { background-color: inherit; border-radius: inherit; }

  }
// }

html  {
  --typo-serif-app:     '';
  --typo-mono-app:      'wf-D2Coding', 'D2Coding';
  // --typo-sans-app:      'wf-Pretendard', 'Pretendard';

  --typo-brand-res:     '원신한', 'OneShinhan', 'OneShinhan Light', 'OneShinhan Medium', 'OneShinhan ExtraBold';
  --typo-brand-700:     'OneShinhan Medium';
  --typo-brand-400:     'OneShinhan Light';
  // --typo-brand-body:    var(--typo-brand-400, '');


  --breakpoint-min:                 320;
  --breakpoint-max:                 1280;
  --breakpoint-max:                 1272;


  --br-scrollbar-track:             2px;
  --cl-scrollbar-track:             rgba(0,0,0, 0.05);
  --cl-scrollbar-track:             Transparent;
  --cl-scrollbar-track-edge:        Transparent;
  --cl-scrollbar-corner-edge:       Transparent;
  --cl-scrollbar-thumb:             rgba(0,0,0, 0.3);
  --cl-scrollbar-thumb-hover:       rgba(0,0,0, 0.4);
  --cl-scrollbar-thumb-active:      rgba(0,0,0, 0.5);
  --cl-scrollbar-thumb-edge:        rgba(255,255,255, 0.3);

  --cl-theme-key1:               #303060;
  --cl-theme-key1:               #2c3c4c;

  --mg-scrollbar:                   calc(var(--px, 1px) * 3);
  --wd-scrollbar:                   calc(var(--px, 1px) * 6 + var(--mg-scrollbar) * 2);


  --filter-root-contrast:           0.96;
  --filter-root-brightness:         0.96;
  --filter-root:                    contrast(var(--filter-root-contrast, 1)) brightness(var(--filter-root-brightness, 1));


  --mgb-pop:                 20;
  --mgi-pop:                24;

  --ht-pop-header:                46;


  --mgb-dom:                20;
  --mgi-dom:               32;

  --ht-dom-header:               64;
  --ht-dom-footer:               0;
  --wd-dom-nav:                  192;
  --wd-dom-container:            1656;


  /* @supports (font-variation-settings: 'wght' 700) {
    --typo-sans-app:      'wf-Pretendard-Var', 'Pretendard Variable', 'wf-Pretendard', 'Pretendard';
  } */

  @media
    screen and (color-gamut: rec2020),
    screen and (color-gamut: p3)  {
      --filter-root: none;
    }
}


/** Scrollbars
 ------------- */

::-webkit-resizer  { image-rendering: pixelated; background: var(--obj-sym-resizer-scrollable) 0 /100%; }
::-webkit-scrollbar  { width: var(--wd-scrollbar, 12px); height: var(--wd-scrollbar, 12px); }
::-webkit-scrollbar-corner  { background-color: var(--cl-scrollbar-track, rgba(0,0,0, 0.05)); outline: 1px solid var(--cl-scrollbar-corner-edge, rgba(255,255,255, 0.05)); border-radius: 2px; }
::-webkit-scrollbar-track  { background-color: var(--cl-scrollbar-track, rgba(0,0,0, 0.05)); border: 1px solid; border-color: var(--cl-scrollbar-track-edge, Transparent); border-radius: var(--br-scrollbar-track, 2px); will-change: background-color; }
::-webkit-scrollbar-thumb  { min-width: 24px; min-height: 24px; border: var(--mg-scrollbar, 3px) solid Transparent; background-clip: padding-box; background-color: var(--cl-scrollbar-thumb, rgba(0,0,0, 0.3)); outline: 1px solid var(--cl-scrollbar-thumb-edge, rgba(255,255,255, 0.3)); outline-offset: calc(-1 * var(--mg-scrollbar, 3px)); border-radius: var(--wd-scrollbar, 12px); will-change: background-color, outline-color; }
::-webkit-scrollbar-thumb:hover  { background-color: var(--cl-scrollbar-thumb-hover, rgba(0,0,0, 0.4)); outline-color: rgba(255,255,255, 0.4); }
::-webkit-scrollbar-thumb:active  { background-color: var(--cl-scrollbar-thumb-active, rgba(0,0,0, 0.5)); outline-color: rgba(255,255,255, 0.5); }

.g-scroll-gutter-stable  { transition: 0.8s; transition-property: --cl-scrollbar-hidden-track, --cl-scrollbar-hidden-thumb, --cl-scrollbar-hidden-thumb-edge; }
.g-scroll-gutter-stable:hover,
  .g-scroll-gutter-stable:focus-within  { --cl-scrollbar-hidden-track: var(--cl-scrollbar-track); --cl-scrollbar-hidden-thumb: var(--cl-scrollbar-thumb); --cl-scrollbar-hidden-thumb-edge: var(--cl-scrollbar-thumb-edge); transition-duration: 0.15s; }
.g-scroll-gutter-stable::-webkit-scrollbar-track  { background-color: var(--cl-scrollbar-hidden-track); }
.g-scroll-gutter-stable::-webkit-scrollbar-thumb:not(:hover):not(:active)  { background-color: var(--cl-scrollbar-hidden-thumb); outline-color: var(--cl-scrollbar-hidden-thumb-edge, Transparent); }

// // .dom-wrapper >:not(.dom-container)  {
// //   @include inc-scrollbar-width(2, 4);
// // }

// .g-scroll-width-thin,
//   :has(>[role="listbox"]),
//   :has(> *>[role="listbox"]),
//   .m-grid  {
//     --cl-scrollbar-track: rgba(240,240,240, 0.52);
// }

// .g-scroll-width-thin,
//   :has(>[role="listbox"]),
//   :has(>* >[role="listbox"])  {
//     @include inc-scrollbar-width(2, 4);
//     --cl-scrollbar-track-edge: Transparent;

//   scroll-behavior: auto;
//   overscroll-behavior: contain;
// }

body :where(:not(:has([class|="role"]), [class|="role"], :has(.div-center), .div-center))  {
  @include inc-scrollbar-width(2, 4);
}
.role-localnav  {
  @include inc-scrollbar-width(3, 4);
}
[class^="ant-table"],
  .table-wrapper:where(.o-gridtable)  {
    @include inc-scrollbar-width(2, 6);
    --cl-scrollbar-track: rgba(240,240,240, 0.52);
  }

*  { scroll-behavior: inherit; }
html  { overflow: auto; scroll-behavior: smooth; /* scrollbar-gutter: stable both-edges; scrollbar-gutter: stable; scrollbar-width: thin; scrollbar-color: var(--cl-scrollbar-thumb) var(--cl-scrollbar-track); overscroll-behavior: auto none; */ }
html  { scroll-behavior: auto; }


/** Layouts
 ---------- */

html  {
  font-size: 100%; font-size: calc(16em / 16); font-size: var(--root-em-base, calc(16em / 16));
  accent-color: var(--cl-key1-70, #0078d7);
  filter: var(--filter-root, none);
}
body  {
  font-family: var(--typo-base);
  font-feature-settings: var(--text-feature, normal);
  font-optical-sizing: auto;
  font-weight: var(--bold-400);
  font-size: calc(var(--text-size));
  line-height: calc(var(--text-height));
  color: var(--cl-text-50);
  background: var(--cl-surface, WhiteSmoke);
  accent-color: var(--accent, DodgerBlue);
  word-spacing: var(--word-spacing);
  letter-spacing: var(--text-spacing);
}
/* @media
  not screen and (max-width: 1920px)  {
    html  { font-size: var(--root-em-base, calc(10em / 16)); font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); }
  } */
/* html  { font-size: calc(100vw * var(--root-em-int) / 1920); font-size: calc(100lvw * var(--root-em-int) / 1920); } */


/** Sectioning-Area */
:where(body >*)  { background-color: inherit; }
[class|="dom"]  { background-color: inherit; }
.roles:where([class|="dom"]:not(.dom-container) >*)  { background-color: var(--cl-ground); }

[class|="dom"]  { display: flex; flex-direction: column; min-width: 0; min-height: 0; }
.roles:where([class|="dom"] >*)  { flex: 1; display: flex; flex-direction: column; min-height: 0; }
[class|="role"]  { flex: none; display: flex; flex-direction: column; min-height: 0; }
.g-overlay:where([class|="dom"] >*)  { min-height: 0; opacity: 0.001; }

.dom-wrapper  { position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%; }


/** Skip Navigation */
.role-skip  { position: absolute; z-index: 99; left: 0; top: 0; width: 100%; }
.role-skip *  { position: absolute; width: 100%; margin: 0; padding: 0; height: 0; }
.role-skip a  { display: block; z-index: 1; left: -1px; width: 1px; height: 1px; overflow: hidden; text-decoration: none; }
.role-skip a:before  { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.role-skip a strong  { position: static; }
.role-skip a strong:before  { content: "» "; }
.role-skip a[id]  { text-align: center; font-weight: var(--bold-700, 700); font-size: 16px; font-family: 'Tahoma', 'Geneva', 'Dotum', 'AppleGothic', sans-serif; font-family: inherit; }
.role-skip a[id]:focus,
  .role-skip a[id]:active  { left: 0; top: 0; padding: 0.5em 0; width: 100%; height: auto; color: #ffffff; background: #404040; background-color: var(--cl-point-40, var(--cl-key1-40, #404040)); }
.role-skip .o-ogp *  { width: auto; }


/** Layout */
.dom-popup  { display: block; position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%; }
.dom-wrapper  { display: grid; grid-template-columns: auto 200px 800px auto; grid-template-rows: minmax($ht-dom-header, auto) 1fr minmax($ht-dom-footer, auto); }
.dom-wrapper  { grid-template-columns: 0 18.75% 81.25% 0; grid-template-columns: 0 minmax(px(240), px(360)) auto 0; }
.dom-header  { position: relative; grid-row: 1 /2; grid-column: 1 /span 5; }
.dom-nav  { position: relative; grid-row: 2 /3; grid-column: 2 /3; }
.dom-container  { grid-row: 2 /3; grid-column: 3 /4; }
.dom-aside  { position: relative; grid-row: 2 /3; grid-column: 4 /5; }
.dom-footer  { position: relative; grid-row: 3 /4; grid-column: 1 /span 5; }

.dom-wrapper  { height: 100%; }


/** Header */
.dom-header  {
  >.roles  {
    display: flex;
    flex-direction: row;
    background: #e4e8ec;
  }
}

.role-banner  {
  width: px(var(--wd-dom-nav));

  .div-branding  {
    .system  {
      @include font(70, 800);
      font-family: var(--typo-header);
      display: flex;
      align-items: center;
      color: var(--cl-theme-key1);

      >*  {
        flex: none;
        display: flex;
        align-items: center;
        min-width: 0;
      }

      .logo  {
        width: px(64);
      }

      .name  {
        flex-direction: column;
        align-items: normal;

        .root  {
          @include font(40);
        }
      }
    }
  }
}

.role-header-util  {
  --brss: 10px;
  --brse: 10px;
  --pdi: #{px(var(--mgi-dom))};
  --pdie: calc(var(--pdi) - var(--mgie));
  --mgbs: var(--wd-scrollbar);
  --mgie: var(--wd-scrollbar);

  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: $gap-element-50 $gap-element-70;
  color: var(--cl-text-00);
  background: var(--cl-theme-key1);

  >:not(:empty)  { flex: none; display: flex; align-items: center; gap: inherit; min-height: $ht-form-50; min-width: 0; }

  >.prime  { flex: 0 1  auto; min-width: 0; margin-right: auto; }

  .div-account  {
    display: flex;
    align-items: center;

    dl  {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}


/** Global Navigation */
.dom-wrapper  { --duration-nav-toggle: 0.3s; grid-template-columns: 0 px(var(--wd-dom-nav)) auto 0 0; transition: grid-template-columns var(--duration-nav-toggle) var(--timing-func-ease-faster); }/* ### */
.dom-wrapper:has(.role-nav-core .menu-toggle :checked)  { grid-template-columns: 0 0 auto 0 0; }
.dom-nav  {
  --bwie: #{$e10};

  position: relative;

  .role-nav-core  {
    .div-control  {
      .menu-toggle  {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.role-localnav  {
  @include font(60, 700);

  --herit-wd-scrollbar: var(--wd-scrollbar);

  flex: 1 0 0;
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  color: var(--cl-text-00);
  background: var(--cl-theme-key1);

  >*  {
    min-width: calc(px(var(--wd-dom-nav)) - $e10 - var(--herit-wd-scrollbar));
  }

  .link  {
    // --lh: 1lh;
    --box: var(--lh, 1lh);

    --bwbe: #{$e10};

    --pdi: #{px(10)};
    --pdb: calc(var(--box) / 2);

    display: flex;
    align-items: center;
    min-height: calc((var(--box) * 2) + var(--pdbs) + var(--pdbe) + var(--bwbs) + var(--bwbe));
    border-color: clmix(var(--cl-edge-50), 0.3);
  }

  .navbar  {  }

  &:has(.link:where(.-hover):hover)  {
    +:where(.role-subnav)  {
      --pdis: calc(var(--wd-scrollbar) + 2px);
      width: max-content;
    }
  }
}

.role-subnav  {
  --brse: #{px(var(--br-50))};
  --bree: #{px(var(--br-50))};
  --pdis: calc(var(--wd-scrollbar) + 2px);

  display: flex;
  flex-direction: row;
  position: absolute;
  left: 100%;
  transform: translateX(calc(-1 * var(--pdis)));
  height: 100%;
  width: max-content;
  overflow: hidden;
  color: var(--cl-text-70);
  box-shadow: $dropshadow-70;

  z-index: 30;

  &:where(.-hover):not(:hover)  {
    --pdis: 0px;
    width: 0;
  }

  .link  {
    // --lh: 1lh;
    --box: var(--lh, 1lh);

    --bwbe: #{$e10};

    --pdi: #{px(10)};
    --pdb: calc(var(--box) / 2);

    display: flex;
    align-items: center;
    min-height: calc((var(--box) * 2) + var(--pdbs) + var(--pdbe) + var(--bwbs) + var(--bwbe));
    border-color: clmix(var(--cl-edge-50), 0.3);
  }

  .navbar  {
    --pdi: #{px(12)};

    height: 100%;
    overflow: auto;
    overscroll-behavior: contain;
    background: var(--cl-ground);
  }

  .div-cascade  {
    flex: none;
    width: max-content;

    +:where(.div-cascade)  {
      --pdis: calc(var(--wd-scrollbar) + #{px(12)} + 2px);
      --mgis: calc(-1 * var(--pdis));

      overflow: hidden;

      &:where(.-hover):not(:hover)  {
        --pdis: 0px;
        width: 0;
      }
    }

    &:has(.link:where(.-hover):hover)  {
      +:where(.div-cascade)  {
        --pdis: calc(var(--wd-scrollbar) + #{px(12)} + 2px);
        width: max-content;
      }
    }
  }
}









.dom-aside  { display: none; background: Silver; }
.dom-footer  { display: none; background: Silver; }













/** Container */
.dom-container  {
  background: var(--cl-ground);
}

.role-main-core  {
  .div-tablist  {
    --pdi: #{px(var(--mgi-dom))};
    --pdbs: #{px(12)};

    position: relative;

    &:before  {
      content: "";
      position: absolute;
      z-index: 1;
      inset: auto 0 0 0;
      border-bottom: $e10 solid var(--cl-edge-30);
    }
  }
}

.role-main  {
  flex: 1 0 0;

  &:where(:has(>.nodes))  {
    flex-direction: row;
  }

  >:where(.nodes) {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
    // min-height: 100%;
  }

  :where(:has(.div-center))  {
    flex: 1 0 0; display: flex; flex-direction: column; background-color: inherit;
  }

  .div-center  {
    flex: 1 0 0;
  }

  .div-header  {
    --bwbe: #{$e10};

    --pdi: #{px(var(--mgi-dom))};
    --pdb: #{px(var(--mg-section-50))};

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: calc(px(32) + var(--pdbs) + var(--pdbe) + var(--bwbs) + var(--bwbe));
    border-color: var(--cl-edge-30);
    background: var(--cl-ground-50);

    >*  {
      flex: none;
      min-width: 0;
    }

    >.prime  {
      display: flex;
      align-items: center;
      gap: px(var(--gap-element-50));

      &:where(:has(.o-heading))  {
        flex-direction: column;
        align-items: normal;
      }

      .m-title  {
        display: flex;
        align-items: center;
        gap: px(var(--gap-element-50));
      }
    }

    .favorite-util  {
      .o-sym:where(.d-button[title="즐겨찾기 추가/해제"] *)  {
        --fvs-fill: 1;
        // --fs: #{px(20)};

        color: var(--cl-icon-30);
      }

      .o-sym:where(.d-button[title="즐겨찾기 추가/해제"].-checked *)  {
        color: #fdd33a;
      }

      &:where(.m-title:has(.o-heading) *)  {
        order: -1;
      }
    }
  }
}


.div-center  {
  --pdi: #{px(var(--mgi-dom))};
  --pdb: #{px(var(--mgb-dom))};
  --pdie: calc(var(--pdi) - var(--wd-scrollbar));
  --pdbe: var(--pdb);

  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: auto scroll;
  overscroll-behavior: contain;
  // scroll-padding-block-end: var(--pdbe);

  // :where(:has(.m-grid))  { flex: 1 0 0; display: flex; flex-direction: column; }

  // .m-grid  {
  //   flex: 1 0 0;
  // }

  :where(:has(.m-section >.main._primary))  { flex: 1 0 0; display: flex; flex-direction: column; }

  .m-section:where(:has(>.main._primary))  {
    flex: 1 0 0;
  }
}


.m-grid  {
  --gap-grid: #{px(var(--mg-section-70))};
  --mgi: calc(-1 * var(--gap-grid) / 2);

  display: flex;
  flex-direction: row;

  >.column  {
    --pdi: calc(var(--gap-grid) / 2);

    flex: calc(6 / 12 * 10);
    display: flex;
    flex-direction: column;
    min-width: 0;

    &:where(* +*)  {
      flex: calc(6 / 12 * 10);
    }
  }
}


.m-section  {
  display: flex;
  flex-direction: column;

  >*  { margin-bottom: $gap-element-50; }
  >.main  { margin-bottom: 0; }
  >.main ~*  { margin-top: $gap-element-50; margin-bottom: 0; }

  >.main  {
    display: flex;
    flex-direction: column;
  }

  >.main:where(._primary)  { flex: 1 0 0; }
}


/* Section Footer */
// .m-footer:where(* +:not(.m-section >*))  { margin-top: $gap-element-30; }
// .m-footer:where(.o-dataform.style-rawer >*)  { margin-top: $gap-element-90; }


/* Section Header */
// .m-header  { display: flex; align-items: center; justify-content: flex-end; gap: $gap-element-70; }
// .m-header >*  { flex: none; min-width: 0; @include inc-ellipsis(); }
// .m-header >.o-heading  { flex: 0 1 auto; min-height: $ht-form-50; }
// .m-header >.m-binds  { gap: inherit; }
// .m-header:not(.board-container >*) >:where(.o-heading, .o-helper, .justify-start):not(:has(~.o-heading, ~.o-helper, ~.justify-start))  { margin-right: auto; }

// .m-header:where(.m-section >*)  { min-height: $ht-form-50; }

.m-header  {
  display: flex; align-items: center; justify-content: flex-end; gap: $gap-element-50 $gap-element-70;

  >:not(:empty)  { flex: none; display: flex; align-items: center; gap: inherit; min-height: $ht-form-50; min-width: 0; }

  >.prime  { flex: 0 1  auto; min-width: 0; margin-right: auto; }

  // .o-heading  { @include inc-ellipsis(1); flex: 0 1 auto; min-width: 0; }

  .m-binds  { gap: inherit; }
}









/* Margin */
:has(>.m-section) >*  { margin-bottom: $mg-section-50; }
:has(>.m-section) >.m-section  { margin-bottom: 0; }
:has(>.m-section) >.m-section ~*  { margin-top: $mg-section-50; margin-bottom: 0; }

:has(>.m-grid) >*  { margin-bottom: $mg-section-50; }
:has(>.m-grid) >.m-grid  { margin-bottom: 0; }
:has(>.m-grid) >.m-grid ~*  { margin-top: $mg-section-50; margin-bottom: 0; }

:has(>.m-tabs) >*  { margin-bottom: $mg-section-50; }
:has(>.m-tabs) >.m-tabs  { margin-bottom: 0; }
:has(>.m-tabs) >.m-tabs ~*  { margin-top: $mg-section-50; margin-bottom: 0; }




// .dom-container .div-header  { position: sticky; top: 0; }
// .dom-container .div-footer  { position: sticky; bottom: 0; margin: $mg-section-50 0 calc(-1 * $mgb-dom); background-color: var(--cl-ground); }
// .dom-container .div-footer .m-binds.type-end  { min-height: $ht-form-70; }
// .dom-container * ~.div-footer  { padding: $gap-element-70 0; border-top: $e10 solid var(--cl-edge-70); }
// .dom-container * ~.div-footer:before  { content: ""; position: absolute; left: px(-8); right: px(-8); height: $mg-section-50; background: var(--cl-ground); }
// .dom-container * ~.div-footer:before  { bottom: calc(100% + $e10); background: fnScrollShadow(); }


/* Z-Index */
:root  {
  --zx-init: 10;

  --zx-main-footer: (var(--zx-init) + 0);
  --zx-main-header: (var(--zx-main-footer) + 0);

  --zx-nav-control: (var(--zx-main-header) + 10);

  --zx-nav-depthnav: (var(--zx-nav-control) + 10);

  --zx-overlay-listbox: (var(--zx-nav-depthnav) - 5);
}

.role-main .div-footer  { z-index: calc(var(--zx-main-footer)); }
.role-main .div-header  { z-index: calc(var(--zx-main-header)); }

.role-nav-core .div-control  { z-index: calc(var(--zx-nav-control)); }

.role-depthnav  { z-index: calc(var(--zx-nav-depthnav)); }
