@charset "UTF-8";

@use "./vars" as *;
@use "./mixins" as *;


/** Text-Level
 ------------- */

/** Colors */
.c-color-text  { color: var(--cl-text-50) !important; }
.c-color-label  { color: var(--cl-text-70) !important; }

.c-color-key  { color: var(--cl-key1-40) !important; }
.c-color-point  { color: var(--cl-point-orange) !important; }
.c-color-strong  { color: var(--cl-point-red) !important; }
.c-color-gray  { color: var(--cl-text-40) !important; }

.c-color-pos  { color: $cl-status-80 !important; }
.c-color-med  { color: $cl-status-50 !important; }
.c-color-neg  { color: $cl-status-20 !important; }

.c-color-error  { color: var(--cl-error) !important; }

.c-color-day-weekend  { color: var(--cl-key1-70) !important; }
.c-color-day-holiday  { color: var(--cl-point-red) !important; }


/** Texts */
.o-text-error  { color: var(--cl-error) !important; }
.o-text-strong  { font-weight: $bold-700 !important; color: var(--cl-point-red) !important; }

.o-caption-text  { font-weight: $bold-700; font-size: $font-70; line-height: $line-70; display: block; color: var(--cl-text-70); }
.o-caption-text:not(.align-inherit)  { text-align: center; }


.o-status-text:not(.style-inherit)  { font-weight: $bold-700; font-size: $font-40; line-height: $line-40; }
.o-status-text:not(:only-child)  { margin-right: $gap-element-30; }

.o-status-text.type-20  { color: var(--cl-point-red); }
.o-status-text.type-80  { color: var(--cl-point-skyblue); }


.o-icon-text  { display: inline-flex; align-items: center; }
.o-icon-text .o-icon  { margin-right: $gap-whitespace-30; }



/** 말줄임표 */
.o-data  { @include inc-ellipsis(); }


/** Links */
.o-link  { font-size: inherit; line-height: inherit; display: inline; vertical-align: baseline; min-width: 0; min-height: 0; padding: 0; border: 0 none; color: inherit; background-color: $tp; border-radius: 0; box-shadow: none; }

.o-link  { --theme: var(--cl-link1-40); display: inline-flex; align-items: center; color: var(--theme); border-radius: $br-50; text-decoration: none; text-underline-offset: auto; }
.o-link:hover  { --theme: inherit; text-decoration: underline; }

.o-link._link-primary  { --theme: var(--cl-key1-40); text-decoration: underline; }
.o-link._link-primary:hover  { --theme: var(--cl-key1-70); }

.o-link.type-texted._primary  { --theme: var(--cl-key1-40); }
.o-link.type-texted._primary:hover  { --theme: var(--cl-key1-70); }
.o-link.type-texted._primary:not(:hover) .o-icon:before  { background-position: 50%; }

.o-link.type-texted._secondary  { --theme: var(--cl-link1-40); }
.o-link.type-texted._secondary:hover  { --theme: inherit; }

.o-link.type-texted._normal  { --theme: inherit; }
.o-link.type-texted._normal:hover  { --theme: inherit; }

.o-link:not(.type-texted)._normal  { --theme: inherit; text-decoration: underline; }
.o-link:not(.type-texted)._normal:hover  { --theme: var(--cl-key1-40); }

// .o-link:is(.o-gridtable tr >* *)  { white-space: nowrap; }


/** Headings */
.o-heading  { @include symbol-bullet(); @include font(60, 800); font-family: var(--typo-header); display: block; display: flex; align-items: center; position: relative; color: var(--cl-text-70); }
.o-heading:before  { position: absolute; text-align: center; }
.o-heading >.label  { overflow: hidden; text-overflow: ellipsis; }
.o-heading .label +.o-check  { line-height: $ht-ctrl-50; margin-left: $gap-element-30; }

.o-heading.level1  { @include font(70); }

.o-heading:where([class*=" level"]:not(.level1))  { --wd-bullet: var(--rem) * 12; --gap: var(--rem) * var(--gap-element-30); padding-left: calc(var(--wd-bullet) + var(--gap)); }
.o-heading:where([class*=" level"]:not(.level1)):before  { content: ""; }
.o-heading:where([class*=" level"]:not(.level1)):before  { font-size: calc(var(--wd-bullet)); width: 1em; height: 1em; margin-left: calc(-1 * (var(--wd-bullet) + var(--gap))); background: var(--obj-sym-heading-level2) no-repeat 50% /100%; }
.o-heading.level3:before  { background-image: var(--obj-sym-heading-level3); }
.o-heading.level4:before  { background-image: var(--obj-sym-heading-level4); }

.o-heading .o-check >.label  { font-weight: $bold-400; font-size: $font-50; line-height: $line-50; }



/** Bullet-Lists Module */
.o-bullets  {
  // --fs-absint: var(--font-40-int);
  --fs-absint: var(--font-50-int);
  --lh: var(--text-height-par);
  --margin: (1em * var(--mg-bullets-inner, var(--mg-bullets, 0)) / var(--fs-absint, var(--font-30-int, 14)));

  font-size: calc(var(--rem) * var(--fs-int)); line-height: var(--lh); clear: both; position: relative;
}
.o-bullets >*  {
  --wd-int: (var(--wd-bullet) / 42);
  --width: calc(1em * var(--wd-int));
  --wd-neg: calc(-1em * var(--wd-int));

  min-height: 1lh;
  padding-left: var(--width);
}
.o-bullets >* +*  { margin-top: calc(var(--margin)); }
.o-bullets >:before  { content: var(--content); position: absolute; width: var(--width); margin-left: var(--wd-neg); text-align: center; white-space: nowrap; }
.o-bullets >:where(.heading)  { margin-left: var(--wd-neg); }
.o-bullets >:where(.heading):before  { content: none; }
.o-bullets em.emph  { font-weight: $bold-700; }
.o-bullets .strong  { font-weight: $bold-700; }

.o-bullets >* .o-bullets  { --mg-bullets-inner: (var(--mg-bullets) / 2); font-size: 1em; margin-top: calc(var(--margin)); }
.o-bullets +.o-bullets  { margin-top: calc(var(--margin) + max(var(--margin) / 2, px(2))); }

.o-bullets.type-disc  { --content: "·" var(--utf-nbsp); --content: "•" var(--utf-nbsp); --wd-bullet: 31.031; }

.o-bullets.type-hyphen  { --content: "-" var(--utf-nbsp); --wd-bullet: 28.656; }

.o-bullets.type-asterisk  { --content: "*" var(--utf-nbsp); --wd-bullet: 30.969; }

.o-bullets.type-decimal  { counter-reset: NUM_orders; }
.o-bullets.type-decimal >*  { --content-main: counter(NUM_orders); --content: var(--content-pre, "") var(--content-main, "") var(--content-suf, ".") var(--utf-nbsp); --wd-bullet: 71.578; counter-increment: NUM_orders; }
.o-bullets.type-decimal >:where(:nth-child(-n + 9))  { --content-pre: "0"; --content-pre: ""; --wd-bullet: 45.656; }
.o-bullets.type-decimal >:before  { text-align: left; text-align: start; }

.o-bullets.type-decimal.level2 >*  { --content-pre: "("; --content-suf: ")"; --wd-bullet: 92.125; }
.o-bullets.type-decimal.level2 >:where(:nth-child(-n + 9))  { --wd-bullet: 66.203; }


.o-bullets:where(.o-board *)  { /* --fs-int: var(--font-40-int); */ --mg-bullets: 4; }
.o-bullets:where(.o-board:not(.style-fit) *)  { color: var(--cl-text-40); }
.o-bullets:where(.o-board:not(.style-fit) .board-container *)  { --mg-bullets: 8; }
.o-bullets:where(.m-footer *)  { --fs-int: var(--font-40-int); color: var(--cl-text-40); }
.o-bullets:where(.m-section >.m-footer *)  { --mg-bullets: 4; }
.o-bullets:where(.m-section >.main >*)  { --mg-bullets: 8; }
.o-bullets:where(.style-lg)  { --fs-int: var(--font-60-int); }

// .o-bullets >:has(.o-consult)  { color: var(--cl-text-70); }

.o-bullets >dt  { padding-left: 0; }
.o-bullets >dt:before  { content: none; }
.o-bullets:where(.gap-50)  { --mg-bullets: 4; }

.o-bullets:where(.case-clause) >dt:where(.terms)  { font-size: $font-50; color: var(--cl-text-50); }



// .m-checks  { --gap-col: #{$gap-element-80}; line-height: calc(1em + var(--rem) * 4); display: flex; flex-wrap: wrap; align-items: center; gap: $gap-element-70 var(--gap-col); }
// .m-checks  { min-height: $ht-form-50; }
// .m-checks >.wdth-auto  { flex: auto; }
// .m-checks .o-check +.o-field  { margin-left: calc($gap-element-30 - var(--gap-col)); }

// .m-checks.axis-cols  { flex-direction: column; align-items: normal; padding: calc(($ht-form-50 - 1lh) / 2) 0; }
// .m-checks.flow-inline  { display: inline-flex; max-width: 100%; }

.m-checks  {
  --gap-col: #{$gap-element-70};
  --gap-row: #{$gap-element-70};

  display: inline-flex; flex-wrap: wrap; gap: var(--gap-row) var(--gap-col); padding: px(5) 0; white-space: normal;

  &:where(:not(.axis-cols))  {
    align-items: center;
  }

  &:where(:has(.d-check >:is(.ant-checkbox-label, .ant-radio-label) >.d-form))  {
    padding-block: 0;
  }

  &.axis-cols  {
    display: flex; flex-direction: column;

    >.item  { max-width: 100%; }

    .d-check  { max-width: 100%; }

    :is(.ant-checkbox-label, .ant-radio-label)  {
      padding-inline-end: 0;

      &:where(.m-checks.items-ellipsis *)  {
        @include inc-ellipsis();
      }
    }

    &:where(.ant-table-cell >:only-child)  { min-height: 100%; }
  }
}



.m-binds  { display: flex; align-items: center; justify-content: space-between; gap: $gap-element-70 calc($gap-element-80 * 1); clear: both; white-space: normal; }
.m-binds >*  { flex: 0 1 auto; display: inline-flex; flex-wrap: wrap; align-items: center; justify-content: center; gap: $gap-element-30; }
.m-binds >:where(.group.gap-none)  { gap: 0; }
// .m-binds >* >*  { flex: 0 1 auto; }

.m-binds:has(>._utility)  { flex-wrap: wrap; }
.m-binds:has(>._utility) >*  { flex-wrap: nowrap; }

.m-binds:where(:not(.m-header *):not(:has(>._utility)):has(>:nth-child(n+3))) >:where(:first-child, :last-child)  { flex: 1 0 0; }
.m-binds >:not(:only-child):first-child  { justify-content: flex-start; }
.m-binds >:not(:only-child):last-child  { justify-content: flex-end; }
.m-binds >:only-child  { flex: auto; justify-content: flex-end; }
.m-binds >.align-start  { justify-content: flex-start; }
.m-binds >.align-center  { justify-content: center; }
.m-binds >.align-justify  { justify-content: space-between; }

.m-binds >.align-around  { flex: 1; }
.m-binds >.align-around >*  { flex: 1; }
// .m-binds >.align-around >* >*  { width: 100%; }

.m-binds >._utility  { justify-content: flex-end; margin-left: auto; }


.m-inline-binds  { display: inline-flex; align-items: center; gap: $gap-element-30; white-space: normal; }
.m-inline-binds.style-wrap  { flex-wrap: wrap; }

.m-inline-binds.item-justify  { flex-wrap: wrap; justify-content: center; width: 100%; }
.m-inline-binds.item-justify >*  { flex: 1; }



.m-form  { display: flex; flex-wrap: wrap; align-items: center; gap: $gap-element-70; gap: $gap-element-30 $gap-element-70; }
.m-form.axis-cols  { flex-direction: column; align-items: normal; }
.m-form .justify-end  { margin-inline-start: auto; }
.m-form >.wd-auto:where(.m-field)  { flex: 1 1 auto; }
.m-form >.wd-fill:where(.m-field)  { flex: 1 1 px(240); }



/** Tables
 --------- */

.o-dataform  { --fs-headcell-int: var(--font-40-int); --mg-cell-inline: #{px(10)}; --mg-headcell-inline: #{px(10)}; clear: both; white-space: normal; }
.o-dataform :where(table:not(td *))  { table-layout: fixed; border-collapse: collapse; border-spacing: 0; width: 100%; background: var(--cl-ground); }
.o-dataform :where(table:not(td *)) col  { width: calc(1em * var(--em) * 1.173077 + var(--mg-cell-inline) * 2 + $e10); }
.o-dataform :where(table:not(td *)) col.head  { font-size: px(var(--fs-headcell-int)); width: calc(1em * var(--em-headcell) * 0.86419 + var(--mg-headcell-inline) * 2 + $e10); }
.o-dataform :where(table:not(td *)) col.head:not(colgroup[style*="--em-headcell:"] >*)  { width: calc(var(--rem) * 140); }
.o-dataform :where(table:not(td *)) tr >*  { --mg-inline: var(--mg-cell-inline); box-sizing: content-box; height: var(--ht-cell-box); padding: var(--mg-cell-block) var(--mg-inline); border: 0 solid var(--cl-edge-50); border-width: 0 0 var(--edge-cell); }
// .o-dataform.style-fill :where(table:not(td *)) tr >*  { --mg-cell-block: #{px(8)}; --ht-cell: calc(var(--rem) * var(--ht-form-50) + var(--mg-cell-block) * 2 + var(--edge-cell) * 1); }
.o-dataform :where(table:not(td *)) th  { --lh: calc((var(--fs-headcell-int) + 3) / var(--fs-headcell-int)); font-size: px(var(--fs-headcell-int)); line-height: var(--lh); height: calc(1em * var(--lh) * 2); padding: px(4) var(--mg-headcell-inline); color: var(--cl-text-70); }
.o-dataform :where(table:not(td *)) th:not(thead >* >*)  { background: var(--cl-ground-50); }
.o-dataform :where(table:not(td *)) [rowspan]:where(th:has(+th), td:has(+td))  { border-right-width: var(--edge-cell); }
.o-dataform :where(table:not(td *)) [rowspan]:where(th:is(th +*), td:is(td +*))  { border-left-width: var(--edge-cell); }

.o-dataform :where(table:not(td *)) td:where(.o-dataform.type-data *)  { --bold-400: 475; font-weight: var(--bold-400); font-family: var(--typo-tnum); word-break: break-all; }

.o-dataform :where(table:not(td *)) tr >.surface  { background-color: var(--cl-ground-50); }

.o-dataform :where(table:not(td *))  { border-style: solid hidden; border: $e10 solid var(--cl-edge-50); border-top-color: var(--cl-key1-40); }

.o-dataform :where(table:not(td *)) th .o-label  { line-height: inherit; }

// .o-dataform.style-rawer :where(table:not(td *)) tr >*  { --mg-cell-block: #{px(6)}; --mg-cell-inline: #{px(0)}; --ht-cell: calc(var(--rem) * var(--ht-form-50) + var(--mg-cell-block) * 2 + var(--edge-cell) * 0); border-bottom-width: 0; }
// .o-dataform.style-rawer :where(table:not(td *)) tr >th  { font-weight: $bold-700; vertical-align: top; padding-left: 0; padding-top: px(12); color: var(--cl-text-40); background-color: $tp; }
// .o-dataform.style-rawer :where(table:not(td *))  { margin: px(-6) 0; border-style: hidden hidden; }



.o-datatable  { --mg-cell-inline: #{px(7)}; --mg-headcell-inline: #{px(11)}; clear: both; }
.o-datatable :where(table:not(td *))  { border-collapse: collapse; border-spacing: 0; width: 100%; /* min-width: 100%; */ background: var(--cl-ground); text-align: center; }
.o-datatable :where(table:not(td *)):has(>colgroup[span])  { table-layout: fixed; }
.o-datatable :where(table:not(td *)) tr >*  { --mg-inline: var(--mg-cell-inline); height: var(--ht-cell); padding: var(--mg-cell-block) var(--mg-inline); border: 0 solid var(--cl-edge-30); border-width: 0 $e10 $e10; }
.o-datatable :where(table:not(td *)) th  { font-weight: $bold-700; padding: px(1) var(--mg-headcell-inline); color: var(--cl-text-70); }
.o-datatable :where(table:not(td *)) th:not(thead >* >*)  { font-weight: inherit; background: var(--cl-ground-20); text-align: left; text-align: start; }
.o-datatable :where(table:not(td *)) thead  { background: var(--cl-ground-50); }

.o-datatable :where(table:not(td *)) .subtotal-tcell  { font-weight: $bold-700; background: var(--cl-ground2-skyblue-40); }

.o-datatable :where(table:not(td *)) >*  { position: relative; }
.o-datatable :where(table:not(td *)) tbody:not(:last-child):after  { content: ""; display: table-row; position: absolute; z-index: 3; width: 100%; height: $e10; margin-top: calc(-1 * $e10); background: Black; }

.o-datatable :where(table:not(td *))  { border: hidden; }
.o-datatable :where(table:not(td *)) +table  { border-top: $e10 solid var(--cl-edge-70); }
.o-datatable :has(>:where(table:not(td *)))  { border: $e10 solid var(--cl-edge-50); border-top-color: var(--cl-key1-40); }
.o-datatable >.table-wrapper  { overflow: auto; }

.o-datatable.style-fill,
  :has(.table):where(.o-datatable.style-fill *)  { flex: 1; display: flex; flex-direction: column; }
.o-datatable.style-fill .table  { flex: 1; }

.o-datatable:where(.type-approve) :where(table:not(td *)) tbody:not(:last-child):after  { background-color: var(--cl-edge-30); }
.o-datatable:where(.type-approve) :where(table:not(td *)) .approve-tfoot  { font-size: $font-30; line-height: $line-30; background-color: var(--cl-ground-20); }
.o-datatable:where(.type-approve) :where(table:not(td *)) .approve-tfoot .o-digit.type-time  { color: var(--cl-text-40); }

.o-datatable +.o-datatable  { margin-top: $mg-section-40; }



.o-gridtable  {
  display: flex;
  flex-direction: column;

  // &:where(.m-section >.main >*)  {
    flex: 0 0 auto;

  &:where(.m-section._primary >.main >*)  {
    flex-grow: 1;
  }

  // :has(.ant-table-body)  {
  //   flex: 1 0 auto;
  //   display: flex;
  //   flex-direction: column;
  // }

  :where(.ant-table-wrapper)  {
    display: flex;
    flex-direction: column;

    &:where(.m-section._primary *)  {
      flex: 1 0 auto;
    }

    >:where(.ant-spin-nested-loading)  {
      display: flex;
      flex-direction: column;

      &:where(.m-section._primary *)  {
        flex: 1 0 auto;
      }

      >:where(.ant-spin-container)  {
        display: flex;
        flex-direction: column;

        &:where(.m-section._primary *)  {
          flex: 1 0 auto;
        }
      }
    }
  }

  :where(.ant-table)  {
    display: flex;
    flex-direction: column;

    &:where(.m-section._primary *)  {
      flex: 1 0 auto;
    }
  }

  :where(.ant-table-container)  {
    display: flex;
    flex-direction: column;

    &:where(.m-section._primary *)  {
      flex: 1 0 auto;
    }
  }

    .ant-table-body  {
      flex: 1 0 auto;

      &:where(.ant-table-container[style*="--ht-gridtable:"]:not([style*="--ht-gridtable: auto;"]) *, :where(.m-section._primary >.main *))  {
        flex-basis: 0;
      }
    }

    .ant-table-container  {
      height: var(--ht-gridtable, auto);
      max-height: var(--htx-gridtable, none);
    }
  // }

  // :where(.ant-table-cell)  {
  //   >*  {
  //     white-space: normal;
  //   }
  // }

  .table-footer:where(* +*)  {
    margin-top: #{px(var(--mg-section-40))};
  }
}


/** Files
 -------- */

/** 파일명 */
.o-file { display: inline-flex; max-width: 100%; }
.o-file >* { flex: none; min-width: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.o-file >.name { flex: 0 1 auto; }
.o-file >.ext { margin-left: -0.05em; }

.o-file:is(a):hover { text-decoration: underline; }
.o-file:is(a):where(.m-filelist *) { color: var(--cl-text-70); }
.o-file:is(a):not(:active):where(.m-filelist *) { opacity: 0.88; }


/** 파일용량 / 문자수 */
.o-limit  { font-size: $font-40; line-height: $line-40; display: inline-flex; position: relative; max-width: 100%; white-space: nowrap; }
.o-limit >.head  { @include getGlobalHidden(); }
.o-limit >.data  { display: flex; gap: $gap-whitespace-30; }
.o-limit >.data >:not(.value)  { color: var(--cl-text-20); }

.o-limit:where(.type-file, .type-length)  { overflow: hidden; }


/** 파일명 + 파일크기 */
.m-file  { display: flex; align-items: center; }
.m-file >*  { flex: none; min-width: 0; }
.m-file >.o-file  { flex: 0 1 auto; }
.m-file >.o-limit  { @include font(30, 400); color: var(--cl-text-20); }


/** 파일 목록 */
.m-filelist  { clear: both; }
.m-filelist .card  { display: flex; align-items: center; gap: $gap-element-30; min-height: px(36); padding: calc(px(2) - $e10) calc($gap-element-70 - $e10); border: $e10 solid var(--cl-edge-50); background: var(--cl-ground-50); border-radius: $br-50; }
.m-filelist .card >*  { flex: none; min-width: 0; }
.m-filelist .card .d-check  { margin-right: $gap-element-30; }
.m-filelist .m-file  { flex: 1 0 0; gap: $gap-element-30; }
.m-filelist .binds  { display: flex; align-items: center; gap: inherit; margin-inline: $gap-element-30 calc(-1 * $gap-element-30); }

.m-filelist >* >* +*  { margin-top: $gap-element-50; }


/** 파일업로드 영역 (드래그앤드롭) */
.o-attach  { display: flex; flex-direction: column; align-items: center; justify-content: center; padding: px(15) px(15); border: $e10 dashed var(--cl-edge-70); background: var(--cl-ground-20); border-radius: $br-50; transition: 0.3s; }
.o-attach .summary  { --lh: var(--text-height-par); font-size: $font-40; line-height: var(--lh); color: var(--cl-text-40); text-align: center; }
.o-attach .binds +.summary  { margin-top: $mg-section-50; }

.o-attach.js_dragovered  { background-color: var(--cl-ground2-blue-30); }

.o-attach:where(.m-upload-file *)  { padding: px(48) px(24); }
.o-attach:where(.m-upload-file *) .summary  { min-height: calc(var(--lh) * 2); min-height: calc(1lh * 2); margin-bottom: calc(-1 * var(--lh)); margin-bottom: -1lh; }
.o-attach:where(.layer-wrap.case-upload-excel .m-upload-file *)  { padding: px(24) px(24); }
.o-attach:where(.style-fit)  { padding: px(24) px(24); }

.o-attach:where(.o-gridtable.type-upload *)  { min-width: 21em; min-height: px(90); margin: px(3) auto; padding: px(7) px(15); }
.o-attach:where(.o-gridtable.type-upload:where(.m-section >.main.rows-body-2i >*) *)  { min-height: px(55); }
.o-attach:where(.o-gridtable.type-upload *) .summary .wbr  { display: block; }



.m-string-binds  { display: flex; flex-wrap: wrap; align-items: center; gap: $gap-element-30; column-gap: 0; }
.m-string-binds >*  { flex: none; min-width: 0; }
.m-string-binds >.string  { flex: 0 1 auto; padding-inline-end: $gap-element-50; }

.m-string-binds .binds  { display: flex; align-items: center; gap: $gap-element-30; }
.m-string-binds .justify-end  { margin-left: auto; }

.m-string-binds:where(.type-file)  { flex-wrap: nowrap; }

.m-string-binds:where(.g-end *)  { justify-content: flex-end; }
.m-string-binds:where(.g-center *)  { justify-content: center; }


/** 설문
 ------- */

.o-survey  {}
.o-survey:disabled  { color: inherit; filter: none; opacity: 0.4; cursor: default; pointer-events: none; }
.o-survey >.caption  { --lh: var(--text-height-par); line-height: var(--lh); padding: $gap-element-70 $gap-element-70; background: var(--cl-ground-50); text-align: center; }
.o-survey >.fields  { display: flex; gap: $gap-element-90; padding: px(16 - 1); padding-left: px(64 - 1); }
.o-survey >.fields >*  { flex: none; min-width: 0; }
.o-survey >.fields >.desc  { flex-basis: calc(50% - px(8)); min-width: px(160); max-width: px(592); }
.o-survey >.fields >.term  { flex: 1; }
.o-survey >.fields >.term .question  { --lh: var(--text-height-par); font-size: $font-60; line-height: var(--lh); position: relative; min-height: 1lh; margin-bottom: $gap-element-80; }
.o-survey >.fields >.term .question >.order  { font-weight: $bold-700; font-size: $font-40; display: inline-block; vertical-align: middle; margin-top: calc((1lh - $font-40) / -5); color: var(--cl-text-20); }
.o-survey >.fields >.term .question >.order >.count  { position: absolute; top: 0; left: px(16 - 64); }


.m-survey  { border: $e10 solid var(--cl-edge-50); border-radius: $br-50; }
.m-survey >:first-child  { border-start-start-radius: inherit; border-start-end-radius: inherit; }
.m-survey >:last-child  { border-end-start-radius: inherit; border-end-end-radius: inherit; }

.m-survey >.header  { display: flex; align-items: center; padding: px(10) $gap-element-90; gap: $gap-element-80; border-bottom: $e10 solid var(--cl-edge-50); background: var(--cl-ground2-blue-30); }
.m-survey >.header >*  { flex: none; min-width: 0; }
.m-survey >.header .subject  { flex: 1; font-weight: $bold-700; font-size: $font-60; line-height: $line-60; min-height: $ht-form; padding: calc(($ht-form - 1lh) / 2) 0; }
// .m-survey >.header .binds  { align-self: center; }

.m-survey >.main  {  }
.m-survey >.main >* >:not(:last-child)  { border-bottom: $e10 solid var(--cl-edge-30); }


.m-survey-form >* >:not(:first-child)  { margin-top: $gap-element-50; }


.m-survey-form li:has(.order >.count)  {
  --survey-bul-width-int: (var(--survey-bul-width-bullet) / 42);
  --survey-bul-width: calc(1em * var(--survey-bul-width-int));
  --survey-bul-width-neg: calc(-1em * var(--survey-bul-width-int));
}
.m-survey-form .order >.count:before  { content: var(--survey-bul-content); text-align: left; text-align: start; white-space: nowrap; }
.m-survey-form .order >.count:not(:empty):before  { content: none !important; }

.m-survey-form :has(>li .order >.count)  { counter-reset: NUM_surveys; }
.m-survey-form li:has(.order >.count)  { --survey-bul-content-main: counter(NUM_surveys); --survey-bul-content: var(--survey-bul-content-pre, "") var(--survey-bul-content-main, "") var(--survey-bul-content-suf, ".") var(--utf-nbsp); counter-increment: NUM_surveys; }

.m-survey-form :has(>li .order >.count):where(li *)  { counter-reset: NUM_surveys-level2; }
.m-survey-form li:has(.order >.count):where(li *)  { --survey-bul-content-pre: counter(NUM_surveys) "-"; --survey-bul-content-main: counter(NUM_surveys-level2); --survey-bul-content-suf: ""; --survey-bul-width-bullet: auto; counter-increment: NUM_surveys-level2; }



/** 동의서
 --------- */

.o-agreement  { clear: both; white-space: normal; }
.o-agreement:disabled  { color: inherit; filter: none; opacity: 0.4; cursor: default; pointer-events: none; }
.o-agreement >.caption  { --lh: var(--text-height-par); line-height: var(--lh); padding: $gap-element-70 $gap-element-70; background: var(--cl-ground-50); text-align: center; }
.o-agreement >.fields  { display: flex; gap: $gap-element-90; padding: px(16 - 1); padding-left: px(64 - 1); }
.o-agreement >.fields >*  { flex: none; min-width: 0; }
.o-agreement >.fields >.desc  { flex-basis: calc(50% - px(8)); min-width: px(160); max-width: px(592); }
.o-agreement >.fields >.term  { flex: 1; }
.o-agreement >.fields >.term .question  { --lh: var(--text-height-par); @include font(60); line-height: var(--lh); position: relative; min-height: 1lh; margin-bottom: $gap-element-80; }
.o-agreement >.fields >.term .question >.order  { @include font(40, 700); display: inline-block; color: var(--cl-text-20); }
.o-agreement >.fields >.term .question >.order >.count  { position: absolute; top: 0.25em; left: px(16 - 64); }


.m-agreement  { clear: both; border: $e10 solid var(--cl-edge-50); border-radius: $br-50; white-space: normal; }
.m-agreement >:first-child  { border-start-start-radius: inherit; border-start-end-radius: inherit; }
.m-agreement >:last-child  { border-end-start-radius: inherit; border-end-end-radius: inherit; }

.m-agreement >.header  { display: flex; align-items: center; padding: px(10) $gap-element-90; gap: $gap-element-80; border-bottom: $e10 solid var(--cl-edge-50); background: var(--cl-ground2-blue-30); }
.m-agreement >.header >*  { flex: none; min-width: 0; }
.m-agreement >.header .subject  { flex: 1; @include font(60, 700); min-height: $ht-form; padding: calc(($ht-form - 1lh) / 2) 0; }
// .m-agreement >.header .binds  { align-self: center; }

.m-agreement >.main  {  }
.m-agreement >.main >* >:not(:last-child)  { border-bottom: $e10 solid var(--cl-edge-30); }


.m-agreementform  { clear: both; margin-top: $gap-element-50; white-space: normal;}
.m-agreementform >* >:not(:first-child)  { margin-top: $gap-element-50; }

.m-agreementform li  {
  --agreement-bul-width-int: (var(--agreement-bul-width-bullet) / 42);
  --agreement-bul-width: calc(1em * var(--agreement-bul-width-int));
  --agreement-bul-width-neg: calc(-1em * var(--agreement-bul-width-int));
}
.m-agreementform .order >.count:before  { content: var(--agreement-bul-content); text-align: left; text-align: start; white-space: nowrap; }
.m-agreementform .order >.count:not(:empty):before  { content: none !important; }

.m-agreementform .counter  { counter-reset: NUM_surveys; }
.m-agreementform li:where(.counter >*)  { --agreement-bul-content-main: counter(NUM_surveys); --agreement-bul-content: var(--agreement-bul-content-pre, "") var(--agreement-bul-content-main, "") var(--agreement-bul-content-suf, ".") var(--utf-nbsp); counter-increment: NUM_surveys; }

.m-agreementform .counter:where(.m-agreementform li *)  { counter-reset: NUM_surveys-level2; }
.m-agreementform li:where(.m-agreementform li .counter >*)  { --agreement-bul-content-pre: counter(NUM_surveys) "-"; --agreement-bul-content-main: counter(NUM_surveys-level2); --agreement-bul-content-suf: ""; --agreement-bul-width-bullet: auto; counter-increment: NUM_surveys-level2; }

