@charset "UTF-8";

@use "./vars" as *;
@use "./mixins" as *;


@supports not (top: 1lh) {
  // *  { outline: 1px solid Red; }
}


@supports not selector(html:has(body)) {
  // *  { outline: 1px solid Red; }

  .role-localnav  {
    --lhr: calc(1em * 22 / 16);
    --lh: var(--lhr);
  }
}


.o-gridtable  {
  display: flex;
  flex-direction: column;

  // &:where(.m-section >.main >*)  {
    flex: 0 0 auto;

  &:where(.m-section >.main._primary >*)  {
    flex-grow: 1;
  }

    :has(.ant-table-body)  {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
    }

    .ant-table-body  {
      flex: 1 0 auto;

      &:where(.ant-table-container[style*="--ht-gridtable:"]:not([style*="--ht-gridtable: auto;"]) *, :where(.m-section >.main._primary *))  {
        flex-basis: 0;
      }
    }

    .ant-table-container  {
      height: var(--ht-gridtable, auto);
    }
  // }

  :where(.ant-table-cell)  {
    >*  {
      white-space: normal;
    }
  }

  .table-footer:where(* +*)  {
    margin-top: #{px(var(--mg-section-40))};
  }
}
