@charset "UTF-8";


/** SASS Variables
 ----------------- */

$root-em-int:        16;

$bold-30:            var(--bold-30);
$bold-400:            var(--bold-400);
$bold-50:            var(--bold-50);
$bold-700:            var(--bold-700);
$bold-80:            var(--bold-80);
$bold-90:            var(--bold-90);

$font-10:            var(--font-10);
$font-30:            var(--font-30);
$font-40:            var(--font-40);
$font-50:            var(--font-50);
$font-60:            var(--font-60);
$font-70:            var(--font-70);
$font-80:            var(--font-80);
$font-90:            var(--font-90);

$line-abs-10:        var(--line-abs-10);
$line-abs-30:        var(--line-abs-30);
$line-abs-40:        var(--line-abs-40);
$line-abs-50:        var(--line-abs-50);
$line-abs-60:        var(--line-abs-60);
$line-abs-70:        var(--line-abs-70);
$line-abs-80:        var(--line-abs-80);
$line-abs-90:        var(--line-abs-90);

$line-10:            var(--line-10);
$line-30:            var(--line-30);
$line-40:            var(--line-40);
$line-50:            var(--line-50);
$line-60:            var(--line-60);
$line-70:            var(--line-70);
$line-80:            var(--line-80);
$line-90:            var(--line-90);

$text-shadow:        var(--text-shadow);

$round-abs-20:      var(--round-abs-20);
$round-abs-999:     var(--round-abs-999);


$tp:                         var(--tp, Transparent);
$cc:                         var(--cc, currentColor);
$ss:                         var(--ss);
$rss:                        var(--rss);

$e10:                        var(--e10, 1px);
$e20:                        var(--e20, 2px);
$e30:                        var(--e30, 3px);

$alpha-dimmed-08:            var(--alpha-dimmed-08);
$alpha-dimmed-12:            var(--alpha-dimmed-12);
$alpha-dimmed-65:            var(--alpha-dimmed-65);
$alpha-dimmed-overlay:       var(--alpha-dimmed-overlay);

$cl-abs-white:            var(--cl-abs-white);
$cl-abs-black:            var(--cl-abs-black);

$cl-white:                var(--cl-white);
$cl-black:                var(--cl-black);

$cl-dimmed-overlay:       var(--cl-dimmed-overlay);
$cl-dimmed-hover:         var(--cl-dimmed-hover);

$cl-surface:              var(--cl-surface);
$cl-surface-overlay:      var(--cl-surface-overlay);

$cl-ground:               var(--cl-ground);
$cl-ground-alpha-00:      var(--cl-ground-alpha-00);
$cl-ground-30:            var(--cl-ground-30);
$cl-ground-40:            var(--cl-ground-40);
$cl-ground-70:            var(--cl-ground-70);
$cl-ground-90:            var(--cl-ground-90);
$cl-ground-required:      var(--cl-ground-required);
$cl-ground-disabled:      var(--cl-ground-disabled);

$cl-ground2-blue-30:      var(--cl-ground2-blue-30);
$cl-ground2-blue-40:      var(--cl-ground2-blue-40);
$cl-ground2-orange-40:    var(--cl-ground2-orange-40);
$cl-ground2-yellow-40:    var(--cl-ground2-yellow-40);

$cl-key1-40:              var(--cl-key1-40);
$cl-key1-70:              var(--cl-key1-70);
$cl-key1-90:              var(--cl-key1-90);
/*
$cl-key2-40:              var(--cl-key2-40);
$cl-key2-70:              var(--cl-key2-70);
$cl-key2-90:              var(--cl-key2-90);
 */

/*
$cl-point-40:             var(--cl-point-40);
$cl-point-70:             var(--cl-point-70);
 */
$cl-point-red:            var(--cl-point-red);
$cl-point-orange:         var(--cl-point-orange);
$cl-point-yellow:         var(--cl-point-yellow);
$cl-point-skyblue:        var(--cl-point-skyblue);

$cl-required:             var(--cl-required);
$cl-delete:               var(--cl-delete);
$cl-error:                var(--cl-error);

/*
$cl-status-80:            var(--cl-status-80);
$cl-status-50:            var(--cl-status-50);
$cl-status-20:            var(--cl-status-20);
 */

$cl-text-00:              var(--cl-text-00);
$cl-text-20:              var(--cl-text-20);
$cl-text-30:              var(--cl-text-30);
$cl-text-40:              var(--cl-text-40);
$cl-text-70:              var(--cl-text-70);
$cl-text-placeholder:     var(--cl-text-placeholder, DarkGrey);
$cl-text-disabled:        var(--cl-text-disabled);

$cl-icon-00:              var(--cl-icon-00);
$cl-icon-40:              var(--cl-icon-40);
$cl-icon-70:              var(--cl-icon-70);
$cl-icon-90:              var(--cl-icon-90);
$cl-icon-disabled:        var(--cl-icon-disabled);

$cl-control-40:           var(--cl-control-40);
$cl-control-70:           var(--cl-control-70);

$cl-link1-40:             var(--cl-link1-40);
$cl-link1-70:             var(--cl-link1-70);

/*
$cl-button-40:            var(--cl-button-40);
$cl-button-70:            var(--cl-button-70);
 */
$cl-button1-40:           var(--cl-button1-40);
$cl-button1-70:           var(--cl-button1-70);

$cl-button2-30:           var(--cl-button2-30);
$cl-button2-40:           var(--cl-button2-40);
$cl-button2-70:           var(--cl-button2-70);

$cl-button3-30:           var(--cl-button3-30);
$cl-button3-40:           var(--cl-button3-40);
$cl-button3-70:           var(--cl-button3-70);

$cl-grid-selected:        var(--cl-grid-selected);
$cl-grid-point:           var(--cl-grid-point);
$cl-grid-evenrow:         var(--cl-grid-evenrow);
$cl-grid-hover:           var(--cl-grid-hover);

$cl-edge-30:              var(--cl-edge-30);
$cl-edge-40:              var(--cl-edge-40);
$cl-edge-70:              var(--cl-edge-70);
$cl-edge-focus:           var(--cl-edge-focus);

$cl-edge2-blue-30:        var(--cl-edge2-blue-30);

$cl-shadow:               var(--cl-shadow);

$cl-shadow-alpha-10:      var(--cl-shadow-alpha-10);
$cl-shadow-alpha-20:      var(--cl-shadow-alpha-20);


$dropshadow-40:              var(--dropshadow-40);
$dropshadow-70:              var(--dropshadow-70);
$dropshadow-frozen:          var(--dropshadow-frozen);


$br-50:                  calc(var(--rem) * var(--br-50));
$br-70:                  calc(var(--rem) * var(--br-70));


$gap-whitespace-30:          calc(var(--rem) * var(--gap-whitespace-30));
$gap-whitespace-50:          calc(var(--rem) * var(--gap-whitespace-50));

$gap-element-30:             calc(var(--rem) * var(--gap-element-30));
$gap-element-50:             calc(var(--rem) * var(--gap-element-50));
$gap-element-70:             calc(var(--rem) * var(--gap-element-70));
$gap-element-80:             calc(var(--rem) * var(--gap-element-80));
$gap-element-90:             calc(var(--rem) * var(--gap-element-90));

$mg-section-20:          calc(var(--rem) * var(--mg-section-20));
$mg-section-30:          calc(var(--rem) * var(--mg-section-30));
$mg-section-40:          calc(var(--rem) * var(--mg-section-40));
$mg-section-50:          calc(var(--rem) * var(--mg-section-50));
$mg-section-70:          calc(var(--rem) * var(--mg-section-70));
$mg-section-80:          calc(var(--rem) * var(--mg-section-80));

$ht-icon-10:             calc(var(--rem) * var(--ht-icon-10));
$ht-icon-30:             calc(var(--rem) * var(--ht-icon-30));
$ht-icon-50:             calc(var(--rem) * var(--ht-icon-50));
$ht-icon-70:             calc(var(--rem) * var(--ht-icon-70));

$ht-ctrl-50:             calc(var(--rem) * var(--ht-ctrl-50));

$ht-form-30:             calc(var(--rem) * var(--ht-form-30, 26));
$ht-form-50:             calc(var(--rem) * var(--ht-form-50, 30));
$ht-form-70:             calc(var(--rem) * var(--ht-form-70, 44));

$timing-func-ease-slower:    var(--timing-func-ease-slower);
$timing-func-ease-faster:    var(--timing-func-ease-faster);


$wd-scrollbar:            var(--wd-scrollbar);

