<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>유가정보 관리</title>
    <link rel="stylesheet" type="text/css" href="../../resource/css/ems_common.css">
    <script type="text/javascript" src="../../resource/library/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../resource/library/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.ko.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../resource/library/feather/feather.min.js"></script>
    <script type="text/javascript" src="../../resource/js/common.js"></script>
</head>

<body>
    <div class="contents" style="width: 100% !important;">
        <!-- 페이지헤더 -->
        <div class="page_heading" style="position: static !important;">
            <h1 class="h1">유가정보 관리</h1>
            <ul class="location">
                <li class="ico_home"><a><span class="sr_only">홈</span></a></li>
                <li>기준정보</li>
                <li>E-배출량산정 기준정보</li>
                <li class="on">유가정보 관리</li>
            </ul>
        </div>
        <!--// 페이지헤더 -->

        <!-- 그리드 -->
        <form id="form1" name="form1" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="s_SAVENAME" name="s_SAVENAME" value="">

            <div class="searcher" style="position: static !important;">
                <div class="searcher_items_wrap">
                    <div class="select_set">
                        <label class="label_bullet">이행연도</label>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="pfYrOpt" name="pfYrOpt" class="select round" data-width="fit" tabindex="-98">
                        <option value="">전체</option><option value="2020">2020년</option><option value="2021">2021년</option><option value="2022">2022년</option><option value="2023">2023년</option><option value="2024">2024년</option><option value="2025">2025년</option><option value="2026">2026년</option></select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-41" aria-haspopup="listbox" aria-expanded="false" data-id="pfYrOpt" title="전체"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">전체</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-41" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                    </div>
                    <div class="select_set">
                        <label class="label_bullet">그룹사</label>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="cmgrpCdOpt" name="cmgrpCdOpt" class="select round" data-width="fit" tabindex="-98">
                            <option value="">전체</option>	
                            <option value="00">BNK금융지주</option>
                            <option value="01">BNK부산은행</option>
                            <option value="02">BNK경남은행</option>
                            <option value="03">BNK캐피탈</option>
                            <option value="04">BNK투자증권</option>
                            <option value="05">BNK저축은행</option>
                            <option value="06">BNK자산운용</option>
                            <option value="07">BNK신용정보</option>
                            <option value="08">BNK시스템</option>
                            <option value="09">BNK벤처투자</option>
                        </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-42" aria-haspopup="listbox" aria-expanded="false" data-id="cmgrpCdOpt" title="전체"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">전체</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-42" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                    </div>
                    <button type="button" id="btn_sch" name="btn_sch" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg><span>검색</span></button>
                    <button type="button" id="btn_rst" name="btn_rst" class="btn_sm_gray"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-cw"><polyline points="23 4 23 10 17 10"></polyline><path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"></path></svg><span>초기화</span></button>
                </div>
                
                <div class="searcher_items_wrap">
                    <div class="select_set">
                        <label class="label_bullet">자료복사</label>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="frYr" name="frYr" class="select round" data-width="fit" tabindex="-98">
                            
                        <option value="2020">2020년</option><option value="2021">2021년</option><option value="2022">2022년</option><option value="2023">2023년</option><option value="2024">2024년</option><option value="2025">2025년</option><option value="2026">2026년</option></select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-43" aria-haspopup="listbox" aria-expanded="false" data-id="frYr" title="2024년"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">2024년</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-43" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                        <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="toYr" name="toYr" class="select round" data-width="fit" tabindex="-98">
                            
                        <option value="2020">2020년</option><option value="2021">2021년</option><option value="2022">2022년</option><option value="2023">2023년</option><option value="2024">2024년</option><option value="2025">2025년</option><option value="2026">2026년</option></select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-44" aria-haspopup="listbox" aria-expanded="false" data-id="toYr" title="2025년"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">2025년</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-44" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                    </div>
                    <button type="button" id="btn_cpy" name="btn_cpy" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg><span>복사</span></button>
                </div>
            </div>

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">목록</h3>
                            <button type="button" class="btn_sm_gray adjust_grid_height"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code" style="transform:rotate(90deg)"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg><span>확장</span></button>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_xls" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>엑셀다운로드</span></button>
                            <button type="button" id="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>적용</span></button>
                        </div>
                    </div>
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <div class="table-responsive">
                            <hr class="tr_selected" style="display:none;">
                            <table class="table grid_table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>삭제</th>
                                    <th>기준연도</th>
                                    <th>기준월</th>
                                    <th>유종</th>
                                    <th>시도</th>
                                    <th>유가</th>                                   
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="selected">
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>2025</td>
                                        <td>01</td>
                                        <td>휘발유</td>
                                        <td>서울특별시</td>
                                        <td>1,643</td>                                                                       
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>2025</td>
                                        <td>01</td>
                                        <td>휘발유</td>
                                        <td>서울특별시</td>
                                        <td>1,643</td>                                                                       
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>2025</td>
                                        <td>01</td>
                                        <td>휘발유</td>
                                        <td>서울특별시</td>
                                        <td>1,643</td>                                                                       
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>2025</td>
                                        <td>01</td>
                                        <td>휘발유</td>
                                        <td>서울특별시</td>
                                        <td>1,643</td>                                                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="grid_footer">
                            <span>[ 4 / 4 ]</span>
                        </div>
                    </div>
                </div>
            </section>
	    </form>
	    <!--// 그리드 -->

        <!-- 상세 -->
         <form id="form2" name="form2" class="col form_right" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="pfYrForm" name="pfYrForm" value="">
            <input type="hidden" id="fuelUseMmForm" name="fuelUseMmForm" value="">
            <input type="hidden" id="fuelCdForm" name="fuelCdForm" value="">
            <input type="hidden" id="sidoCdForm" name="sidoCdForm" value="">
            <input type="hidden" id="pfYrPk" name="pfYrPk" value="">
            <input type="hidden" id="fuelUseMmPk" name="fuelUseMmPk" value="">
            <input type="hidden" id="fuelCdPk" name="fuelCdPk" value="">
            <input type="hidden" id="sidoCdPk" name="sidoCdPk" value="">
            <input type="hidden" id="fileSeq" name="fileSeq" value="2945">
            <input type="hidden" id="fileNmOrg" name="fileNmOrg" value="유가정보관리_엑셀업로드양식.xlsx">

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">상세</h3>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_rst" name="btn_rst" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span>초기화</span></button>
                            <button type="button" id="btn_del" name="btn_del" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg><span>삭제</span></button>
                            <button type="button" id="btn_sav" name="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>저장</span></button>
                        </div>
                    </div><!-- //card_head -->
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <article class="div_table cols_1">

                            <div class="col">
                                <div class="dt requird">연도</div>
                                <div class="dd item_2">
                                    <div class="dropdown bootstrap-select select bs3"><select id="pfYr" name="pfYr" class="select" tabindex="-98">                                        
                                    <option value="2020">2020년</option><option value="2021">2021년</option><option value="2022">2022년</option><option value="2023">2023년</option><option value="2024">2024년</option><option value="2025">2025년</option><option value="2026">2026년</option></select><button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="combobox" aria-owns="bs-select-37" aria-haspopup="listbox" aria-expanded="false" data-id="pfYr" title="2025년"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">2025년</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-37" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                    <div class="dropdown bootstrap-select select bs3"><select id="fuelUseMm" name="fuelUseMm" class="select" tabindex="-98">
                                        <option value="">선택</option>                                                                                                                            
                                            <option value="01">01</option>                                            
                                            <option value="02">02</option>                                            
                                            <option value="03">03</option>                                            
                                            <option value="04">04</option>                                            
                                            <option value="05">05</option>                                            
                                            <option value="06">06</option>                                            
                                            <option value="07">07</option>                                            
                                            <option value="08">08</option>                                            
                                            <option value="09">09</option>                                            
                                            <option value="10">10</option>                                            
                                            <option value="11">11</option>                                            
                                            <option value="12">12</option>                                            
                                    </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-38" aria-haspopup="listbox" aria-expanded="false" data-id="fuelUseMm" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-38" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">유종</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="fuelCd" name="fuelCd" class="select round" data-width="fit" tabindex="-98">
                                        <option value="">선택</option>                                        
                                        <option value="0014">휘발유</option>                                        
                                        <option value="0020">가스·디젤오일(경유)</option>                                        
                                        <option value="0047">LNG(차량)</option>                                        
                                        <option value="0048">CNG(차량)</option>                                        
                                        <option value="0049">LPG(차량)</option>                                        
                                        <option value="0103">자가소비(전력)</option>                                        
                                    </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-39" aria-haspopup="listbox" aria-expanded="false" data-id="fuelCd" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-39" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">시도</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="sidoCd" name="sidoCd" class="select round" data-width="fit" tabindex="-98">
                                        <option value="">선택</option>                                        
                                        <option value="11">서울특별시</option>                                        
                                        <option value="26">부산광역시</option>                                        
                                        <option value="27">대구광역시</option>                                        
                                        <option value="28">인천광역시</option>                                        
                                        <option value="29">광주광역시</option>                                        
                                        <option value="30">대전광역시</option>                                        
                                        <option value="31">울산광역시</option>                                        
                                        <option value="36">세종특별자치시</option>                                        
                                        <option value="41">경기도</option>                                        
                                        <option value="42">강원도</option>                                        
                                        <option value="43">충청북도</option>                                        
                                        <option value="44">충청남도</option>                                        
                                        <option value="45">전라북도</option>                                        
                                        <option value="46">전라남도</option>                                        
                                        <option value="47">경상북도</option>                                        
                                        <option value="48">경상남도</option>                                        
                                        <option value="50">제주특별자치도</option>                                        
                                    </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-40" aria-haspopup="listbox" aria-expanded="false" data-id="sidoCd" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-40" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">유가</div>
                                <div class="dd">
                                    <input type="text" id="oilPric" name="oilPric" class="input" title="유가" style="text-align:right;" maxlength="10" num2="">
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">엑셀등록</h3>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_file_dwn" name="btn_file_dwn" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>양식다운로드</span></button>
                            <button type="button" id="btn_file_uld" name="btn_file_uld" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg><span>업로드</span></button>
                        </div>
                    </div><!-- //card_head -->
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <article class="div_table cols_1">
                            <div class="col">
                                <div class="dt">엑셀</div>
                                <div class="dd">
                                    <div class="file_uploader">
                                        <label for="upFile">파일선택</label>
                                        <input type="file" id="upFile" name="upFile" title="엑셀" maxlength="650" style="display:none">
                                        <input type="text" id="upFileNm" name="upFileNm" placeholder="선택된 파일 없음" readonly="readonly">
                                        <span id="btn_upFile_rst" class="ico_btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span class="sr_only">초기화</span></span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
	    </form>
        <!--// 상세 -->
    </div>  
</body>

</html>
