<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>출장정보 관리</title>
    <link rel="stylesheet" type="text/css" href="../../resource/css/ems_common.css">
    <script type="text/javascript" src="../../resource/library/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../resource/library/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap/datepicker.ko.min.js"></script>
    <script type="text/javascript" src="../../resource/library/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../resource/library/feather/feather.min.js"></script>
    <script type="text/javascript" src="../../resource/js/common.js"></script>
</head>

<body>
    <div class="contents">
        <!-- 페이지헤더 -->
        <div class="page_heading" style="position: static !important;">
            <h1 class="h1">출장정보 관리</h1>
            <ul class="location">
                <li class="ico_home"><a><span class="sr_only">홈</span></a></li>
                <li>기준정보</li>
                <li>E-배출량산정 기준정보</li>
                <li class="on">출장정보 관리</li>
            </ul>
        </div>
        <!--// 페이지헤더 -->

        <!-- 그리드 -->
        <form id="form1" name="form1" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="s_SAVENAME" name="s_SAVENAME" value="">

            <div class="searcher" style="position: static !important;">
		        <div class="searcher_items_wrap"></div>
		    </div>

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">목록</h3>
                            <button type="button" class="btn_sm_gray adjust_grid_height"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code" style="transform:rotate(90deg)"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg><span>확장</span></button>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_xls" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>엑셀다운로드</span></button>
                            <button type="button" id="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>적용</span></button>
                        </div>
                    </div>
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <div class="table-responsive">
                            <hr class="tr_selected" style="display:none;">
                            <table class="table grid_table">
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>                                    
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>삭제</th>
                                    <th>출장지</th>
                                    <th>출발지</th>
                                    <th>도착지</th>
                                    <th>교통수단</th>
                                    <th>출장거리</th>                                   
                                </tr>
                                </thead>
                                <tbody>
                                    <tr class="selected">
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>출장연계</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>기타</td>
                                        <td>0</td>                                                                        
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>출장연계</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>기타</td>
                                        <td>0</td>                                                                        
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>출장연계</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>기타</td>
                                        <td>0</td>                                                                        
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="checking-set">
                                                <label class="checking">
                                                    <input name="ch_01" type="checkbox" value="1">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>출장연계</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>기타</td>
                                        <td>0</td>                                                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="grid_footer">
                            <span>[ 4 / 4 ]</span>
                        </div>
                    </div>
                </div>
            </section>
	    </form>
	    <!--// 그리드 -->

        <!-- 상세 -->
        <form id="form2" name="form2" class="col form_right" action="/esg-data-platform/home.do" method="post">
            <input type="hidden" id="errorFlag" name="errorFlag" value="">
            <input type="hidden" id="vcKndCdForm" name="vcKndCdForm" value="">
            <input type="hidden" id="locStCdForm" name="locStCdForm" value="">
            <input type="hidden" id="locEdCdForm" name="locEdCdForm" value="">
            <input type="hidden" id="vcKndCdPk" name="vcKndCdPk" value="">
            <input type="hidden" id="locStCdPk" name="locStCdPk" value="">
            <input type="hidden" id="locEdCdPk" name="locEdCdPk" value="">

            <input type="hidden" id="brno" name="brno" value="">
            <input type="hidden" id="fileSeq" name="fileSeq" value="2948">
            <input type="hidden" id="fileNmOrg" name="fileNmOrg" value="출장정보관리_엑셀업로드양식.xlsx">

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">상세</h3>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_rst" name="btn_rst" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span>초기화</span></button>
                            <button type="button" id="btn_del" name="btn_del" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg><span>삭제</span></button>
                            <button type="button" id="btn_sav" name="btn_sav" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg><span>저장</span></button>
                        </div>
                    </div><!-- //card_head -->
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <article class="div_table cols_1">
                            <div class="col">
                                <div class="dt requird">출장지명</div>
                                <div class="dd">
                                    <input type="text" id="etLocNm" name="etLocNm" class="input" title="출장지명" maxlength="50" kor_eng_num="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">교통수단</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="vcKndCd" name="vcKndCd" class="select round" data-width="fit" tabindex="-98">
                                        <option value="">선택</option>                                        
                                        <option value="01">승용차</option>                                        
                                        <option value="02">철도</option>                                        
                                        <option value="03">버스</option>                                        
                                        <option value="04">항공</option>                                        
                                        <option value="05">지하철</option>                                        
                                        <option value="06">선박</option>                                        
                                        <option value="07">기타</option>                                        
                                    </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-13" aria-haspopup="listbox" aria-expanded="false" data-id="vcKndCd" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-13" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">출발지</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="locStCd" name="locStCd" class="select round" data-width="fit" tabindex="-98">
                                        <option value="">선택</option>                                        
                                        <option value="41011">서울특별시</option>                                        
                                        <option value="41026">부산광역시</option>                                        
                                        <option value="41027">대구광역시</option>                                        
                                        <option value="41028">인천광역시</option>                                        
                                        <option value="41029">광주광역시</option>                                        
                                        <option value="41030">대전광역시</option>                                        
                                        <option value="41031">울산광역시</option>                                        
                                        <option value="41036">세종특별자치시</option>                                        
                                        <option value="41041">경기도</option>                                        
                                        <option value="41042">강원도</option>                                        
                                        <option value="41043">충청북도</option>                                        
                                        <option value="41044">충청남도</option>                                        
                                        <option value="41045">전라북도</option>                                        
                                        <option value="41046">전라남도</option>                                        
                                        <option value="41047">경상북도</option>                                        
                                        <option value="41048">경상남도</option>                                        
                                        <option value="41050">제주특별자치도</option>                                        
                                        <option value="84000">미국</option>                                        
                                        <option value="15600">중국</option>                                        
                                        <option value="39200">일본</option>                                        
                                        <option value="70400">베트남</option>                                        
                                        <option value="70200">싱가포르</option>                                        
                                        <option value="99000">유럽</option>                                        
                                        <option value="60800">필리핀</option>                                        
                                    </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-14" aria-haspopup="listbox" aria-expanded="false" data-id="locStCd" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-14" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">도착지</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="locEdCd" name="locEdCd" class="select round" data-width="fit" tabindex="-98">
                                        <option value="">선택</option>                                        
                                        <option value="41011">서울특별시</option>                                        
                                        <option value="41026">부산광역시</option>                                        
                                        <option value="41027">대구광역시</option>                                        
                                        <option value="41028">인천광역시</option>                                        
                                        <option value="41029">광주광역시</option>                                        
                                        <option value="41030">대전광역시</option>                                        
                                        <option value="41031">울산광역시</option>                                        
                                        <option value="41036">세종특별자치시</option>                                        
                                        <option value="41041">경기도</option>                                        
                                        <option value="41042">강원도</option>                                        
                                        <option value="41043">충청북도</option>                                        
                                        <option value="41044">충청남도</option>                                        
                                        <option value="41045">전라북도</option>                                        
                                        <option value="41046">전라남도</option>                                        
                                        <option value="41047">경상북도</option>                                        
                                        <option value="41048">경상남도</option>                                        
                                        <option value="41050">제주특별자치도</option>                                        
                                        <option value="84000">미국</option>                                        
                                        <option value="15600">중국</option>                                        
                                        <option value="39200">일본</option>                                        
                                        <option value="70400">베트남</option>                                        
                                        <option value="70200">싱가포르</option>                                        
                                        <option value="99000">유럽</option>                                        
                                        <option value="60800">필리핀</option>                                        
                                    </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-15" aria-haspopup="listbox" aria-expanded="false" data-id="locEdCd" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-15" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">산정근거</div>
                                <div class="dd">
                                    <div class="dropdown bootstrap-select select round bs3 fit-width"><select id="calcBasCd" name="calcBasCd" class="select round" data-width="fit" tabindex="-98">
                                        <option value="">선택</option>                                        
                                        <option value="01">철도노선도</option>                                        
                                        <option value="02">Ecotransit</option>                                        
                                        <option value="03">거리데이터</option>                                        
                                    </select><button type="button" class="btn dropdown-toggle btn-default bs-placeholder" data-toggle="dropdown" role="combobox" aria-owns="bs-select-16" aria-haspopup="listbox" aria-expanded="false" data-id="calcBasCd" title="선택"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">선택</div></div> </div><span class="bs-caret"><span class="caret"></span></span></button><div class="dropdown-menu open"><div class="inner open" role="listbox" id="bs-select-16" tabindex="-1"><ul class="dropdown-menu inner " role="presentation"></ul></div></div></div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dt requird">거리[km]</div>
                                <div class="dd">
                                    <input type="text" id="etDist" name="etDist" class="input" title="거리" placeholder="[km]" style="text-align:right;" maxlength="10" num2="">
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="card">
                    <div class="card_head">
                        <div class="heading_wrap">
                            <h3 class="h3">엑셀등록</h3>
                        </div>
                        <div class="btns_wrap">
                            <button type="button" id="btn_file_dwn" name="btn_file_dwn" class="btn_secondary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg><span>양식다운로드</span></button>
                            <button type="button" id="btn_file_uld" name="btn_file_uld" class="btn_primary round"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg><span>업로드</span></button>
                        </div>
                    </div><!-- //card_head -->
                    <div class="card_body">
                        <hr class="border_top_2px">
                        <article class="div_table cols_1">
                            <div class="col">
                                <div class="dt">엑셀</div>
                                <div class="dd">
                                    <div class="file_uploader">
                                        <label for="upFile">파일선택</label>
                                        <input type="file" id="upFile" name="upFile" title="엑셀" maxlength="650" style="display:none">
                                        <input type="text" id="upFileNm" name="upFileNm" placeholder="선택된 파일 없음" readonly="readonly">
                                        <span id="btn_upFile_rst" class="ico_btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg><span class="sr_only">초기화</span></span>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
	    </form>
        <!--// 상세 -->
    </div>  
</body>

</html>
