@charset 'utf-8';

// sub navi
.u-sub-navigation {
  margin: 0 auto;

  .inner {
    position: relative;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $PRIMARY_BLUE;
  }

  .snb-tabs,
  .snb-tools {
    position: absolute;

    .snb-tabs-list,
    .snb-tools-list {
      display: flex;
      align-items: center;
    }
  }

  .snb-tabs {
    left: 0;
  }

  .snb-tabs-list {
    li {
      display: flex;
      align-items: center;
      border: solid 1px $BORDER_BLUE02;
      border-bottom: none;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      +li {
        margin-left: -1px;
      }

      button {
        &.lock {
          margin-left: 4px;
        }
      }

      span {
        @include setTextStyle($font-sm, $line-sm);
        font-weight: inherit;
        color: #5b82b0;
      }

      &.active {
        z-index: 1;
        background-color: $PRIMARY_BLUE;
        border-color: $PRIMARY_BLUE;

        span {
          font-weight: $bold-70;
          color: $WHITE;
        }
      }

      &.dashboard {
        &.active {
          .btn-dashboard {
            background-image: url("/public/images/snb/ico_dashboard_white.svg");
          }
        }
      }

      &.toggle {
        &.active {
          .btn-lock {
            span {
              background-image: url("/public/images/snb/ico_lock_white.svg");
            }

            &.btn-lock-off {
              span {
                background-image: url("/public/images/snb/ico_close_white.svg");
              }
            }
          }
        }
      }
    }
  }

  .snb-tools {
    right: 0;

    .flex {
      position: relative;

      button {
        margin-left: 12px;
      }
    }

    .p-listbox {
      z-index: 2;
      display: none;
      position: absolute;
      top: 26px;
      left: -120px;
      width: 160px;
    }

    .p-listbox-open {
      display: block;
    }

    .p-listbox-list-wrapper {
      width: 100%;
      padding: 6px;
      border-radius: 6px;
      background-color: $WHITE;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    }

    .p-listbox-item {
      width: 100%;
      padding: 9px 6px;
      @include setTextStyle(inherit, inherit);
      font-weight: inherit;
      color: $FONT_GRAY01;
      border-radius: 4px;

      &.p-highlight,
      &:hover {
        background-color: $BGCOLOR_BLUE03;
      }
    }
  }
}