<ul class="side_nav">
    <li class="menu0"><a href="home.html"><span>홈</span></a></li>
    <li class="menu1">
        <a href="javascript:void(0);"><span>기준정보</span></a>
        <ul class="depth_2">
            <h3 class="heading">기준정보</h3>
            <div class="scroll_Y">
                <li class="menu1-1">
                    <a href="javascript:void(0);">사업장정보<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu1-1-1"><a href="subpage.html">법인정보</a></li>
                        <li class="menu1-1-2"><a href="#">사업장정보</a></li>
                        <li class="menu1-1-3"><a href="#">경영시스템정보</a></li>
                        <li class="menu1-1-4"><a href="#">QA·QC담당자정보</a></li>
                    </ul>
                </li>
                <li class="menu1-2">
                    <a href="javascript:void(0);">온실가스·에너지<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu1-2-1"><a href="#">산정등급적용정보</a></li>
                        <li class="menu1-2-2"><a href="#">산정식관리</a></li>
                        <li class="menu1-2-3"><a href="#">배출계수관리</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </li>
    <li class="menu2">
        <a href="javascript:void(0);"><span>온실가스</span></a>
        <ul class="depth_2">
            <h3 class="heading">온실가스</h3>
            <div class="scroll_Y">
                <li class="menu2-1">
                    <a href="javascript:void(0);">시설관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu2-1-1"><a href="#">배출시설관리</a></li>
                        <li class="menu2-1-2"><a href="#">세부시설관리</a></li>
                        <li class="menu2-1-3"><a href="#">활동자료모니터링</a></li>
                    </ul>
                </li>
                <li class="menu2-2">
                    <a href="javascript:void(0);">온실가스·에너지실적관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu2-2-1"><a href="#">에너지사용량(월별)</a></li>
                        <li class="menu2-2-2"><a href="#">에너지사용량(일별)</a></li>
                        <li class="menu2-2-3"><a href="#">에너지사용량(스팀)</a></li>
                        <li class="menu2-2-4"><a href="#">에너지사용량(폐기물)</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </li>
    <li class="menu3">
        <a href="javascript:void(0);"><span>목표</span></a>
        <ul class="depth_2">
            <h3 class="heading">목표</h3>
            <div class="scroll_Y">
                <li class="menu3-1">
                    <a href="javascript:void(0);">사업장관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu3-1-1"><a href="#">기준배출량관리</a></li>
                        <li class="menu3-1-2"><a href="#">이행계획관리</a></li>
                        <li class="menu3-1-3"><a href="#">BAU</a></li>
                        <li class="menu3-1-4"><a href="#">환경경영시스템</a></li>
                        <li class="menu3-1-5"><a href="#">QA·QC활동계획</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </li>
    <li class="menu4">
        <a href="javascript:void(0);"><span>실적</span></a>
        <ul class="depth_2">
            <h3 class="heading">실적</h3>
            <div class="scroll_Y">
                <li class="menu4-1">
                    <a href="javascript:void(0);">이행실적<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu4-1-1"><a href="#">QA·QC실적관리</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </li>
    <li class="menu5">
        <a href="javascript:void(0);"><span>시스템관리</span></a>
        <ul class="depth_2">
            <h3 class="heading">시스템관리</h3>
            <div class="scroll_Y">
                <li class="menu5-1">
                    <a href="javascript:void(0);">사용자관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu5-1-1"><a href="#">사용자관리</a></li>
                        <li class="menu5-1-2"><a href="#">사용자권한관리</a></li>
                        <li class="menu5-1-3"><a href="#">사용자정보</a></li>
                    </ul>
                </li>
                <li class="menu5-2">
                    <a href="javascript:void(0);">메뉴관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu5-2-1"><a href="#">메뉴관리</a></li>
                    </ul>
                </li>
                <li class="menu5-3">
                    <a href="javascript:void(0);">코드관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu5-3-1"><a href="#">공통코드관리</a></li>
                        <li class="menu5-3-2"><a href="#">지점코드관리</a></li>
                        <li class="menu5-3-3"><a href="#">우편번호관리</a></li>
                    </ul>
                </li>
                <li class="menu5-3">
                    <a href="javascript:void(0);">코드관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu5-3-1"><a href="#">공통코드관리</a></li>
                        <li class="menu5-3-2"><a href="#">지점코드관리</a></li>
                        <li class="menu5-3-3"><a href="#">우편번호관리</a></li>
                    </ul>
                </li>
                <li class="menu5-3">
                    <a href="javascript:void(0);">코드관리<span class="arrow"></span></a>
                    <ul class="depth_3">
                        <li class="menu5-3-1"><a href="#">공통코드관리</a></li>
                        <li class="menu5-3-2"><a href="#">지점코드관리</a></li>
                        <li class="menu5-3-3"><a href="#">우편번호관리</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </li>
    <li class="menu6">
        <a href="javascript:void(0);"><span>즐겨찾기</span></a>
        <ul class="depth_2">
            <h3 class="heading">즐겨찾기</h3>
            <div class="scroll_Y">
                <li class="menu6-1">
                    <ul class="depth_3">
                        <li class="menu6-1-1"><a href="#">QA·QC실적관리</a></li>
                        <li class="menu6-1-2"><a href="#">QA·QC실적관리</a></li>
                        <li class="menu6-1-3"><a href="#">QA·QC실적관리</a></li>
                        <li class="menu6-1-4"><a href="#">QA·QC실적관리</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </li>
</ul>