<div class="header_inner">
    <h1 class="logo"  id="logo" >
        <a href="home.html">BNK금융지주 환경경영시스템</a>
    </h1>
    <div class="util">
        <div class="hello with_icon">
            <i data-feather="user"></i>
            <p class="hello_text"><strong>관리자 님</strong><span>의 최종접속정보 2023-05-16 14:15:01</span></p>
        </div>
        <button type="button" class="btn_logout" onclick="location.href='login.html';"><i data-feather="log-out"></i><span>로그아웃</span></button>
        <button type="button" class="btn_allmenu"><i data-feather="menu"></i><span>전체메뉴</span></button>
    </div>
</div>
<div class="allmenu">
    <h1><span>전체메뉴</span></h1>
    <button type="button" class="btn_allmenu_close"><span class="sr_only">전체메뉴 닫기</span><span class="icon_x"></span></button>
    <div class="allmenu_inner">
        <div class="menu_section">
            <h2>기준정보<i data-feather="chevron-down"></i></h2>
            <div class="depth_2">
                <h3>E-일반현황 기준정보<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">법인정보 관리</a></li>
                    <li><a href="">사업장정보 관리</a></li>
                    <li><a href="">배출시설정보 관리</a></li>
                    <li><a href="">세부시설정보 관리</a></li>
                    <li><a href="">활동자료모니터링 관리</a></li>
                </ul>
                <h3>E-배출량산정 기준정보<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">산정등급적용정보 관리</a></li>
                    <li><a href="">산정식정보 관리</a></li>
                    <li><a href="">배출계수정보 관리</a></li>
                    <li><a href="">ATM정보 관리</a></li>
                    <li><a href="">유가정보 관리</a></li>
                    <li><a href="">차량정보 관리</a></li>
                    <li><a href="">출장정보 관리</a></li>
                </ul>
            </div>            
        </div>
        <div class="menu_section">
            <h2>온실가스<i data-feather="chevron-down"></i></h2>
            <div class="depth_2">
                <h3>SCOPE 1,2<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">전체-사용량</a></li>
                    <li><a href="">차량-금액/거리</a></li>
                    <li><a href="">전력-원단위</a></li>
                    <li><a href="">전력-ATM</a></li>
                </ul>
                <h3>SCOPE 3<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">임직원 출장</a></li>
                    <li><a href="">구매한 상품</a></li>
                    <li><a href="">SCOPE 1,2 상위흐름</a></li>
                    <li><a href="">제품의 사용</a></li>
                </ul>
            </div>            
        </div>
        <div class="menu_section">
            <h2>환경경영<i data-feather="chevron-down"></i></h2>
            <div class="depth_2">
                <h3>목표관리<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">기준배출량관리</a></li>
                    <li><a href="">이행계획관리</a></li>
                    <li><a href="">QA.QC활동계획</a></li>
                    <li><a href="">QA.QC실적계획</a></li>
                    <li><a href="">경영시스템정보</a></li>
                    <li><a href="">QA.QC담당자정보</a></li>
                </ul>
            </div>            
        </div>
        <div class="menu_section">
            <h2>용수<i data-feather="chevron-down"></i></h2>
            <div class="depth_2">
                <h3>E-용수<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">용수-사용량</a></li>
                    <li><a href="">용수-원단위</a></li>
                </ul>
            </div>            
        </div>
        <div class="menu_section">
            <h2>폐기물<i data-feather="chevron-down"></i></h2>
            <div class="depth_2">
                <h3>E-폐기물<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">폐기물-사용량</a></li>
                </ul>
            </div>            
        </div>
        <div class="menu_section">
            <h2>시스템관리<i data-feather="chevron-down"></i></h2>
            <div class="depth_2">
                <h3>사용자관리<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">사용자정보</a></li>
                    <li><a href="">사용자관리</a></li>
                    <li><a href="">지점관리등록</a></li>
                    <li><a href="">SSO사용자등록</a></li>
                </ul>
                <h3>메뉴관리<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">메뉴관리</a></li>
                    <li><a href="">그룹권한관리</a></li>
                    <li><a href="">사용자권한관리</a></li>
                    <li><a href="">즐겨찾기관리</a></li>
                </ul>
                <h3>코드관리<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">공통코드관리</a></li>
                    <li><a href="">지점코드관리</a></li>
                    <li><a href="">우편번호관리</a></li>
                </ul>
                <h3>운영관리<span class="arrow"></span></h3>
                <ul class="depth_3">
                    <li><a href="">레이아웃관리</a></li>
                    <li><a href="">파일관리</a></li>
                </ul>
            </div>            
        </div>
    </div>
</div>

<!-- page custom scripts -->
<script>
    $(document).ready(function() {
        feather.replace()
    });
</script>