@charset "UTF-8";
/*! 
 ** PRIBIT.com Mobile Common-Layout CSS
 * Author   : PRIBIT Front-end UX.Div
 * Create   : 2021-03-26 | 2dea; ego@2dea.com
 * Update   : 2021-03-26 | 2dea
 * Comments : -
 */


/* *  { outline: 1px solid Gold; } */

/** Define Fonts
 --------------- */

*,  :before,  :after  { letter-spacing: var(--text-spacing); }
html  { font-size: 62.5%; font-size: calc(10em / 16); }
body  { font-family: var(--typo-basic); font-weight: var(--bold-400); font-size: var(--font-m); line-height: var(--line-m); color: rgb(var(--color-text1)); background: rgb(var(--color-ground)); }
@media
  screen and (max-width: 359px),
  screen and (max-device-height: 359px)  {
    html  { font-size: 55%; font-size: calc(10em / 16 * 8 / 9); }
} @media
  screen and (orientation: portrait) and (min-width: 768px),
  screen and (orientation: landscape) and (min-height: 640px)  {
    html  { font-size: 125%; font-size: calc(10em / 16 * 2); }
}


/** Sectioning-Objects
 --------------------- */

.o-section:before  { content: ""; display: block; margin: 4rem 0; border: 0.1rem solid rgb(var(--color-line1)); opacity: 0.1; }
.o-section:first-child:before  { border-color: Transparent; margin-top: -4.2rem; }


/** Sub-Pages Common Layout
 -------------------------- */

/** Sectioning-Area */
.dom-wrapper  { position: absolute; left: 0; top: 0; min-width: 100%; min-height: 100%; background-color: inherit; }
[class|="dom"] >.g-overlay  { min-height: 0; opacity: 0.01; }
[class|="dom"] >.nodes  { min-width: var(--breakpoint-min); max-width: none; margin: 0 auto; padding: 0 0; }
[class|="div"] >.roles  { display: block; margin: 0 auto; padding: 0 var(--padding-layout-inline); }

/** Skip Navigation */
.dom-header .div-skip  { position: absolute; z-index: 99; left: 0; top: 0; width: 100%; }
.dom-header .div-skip *  { position: absolute; width: 100%; margin: 0; padding: 0; height: 0; }
.dom-header .div-skip a  { display: block; z-index: 1; left: -1px; width: 1px; height: 1px; overflow: hidden; text-decoration: none; }
.dom-header .div-skip a:before  { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.dom-header .div-skip a strong  { position: static; }
.dom-header .div-skip a strong:before  { content: "» "; }
.dom-header .div-skip a[id]  { text-align: center; font-weight: 700; font-size: 16px; font-family: 'Tahoma', 'Geneva', 'Dotum', 'AppleGothic', sans-serif; font-family: inherit; }
.dom-header .div-skip a[id]:focus,
  .dom-header .div-skip a[id]:active  { left: 0; top: 0; padding: 0.5em 0; width: 100%; height: auto; color: #ffffff; background: #404040; background-color: rgb(var(--color-main1, 64,64,64)); }
/* .dom-header .div-skip .o-ogp *  { display: none; width: auto; height: auto; } */
.dom-header .div-skip .o-ogp *  { width: auto; }

/** Header */
.dom-header  { position: absolute; left: 0; top: 0; right: 0; height: var(--height-layout-header); }
.dom-header >.g-overlay  { position: fixed; top: inherit; bottom: auto; height: inherit; background-color: inherit; opacity: 1.0; box-shadow: 0 0.1rem 10px 0.1rem rgba(var(--color-shadow), 0.1); -webkit-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }

.dom-header .div-logo  { position: fixed; left: 0; top: 0; white-space: nowrap; }
.dom-header .div-logo .logo  { font-family: var(--typo-sans-header); font-weight: var(--bold-700); font-size: 1.8rem; line-height: 1; display: inline-block; vertical-align: middle; position: relative; width: 6rem; height: 3.2rem; overflow: hidden; margin: 1.6rem 1.6rem; padding: 1.3rem 0.2rem 0; color: Transparent; user-select: none; text-shadow: none; }
.dom-header .div-logo .logo:before,
  .dom-header .div-logo .logo:after  { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('../img/layout/m.syms_logo.png') no-repeat 0 /300%; }
.dom-header .div-logo .logo:after  { background-position: 50%; opacity: 0.0; }

.dom-header .div-bind  { font-size: var(--font-4xs); line-height: 1; position: fixed; top: 0; right: 0; }
.dom-header .div-bind .item  { float: left; margin: 0.4rem 0; }
.dom-header .div-bind .item >*  { display: block; position: relative; min-width: 0; padding: 1.6rem 1.6rem; border: 0; background: Transparent; text-align: center; }
.dom-header .div-bind .item >* >i  { display: block; width: 2.4rem; height: 2.4rem; background: none no-repeat 0 /100%; }
.dom-header .div-bind .item >* >.inner  { position: absolute; left: 50%; bottom: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); width: 2em; color: Transparent; user-select: none; text-shadow: none; }
.dom-header .div-bind .menu-show >* >i  { background-image: url('../img/layout/m.btns_nav.png'); background-size: 200%; }

/** Unified Search */
.dom-search  { position: relative; }

/** Global Navigation */
.dom-nav  { font-family: var(--typo-sans-en); font-weight: var(--bold-700); font-size: var(--font-l); line-height: var(--line-l); position: fixed; z-index: 99; left: 0; top: 0; right: 0; bottom: 0; text-transform: uppercase; }
.dom-nav a,
  .dom-nav button  { display: block; }
.dom-nav .label  { position: relative; }
.dom-nav .label >.inner  { opacity: 0.6; }
.dom-nav .label[aria-current="page"],
  .dom-nav .label[aria-current="true"],
  .dom-nav .label[aria-selected="true"]  { z-index: 1; }
.dom-nav .label[aria-current="page"] >.inner,
  .dom-nav .label[aria-current="true"] >.inner,
  .dom-nav .label[aria-selected="true"] >.inner  { opacity: 1.0 !important; }
.dom-nav >.g-overlay  { position: absolute; z-index: -1; min-height: 100%; opacity: var(--alpha-dimmed); }
.dom-nav >.nodes  { position: absolute; right: 0; top: 0; width: 36rem; height: 100%; overflow: auto; overscroll-behavior: none; -webkit-overflow-scrolling: touch; padding-top: var(--height-layout-header); background: rgb(var(--color-black)); color: rgb(var(--color-white)); text-shadow: var(--text-shadow-alt) rgba(var(--color-black), 0.75); }
.dom-nav >.nodes >*  { background-color: inherit; }

.dom-nav .div-bind  { font-size: var(--font-4xs); line-height: 1; position: absolute; left: var(--padding-layout-inline); top: 0; right: var(--padding-layout-inline); height: var(--height-layout-header); }
.dom-nav .div-bind:after  { content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background: #424951; }
.dom-nav .div-bind .item  { position: absolute; margin: 0.4rem 0; }
.dom-nav .div-bind .item >*  { display: block; position: relative; min-width: 0; padding: 1.6rem 1.6rem; border: 0; background: Transparent; text-align: center; }
.dom-nav .div-bind .item >* >i  { display: block; width: 2.4rem; height: 2.4rem; background: none no-repeat 0 /100%; }
.dom-nav .div-bind .item >* >.inner  { position: absolute; left: 50%; bottom: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); width: 2em; color: Transparent; user-select: none; text-shadow: none; }
.dom-nav .div-bind .menu-hide  { right: calc(var(--padding-layout-inline) * -1); }
.dom-nav .div-bind .menu-hide >* >i  { background-image: url('../img/layout/m.btn_nav_close.png'); }
.dom-nav .div-bind .root  { left: calc(var(--padding-layout-inline) * -1); margin: 0; }
.dom-nav .div-bind .root >* >i  { width: 6rem; height: 3.2rem; background: url('../img/layout/m.syms_logo.png') no-repeat 50% /300%; }

.dom-nav .div-nav-lang  { font-size: var(--font-m); line-height: var(--line-m); position: relative; z-index: 1; margin-top: -1px; padding-top: 1px; height: calc(var(--height-layout-header) + 1px); text-align: center; }
.dom-nav .div-nav-lang .label  { min-width: 3.5em; padding: 2rem 1em; }
.dom-nav .div-nav-lang .label >.inner  { opacity: 0.5; }
.dom-nav .div-nav-lang >.roles  { position: relative; margin: 0 calc(var(--padding-layout-inline)); padding: 0; }
.dom-nav .div-nav-lang >.roles:after  { content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; background: #424951; }
.dom-nav .div-nav-lang >.roles >*  { margin: 0 -1em; }
.dom-nav .div-nav-lang >.roles >:after  { content: ""; display: block; clear: both; height: 0; visibility: hidden; }
.dom-nav .div-nav-lang >.roles >* >*  { display: inline; float: left; }
.dom-nav .div-nav-lang >.roles >* >*  { display: inline; float: left; }

.dom-nav .div-nav-local  { min-height: 100%; }
.dom-nav .div-nav-lang ~.div-nav-local  { min-height: calc(100% - (var(--height-layout-header) + 1px)); }
.dom-nav .div-nav-local .label  { margin: 0 calc(var(--padding-layout-inline) * -1); padding: 0.6em var(--padding-layout-inline); }
.dom-nav .div-nav-local >.roles >*  { padding: 1em 0; }

@media
  scren and (max-width: 319px)  {
    .dom-nav >.nodes  { position: absolute; left: 0; right: auto; width: 100vw; height: 100vh; }
} @media
  all and (orientation: portrait),
  scren and (min-height: 640px)  {
    .dom-nav .div-nav-local  { min-height: auto; height: 100%; overflow: auto; overscroll-behavior: contain; -webkit-overflow-scrolling: touch; }
    .dom-nav .div-nav-lang ~.div-nav-local  { height: calc(100% - (var(--height-layout-header) + 1px)); }
}

/** Container */
.dom-main  { background-color: inherit; }
.dom-header ~.dom-main  { padding-top: var(--height-layout-header); }
.dom-main >*  { background-color: inherit; }

.dom-main:before  { content: ""; left: 0; right: 0; background-color: inherit; color: Red; text-align: center; }
.dom-header ~.dom-main:before  { line-height: var(--height-layout-header); position: fixed; top: 0; height: var(--height-layout-header); }

.dom-main .div-visual  { font-size: var(--font-s); line-height: var(--line-s); display: table; position: fixed; position: -webkit-sticky; position: sticky; top: 0; width: 100%; height: calc(800 / 2560 * 100vw); min-height: 14.4rem; max-height: 400px; background: #282d31 none no-repeat 50% /auto 100%; color: rgb(var(--color-white)); text-shadow: var(--text-shadow-alt) rgba(var(--color-black), 0.75); text-align: center; }
.dom-header ~.dom-main .div-visual  { top: var(--height-layout-header); }
.dom-main .div-visual >.roles  { display: table-cell; vertical-align: middle; }
.dom-main .div-visual >.roles >*  { max-width: calc(2560 * 144 / 800 * 0.1rem - var(--padding-layout-inline) * 2); margin: 0 auto; }
.dom-main .div-visual.is-com  { background-image: url('../img/part/bg_visual_sub_01.jpg'); }
.dom-main .div-visual.is-tec  { background-image: url('../img/part/bg_visual_sub_02.jpg'); }
.dom-main .div-visual.is-prd  { background-image: url('../img/part/bg_visual_sub_03.jpg'); }
.dom-main .div-visual.is-nws  { background-image: url('../img/part/bg_visual_sub_04.jpg'); }
.dom-main .div-visual.is-rcr  { background-image: url('../img/part/bg_visual_sub_05.jpg'); }
.dom-main .div-visual .headline  { font-family: var(--typo-sans-header); font-weight: var(--bold-700); font-size: var(--font-xl); line-height: var(--line-xl); text-transform: uppercase; }
.dom-main .div-visual .strapline  { margin-top: 0.8rem; }
.dom-main .div-visual .strapline .words  { display: block; }
.dom-main .div-visual.is-tec .strapline .words  { display: inline; }

.dom-main .div-tab  { font-family: var(--typo-sans-header); font-size: var(--font-s); line-height: calc(24 / 14); display: table; table-layout: fixed; clear: both; position: relative; position: -webkit-sticky; position: sticky; top: 0; width: 100%; overflow: hidden; background: rgb(var(--color-ground)); box-shadow: 0 0 4px rgba(var(--color-line1), 0.16); }
.dom-main .div-tab:before,
  .dom-main .div-tab:after  { content: ""; position: absolute; z-index: 2; top: 0; bottom: 0; box-shadow: 0 0 1.2rem 1.2rem rgb(var(--color-ground)); }
.dom-main .div-tab:before  { left: 0; }
.dom-main .div-tab:after  { right: 0; }
.dom-header ~.dom-main .div-tab  { top: var(--height-layout-header); }
.dom-main .div-tab >.roles  { overflow: auto; scroll-behavior: smooth; padding: 0; }
.dom-main .div-tab .lists  { display: table; position: relative; min-width: 100%; text-align: center; }
.dom-main .div-tab .lists >*  { display: table-cell; vertical-align: middle; white-space: nowrap; }
.dom-main .div-tab .lists >:first-child  { padding-left: calc(var(--padding-layout-inline) - 1.2rem); }
.dom-main .div-tab .lists >:last-child  { padding-right: calc(var(--padding-layout-inline) - 1.2rem); }
.dom-main .div-tab .lists >* >.label  { display: block; position: relative; padding: 0 1.2rem; color: #a2aab2; }
.dom-main .div-tab .lists >* >.label._selected  { z-index: 1; color: rgb(var(--color-text1)); }
.dom-main .div-tab .lists >* >.label >.inner  { display: inline-block; vertical-align: middle; position: relative; padding: 1.2rem 0; }
.dom-main .div-tab .lists >* >.label >.inner:before  { content: ""; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; height: 2px; overflow: hidden; background: rgb(var(--color-main1)); -webkit-transition: width 0.15s; transition: width 0.15s; }
.dom-main .div-tab .lists >* >.label._selected >.inner:before  { width: 100%; }
/* .dom-main .div-tab .lists:hover >* >.label >.inner:before  { width: 0; }
  .dom-main .div-tab .lists >* >.label:hover >.inner:before, */
.dom-main .div-tab .lists >* >.label:focus >.inner:before  { width: 100%; }

.dom-main .div-section  { position: relative; background-color: inherit; }
.dom-main .div-section:before,
  .dom-main .div-section:after  { content: ""; display: table; margin-top: 4rem; }
.dom-main .div-section:before  { margin: 0 0 2.4rem; }

.dom-main .div-visual ~:not(.div-tab)  { transform: translateZ(0); }
/* .dom-main .div-visual +*  { margin-top: 14.4rem; } */

/** Aside */
.dom-aside  { position: relative; }

/** Footer */
.dom-footer  { position: absolute; left: 0; right: 0; bottom: 0; background: rgb(var(--color-footerback)); color: rgb(var(--color-footertext)); text-align: center; }
.dom-footer.jsui_varStickyLayout-cloned  { display: block !important; position: static; z-index: auto; visibility: hidden; }
.dom-footer >.nodes:before,
  .dom-footer >.nodes:after  { content: ""; display: table; margin-top: 1.6rem; }
.dom-footer >.nodes:before  { margin: 0 0 1.6rem; }
.dom-footer >* >[class|="div"]  { display: block; clear: both; margin: 1.6rem 0; text-align: left; text-align: start; }
.dom-footer >* >[class|="div"] >.roles br  { display: none; }
.dom-footer >* >[class|="div"] >.roles >*  { display: block; margin: 1.6rem 0; }
.dom-footer .div-info  { font-size: var(--font-2xs); line-height: calc(16 / 12 * 1em); }
.dom-footer .div-info >.roles  { position: relative; min-height: 3.2rem; }
.dom-footer .div-info >.roles:before  { content: ""; display: block; position: absolute; left: var(--padding-layout-inline); width: 6rem; height: 3.2rem; background: url('../img/layout/m.syms_logo.png') no-repeat 100% /300%; }
.dom-footer .div-info .author  { padding-left: calc(6rem + 2.4rem); }
.dom-footer .div-info .author >*  { display: block; }
.dom-footer .div-info .address >.words  { display: block; }
.dom-footer .div-info .copyright  { font-size: var(--font-3xs); text-transform: capitalize; }
.dom-footer .div-info .copyright:before  { content: "© "; }
.dom-footer .div-info .copyright >.words  { white-space: nowrap; }
.dom-footer .div-info .copyright .copy  { display: none; }

/* .dom-footer .div-info  { text-align: center; }
.dom-footer .div-info .author  { display: inline-block; vertical-align: middle; } */


/** Layer-Objects Layout
 ----------------------- */
.layer-wrap  { position: absolute; left: 0; right: 0; bottom: 0; min-width: var(--breakpoint-min); max-height: 100%; margin: auto; background: rgb(var(--color-ground)); outline: 0; }
.layer-head  { font-size: 100%; position: absolute; left: 0; top: 0; right: 0; height: var(--height-layer-header); text-align: center; }
.layer-head .title  { display: table; display: none; table-layout: fixed; border-spacing: 0; position: relative; width: 100%; height: 100%; }
.layer-head .title >.inner  { display: table-cell; vertical-align: middle; overflow: hidden; padding: 0 4.5rem; text-overflow: ellipsis; white-space: nowrap; }
.layer-body  { position: absolute; left: 0; right: 0; bottom: 0; background-color: inherit; }
.layer-head ~.layer-body  { padding-top: var(--height-layer-header); }
.layer-body:before  { content: ""; position: absolute; left: 0; right: 0; background-color: inherit; -webkit-transition: box-shadow 0.2s; transition: box-shadow 0.2s; }
.layer-head ~.layer-body:before  { top: 0; height: var(--height-layer-header); }
.layer-body .div-contents  { display: table; table-layout: fixed; width: 100%; }
.layer-body .div-contents  { display: block; max-height: 100%; overflow: auto; scroll-behavior: smooth; overscroll-behavior: contain; -webkit-overflow-scrolling: touch; padding: 0; }
.layer-body.has-footer .div-contents  { max-height: calc(100% - var(--height-layer-footer)); }
.layer-body .div-contents:before,
  .layer-body .div-contents:after  { content: ""; display: table; margin-top: var(--margin-layout-block); }
.layer-body .div-contents:before  { margin: 0 0 var(--margin-layout-block); }
.layer-body .div-footer  { position: absolute; left: 0; right: 0; bottom: 0; height: var(--height-layer-footer); background: rgb(var(--color-ground)); }
.layer-body .div-footer +i  { display: table; height: var(--height-layer-footer); }
.layer-tail  { font-size: var(--font-4xs); line-height: 1; position: absolute; top: 0; right: 0; margin: 0.4rem 0; }
.layer-tail >*  { display: block; position: relative; min-width: 0; padding: 1.6rem 1.6rem; border: 0; background: Transparent; text-align: center; }
.layer-tail >* >i  { display: block; width: 2.4rem; height: 2.4rem; background: none no-repeat 0 /100%; }
.layer-tail >* >.inner  { position: absolute; left: 50%; bottom: 50%; -webkit-transform: translate(-50%, 50%); transform: translate(-50%, 50%); width: 2em; color: Transparent; user-select: none; text-shadow: none; }
.layer-tail .close >i  { background-image: url('../img/layout/m.btn_close.png'); }

.o-layer  { position: fixed; z-index: 99; left: 0; top: 0; right: 0; min-height: 100%; }

.o-layer._popup.type-full .layer-wrap  { position: fixed; min-height: 100%; }
.o-layer._popup.type-full .layer-body  { height: 100%; }
.o-layer._popup.type-full .layer-body .div-contents  { padding: 0 var(--padding-layout-inline); }
.o-layer._popup.type-full .layer-body .div-contents:before  { margin-bottom: var(--margin-layout-block-start); }

@media
  scren and (max-width: 319px)  {
    .o-layer._popup.type-full .layer-wrap  { position: absolute; }
}


/** Sectioning-Area Level
 ------------------------ */

/* 
.dom-header >.g-overlay,
.dom-main:before  { z-index: 5; transform: translateZ(0.005px); }
.dom-header >.nodes >*  { z-index: 40; transform: translateZ(0.040px); }
.dom-header .div-logo  { z-index: 50; transform: translateZ(0.050px); }
.dom-nav >*  { z-index: 40; transform: translateZ(0.040px); }
.dom-nav >.nodes  { z-index: 45; transform: translateZ(0.045px); }
.dom-main .div-visual  { z-index: 0; transform: translateZ(0.000px); -webkit-backface-visibility: hidden; }
.dom-main .div-tab  { z-index: 60; transform: translateZ(0.060px); }
.dom-footer  { z-index: 10; }
 */
.dom-header >.g-overlay,
  .dom-main:before  { z-index: 5; }
.dom-header >.nodes >*,
  .dom-nav  { z-index: 40; }
.dom-header .div-logo  { z-index: 50; }
.dom-main .div-tab  { z-index: 60; }
.dom-footer  { z-index: 10; }

.layer-head,
  .layer-tail  { z-index: 50; }
.layer-body .div-footer  { z-index: 10; }
.o-layer._popup.type-full  { z-index: 100; }
