@charset 'utf-8';

//common 

// body {
//   overflow-x: hidden;
//   overflow-y: auto;
//   background-color: $BGCOLOR_BLUE03;
// }

// #root {
//   height: 100%;
// }

.require {
  padding-left: 4px;
  @include setTextStyle($font-xs, $line-xs);
  color: $NOTICE_ORANGE !important;
}

.notice {
  color: $NOTICE_ORANGE !important;
}

.warn {
  color: $NEGATIVE_RED !important;
}

.ft-11 {
  font-size: $font-xs !important;
}

.ft-13 {
  font-size: $font-sm !important;
}

.ft-bold {
  font-weight: $bold-70 !important;
}

.ft-medium {
  font-weight: $bold-50 !important;
}

.ft-default {
  font-weight: inherit !important;
}

.ft-c3 {
  color: $FONT_GRAY01 !important;
}

.border-left {
  border-left: 1px solid $BORDER_GRAY02 !important;
}

.border-bottom {
  border-bottom: 1px solid $BORDER_GRAY02 !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.bg-none {
  background-color: $WHITE !important;
}

.bg-blue {
  background-color: $BGCOLOR_LIGHT_BLUE !important;
}

.bg-skyblue {
  background-color: $BGCOLOR_BLUE03 !important;
}

.bg-gray {
  background-color: $BGCOLOR_LIGHT_GRAY !important;
}

.bg-red {
  background-color: $BGCOLOR_RED !important;
}

.bg-light-red {
  background-color: $BGCOLOR_LIGHT_RED !important;
}

.bg-yellow {
  background-color: $BGCOLOR_YELLOW !important;
}


.f-col {
  flex-direction: column !important;
}

.f-14 {
  flex: 14 !important;
}

.t-10 {
  top: 10px !important;

  .u-vertical {
    top: 10px !important;
  }
}

.t-28 {
  top: 28px !important;
}

.t-38 {
  .u-vertical {
    top: 38px !important;
  }
}

.l-138 {
  left: 138px !important;
}

.mf-0 {
  margin: 0 !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-9 {
  margin-left: 9px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-17 {
  margin-top: 17px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-r-1 {
  margin-top: -1px !important;
}

.mb-r-12 {
  margin-bottom: -12px !important;
}

.mt-r-16 {
  margin-top: -16px !important;
}

.mt-r-26 {
  margin-top: -26px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.pf-0 {
  padding: 0 !important;
}

.pf-6 {
  padding: 6px !important;
}

.ptb-12 {
  padding: 12px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pt-174 {
  padding-top: 174px !important;
}

.pt-186 {
  padding-top: 186px !important;
}

.pt-266 {
  padding-top: 266px !important;
}

.cw-18 {
  width: calc(50% - 18px);
}

.rw-50 {
  width: 50% !important;
}

.mw-auto {
  min-width: auto !important;
}

.mw-1368 {
  min-width: 1368px !important;
}

.xw-444 {
  max-width: 444px !important;
}

.w-32 {
  width: 32px !important;
}

.w-35 {
  width: 35px !important;
}

.w-36 {
  width: 36px !important;
}

.w-45 {
  width: 45px !important;
}

.w-57 {
  width: 57px !important;
}

.w-60 {
  width: 60px !important;
}

.w-68 {
  width: 68px !important;
}

.w-79 {
  width: 79px !important;
}

.w-80 {
  width: 80px !important;
}

.w-90 {
  width: 90px !important;
}

.w-109 {
  width: 109px !important;
}

.w-113 {
  width: 113px !important;
}

.w-120 {
  width: 120px !important;
}

.w-124 {
  width: 124px !important;
}

.w-126 {
  width: 126px !important;
}

.w-132 {
  width: 132px !important;
}

.w-134 {
  width: 134px !important;
}

.w-142 {
  width: 142px !important;
}

.w-160 {
  width: 160px !important;
}

.w-184 {
  width: 184px !important;
}

.w-200 {
  width: 200px !important;
}

.w-240 {
  width: 240px !important;
}

.w-246 {
  width: 246px !important;
}

.w-258 {
  width: 258px !important;
}

.w-314 {
  width: 314px !important;
}

.w-414 {
  width: 414px !important;
}

.w-1080 {
  width: 1080px !important;
}

.xh-121 {
  max-height: 121px !important;
}

.xh-241 {
  max-height: 241px !important;
}

.xh-330 {
  max-height: 330px !important;
}

.xh-335 {
  max-height: 335px !important;
}

.xh-452 {
  max-height: 452px !important;
}

.xh-441 {
  max-height: 441px !important;
}

.xh-561 {
  max-height: 561px !important;
}

.xh-575 {
  max-height: 575px !important;
}

.xh-699 {
  max-height: 699px !important;
}

.h-28 {
  height: 28px !important;
}

.h-32 {
  height: 32px !important;
}

.h-64 {
  height: 64px !important;
}

.h-108 {
  height: 108px !important;
}

.h-342 {
  max-height: 351px !important;
}

.h-346 {
  height: 346px !important;
}

.h-379 {
  height: 379px !important;
}

.h-432 {
  height: 432px !important;
}

.h-561 {
  height: 561px !important;
}

.h-739 {
  height: 739.5px !important;
}

.align-center {
  align-items: center !important;
}

.align-end {
  align-items: end !important;
}

.flex-shrink {
  flex-shrink: 0 !important;
}

.flex-auto {
  flex: 1 0 auto !important;
}

.flex-between {
  flex: 1 0 auto !important;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-space {
  justify-content: space-between !important;
}

.flex-center {
  justify-content: center !important;
}

.flex-none {
  flex: inherit !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.overflow-y {
  overflow-y: auto !important;
}

.with-btns {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  button {
    +button {
      margin-left: 6px;
    }
  }
}

.with-swap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .swap-btns {
    button {
      +button {
        margin-top: 6px;
      }
    }
  }
}

.th-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  .u-checkbox {
    margin-right: 6px;
  }
}

.ov-html-root {
  overflow-y: auto !important;
  height: 100vh;
  padding: 56px 24px;
  background-color: #fff;
}

.ov-html-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 32px;
  font-size: 28px;
  font-weight: $bold-30;
  color: #333;

  span {
    &:first-child {
      font-weight: $bold-70;
    }
  }
}

.ov-html-list {
  max-width: 1280px;
  padding: 70px 0;

  .group {
    +.group {
      margin-top: 40px;
    }
  }

  .title {
    margin-bottom: 12px;
    @include setTextStyle($font-lm, $line-lm);
    font-weight: $bold-70;
    color: #333;
  }

  table {
    white-space: break-spaces;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    tr {
      border-top: 1px solid #ddd;

      &:hover {
        background-color: #f9f9f9;
      }
    }

    th,
    td {
      padding: 8px;
      @include setTextStyle(inherit, inherit);
      font-weight: inherit;
      text-align: left;
    }

    th {
      font-weight: $bold-70;
      color: #5b82b0;
      background-color: #e3eefb;
      text-align: center;

      +th {
        border-left: 1px solid #ddd;
      }
    }

    td {
      color: #333;

      +td {
        border-left: 1px solid #ddd;
      }

      &:nth-child(1),
      &:nth-child(4) {
        text-align: center;
      }

      &:nth-child(3),
      &:nth-child(4) {
        a {
          text-decoration: underline;
        }
      }

      a {
        color: #0064ee;

        &:hover {
          font-weight: $bold-50;
        }
      }

      em {
        display: inline-block;
        margin-left: 8px;
        @include setTextStyle($font-sm, $line-sm);
        color: #d60000;
      }
    }
  }
}

.ov-html-guide {
  // overflow-y: auto !important;
  height: 100%;
  background-color: #FFF;

  .inner {
    display: flex;
    height: 100%;
  }

  .navi {
    width: 250px;
    height: 100%;
    padding: 60px 0 60px 40px;
    background-color: #e4f2ff;

    .ci {
      width: 60px;
      height: 60px;
    }

    .menu {
      margin-top: 40px;

      .box {
        +.box {
          margin-top: 24px;
        }

        a {
          width: 100%;
          padding: 12px 12px 12px 20px;
          font-size: 18px;
          color: #333;

          &.active {
            font-weight: $bold-70;
            background-color: #fff;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
          }
        }
      }
    }
  }

  .document {
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    padding: 85px 60px 70px 60px;

    h2 {
      font-size: 32px;
      font-weight: $bold-70;
      color: #333;
      text-transform: uppercase;
    }

    .wrap {
      position: relative;
      height: 100%;
      margin-top: 70px;

      section {
        padding-bottom: 70px;
      }

      .u-table {
        padding-top: 0;
      }

      .u-dataview-list {

        dt {
          justify-content: flex-end;
        }

        dt,
        dd {
          display: flex;
          align-items: center;
          height: 58px;
          padding: 0 16px;
        }
      }

      .title {
        height: 16px;
        margin-bottom: 12px;
        @include setTextStyle($font-lm, $line-lm);
        color: #333;
      }

      .ibk-sys-header {
        top: 0;
        width: 100%;
      }
    }
  }
}