@charset 'utf-8';

.win-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .state {
    display: flex;
    align-items: center;
    height: 27px;
    margin: 0 16px;

    span {
      @include setTextStyle(inherit, inherit);
      color: $FONT_GRAY02;

      &.current {
        font-weight: $bold-70;
        color: $FONT_GRAY01;
      }

      &.slash {
        margin: 0 4px;
      }
    }
  }
}

.win-title {
  @include setTextStyle($font-lm, $line-lm);
  font-weight: $bold-70;
  color: $FONT_GRAY01;
}

.win-links {
  padding: 4px 16px 5px 16px;
  border-radius: 6px;
  border: solid 1px $BORDER_GRAY02;
  background-color: $WHITE;

  ul {
    li {
      padding: 16px 0;

      +li {
        border-top: solid 1px $BORDER_GRAY04;
      }
    }
  }
}

.win-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid $BORDER_GRAY04;

  button {
    margin-left: 6px;
  }
}

.p-dialog-mask {
  background-color: $DIMMED_BLACK !important;
}

.u-type-modal {
  .p-dialog-header {
    padding: 24px;
  }

  .p-dialog-title {
    font-size: 20px;
    color: $FONT_GRAY01;
    line-height: 28px;
  }

  .p-dialog-header-icons {
    button {
      width: 24px;
      height: 24px;
      background-image: url("/public/images/common/btn_modal_close.svg");
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;

      svg {
        display: none;
      }
    }
  }

  .p-dialog-content {
    overflow-x: hidden;
    padding: 0 24px 30px 24px;
  }

  .p-dialog-footer {
    padding: 0 24px 24px 24px;

    .u-modal-footer {
      padding-top: 16px;
      border-top: 1px solid $BORDER_GRAY05;

      &.space {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &.divide {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .flex {
          display: inline-flex !important;
        }
      }

      button {
        margin-right: 6px;
      }
    }
  }
}