@charset "UTF-8";

:root  {
  --object-image-arrow-and:         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 13' color='%2345BF85' fill='none'%3E%3Cpath id='Vector' d='M19 1L10 11L1 1' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
  --object-image-arrow-or:          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 13' color='%239281FC' fill='none'%3E%3Cpath id='Vector' d='M19 1L10 11L1 1' stroke='currentColor' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");

  --object-image-logo-img:          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 94 60' color='white' fill='none'%3E%3Cg%3E%3Cpath d='M23.2191 29.7527C23.3493 18.0911 32.8764 8.61605 44.59 8.61605C52.3992 8.61605 59.2451 12.833 62.9675 19.1063L71.5054 16.8156C66.6117 6.87202 56.4339 0 44.59 0C28.0087 0 14.577 13.4317 14.6031 29.987C14.6031 30.6898 14.6551 31.3666 14.7072 32.0434L23.2191 29.7527ZM93.5271 16.6335L0.728875 41.4925L0.702845 41.4664C-0.390431 41.7528 -0.182188 43.3927 0.963149 43.3927C8.01738 43.4448 16.9979 44.7463 22.5423 50.2907C22.5944 50.3168 22.6204 50.3428 22.6725 50.3949L22.7766 50.499C24.1041 51.9046 25.5358 53.1541 27.0716 54.2734C27.0976 54.2994 27.1497 54.3515 27.1757 54.3515C28.7896 55.4968 30.5336 56.486 32.3297 57.3189C32.3818 57.345 32.4273 57.3645 32.4729 57.384C32.5185 57.4035 32.564 57.4231 32.6161 57.4491C33.449 57.8135 34.3081 58.1519 35.1931 58.4382C35.2582 58.4513 35.3167 58.4708 35.3753 58.4903C35.4339 58.5098 35.4924 58.5294 35.5575 58.5424C36.3644 58.8027 37.1974 59.0369 38.0304 59.2192C38.0955 59.2322 38.154 59.2452 38.2126 59.2582C38.2712 59.2712 38.3297 59.2842 38.3948 59.2972C39.3059 59.4795 40.2169 59.6356 41.128 59.7398C41.149 59.7424 41.1698 59.745 41.1904 59.7476C41.3733 59.7708 41.5395 59.7918 41.7267 59.7918C42.6638 59.8959 43.6269 59.948 44.59 59.948C60.9631 59.948 74.2386 46.8287 74.551 30.5337L65.7267 32.9025C64.269 43.2886 55.3406 51.332 44.564 51.332C43.7571 51.332 42.9762 51.2799 42.1953 51.2018C41.8829 51.1758 41.5966 51.1237 41.3102 51.0717C40.8417 51.0196 40.3731 50.9415 39.9306 50.8374C39.5662 50.7593 39.2018 50.6552 38.8373 50.551C38.473 50.4469 38.1347 50.3429 37.7964 50.2388L37.7961 50.2387C37.5879 50.1606 37.3861 50.0825 37.1844 50.0044C36.9827 49.9263 36.7809 49.8482 36.5727 49.7701C36.4555 49.7181 36.3319 49.666 36.2082 49.6139C36.0846 49.5619 35.961 49.5098 35.8438 49.4578C35.4013 49.2495 34.9328 49.0152 34.4903 48.781C34.3341 48.7029 34.204 48.6248 34.0738 48.5467L34.0738 48.5467C32.3558 47.5575 30.7679 46.3602 29.3883 44.9545C26.3167 41.2582 28.7376 39.332 32.8243 37.9784C36.1041 36.9111 77.6747 22.5944 93.6833 17.076C93.9436 16.9719 93.8135 16.5554 93.5271 16.6335Z' fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
  --object-image-logo-txt:          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 165 24' color='white' fill='none'%3E%3Cg%3E%3Cpath d='M38.9012 8.12581H28.3031C27.7554 8.12581 27.5508 8.83981 28.0202 9.12781C29.254 9.87781 30.5419 11.0718 30.5419 12.7758V20.7138H18.1443C14.413 20.7138 12.7099 18.1218 12.7099 11.7858C12.7099 5.44981 14.3348 3.24181 18.1443 3.24181H38.0225C38.5281 3.24181 38.8049 2.99581 38.8049 2.53981V0.739812C38.8049 0.337812 38.4739 0.0078125 38.0707 0.0078125H11.9757C5.27137 0.0078125 0.835938 5.04181 0.835938 12.0018C0.835938 18.9618 5.51812 23.9958 11.9757 23.9958H38.8952C39.3826 23.9958 39.6294 23.7498 39.6294 23.2938V8.90581C39.6294 8.37181 39.3826 8.12581 38.8952 8.12581H38.9012Z' fill='currentColor'/%3E%3Cpath d='M72.2734 0.594C71.8762 0.21 71.491 0 70.9253 0H69.1981C68.7106 0 68.2773 0.216 67.8982 0.594L46.4733 22.932C46.2567 23.118 46.2266 23.328 46.2266 23.466C46.2266 23.784 46.4733 24 46.8224 24H71.8582C72.3456 24 72.5924 23.754 72.5924 23.298V21.498C72.5924 20.964 72.3456 20.718 71.8582 20.718H52.3892L65.3344 7.05L80.5605 23.388C80.9457 23.802 81.373 23.982 81.9989 23.982H93.1566C93.5719 23.982 93.7825 23.796 93.7825 23.556C93.7825 23.37 93.7224 23.208 93.5358 22.992L72.2614 0.594H72.2734Z' fill='currentColor'/%3E%3Cpath d='M109.955 0.0078125H100.759C100.301 0.0078125 100.055 0.253812 100.055 0.739812V23.2878C100.055 23.7438 100.301 23.9898 100.759 23.9898V23.9718H109.955C110.442 23.9718 110.689 23.7258 110.689 23.2698V0.739812C110.689 0.253812 110.442 0.0078125 109.955 0.0078125Z' fill='currentColor'/%3E%3Cpath d='M164.274 22.992L143 0.594C142.603 0.21 142.218 0 141.652 0H139.925C139.437 0 139.004 0.216 138.625 0.594L117.2 22.932C116.983 23.118 116.953 23.328 116.953 23.466C116.953 23.784 117.2 24 117.549 24H142.585C143.072 24 143.319 23.754 143.319 23.298V21.498C143.319 20.964 143.072 20.718 142.585 20.718H123.116L136.061 7.05L151.287 23.388C151.672 23.802 152.1 23.982 152.725 23.982H163.883C164.298 23.982 164.509 23.796 164.509 23.556C164.509 23.37 164.449 23.208 164.262 22.992H164.274Z' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E");

  --object-image-data-empty:        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 900 570'%3E%3Cg opacity='0.1'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M428.863 86.3909C319.505 86.3909 230.505 174.544 229.291 282.968V283.061L149.817 304.355C149.35 298.032 148.883 291.709 148.883 285.199C148.603 131.211 274.024 6.32812 428.957 6.32812C539.53 6.32812 634.599 70.211 680.267 162.641L600.513 183.935C565.772 125.632 501.8 86.3909 428.863 86.3909ZM19.2743 392.17L885.925 161.002L885.644 161.095C888.353 160.351 889.567 164.256 887.139 165.186C737.623 216.516 349.405 349.581 318.773 359.531C280.577 372.178 257.977 390.031 286.647 424.437C299.535 437.455 314.384 448.614 330.447 457.82C330.896 458.061 331.346 458.315 331.81 458.576C332.598 459.022 333.428 459.49 334.369 459.958C338.478 462.19 342.867 464.329 346.976 466.282C347.815 466.737 348.778 467.13 349.713 467.512C349.923 467.598 350.132 467.684 350.338 467.769C351.459 468.327 352.58 468.792 353.7 469.257C355.662 469.908 357.529 470.652 359.397 471.396C360.744 471.865 362.092 472.383 363.474 472.915C364.008 473.12 364.547 473.327 365.094 473.535C366.31 473.891 367.526 474.261 368.753 474.634C370.729 475.234 372.732 475.844 374.806 476.417C378.168 477.44 381.624 478.37 384.986 479.114C389.095 480.044 393.484 480.788 397.874 481.253C400.582 481.718 403.29 482.183 406.185 482.462C413.469 483.205 420.754 483.67 428.318 483.67C528.898 483.67 612.295 408.908 625.93 312.293L708.299 290.255C705.404 441.733 581.383 563.733 428.505 563.733C419.54 563.733 410.574 563.175 401.796 562.245C400.107 562.245 398.587 562.077 396.994 561.9L396.753 561.873H396.193C387.694 560.944 379.196 559.456 370.697 557.782C370.417 557.735 370.137 557.666 369.857 557.596C369.577 557.526 369.296 557.456 369.016 557.41C368.763 557.368 368.528 557.307 368.286 557.244C367.995 557.168 367.693 557.089 367.335 557.038C359.584 555.271 351.833 553.133 344.268 550.715C343.708 550.622 343.148 550.436 342.587 550.25C342.492 550.218 342.4 550.187 342.31 550.156C341.864 550.004 341.449 549.862 340.906 549.785C332.595 547.088 324.563 543.927 316.812 540.579C316.345 540.3 315.971 540.114 315.504 539.928C315.386 539.869 315.258 539.81 315.124 539.749C314.835 539.615 314.516 539.468 314.197 539.277C297.48 531.466 281.137 522.353 266.102 511.66C265.915 511.66 265.448 511.195 265.168 510.916C250.879 500.594 237.525 488.971 225.104 475.859L224.17 474.929C223.703 474.465 223.423 474.279 222.956 474C171.125 422.391 87.2615 410.303 21.4223 409.838C10.6825 409.838 8.81475 394.588 18.9942 391.891L19.2743 392.17Z' fill='%23262626' fill-opacity='0.5'/%3E%3C/g%3E%3C/svg%3E");
}

.dom-main >:is(.role-signin, .role-home)  { flex: 1; padding: 0 var(--margin-layout-inline-prim) 0; background-color: inherit; }
.dom-main >:is(.role-signin, .role-home) >*  { margin: 0 0; padding: 0 0; }
.dom-main >:is(.role-signin, .role-home) >.div-contents  { padding: var(--margin-layout-block) 0 var(--margin-layout-block-end); }


.dom-main >:is(.role-signin, .role-home)  { position: relative; overflow: auto; overflow-y: scroll; overscroll-behavior: contain; padding-right: calc(var(--margin-layout-inline-prim) - var(--width-global-scrollbar, var(--width-window-scrollbar, 17px))); padding-inline-end: calc(var(--margin-layout-inline-prim) - var(--width-global-scrollbar, var(--width-window-scrollbar, 17px))); }
.dom-main >:is(.role-signin, .role-home) .div-contents  { overflow: visible; }
.dom-main >:is(.role-signin, .role-home) .div-contents:before  { display: none; }


.dom-main >.role-signin  {
  --color-white: var(--typography-primary-main);

  /* --color-text1: var(--typography-secondary-main); */
  /* --color-text-placeholder: var(--color-absolute-white-opacity50); */

  --color-edge-enabled: Transparent;

  --color-ground-enabled: var(--surface-primary0-opacity30);
  --color-ground-button1: #ffffff;

}
/* 
.dom-main:has(>.role-signin)  { container : div-container; }
@container div-container (max-aspect-ratio: 3406 / 1600) {
  .dom-main >.role-signin { background-size: auto 100%; }
}
 */
.dom-main >.role-signin .o-form:not(:hover) :not(:focus-visible)::-webkit-input-placeholder,
  .dom-main >.role-signin .o-form:not(:hover) :not(:focus-visible)::placeholder  { color: var(--color-absolute-white-opacity50); }

.dom-main >.role-signin  { overflow: auto; padding: 0 0; color: var(--typography-secondary-main); background: #050505 url('../../../public/images/part/img_settings_signin01.jpg') no-repeat 50% 0% /100% auto; }
.dom-main >.role-signin .div-root  { display:flex; justify-content: center; position: absolute; z-index: 30; width: 54rem; max-width: 100%; padding: 5rem 2rem; }
.dom-main >.role-signin .div-root >.logo  { display: flex; align-items: center; gap: 2rem; position: relative; overflow: hidden; }
.dom-main >.role-signin .div-root >.logo:before  { content: ""; width: 9.4rem; height: 6rem; background: var(--object-image-logo-img) no-repeat 0 /100%; }
.dom-main >.role-signin .div-root >.logo:after  { content: ""; width: 16.6rem; height: 2.4rem; background: var(--object-image-logo-txt) no-repeat 0 /100%; }
.dom-main >.role-signin .div-root >.logo >.inner  { font-weight: 900; font-size: 4rem; position: absolute; right: -0.25em; color: Transparent; user-select: none; text-transform: uppercase; letter-spacing: 0.4em; }
.dom-main >.role-signin .div-contents  { display: flex; padding: 17rem var(--margin-layout-inline) 13rem; }

@media
  screen and (max-aspect-ratio: 3406 / 1600) {
    .dom-main >.role-signin { background-size: auto 100%; }
}
 
.p-signin  { width: 50rem; min-width: calc(var(--breakpoint-min) - var(--margin-layout-inline) * 2); max-width: 100%; margin: auto; }
.p-signin .m-binds:not(:first-child)  { margin-top: 4rem; }

.p-home  { display: flex; flex-flow: column; min-width: 48rem; min-height: 100%; }
.p-home >*  { flex: none; }
.p-home >:not(:first-child)  { margin-top: var(--margin-global-section); }

.p-home .account-info  { font-weight: var(--bold-70); font-size: var(--font-l); line-height: var(--line-l); display: flex; align-items: center; min-height: 12rem; padding: 3rem 5rem; color: var(--color-white); background: var(--color-black) url('../../../public/images/part/img_settings_home_account01.png') no-repeat 100% 100% /auto 100%; border-radius: calc(var(--radius-global-element) * 1.5); text-shadow: var(--text-shadow); }
.p-home .account-info >*  { flex: none; }

.p-home .account-info >.caption,
  .p-home .account-info .pairs  { display: flex; flex-flow: column; }

.p-home .account-info .pairs >*  { display: block; }
.p-home .account-info .pairs >.head  { font-weight: var(--bold-40); font-size: var(--font-m); line-height: var(--line-m); margin-bottom: 0.6rem; color: var(--typography-secondary-sub); }

.p-home .account-info >.caption >.o-symbol  { margin-bottom: 0.4rem; }

.p-home .account-info >.lists  { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 2rem; flex: 1; white-space: nowrap; }
.p-home .account-info >.lists >*  { margin: 0 3rem; }

.p-home .menu-list  { flex: 1; }
/* .p-home .menu-list >*  { display: flex; flex-flow: row wrap; justify-content: center; gap: var(--gap-global-element-wide); }
.p-home .menu-list >* >*  { width: calc((100% - var(--gap-global-element-wide) * 2) / 3); }
.p-home .menu-list >* >*  { width: 48rem; }
.p-home .menu-list >* >* >*  { height: 100%; } */
/* .p-home .menu-list >*  { display: grid; grid-template-columns: repeat(auto-fit, minmax(48rem, max-content)); justify-content: center; gap: var(--gap-global-element-wide); } */
.p-home .menu-list >*  { display: grid; grid-template-columns: repeat(auto-fit, 48rem); justify-content: center; gap: var(--gap-global-element-wide); }
.p-home .menu-list >* >*  { width: 48rem; max-width: 100%; }
.p-home .menu-list >* >* >*  { height: 100%; }

.p-home .menu-list .menu-section  { display: flex; flex-flow: column; min-height: 36rem; padding: 2.2rem 3.5rem 5.2rem; background: var(--color-ground); border-radius: calc(var(--radius-global-element) * 5); border-top-left-radius: 0; box-shadow: var(--elevation-card-fab); }
.p-home .menu-list .menu-section >*  { flex: none; }

.p-home .menu-list .menu-section >.summary  { position: relative; padding-left: 8.4rem; margin-bottom: var(--margin-global-section); }
.p-home .menu-list .menu-section >.summary .heading  { font-weight: var(--bold-70); font-size: var(--font-xl); line-height: var(--line-xl); }
.p-home .menu-list .menu-section >.summary .description  { display: block; margin-top: 0.6rem; color: var(--color-text2); }
.p-home .menu-list .menu-section >.summary:before  { content: ""; position: absolute; left: 0; width: 6.4rem; height: 6.4rem; background: url('../../../public/images/part/syms_settings_home_card.png') no-repeat 0 /1100%; }
.p-home .menu-list >* >:nth-child(1) .menu-section >.summary:before  { background-position: 10%; }
.p-home .menu-list >* >:nth-child(2) .menu-section >.summary:before  { background-position: 20%; }
.p-home .menu-list >* >:nth-child(3) .menu-section >.summary:before  { background-position: 30%; }
.p-home .menu-list >* >:nth-child(4) .menu-section >.summary:before  { background-position: 40%; }
.p-home .menu-list >* >:nth-child(5) .menu-section >.summary:before  { background-position: 50%; }
.p-home .menu-list >* >:nth-child(6) .menu-section >.summary:before  { background-position: 60%; }

.p-home .menu-list .menu-section >.items  { font-weight: var(--bold-70); font-size: var(--font-lm); line-height: var(--line-lm); margin-top: auto; }
.p-home .menu-list .menu-section >.items >* >*  { position: relative; }
.p-home .menu-list .menu-section >.items >* >:not(:first-child)  { margin-top: 0.4rem; }
.p-home .menu-list .menu-section >.items >* >* >.link  { display: block; padding: 0.7rem 2rem; background: var(--mode-primary-hovered); border-radius: var(--radius-global-element); }
.p-home .menu-list .menu-section >.items >* >:has(.favorite) >.link >.label  { padding-right: 3.4rem; }
.p-home .menu-list .menu-section >.items >* >* >.favorite  { line-height: 1; position: absolute; top: 50%; right: 2rem; transform: translateY(-50%); }









.p-network-resource  { display: flex; height: 100%; }
.p-network-resource >*  { flex: auto; }

.p-network-resource >.treemenu  { min-width: 23.4rem; }
.p-network-resource >.treemenu >.search  { margin-bottom: var(--gap-global-element); }

.p-network-resource >.container  { min-width: calc(100% - 23.4rem); padding-left: var(--margin-layout-inline); }
.p-network-resource >.container >.default-body  { display: flex; flex-flow: row wrap; height: 100%; color: var(--color-white); background: var(--surface-secondary2) url('../../../public/images/part/img_settings_network01.png') no-repeat 100% 100% /auto 100%; text-shadow: var(--text-shadow); }
.p-network-resource >.container >.default-body  { margin-right: -1rem; padding: var(--margin-layout-block) 9rem; overflow: hidden; }
/* .p-network-resource >.container >.default-body >*  { align-self: center; margin-top: calc(100% * 178.5 / 900); } */
/* .p-network-resource >.container >.default-body >*  { align-self: center; transform: translateY(-150%); } */
.p-network-resource >.container >.default-body >*  { align-self: center; position: relative; top: -20%; }

.p-network-resource .default-body .section:before  { content: "";  display: block; width: 4.3rem; height: 0.3rem; background: var(--typography-secondary-disabled); }
.p-network-resource .default-body .section .heading  { font-weight: var(--bold-70); font-size: var(--font-20xl); line-height: var(--line-20xl); padding: var(--margin-global-section) 0; }



.p-network-resource >.container:where(.dom-main:has(>.role-secondary.split-view-view-visible) *)  { display: none; }








.p-add-network  { max-width: 60rem; }
.p-add-network .m-fields >* >.m-inline-binds  { display: none; }
.p-add-network .m-fields >* >.flow-block  { flex-basis: 0%; margin-left: var(--gap-global-element); }

.p-add-video-unit  { max-width: 60rem; }
.p-add-video-unit .m-fields >* >.m-inline-binds  { display: none; }

.p-add-video-unit >.method  { padding-bottom: var(--gap-global-element); box-shadow: inset 0 calc(-1* var(--e10)) 0 0 var(--color-edge2); }

.p-add-video-unit >.panels  {  }

.p-add-video-unit:has(>.method .m-checks >:nth-child(1) :checked) >.panels >.panel:not(:nth-child(1))  { display: none; }
.p-add-video-unit:has(>.method .m-checks >:nth-child(2) :checked) >.panels >.panel:not(:nth-child(2))  { display: none; }
.p-add-video-unit:has(>.method .m-checks >:nth-child(3) :checked) >.panels >.panel:not(:nth-child(3))  { display: none; }



.p-record-mode  { display: flex; min-width: 121rem; max-height: none; }
.p-record-mode >*  { display: flex; flex-direction: column; flex: none; padding: 0 var(--margin-layer-inline); }

.p-record-mode >:not(:last-child)  { padding-left: 0; border-right: var(--e10) solid var(--color-edge2); }

.p-record-mode >.nav >*  { width: 27.1rem; }
.p-record-mode >.nav:not(._empty) >.empty  { display: none; }
.p-record-mode >.nav >.empty  { display: flex; flex-flow: column; gap: var(--gap-global-element); margin: auto; padding: var(--gap-global-element-wide); color: var(--color-text2); text-align: center; }
.p-record-mode >.nav >.empty >.binds  { order: -1; }
.p-record-mode >.nav >.menus  { flex: 1; }
.p-record-mode >.nav >.binds  { position: sticky; bottom: 0; margin-top: var(--gap-global-element); background: var(--color-ground); }
.p-record-mode >.nav >.binds:before  { content: ""; position: absolute; left: 0; top: 1.2rem; right: 0; margin: 0 1.2rem; box-shadow: 0 0 1.2rem 1.6rem var(--color-ground); }
.p-record-mode >.main  { flex: 1; }
.p-record-mode >.main >*  { display: flex; flex-direction: column; flex: none; min-width: 84.8rem; }
.p-record-mode >.main:before  { position: absolute; z-index: 5; inset: 0; backdrop-filter: grayscale(1); }

.p-record-mode >.main >.subject  { margin-bottom: var(--gap-global-element-wide); }

.p-record-mode >.main >.secondary  { margin-top: var(--gap-global-element-wide); padding: 1.9rem 1.9rem; border: var(--e10) solid Transparent; background: var(--surface-primary2); border-radius: var(--radius-global-element); }
.p-record-mode >.main >.secondary >*  { display: flex; }
.p-record-mode >.main >.secondary >* >*  { flex: 1; padding-right: var(--gap-global-element-wide); }
.p-record-mode >.main >.secondary >* >* >.head  { display: block; margin-bottom: 0.6rem; }
/* .p-record-mode >.main >.secondary .m-forms >.label:not(:first-of-type)  { margin-left: var(--gap-global-element); } */
.p-record-mode >.main >.secondary .m-fields >.item  { gap: var(--gap-global-element-wide); }

.p-record-mode >.nav._empty >:not(.empty)  { display: none; }
.p-record-mode >.nav._empty ~.main  { filter: grayscale(1); opacity: 0.6; pointer-events: none; user-select: none; }
.p-record-mode >.nav._empty ~.main:before  { content: ""; }


.p-record-mode .table  { font-size: var(--font-2xs); line-height: var(--line-2xs); display: flex; order: -1; }
.p-record-mode .table .cell  { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; min-height: 3rem; background: var(--color-ground2); border-radius: calc(var(--radius-global-element) / 2); transition: 0.05s ease-out; }
.p-record-mode .table .unit  { display: inline-flex; width: 100%; min-width: 3rem; height: 100%; min-height: 3rem; border: 0.3rem solid Transparent; border-radius: inherit; transition: inherit; }
.p-record-mode .table th .cell  { border: var(--e10) solid Transparent; background-color: Transparent; border-radius: 0; }

.p-record-mode .select-mode  { margin-top: var(--gap-global-element); }
.p-record-mode .select-mode .o-button.fn-aly .o-symbol  { color: var(--color-state-event); }
.p-record-mode .select-mode .o-button.fn-evt .o-symbol  { color: var(--color-state-neut); }
.p-record-mode .select-mode .o-button.fn-not .o-symbol  { color: var(--color-gray); }

.p-record-mode .table >table  { display: inline-table; margin: 0 auto; text-align: center; }
.p-record-mode .table >table >* >tr  { height: 3rem; }
.p-record-mode .table >table >* >tr >*  { border-width: var(--e10); border-color: Transparent; }
.p-record-mode .table >table >* >tr >th  { font-weight: var(--bold-70); }
.p-record-mode .table >table >thead:first-of-type >tr:first-child >*  { border-top-width: 0; }
.p-record-mode .table >table >:last-child >tr:last-child >*  { border-bottom-width: 0; }
.p-record-mode .table >table >* >tr >*:first-child  { width: calc(1em * 40 / 12); border-left-width: 0; }
.p-record-mode .table >table >* >tr >*:last-child  { border-right-width: 0; }


.p-record-mode >*  { position: relative; overflow: auto; overflow-y: scroll; padding-right: calc(var(--margin-layer-inline) - var(--width-global-scrollbar, var(--width-window-scrollbar, 17px))); padding-inline-end: calc(var(--margin-layer-inline) - var(--width-global-scrollbar, var(--width-window-scrollbar, 17px))); }







.p-record-mode .select-mode .o-button.js_selected  { border-color: var(--color-edge-selected); background-color: var(--color-ground-selected); }

.p-record-mode .table.js_dragSelect-selectstart th .cell:hover  { border-color: var(--color-edge-selected); background-color: var(--color-ground-selected); cursor: pointer; }
.p-record-mode .table .cell.js_dragSelect-selected .unit,
.p-record-mode .table .cell.js_dragSelect-hover .unit,
.p-record-mode .table.js_dragSelect-selectstart .cell:hover .unit  { border-color: var(--border-scroll-5) }
.p-record-mode .table .cell.js_dragSelect-selected .unit  { background-color: var(--color-ground-selected2); }
.p-record-mode .table .cell[data-value="A"]  { background-color: var(--color-state-event); }
.p-record-mode .table .cell[data-value="E"]  { background-color: var(--color-state-neut); }
.p-record-mode .table .cell[data-value="N"]  { background-color: var(--color-gray); }


.jsui_dragSelect-selection  { position: absolute; z-index: 999; background: var(--color-ground-selected, #259FFF1F); box-shadow: inset 0 0 0 var(--e10, 1px) var(--color-edge-selected, #259fff); }
html:has(.jsui_dragSelect-selection) *  { user-select: none; cursor: default; }
