@charset "UTF-8";
/*! 
 **	PRIBIT.com Common-Modules CSS
 *	Author   :	PRIBIT Front-end UX.Div
 *	Create   :	2021-03-10 | 2dea; ego@2dea.com
 *	Update   :	2021-03-10 | 2dea
 *	Comments :	-
 */


.o-heading1  { font-family: var(--typo-sans-header); font-weight: var(--bold-900); font-size: var(--font-4xl); line-height: var(--line-4xl); display: block; margin-bottom: 4rem; text-transform: uppercase; }
.o-heading2  { font-family: var(--typo-sans-header); font-weight: var(--bold-900); font-size: var(--font-3xl); line-height: var(--line-3xl); display: block; margin-bottom: 8rem; }
.o-heading3  { font-family: var(--typo-sans-header); font-weight: var(--bold-900); font-size: var(--font-2xl); line-height: var(--line-2xl); display: block; margin-bottom: 2.4rem; }
.o-heading4  { font-family: var(--typo-sans-header); font-weight: var(--bold-700); font-size: var(--font-xl); line-height: var(--line-xl); display: block; margin-bottom: 1.6rem; }


.o-button,
.o-bind  { font-size: 100%; display: inline-block; vertical-align: middle; position: relative; min-width: 4em; height: 2em; min-height: 0; padding: 0.375ex 0.5em; border: 1px solid Transparent; color: ButtonText; background: ButtonFace; border-radius: 0; text-decoration: none; text-align: center; white-space: nowrap; }
.o-button:before,  .o-button:after,
.o-bind:before,  .o-bind:after  { content: ""; display: inline-block; vertical-align: middle; height: 100%; margin-top: 0.325ex; }

.o-button  { font-weight: var(--bold-700); font-size: var(--font-l); line-height: var(--line-l); height: 5.6rem; border-color: currentColor; color: var(--color-text1); background-color: var(--color-ground); border-radius: 1.2rem; box-shadow: 0 0.4rem 12px -0.8rem rgba(0,0,0, 0.6); }
.o-button[disabled],  .o-button[aria-disabled="true"]  { color: var(--color-gray) !important; background-color: var(--color-ground1) !important; opacity: 1.0; }
.o-button:not([disabled]),  .o-button:not([aria-disabled="true"])  { -webkit-transition: all 0.2s; transition: all 0.2s; -webkit-transition-property: border-color, background-color, color; transition-property: border-color, background-color, color; }
.o-button.type-multiline  { height: auto !important; white-space: normal; }

.o-button._anchor  { border-color: var(--color-main1); background-color: var(--color-main1); color: var(--color-white); }
.o-button._anchor._product1  { border-color: #eba800; background-color: #eba800; }
.o-button._anchor._product2  { border-color: #528af3; background-color: #528af3; }
.o-button._anchor._product3  { border-color: #7768e0; background-color: #7768e0; }
.o-button._anchor._product4  { border-color: #20b561; background-color: #20b561; }
.o-button._anchor._product5  { border-color: #c7a165; background-color: #c7a165; }
.o-button._anchor._product6  { border-color: #6d62d4; background-color: #6d62d4; }


.o-icon  { display: inline-block; vertical-align: middle; position: relative; width: 12rem; height: 12rem; background: var(--color-ground); border-radius: 1.2rem; box-shadow: 0 0.2rem 16px rgba(33,35,38, 0.12); }
.o-icon:before  { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.o-icon:before  { content: ""; display: inline-block; vertical-align: middle; width: 8rem; height: 8rem; background: none no-repeat; }

.o-icon.recruit-culture1:before  { background-image: url('../img/common/ico_recruit_culture1.png'); }
.o-icon.recruit-culture2:before  { background-image: url('../img/common/ico_recruit_culture2.png'); }
.o-icon.recruit-culture3:before  { background-image: url('../img/common/ico_recruit_culture3.png'); }
.o-icon.recruit-culture4:before  { background-image: url('../img/common/ico_recruit_culture4.png'); }
.o-icon.recruit-culture5:before  { background-image: url('../img/common/ico_recruit_culture5.png'); }
.o-icon.recruit-culture6:before  { background-image: url('../img/common/ico_recruit_culture6.png'); }
.o-icon.recruit-position-svc-plan:before  { background-image: url('../img/common/ico_recruit_position_svc_plan.png'); }
.o-icon.recruit-position-lab-network:before  { background-image: url('../img/common/ico_recruit_position_lab_network.png'); }
.o-icon.recruit-position-lab-front:before  { background-image: url('../img/common/ico_recruit_position_lab_front.png'); }
.o-icon.recruit-position-lab-windows:before  { background-image: url('../img/common/ico_recruit_position_lab_windows.png'); }
.o-icon.recruit-position-lab-android:before  { background-image: url('../img/common/ico_recruit_position_lab_android.png'); }
.o-icon.recruit-position-lab-ios:before  { background-image: url('../img/common/ico_recruit_position_lab_ios.png'); }
.o-icon.recruit-position-lab-macos:before  { background-image: url('../img/common/ico_recruit_position_lab_macos.png'); }
.o-icon.recruit-position-lab-linux:before  { background-image: url('../img/common/ico_recruit_position_lab_linux.png'); }
.o-icon.recruit-position-biz-solution:before  { background-image: url('../img/common/ico_recruit_position_biz_solution.png'); }
.o-icon.recruit-position-biz-main:before  { background-image: url('../img/common/ico_recruit_position_biz_main.png'); }
.o-icon.recruit-position-biz-network:before  { background-image: url('../img/common/ico_recruit_position_biz_network.png'); }
.o-icon.recruit-procedure-contact:before  { background-image: url('../img/common/ico_recruit_procedure_contact.png'); }


.m-step  { font-size: var(--font-xl); line-height: var(--line-xl); clear: both; text-align: center; }
.m-step.type-col  { overflow: hidden; margin: -1rem -1rem; padding: 1rem 1rem; }
.m-step.type-col >*  { display: table; table-layout: fixed; border-spacing: 4rem 4.8rem; width: 100%; width: calc(100% + 8rem); margin: -4.8rem -4rem; }
.m-step.type-col >* >*  { display: table-cell; vertical-align: middle; position: relative; height: 12rem; padding: 1.6rem 0.5rem; background: var(--color-ground); border-radius: 1.2rem; box-shadow: 0 0.2rem 16px rgba(33,35,38, 0.12); }
.m-step.type-col >* >:empty  { background-color: Transparent !important; box-shadow: none; }
/* .m-step.type-col >* >:before  { content: ""; position: absolute; left: -4rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 4rem; height: 100%; min-height: 4rem; background: url('../img/common/ico_steps_arrow_rights.png') no-repeat 50%; }
html.-ms .m-step.type-col >* >:before  { top: auto; transform: translateY(0); } */
.m-step.type-col >* >:before  { content: ""; position: absolute; left: -4rem; top: 4rem; width: 4rem; min-height: 4rem; background: url('../img/common/ico_steps_arrow_right.png') no-repeat 50%; }
.m-step.type-col >* >:empty:before,
.m-step.type-col >* >:first-child:before,
.m-step.type-col >* >.clear:before  { content: none; }
.m-step.type-col >* >.last  { background-color: #ffb600; }
.m-step.type-col >* >.final  { background-color: #212326; color: var(--color-white); }

.m-step.type-col >.size-l  { font-size: var(--font-2xl); line-height: var(--line-2xl); }
.m-step.type-col >.size-l >*  { height: 24rem; }
.m-step.type-col >.size-l >:before  { top: 10rem; }


.m-board  { clear: both; }

.m-board >.list  { font-size: var(--font-m); line-height: var(--line-m); }
.m-board >.list >*  { margin-top: 4rem; }
.m-board >.list >:first-child  { margin-top: 0; }
.m-board >.list >.nodata  { padding: 4.8rem 0; color: #7f878e; text-align: center; }
.m-board >.list >.nodata >:first-child:before  { content: ""; display: block; width: 7.2rem; height: 7.2rem; margin: 0 auto 1.6rem; background: url('../img/common/ico_nodata.png') no-repeat; }
.m-board >.list .article  { position: relative; min-height: 12rem; padding-left: 20.8rem; }
.m-board >.list .article >*  { display: block; margin: 0.8rem 0; }
.m-board >.list .article >:first-child  { margin-top: 0; }
.m-board >.list .article >:last-child  { margin-bottom: 0; }
.m-board >.list .article .thumbnail  { position: absolute; left: 0; top: 0; width: 16.8rem; height: 12rem; overflow: hidden; border-radius: 0.8rem; text-align: center; }
.m-board >.list .article .thumbnail:before  { content: ""; display: inline-block; vertical-align: top; height: 100%; }
.m-board >.list .article .thumbnail >img  { vertical-align: top; width: 100%; border-radius: inherit; }
.m-board >.list .article .thumbnail .noimage  { width: auto; padding: calc((12rem - 2.4rem) / 2) calc((100% - 2.4rem) / 2); background: #c8cdd3; }
.m-board >.list .article .subject  { font-weight: var(--bold-700); font-size: var(--font-xl); line-height: var(--line-xl); display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.m-board >.list .article .preview  { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: 3em; overflow: hidden; text-overflow: ellipsis; }

.m-board >.post >.header  { display: table; table-layout: fixed; width: 100%; margin-bottom: 4rem; border-bottom: 2px solid rgba(0,0,0, 0.1); }
.m-board >.post >.header >*  { display: table-row; }
.m-board >.post >.header >* >*  { display: table-cell; vertical-align: bottom; padding-bottom: 4rem; }
.m-board >.post >.header .subject  { font-size: var(--font-l); line-height: 1.2; }
.m-board >.post >.header .info  { font-size: var(--font-m); line-height: var(--line-m); width: 16.8rem; text-align: right; text-align: end; }
.m-board >.post >.body  { font-family: inherit; font-weight: inherit; font-size: var(--font-m); line-height: var(--line-m); color: inherit; text-align: justify; word-wrap: break-word; }
.m-board >.post >.body >.images img  { display: block; vertical-align: middle; max-width: 100%; margin-bottom: 2.5em; }


.m-page  { font-size: var(--font-m); line-height: var(--line-m); clear: both; color: var(--color-text1); text-align: center; white-space: nowrap; }
.m-page button,
.m-page a  { line-height: inherit; }
.m-page.type-nav  { padding-top: 2.4rem; border-top: 2px solid rgba(0,0,0, 0.1); }
.m-page.type-nav button,
.m-page.type-nav a  { display: inline-block; vertical-align: middle; min-width: 3.2rem; height: 3.2rem; margin: -0.4rem 0; padding: 0.4rem 0.6rem; border: 0 solid Transparent; background: Transparent; }
.m-page.type-nav .item +*  { margin-left: 3.2rem; }
.m-page.type-nav .item >.prev:before,
.m-page.type-nav .item >.next:after  { content: ""; display: inline-block; vertical-align: middle; width: 2.4rem; height: 2.4rem; margin: -0.4ex 0 0; background: url('../../asset/img/common/btns_paging.png') no-repeat 50%; }
.m-page.type-nav .item >.prev:before  { margin-left: -0.6rem; margin-right: 0.8rem; background-position: 25%; }
.m-page.type-nav .item >.next:after  { margin-left: 0.8rem; margin-right: -0.6rem; background-position: 75%; }

.layer-body >.div-footer >.m-page.type-nav  { margin-top: 8rem; margin-bottom: -1.6rem; }


.m-pages  { font-size: var(--font-m); line-height: var(--line-m); clear: both; text-align: center; white-space: nowrap; }
.m-pages button,
.m-pages a  { display: inline-block; vertical-align: middle; min-width: 3.2rem; height: 3.2rem; padding: 0.4rem 0.6rem; border: 0 solid Transparent; background: var(--color-ground); }
.m-pages :hover  { border-color: currentColor; }
.m-pages [disabled],  .m-pages [aria-disabled="true"]  { border-color: Transparent; opacity: 0.3; }
.m-pages >.wrap  { display: inline-block; vertical-align: middle; position: relative; margin: -0.4rem 0 0; }
.m-pages .label  { position: absolute; left: -11rem; top: 50%; transform: translateY(-50%); color: Transparent; }
.m-pages .page  { display: inline-block; vertical-align: middle; padding: 0 5.6rem; }
.m-pages .page >*  { display: inline; float: left; position: relative; color: #a2aab2; }
.m-pages .page >* +*  { margin-left: 0.8rem; }
.m-pages .page >[aria-current="page"],
.m-pages .page >[aria-current="true"]  { border-color: currentColor; color: var(--color-text1); }
.m-pages .page >:before  { content: ""; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; height: 2px; overflow: hidden; background: var(--color-text1); -webkit-transition: width 0.15s; transition: width 0.15s; }
.m-pages .page >[aria-current="page"]:before,
.m-pages .page >[aria-current="true"]:before  { width: 100%; width: calc(100% - 0.8rem); background-color: var(--color-main1); }
.m-pages .page:hover >:before  { width: 0; }
.m-pages .page >:not([disabled]):not([aria-disabled="true"]):hover:before,
.m-pages .page >:not([disabled]):not([aria-disabled="true"]):focus:before  { width: 100%; width: calc(100% - 0.8rem); }
.m-pages .skip >*  { position: absolute; min-height: 0; }
.m-pages .skip >* >.inner  { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); color: Transparent; }
.m-pages .skip >:before  { content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 2.4rem; height: 2.4rem; background: url('../../asset/img/common/btns_paging.png') no-repeat 50%; }
.m-pages .skip .prev  { left: 0; }
.m-pages .skip .next  { right: 0; }
.m-pages .skip .first  { left: -4.8rem; }
.m-pages .skip .last  { right: -4.8rem; }
.m-pages .skip .prev:before  { background-position: 25%; }
.m-pages .skip .next:before  { background-position: 75%; }
.m-pages .skip .first:before  { background-position: 0; }
.m-pages .skip .last:before  { background-position: 100%; }

.m-board >.m-pages  { margin-top: 4rem; padding-top: 3.2rem; border-top: 2px solid rgba(0,0,0, 0.1); }


.m-bullet  { clear: both; }
.m-bullet >* *,  .m-bullet >:before,  .m-bullet >:after  { text-indent: 0; }
.m-bullet >dt  { margin-left: -0.8em; text-indent: 0 !important; }
.m-bullet >dt:before  { content: none !important; }

.m-bullet._disc  { padding-left: 0.8em; }
.m-bullet._disc >*  { text-indent: -0.8em; }
.m-bullet._disc >:before  { content: "•"; display: inline-block; width: 0.8em; text-align: center; }


.m-define-list  { clear: both; }
.m-define-list >* ~dt  { margin-top: 2.4rem; }
.m-define-list >dt.type-bracket-square:before  { content: "["; }
.m-define-list >dt.type-bracket-square:after  { content: "]"; }
