@charset "UTF-8";
/*! 
 **	2dea.com Initial-Reset(/Default-Global) CSS v5.1
 *	Author   :	2dea.Com Front-end UX.Div
 *	Create   :	2007-07-21 | 2dea; 2ndLAB@2dea.com
 *	Update   :	2020-08-04 | 2dea
 *	Comments :	2020-08-04 | MOD Line All | @2dea(2ndLAB@2dea.com)
 *				2019-03-18 | INS Line All | @2dea(2ndLAB@2dea.com)
 *				2013-12-19 | MOD Line All | @2dea(2ndLAB@2dea.com)
 */


/**	Type Selector
 ---------------- */

/**	Global Custom-Properties */
:root  {
	--breakpoint-min:		320px;
	/* --breakpoint-max:		48rem; */ /* iPad 768px (480*1.6) / 2 = 384 */
	--breakpoint-max:		41.4rem; /* iPhone 414px */
	--breakpoint-max-lg:	41.4rem; /* iPhone 414px */
	--breakpoint-max-xl:	58.6rem; /* GalaxyFold 586px */

	--safe-area-constant-left:		constant(safe-area-inset-left);
	--safe-area-constant-top:		constant(safe-area-inset-top);
	--safe-area-constant-right:		constant(safe-area-inset-right);
	--safe-area-constant-bottom:	constant(safe-area-inset-bottom);
	--safe-area-env-left:			env(safe-area-inset-left, 0px);
	--safe-area-env-top:			env(safe-area-inset-top, 0px);
	--safe-area-env-right:			env(safe-area-inset-right, 0px);
	--safe-area-env-bottom:			env(safe-area-inset-bottom, 0px);
	--safe-area-left:				var(--safe-area-env-left, var(--safe-area-constant-left, 0px));
	--safe-area-top:				var(--safe-area-env-top, var(--safe-area-constant-top, 0px));
	--safe-area-right:				var(--safe-area-env-right, var(--safe-area-constant-right, 0px));
	--safe-area-bottom:				var(--safe-area-env-bottom, var(--safe-area-constant-bottom, 0px));


	--bold-100:			100;
	--bold-400:			300;
	--bold-700:			600;
	--bold-900:			900;

	--text-height:		1.5;
	--text-spacing:		-0.03em;

	--font-4xs:			1.0rem;
	--font-3xs:			1.1rem;
	--font-2xs:			1.2rem;
	--font-xs:			1.3rem;
	--font-s:			1.4rem;
	--font-sm:			1.5rem;
	--font-m:			1.6rem;
	--font-lm:			1.7rem;
	--font-l:			1.8rem;
	--font-xl:			2.0rem;
	--font-2xl:			2.2rem;
	--font-3xl:			2.4rem;

	--typo-serif:		'wf-NotoSerifKR', 'Noto Serif CJK KR', 'AppleMyungjo', '바탕', 'Batang', serif;
	--typo-sans:		'wf-NotoSansKR', 'Noto Sans CJK KR', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', sans-serif;
	--typo-sans-en:		'wf-OpenSans', 'wf-NotoSansKR', 'Noto Sans CJK KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', sans-serif;
	--typo-sans-number:	'wf-OpenSansNum', 'Noto Sans CJK KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', sans-serif;
	--typo-basic:		'wf-OpenSansNum', 'wf-NotoSansKR', 'Noto Sans CJK KR', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', sans-serif;
	--typo-mono:		'wf-D2Mono', 'D2Coding', 'Noto Sans Mono CJK KR', 'Consolas', 'Monaco', 'Courier New', 'Lucida Console', 'Courier', '바탕체', 'BatangChe', monospace;
	--typo-password:	'wf-disc', 'wf-OpenSans', 'Noto Sans CJK KR', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', sans-serif;
	--typo-emoji:		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-line1:		#0E0E19;
	--color-line2:		#EBEBF1;
	--color-line3:		#C7C7CD;
	--color-text1:		#0E0E19;
	--color-text2:		#8E8E9A;
	--color-text3:		#5A5A73;
	--color-text4:		#C7C7CD;
	--color-text5:		#A6A6B7;
	--color-error:		#FF5858;
	--color-point1:		#4C61CE;
	--color-point2:		#FE65A0;
	--color-main1:		#4C61CE;
	--color-main2:		#3E54BF;
	--color-button:		#C7C7CD;
	--color-button1:	#4C61CE;
	--color-button2:	#EBEBF1;
	--color-button3:	#5A5A73;
	--color-gray:		#DDDDE1;
	--color-ground:		#FFFFFF;
	--color-ground1:	#F5F5F8;
	--color-theme1:		#E4E7F6;
	--color-theme2:		#E4F5E8;
	--color-theme3:		#F6EFE4;
	--color-theme4:		#E1F1F5;
	--color-theme5:		#F9E5F6;
	--color-theme6:		#F9E7E7;
	--color-black:		#000000;
	--color-white:		#FFFFFF;
	--color-dimmed:		#000000;

	--alpha-dimmed:		0.5;

	--height-window-maximum: 100vh;
	--height-window-viewport: var(--height-window-variable, calc(100vh - 80px));
	--margin-safe-bottom-fallback: calc(var(--safe-area-bottom, 0px) / -2);

	--height-layout-header: 5rem;
	--height-layout-footer: 6rem;
	--height-layout-footer-safe: calc(var(--height-layout-footer) + var(--safe-area-bottom, 0px));
	--margin-layout-block: 3.5rem;
	--margin-layout-block-start: 3.5rem;
	--margin-layout-block-end: 6rem;
	--padding-layout-block: 2rem;
	--padding-layout-inline: 2rem;
	--padding-layout-inline-start: 4rem;

	--height-layer-header: 5rem;
	--height-layer-footer: 6rem;
	--height-layer-footer-safe: calc(var(--height-layer-footer) + var(--safe-area-bottom, 0px));
	--margin-layer-block: 3.5rem;
	--padding-layer-block: 2rem;
	--padding-layer-inline: 4rem;
	--height-layer-contents: calc(var(--margin-layer-block) * 2);
	--height-layer-body: calc(var(--height-layer-header) + var(--height-layer-footer) + var(--height-layer-contents, 0px));
}

/**	Type Selector */
*,
:before,  :after  { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html  {
	direction: ltr; font: 125% /1.5 'Noto Sans CJK KR', 'Apple SD Gothic Neo', '맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', sans-serif;
	scroll-behavior: smooth; overscroll-behavior: auto none;
	-ms-text-underline-position: below; text-underline-position: under;
	-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: hsla(0,0%,0%, 0.0);
}
body  {
	font-family: inherit; font-size: 0.8em; line-height: inherit; overflow-y: auto; margin: 0;
	color: WindowText; background: Transparent;
	word-wrap: break-word; word-break: break-word; word-break: keep-all; letter-spacing: normal;
	overscroll-behavior: inherit;
}
input,  button,  select,  textarea  { font-family: inherit; font-weight: inherit; font-size: 100%; line-height: 1.25; vertical-align: middle; min-height: 2em; max-height: 100vh; color: inherit; text-shadow: inherit; }
pre,  code,  samp,  kbd  { font-family: 'wf-D2Mono', 'D2Coding', 'Noto Sans Mono CJK KR', 'Consolas', 'Monaco', 'Courier New', 'Lucida Console', 'Courier', '바탕체', 'BatangChe', monospace; font-family: var(--typo-mono); font-size: 100%; }
pre *,  code *,  samp *,  kbd *  { font-family: inherit; }
h1,  h2,  h3,  h4,  h5,  h6,  strong,  th,  optgroup,  option  { font-weight: inherit; font-size: 100%; }
address,  em,  cite,  dfn,  var,  optgroup  { font-style: inherit; }
article,  section,  nav,  aside,  header,  footer,
figure,  figcaption,  main,  details,  dialog  { display: block; }
video,  audio,  progress,  canvas  { display: inline-block; vertical-align: baseline; }
img,  iframe,  embed,  object,  video,  audio,
legend, input,  button,  select,  textarea  { max-width: 100%; }
h1,  h2,  h3,  h4,  h5,  h6,
p,  hr,  pre,  blockquote,  ul,  ol,  dl,  dd,  figure,
form,  fieldset,  input,  button,  select,  textarea  { margin: 0; }

hr  { clear: both; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; overflow: visible; border-style: none; }
pre  { overflow: auto; -webkit-overflow-scrolling: touch; padding: 0; -o-tab-size: 4; -moz-tab-size: 4; tab-size: 4; word-wrap: normal; word-break: normal; }
ul,  ol  { list-style-type: none; padding-left: 0; }
a  { font-size: 100%; background-color: Transparent; color: inherit; text-decoration: none; }
small  { font-size: 100%; }
q:before,  q:after  { content: ""; content: none; }
abbr[title]  { border-bottom-style: none; text-decoration: underline; text-decoration: underline dotted; }
b  { font-weight: bolder; font-weight: var(--bold-700, 700); }
mark  { background-color: Transparent; color: inherit; }
br  { letter-spacing: 0 !important; }
ins,  del  { text-decoration: none; }
img  { vertical-align: middle; border-style: none; }
iframe  { vertical-align: top; -webkit-overflow-scrolling: touch; overscroll-behavior: contain; border-style: none; }
audio:not([controls])  { display: none; height: 0; }
svg:not(:root)  { overflow: hidden; }
table  { table-layout: auto; empty-cells: show; border-collapse: collapse; border-spacing: 0; border-width: 0; }
caption,  th  { text-align: inherit; }
th,  td  { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; padding: 0; border: 0 solid; border-width: 1px 1.1px; }
fieldset  { min-width: 0; padding: 0; border-style: none; }
legend  { display: table; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; color: inherit; white-space: normal; }
label  { display: inline-block; cursor: pointer; }
input[type="range"],  input[type="color"],  input[type="checkbox"],  input[type="radio"]  { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 0; padding: 0; }
input[type="submit"],  input[type="reset"],  input[type="button"],  button  { -webkit-appearance: button; min-width: 4em; overflow: visible; padding: 0.375ex 0.375em; cursor: pointer; text-transform: none; }
select  { text-transform: none; }
option  { display: block !important; color: inherit; white-space: nowrap; }
textarea  { line-height: inherit; overflow: auto; -webkit-overflow-scrolling: touch; word-break: normal; }
progress  { vertical-align: baseline; }
summary  { display: list-item; }
dialog  { padding: 0; border-style: none; }
template  { display: none; }

[hidden]  { display: none !important; }
[disabled],
[aria-disabled="true"]  {
	color: GrayText;
	-webkit-text-fill-color: currentColor;
	opacity: 0.75;
	cursor: default;
	cursor: not-allowed;
}

/**	Styles Selector
 ------------------ */

/**	Primary-Styles Selector */
html .c-hidden  { font-size: 1%; font-size: 100%; display: inline-block; height: 1px; width: 1px; overflow: hidden; margin: 0 -1px -1px 0; padding: 0; border: 0; background: none; visibility: visible; white-space: nowrap; }
html caption .c-hidden,  html legend .c-hidden,
html .c-absolute.c-hidden  { position: absolute; clip: rect(0 0 0 0); clip: rect(0,0,0,0); clip-path: circle(0); width: auto; margin-right: 0; white-space: inherit; }

html .c-italic  { font-style: italic !important; }

html .c-lighter  { font-weight: lighter !important; }
html .c-bolder  { font-weight: bolder !important; }

html .c-color-inherit  { color: inherit !important; }

/**	Secondary-Styles Selector */
html .c-typo-en,
html .c-typo-number  { font-family: var(--typo-sans-en); }

html .c-fixed-table  { table-layout: fixed; }
html .c-fixed-data  { max-width: 0; }

html .c-align-justify  { text-align: justify; }
html .c-align-center  { text-align: center; }
html .c-align-end  { text-align: right; text-align: end; }
html .c-align-start  { text-align: left; text-align: start; }

html .c-word-pred  { word-break: break-all; word-break: break-word; }
html .c-word-attr  { word-break: break-word; word-break: keep-all; }

html .c-nowrap  { white-space: nowrap; }



html .g-test  { outline: thick solid Red !important; }
html .g-debug:after  { content: ""; display: block; position: absolute; z-index: 100; left: 0; top: 0; width: 100px; height: 100px; background: Red; }

html .g-annot  { font-size: 12px; line-height: 1.5; display: block; table-layout: fixed; width: 100%; height: 1.5em; overflow: hidden; padding: 0 0.25em; background: Black; color: Gold; outline: 1px solid White; text-overflow: ellipsis; white-space: nowrap; }
html .g-annot samp  { color: Crimson; }
html .g-annot:hover,  html .g-annot:focus  { height: auto; color: Ivory; white-space: normal; word-break: break-all; }



.c-masking,
.c-overlay,
.g-overlay  { position: absolute; left: 0; right: 0; bottom: 0; min-width: var(--breakpoint-min); min-height: 100%; /* min-height: 100vh; */ background: Black; background-color: var(--color-dimmed); opacity: 0.6; opacity: var(--alpha-dimmed); }


.c-initial  { direction: ltr; font: normal normal 16px /1.15 sans-serif; display: block; vertical-align: baseline; height: auto; min-height: inherit; max-height: none; overflow: visible; visibility: visible; color: WindowText; background: Transparent none; text-shadow: none; text-transform: none; text-align: left; text-indent: 0; white-space: normal; word-wrap: normal; word-break: normal; word-spacing: normal; letter-spacing: normal; scroll-behavior: auto; overscroll-behavior: auto; -ms-text-underline-position: auto; text-underline-position: auto; }
.c-initial *,
.c-initial :before,  .c-initial :after  { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; letter-spacing: inherit; }
.c-initial body  { font-family: inherit; font-size: inherit; line-height: inherit; margin: 8px; color: inherit; background: inherit; }


.c-initial h1,  .c-initial h2,  .c-initial h3,  .c-initial h4,  .c-initial h5,  .c-initial h6,  .c-initial strong,  .c-initial b,  .c-initial th  { font-weight: inherit; font-weight: bolder; }
.c-initial address,  .c-initial em,  .c-initial cite,  .c-initial dfn,  .c-initial var,  .c-initial i  { font-style: italic; }
.c-initial pre,  .c-initial code,  .c-initial samp,  .c-initial kbd  { font-size: 1em; font-family: monospace, monospace; }
.c-initial input,  .c-initial button,  .c-initial select,  .c-initial optgroup,  .c-initial textarea  { font-weight: inherit; font-size: 1em; line-height: 1.15; font-family: inherit; vertical-align: baseline; height: auto; min-height: 0; max-height: none; width: auto; min-width: 0; max-width: none; margin: 0; color: inherit; }
.c-initial p,  .c-initial pre,  .c-initial ul,  .c-initial ol,  .c-initial dl  { margin: 1em 0; }

.c-initial h1  { font-size: 2.00em; margin: 0.67em 0; }
.c-initial h2  { font-size: 1.50em; margin: 0.83em 0; }
.c-initial h3  { font-size: 1.17em; margin: 1.00em 0; }
.c-initial h4  { font-size: 1.00em; margin: 1.33em 0; }
.c-initial h5  { font-size: 0.83em; margin: 1.67em 0; }
.c-initial h6  { font-size: 0.67em; margin: 2.33em 0; }
.c-initial hr  { clear: none; box-sizing: content-box; height: 0; overflow: visible; margin: 0.5em auto; border-style: inset; }
.c-initial pre  { overflow: visible; white-space: pre; -webkit-overflow-scrolling: auto; padding: 0; -o-tab-size: 8; -moz-tab-size: 8; tab-size: 8; word-wrap: normal; word-break: normal; }
.c-initial blockquote  { margin: 1em 2.5em; }
.c-initial ul  { list-style: disc outside none; padding-left: 2.5em; }
.c-initial ol  { list-style: decimal outside none; padding-left: 2.5em; }
.c-initial dd  { margin-left: 2.5em; }
.c-initial figure  { margin: 1em 2.5em; }
.c-initial a  { color: Blue; background-color: Transparent; text-decoration: underline; -webkit-text-decoration-skip: objects; }
.c-initial a:visited  { color: Purple; }
.c-initial a:hover  { text-decoration: initial; }
.c-initial a:active  { color: Red; }
.c-initial small  { font-size: 0.80em; }
.c-initial q  { quotes: "\201C" "\201D" "\2018" "\2019"; }
.c-initial q:before  { content: "\0022"; content: open-quote; }
.c-initial q:after  { content: "\0022"; content: close-quote; }
.c-initial abbr[title]  { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
.c-initial sub,  .c-initial sup  { font-size: 0.75em; line-height: 0; vertical-align: baseline; position: relative; }
.c-initial sub  { bottom: -0.25em; }
.c-initial sup  { top: -0.5em; }
.c-initial mark  { color: Black; background-color: Yellow; }
.c-initial ins  { text-decoration: underline; }
.c-initial img  { vertical-align: baseline; border-style: none; }
.c-initial iframe  { vertical-align: baseline; -webkit-overflow-scrolling: auto; border: 2px inset ButtonFace; }
.c-initial audio:not([controls])  { display: none; height: 0; }
.c-initial svg:not(:root)  { overflow: hidden; }
.c-initial table  { border-collapse: separate; border-spacing: 2px 2px; border-width: 0; }
.c-initial th,  .c-initial td  { padding: 1px 1px; border-color: Gray; }
.c-initial form  { margin: 0 0; }
.c-initial fieldset  { margin: 0 2px; padding: 0.35em 0.75em 0.625em; border-style: groove; }
.c-initial legend  { display: table; box-sizing: border-box; max-width: 100%; padding: 0 2px; color: inherit; white-space: normal; }
.c-initial label  { display: inline; cursor: default; }
.c-initial input  { overflow: visible; }
.c-initial [type="search"]  { -webkit-appearance: textfield; outline-offset: -2px; }
.c-initial [type="search"]::-webkit-search-cancel-button,  .c-initial [type="search"]::-webkit-search-decoration  { -webkit-appearance: none; }
.c-initial [type="number"]::-webkit-inner-spin-button,  .c-initial [type="number"]::-webkit-outer-spin-button  { height: auto; }
.c-initial [type="checkbox"],  .c-initial [type="radio"]  { box-sizing: border-box; padding: 0; }
.c-initial [type="submit"],  .c-initial [type="reset"],  .c-initial [type="button"],  .c-initial button  { -webkit-appearance: button; box-sizing: border-box; overflow: visible; padding: 2px 8px; cursor: auto; text-transform: none; }
.c-initial [type="submit"]::-moz-focus-inner,  .c-initial [type="reset"]::-moz-focus-inner,  .c-initial [type="button"]::-moz-focus-inner,  .c-initial button::-moz-focus-inner  { padding: 0; border-style: none; }
.c-initial [type="submit"]:-moz-focusring,  .c-initial [type="reset"]:-moz-focusring,  .c-initial [type="button"]:-moz-focusring,  .c-initial button:-moz-focusring  { outline: 1px dotted ButtonText; }
.c-initial select  { box-sizing: border-box; text-transform: none; }
.c-initial textarea  { overflow: auto; -webkit-overflow-scrolling: auto; word-wrap: normal; word-break: normal; }
.c-initial progress  { vertical-align: baseline; }
.c-initial summary  { display: list-item; }
.c-initial menu  { list-style-type: disc; padding-left: 2.5em; }
.c-initial template  { display: none; }

.c-initial [hidden]  { display: none; }
.c-initial [disabled]  { color: GrayText; }
.c-initial [disabled]:hover  { cursor: default; cursor: auto; }
