@charset "UTF-8";

/** Global Custom-Properties */
:root  {
  --palette-mono-000:                   #FFFFFF;
  --palette-mono-050:                   #FAFAFA;
  --palette-mono-100:                   #F5F5F5;
  --palette-mono-200:                   #E5E5E5;
  --palette-mono-300:                   #D4D4D4;
  --palette-mono-400:                   #A3A3A3;
  --palette-mono-500:                   #737373;
  --palette-mono-600:                   #525252;
  --palette-mono-700:                   #404040;
  --palette-mono-800:                   #262626;
  --palette-mono-900:                   #0A0A0A;

  --palette-gray-000:                   #FFFFFF;
  --palette-gray-050:                   #F8FAFC;
  --palette-gray-100:                   #F1F5F9;
  --palette-gray-200:                   #E2E8F0;
  --palette-gray-300:                   #CBD5E1;
  --palette-gray-400:                   #94A3B8;
  --palette-gray-500:                   #64748B;
  --palette-gray-600:                   #475569;
  --palette-gray-700:                   #334155;
  --palette-gray-800:                   #1E293B;
  --palette-gray-900:                   #0F172A;

  --palette-red-001:                    #FFFAFA;
  --palette-red-100:                    #FEDCDC;
  --palette-red-200:                    #FEC3C3;
  --palette-red-300:                    #FE9F9F;
  --palette-red-400:                    #FE7777;
  --palette-red-500:                    #FC4F4F;
  --palette-red-600:                    #E62D2D;
  --palette-red-700:                    #B21515;
  --palette-red-800:                    #730303;
  --palette-red-900:                    #3B0101;

  --palette-orange-001:                 #FFF8F5;
  --palette-orange-100:                 #FEE2D7;
  --palette-orange-200:                 #FFCBB8;
  --palette-orange-300:                 #FFB294;
  --palette-orange-400:                 #FC8F64;
  --palette-orange-500:                 #FE6D34;
  --palette-orange-600:                 #DD460E;
  --palette-orange-700:                 #B03B0C;
  --palette-orange-800:                 #722303;
  --palette-orange-900:                 #3C1201;

  --palette-yellow-001:                 #FFFCF0;
  --palette-yellow-100:                 #FEF6D7;
  --palette-yellow-200:                 #FFEEB2;
  --palette-yellow-300:                 #FFE68A;
  --palette-yellow-400:                 #FFDD61;
  --palette-yellow-500:                 #FDD33A;
  --palette-yellow-600:                 #CEA206;
  --palette-yellow-700:                 #A7850C;
  --palette-yellow-800:                 #685203;
  --palette-yellow-900:                 #3C2F01;

  --palette-green-001:                  #F7FDF1;
  --palette-green-100:                  #E6FAD6;
  --palette-green-200:                  #D9F4C4;
  --palette-green-300:                  #B9F08E;
  --palette-green-400:                  #9FEF62;
  --palette-green-500:                  #60D605;
  --palette-green-600:                  #52BB02;
  --palette-green-700:                  #50A013;
  --palette-green-800:                  #38710F;
  --palette-green-900:                  #214409;

  --palette-skyblue-001:                #F0FAFF;
  --palette-skyblue-100:                #D7F2FE;
  --palette-skyblue-200:                #B2E7FF;
  --palette-skyblue-300:                #8AD9FF;
  --palette-skyblue-400:                #58C9FE;
  --palette-skyblue-500:                #21B6FD;
  --palette-skyblue-600:                #00A4F0;
  --palette-skyblue-700:                #097DB3;
  --palette-skyblue-800:                #024869;
  --palette-skyblue-900:                #01293C;

  --palette-blue-001:                   #F0F4FF;
  --palette-blue-050:                   #E6EDFE;
  --palette-blue-100:                   #D7E3FE;
  --palette-blue-200:                   #B2C9FF;
  --palette-blue-300:                   #8AADFF;
  --palette-blue-400:                   #5587FC;
  --palette-blue-500:                   #2968F9;
  --palette-blue-600:                   #1850D4;
  --palette-blue-700:                   #2149A3;
  --palette-blue-800:                   #032168;
  --palette-blue-900:                   #01133C;

  --palette-dimmed-008:                 #0F172A14;
  /* --palette-dimmed-012:                 #0F172A1F; */
  --palette-dimmed-065:                 #000000A6;

}

:root  {
  --design-common-white:                var(--palette-gray-000);
  --design-common-black:                var(--palette-gray-900);

  --design-primary-normal:              var(--palette-blue-500);
  --design-primary-strong:              var(--palette-blue-700);
  --design-primary-heavy:               var(--palette-blue-800);

/*
  --design-secondary-normal:            var(--palette-skyblue-600);
  --design-secondary-strong:            var(--palette-skyblue-700);
  --design-secondary-heavy:             var(--palette-skyblue-800);

  --design-accent-normal:               var(--palette-orange-500);
  --design-accent-strong:               var(--palette-orange-600);
 */
  --design-point-skyblue:               var(--palette-skyblue-600);
  --design-point-orange:                var(--palette-orange-500);
  --design-point-red:                   var(--palette-red-500);
  --design-point-yellow:                var(--palette-yellow-500);

  --design-label-white:                 var(--palette-mono-000);
  --design-label-normal:                var(--palette-mono-800);
  --design-label-strong:                var(--palette-mono-900);
  --design-label-alternative:           var(--palette-mono-600);
  --design-label-assistive:             var(--palette-mono-400);
  --design-label-disabled:              var(--palette-mono-500);
/*
  --design-label-white:                 var(--palette-gray-000);
  --design-label-normal:                var(--palette-gray-800);
  --design-label-strong:                var(--palette-gray-900);
  --design-label-alternative:           var(--palette-gray-600);
  --design-label-assistive:             var(--palette-gray-400);
  --design-label-disabled:              var(--palette-gray-500);
 */

  --design-background-weak:             var(--palette-gray-050);
  --design-background-normal:           var(--palette-gray-100);
  --design-background-strong:           var(--palette-gray-200);
  --design-background-heavy:            var(--palette-gray-300);

  --design-background2-orange-40:       var(--palette-orange-100);
  --design-background2-yellow-40:       var(--palette-yellow-100);
  --design-background2-skyblue-30:      var(--palette-skyblue-001);
  --design-background2-skyblue-40:      var(--palette-skyblue-100);
  --design-background2-blue-30:         var(--palette-blue-050);
  --design-background2-blue-40:         var(--palette-blue-100);

  --design-line-weak:                   var(--palette-gray-200);
  --design-line-normal:                 var(--palette-gray-300);
  --design-line-strong:                 var(--palette-gray-400);

  --design-line2-blue-30:               var(--palette-blue-300);

  --design-icon-white:                  var(--palette-gray-000);
  --design-icon-normal:                 var(--palette-gray-300);
  --design-icon-strong:                 var(--palette-gray-500);
  --design-icon-heavy:                  var(--palette-gray-700);

/*
  --design-status-success:              var(--palette-green-600);
  --design-status-caution:              var(--palette-yellow-500);
  --design-status-error:                var(--palette-red-500);
 */

  --design-control-normal:              var(--palette-blue-400);
  --design-control-strong:              var(--palette-blue-600);

  --design-link1-normal:                var(--palette-gray-600);
  --design-link1-strong:                var(--palette-gray-800);

  --design-button1-normal:              var(--design-primary-heavy);
  --design-button1-strong:              var(--design-primary-strong);

  --design-button2-weak:                var(--design-line2-blue-30);
  --design-button2-normal:              var(--design-primary-normal);
  --design-button2-strong:              var(--design-primary-storng);

  --design-button3-weak:                var(--design-line-normal);
  --design-button3-normal:              var(--palette-gray-500);
  --design-button3-strong:              var(--palette-gray-700);

  --design-button-hover:                var(--palette-dimmed-008);
  --design-button-disabled:             var(--palette-mono-200);

  --design-grid-selected:               var(--palette-green-200);
  --design-grid-point:                  var(--palette-green-500);
  --design-grid-evenrow:                var(--design-background-weak);
  --design-grid-hover:                  var(--palette-dimmed-008);

}

:root  {
  --tp:                         Transparent;
  --cc:                         currentColor;
  --ss:                         8px;
  --rss:                        calc(1em * 8 / 24);

  --e10-int:                    1;
  --e20-int:                    2;
  --e30-int:                    3;
  --e10:                        calc(var(--rem) * var(--e10-int));
  --e20:                        calc(var(--rem) * var(--e20-int));
  --e30:                        calc(var(--rem) * var(--e30-int));


  --alpha-dimmed-08:            0.08;
  --alpha-dimmed-12:            0.12;
  --alpha-dimmed-65:            0.65;
  --alpha-dimmed-overlay:       var(--alpha-dimmed-65);


  --color-abs-white:            #ffffff;
  --color-abs-black:            #000000;

  --color-white:                var(--design-common-white);
  --color-black:                var(--design-common-black);

  --color-dimmed-overlay:       var(--color-abs-black);
  --color-dimmed-hover:         var(--design-button-hover);

  --color-surface:              var(--design-background-normal);
  --color-surface-overlay:      rgb(from var(--color-dimmed-overlay) r g b / var(--alpha-dimmed-overlay));

  --color-ground:               var(--design-common-white);
  --color-ground-alpha-00:      rgb(from var(--color-ground) r g b / 0.0);
  --color-ground-30:            var(--design-background-weak);
  --color-ground-40:            var(--design-background-normal);
  --color-ground-70:            var(--design-background-strong);
  --color-ground-90:            var(--design-background-heavy);
  --color-ground-required:      var(--design-background2-yellow-40);
  --color-ground-disabled:      var(--design-background-normal);

  --color-ground2-orange-40:    var(--design-background2-orange-40);
  --color-ground2-yellow-40:    var(--design-background2-yellow-40);
  --color-ground2-skyblue-30:   var(--design-background2-skyblue-30);
  --color-ground2-skyblue-40:   var(--design-background2-skyblue-40);
  --color-ground2-blue-30:      var(--design-background2-blue-30);
  --color-ground2-blue-40:      var(--design-background2-blue-40);

  --color-key1-40:              var(--design-primary-normal);
  --color-key1-70:              var(--design-primary-strong);
  --color-key1-90:              var(--design-primary-heavy);
/*
  --color-key2-40:              var(--design-secondary-normal);
  --color-key2-70:              var(--design-secondary-strong);
  --color-key2-90:              var(--design-primary-heavy);
 */

/*
  --color-point-40:             var(--design-accent-normal);
  --color-point-70:             var(--design-accent-strong);
 */
  --color-point-red:            var(--design-point-red);
  --color-point-orange:         var(--design-point-orange);
  --color-point-yellow:         var(--design-point-yellow);
  --color-point-skyblue:        var(--design-point-skyblue);
/* ### */
  /* --color-theme-key00:          var(--design-background-heavy);
  --color-theme-key01:          var(--design-primary-normal);
  --color-theme-key02:          var(--design-point-red);
  --color-theme-key03:          var(--design-point-orange);
  --color-theme-key04:          var(--design-point-yellow);
  --color-theme-key05:          var(--design-grid-point);
  --color-theme-key06:          var(--design-point-skyblue); */

  --color-legend-theme-00:      var(--color-ground-90);
  --color-legend-theme-01:      var(--color-key1-40);

  --color-required:             var(--design-point-red);
  --color-delete:               var(--design-point-red);
  --color-error:                var(--design-point-red);

/*
  --color-status-80:            var(--design-status-success);
  --color-status-50:            var(--design-status-caution);
  --color-status-20:            var(--design-status-error);
 */

  --color-text-00:              var(--design-label-white);
  --color-text-20:              var(--design-label-assistive);
  --color-text-30:              var(--design-label-alternative);
  --color-text-40:              var(--design-label-normal);
  --color-text-70:              var(--design-label-strong);
  --color-text-placeholder:     var(--design-label-assistive);
  --color-text-disabled:        var(--design-label-disabled);

  --color-icon-00:              var(--design-icon-white);
  --color-icon-40:              var(--design-icon-normal);
  --color-icon-70:              var(--design-icon-strong);
  --color-icon-90:              var(--design-icon-heavy);
  --color-icon-disabled:        var(--design-line-weak);

  --color-control-40:           var(--design-control-normal);
  --color-control-70:           var(--design-control-strong);

  --color-link1-40:             var(--design-link1-normal);
  --color-link1-70:             var(--design-link1-strong);

/*
  --color-button-40:            var(--design-button-normal);
  --color-button-70:            var(--design-button-strong);
 */
  --color-button1-40:           var(--design-button1-normal);
  --color-button1-70:           var(--design-button1-strong);

  --color-button2-30:           var(--design-button2-weak);
  --color-button2-40:           var(--design-button2-normal);
  --color-button2-70:           var(--design-button2-strong);

  --color-button3-30:           var(--design-button3-weak);
  --color-button3-40:           var(--design-button3-normal);
  --color-button3-70:           var(--design-button3-strong);

  --color-button-disabled:      var(--design-button-disabled);

  --color-grid-selected:        var(--design-grid-selected);
  --color-grid-point:           var(--design-grid-point);
  --color-grid-evenrow:         var(--design-grid-evenrow);
  --color-grid-hover:           var(--design-grid-hover);

  --color-edge-30:              var(--design-line-weak);
  --color-edge-40:              var(--design-line-normal);
  --color-edge-70:              var(--design-line-strong);
  --color-edge-focus:           var(--design-primary-normal);

  --color-edge2-blue-30:        var(--design-line2-blue-30);

  --color-shadow:               var(--design-common-black);

  --color-shadow-alpha-10:      rgb(from var(--color-shadow) r g b / var(--alpha-dimmed-08));
  --color-shadow-alpha-20:      rgb(from var(--color-shadow) r g b / var(--alpha-dimmed-12));


  --dropshadow-40:              0 0 1px var(--color-shadow-alpha-10), 0 calc(var(--rem) * 1) 4px var(--color-shadow-alpha-10), 0 calc(var(--rem) * 2) 8px var(--color-shadow-alpha-20);
  --dropshadow-70:              0 0 4px var(--color-shadow-alpha-10), 0 calc(var(--rem) * 4) 8px var(--color-shadow-alpha-10), 0 calc(var(--rem) * 6) 12px var(--color-shadow-alpha-20);
  --dropshadow-frozen:          inset calc(var(--rem) * 12) 0 8px -8px var(--color-shadow-alpha-20);


  --radius-50:                  4;
  --radius-70:                  12;


  --gap-whitespace-30:          2;
  --gap-whitespace-50:          4;

  --gap-element-30:             4;
  --gap-element-50:             6;
  --gap-element-70:             8;
  --gap-element-80:             12;
  --gap-element-90:             16;

  --margin-section-20:          6;
  --margin-section-30:          8;
  --margin-section-40:          12;
  --margin-section-50:          16;
  --margin-section-70:          24;
  --margin-section-80:          36;

  --height-icon-10:             8;
  --height-icon-30:             16;
  --height-icon-50:             20;
  --height-icon-70:             24;
  --height-icon-70:             var(--height-icon-50);

  --height-ctrl-50:             18;

  --height-form-30:             24;
  --height-form-50:             26;
  --height-form-70:             30;


  --timing-func-ease-slower:    cubic-bezier(0.4,0,0.2,1);
  --timing-func-ease-faster:    cubic-bezier(0.2,0,0,1);

}

:root  {
  --obj-sym-arrow-left:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M560-280 360-480l200-200v400Z'/%3E%3C/svg%3E");
  --obj-sym-arrow-drop-up:                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='m280-400 200-200 200 200H280Z'/%3E%3C/svg%3E");
  --obj-sym-arrow-right:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M400-280v-400l200 200-200 200Z'/%3E%3C/svg%3E");
  --obj-sym-arrow-drop-down:              url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-360 280-560h400L480-360Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-arrow-left:          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-arrow-up:            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-arrow-right:         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-arrow-down:          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-double-arrow-left:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-double-arrow-up:     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='m296-224-56-56 240-240 240 240-56 56-184-183-184 183Zm0-240-56-56 240-240 240 240-56 56-184-183-184 183Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-double-arrow-right:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z'/%3E%3C/svg%3E");
  --obj-sym-keyboard-double-arrow-down:   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z'/%3E%3C/svg%3E");
  --obj-sym-expand-circle-up:             url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='m480-507 123 123 57-56-180-180-180 180 57 56 123-123Zm0 427q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");
  --obj-sym-expand-circle-right:          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M507-480 384-357l56 57 180-180-180-180-56 57 123 123ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");
  --obj-sym-expand-circle-down:           url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='m480-340 180-180-57-56-123 123-123-123-57 56 180 180Zm0 260q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");
  --obj-sym-open-in-new:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z'/%3E%3C/svg%3E");

  --obj-sym-radio-button-unchecked:       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%2300000099'%3E%3Cpath fill='currentColor' d='M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E");
  --obj-sym-radio-button-checked:         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23259fff'%3E%3Cpath fill='currentColor' d='M480-280q83 0 141.5-58.5T680-480q0-83-58.5-141.5T480-680q-83 0-141.5 58.5T280-480q0 83 58.5 141.5T480-280Zm0 200q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z'/%3E%3C/svg%3E");
  --obj-sym-check-circle:                 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23259fff'%3E%3Cpath fill='currentColor' d='m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");
  --obj-sym-check-box-outline-blank:      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%2300000099'%3E%3Cpath fill='currentColor' d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Z'/%3E%3C/svg%3E");
  --obj-sym-check-box:                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23259fff'%3E%3Cpath fill='currentColor' d='m424-312 282-282-56-56-226 226-114-114-56 56 170 170ZM200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Z'/%3E%3C/svg%3E");
  --obj-sym-indeterminate-check-box:      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23259fff'%3E%3Cpath fill='currentColor' d='M280-440h400v-80H280v80Zm-80 320q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Z'/%3E%3C/svg%3E");

  --obj-sym-arrow-back:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z'/%3E%3C/svg%3E");
  --obj-sym-arrow-forward:                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z'/%3E%3C/svg%3E");
  --obj-sym-arrow-back-ios:               url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z'/%3E%3C/svg%3E");
  --obj-sym-arrow-forward-ios:            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z'/%3E%3C/svg%3E");
  --obj-sym-login:                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z'/%3E%3C/svg%3E");
  --obj-sym-logout:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z'/%3E%3C/svg%3E");
  --obj-sym-menu:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z'/%3E%3C/svg%3E");
  --obj-sym-close:                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z'/%3E%3C/svg%3E");
  --obj-sym-close-small:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M335.28-279 279-335l144.72-145L279-624l56.28-56L480-535.39 623.72-680 680-624 535.28-480 680-335l-56.28 56L480-423.61 335.28-279Z'/%3E%3C/svg%3E");

  --obj-sym-done:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
  --obj-sym-add:                          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z'/%3E%3C/svg%3E");
  --obj-sym-remove:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M200-440v-80h560v80H200Z'/%3E%3C/svg%3E");
  --obj-sym-delete:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm80-160h80v-360h-80v360Zm160 0h80v-360h-80v360Z'/%3E%3C/svg%3E");
  --obj-sym-delete-forever:               url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Z'/%3E%3C/svg%3E");
  --obj-sym-edit:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z'/%3E%3C/svg%3E");
  --obj-sym-download:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z'/%3E%3C/svg%3E");
  --obj-sym-upload:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z'/%3E%3C/svg%3E");
  --obj-sym-refresh:                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z'/%3E%3C/svg%3E");
  --obj-sym-share:                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M680-80q-50 0-85-35t-35-85q0-6 3-28L282-392q-16 15-37 23.5t-45 8.5q-50 0-85-35t-35-85q0-50 35-85t85-35q24 0 45 8.5t37 23.5l281-164q-2-7-2.5-13.5T560-760q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35q-24 0-45-8.5T598-672L317-508q2 7 2.5 13.5t.5 14.5q0 8-.5 14.5T317-452l281 164q16-15 37-23.5t45-8.5q50 0 85 35t35 85q0 50-35 85t-85 35Z'/%3E%3C/svg%3E");
  --obj-sym-content-copy:                 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M360-240q-33 0-56.5-23.5T280-320v-480q0-33 23.5-56.5T360-880h360q33 0 56.5 23.5T800-800v480q0 33-23.5 56.5T720-240H360Zm0-80h360v-480H360v480ZM200-80q-33 0-56.5-23.5T120-160v-560h80v560h440v80H200Zm160-240v-480 480Z'/%3E%3C/svg%3E");

  --obj-sym-search:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z'/%3E%3C/svg%3E");
  --obj-sym-calendar-today:               url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Z'/%3E%3C/svg%3E");
  --obj-sym-visibility:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Z'/%3E%3C/svg%3E");
  --obj-sym-visibility-off:               url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D80'%3E%3Cpath fill='currentColor' d='M792-56 624-222q-35 11-70.5 16.5T480-200q-151 0-269-83.5T40-500q21-53 53-98.5t73-81.5L56-792l56-56 736 736-56 56ZM480-320q11 0 20.5-1t20.5-4L305-541q-3 11-4 20.5t-1 20.5q0 75 52.5 127.5T480-320Zm292 18L645-428q7-17 11-34.5t4-37.5q0-75-52.5-127.5T480-680q-20 0-37.5 4T408-664L306-766q41-17 84-25.5t90-8.5q151 0 269 83.5T920-500q-23 59-60.5 109.5T772-302ZM587-486 467-606q28-5 51.5 4.5T559-574q17 18 24.5 41.5T587-486Z'/%3E%3C/svg%3E");

  --obj-sym-settings:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='m370-80-16-128q-13-5-24.5-12T307-235l-119 50L78-375l103-78q-1-7-1-13.5v-27q0-6.5 1-13.5L78-585l110-190 119 50q11-8 23-15t24-12l16-128h220l16 128q13 5 24.5 12t22.5 15l119-50 110 190-103 78q1 7 1 13.5v27q0 6.5-2 13.5l103 78-110 190-118-50q-11 8-23 15t-24 12L590-80H370Zm112-260q58 0 99-41t41-99q0-58-41-99t-99-41q-59 0-99.5 41T342-480q0 58 40.5 99t99.5 41Z'/%3E%3C/svg%3E");
  --obj-sym-more-vert:                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z'/%3E%3C/svg%3E");
  --obj-sym-more-horiz:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z'/%3E%3C/svg%3E");
  --obj-sym-filter-alt:                   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Z'/%3E%3C/svg%3E");
  --obj-sym-filter-alt-off:               url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M592-481 273-800h487q25 0 36 22t-4 42L592-481ZM791-56 560-287v87q0 17-11.5 28.5T520-160h-80q-17 0-28.5-11.5T400-200v-247L56-791l56-57 736 736-57 56Z'/%3E%3C/svg%3E");
  --obj-sym-filter-list:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z'/%3E%3C/svg%3E");
  --obj-sym-filter-list-off:              url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M791-55 55-791l57-57 736 736-57 57ZM633-440l-80-80h167v80h-87ZM433-640l-80-80h487v80H433Zm-33 400v-80h160v80H400ZM240-440v-80h166v80H240ZM120-640v-80h86v80h-86Z'/%3E%3C/svg%3E");
  --obj-sym-sort:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M120-240v-80h240v80H120Zm0-200v-80h480v80H120Zm0-200v-80h720v80H120Z'/%3E%3C/svg%3E");

  --obj-sym-info:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");
  --obj-sym-help:                         url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M478-240q21 0 35.5-14.5T528-290q0-21-14.5-35.5T478-340q-21 0-35.5 14.5T428-290q0 21 14.5 35.5T478-240Zm2 160q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm4-572q25 0 43.5 16t18.5 40q0 22-13.5 39T502-525q-23 20-40.5 44T444-427q0 14 10.5 23.5T479-394q15 0 25.5-10t13.5-25q4-21 18-37.5t30-31.5q23-22 39.5-48t16.5-58q0-51-41.5-83.5T484-720q-38 0-72.5 16T359-655q-7 12-4.5 25.5T368-609q14 8 29 5t25-17q11-15 27.5-23t34.5-8Z'/%3E%3C/svg%3E");
  --obj-sym-cancel:                       url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23e43939'%3E%3Cpath fill='currentColor' d='m480-424 116 116q11 11 28 11t28-11q11-11 11-28t-11-28L536-480l116-116q11-11 11-28t-11-28q-11-11-28-11t-28 11L480-536 364-652q-11-11-28-11t-28 11q-11 11-11 28t11 28l116 116-116 116q-11 11-11 28t11 28q11 11 28 11t28-11l116-116Zm0 344q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");
  --obj-sym-error:                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23e43939'%3E%3Cpath fill='currentColor' d='M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm0-160q17 0 28.5-11.5T520-480v-160q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640v160q0 17 11.5 28.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z'/%3E%3C/svg%3E");
  --obj-sym-warning:                      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23f8a72e'%3E%3Cpath fill='currentColor' d='M109-120q-11 0-20-5.5T75-140q-5-9-5.5-19.5T75-180l370-640q6-10 15.5-15t19.5-5q10 0 19.5 5t15.5 15l370 640q6 10 5.5 20.5T885-140q-5 9-14 14.5t-20 5.5H109Zm371-120q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm0-120q17 0 28.5-11.5T520-400v-120q0-17-11.5-28.5T480-560q-17 0-28.5 11.5T440-520v120q0 17 11.5 28.5T480-360Z'/%3E%3C/svg%3E");

  --obj-sym-bookmark-star:                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D4d'%3E%3Cpath fill='currentColor' d='m389-400 91-55 91 55-24-104 80-69-105-9-42-98-42 98-105 9 80 69-24 104ZM200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Z'/%3E%3C/svg%3E");
  --obj-sym-star-rate:                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23f8a72e'%3E%3Cpath fill='currentColor' d='m233-120 93-304L80-600h304l96-320 96 320h304L634-424l93 304-247-188-247 188Z'/%3E%3C/svg%3E");
  --obj-sym-favorite:                     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D4d'%3E%3Cpath fill='currentColor' d='m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z'/%3E%3C/svg%3E");

  --obj-sym-expand-more:                  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
  --obj-sym-arrows-output:                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='DimGrey'%3E%3Cpath fill='currentColor' d='M140-140v-220h60v117.85l134-134L376.15-334l-134 134H360v60H140Zm460 0v-60h117.85l-134-134L626-376.15l134 134V-360h60v220H600ZM334-583.85l-134-134V-600h-60v-220h220v60H242.15l134 134L334-583.85Zm292 0L583.85-626l134-134H600v-60h220v220h-60v-117.85l-134 134ZM480-413.46q-27.45 0-46.99-19.55-19.55-19.54-19.55-46.99 0-27.45 19.55-46.99 19.54-19.55 46.99-19.55 27.45 0 46.99 19.55 19.55 19.54 19.55 46.99 0 27.45-19.55 46.99-19.54 19.55-46.99 19.55Z'/%3E%3C/svg%3E");
  --obj-sym-resizer-compress:             url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960' color='%23292A2D'%3E%3Cpath fill='currentColor' d='M200-449.23v-40.001h560v40.001H200ZM200-560v-40h560v40H200Zm260 440v-164.923l-84 84-28.308-28.308L480-361.538l132.308 132.307L584-200.923l-84-83.538V-120h-40Zm20-567.692L347.692-820 376-848.308l84 84v-164.923h40v164.923l84-84L612.308-820 480-687.692Z'/%3E%3C/svg%3E");
  --obj-sym-resizer-scrollable:           url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' color='%23878A93' fill='currentColor'%3E%3Cpath d='M11.207 4 4 11.207l-.707-.707L10.5 3.293zm0 3.5L7.5 11.207l-.707-.707L10.5 6.793z' fill-opacity='0.5'/%3E%3C/svg%3E");

}


/**	Animation-Codes
 ------------------ */

/** Animation Keyframes */
@keyframes ANI_spinner  {
  from {
    transform: rotate(0deg);

  } to {
    transform: rotate(360deg);
  }
}

@keyframes ANI_steps  {
  100% {
    background-position: 0;
  }
}

/** Visibility Keyframes */
@keyframes ANI_blink  {
  25% {
    opacity: 0.25;
  }
}

@keyframes ANI_fade  {
  0% {
    visibility: visible;

  } 100% {
    visibility: hidden;
  }
}

@keyframes ANI_fadeOut  {
  0% {
    opacity: 1.0;

  } 100% {
    opacity: 0.0;
    visibility: hidden;
  }
}

@keyframes ANI_fadeIn  {
  0% {
    opacity: 0.0;

  } 100% {
    opacity: 1.0;
    visibility: visible;
  }
}

@keyframes ANI_slide  {
  100% {
    transform: translateX(100%);
  }
}

@keyframes ANI_scaleFadeOut  {
  100% {
    top: 50%; transform: scale(1.075) translateY(-50%);
  }
}

@keyframes ANI_scaleFadeIn  {
  0% {
    top: 50%; transform: scale(0.8) translateY(-50%);
  }
}

@keyframes ANI_jump  {
  10% {
    transform: translateX(2px);
  }
  20% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}


/** Partial Keyframes */
@keyframes ANI_approveBlink  {
  50% {
    background-color: var(--color-ground2-blue-30);
  }
}


/** Styles Selector
 ------------------ */

/** Primary-Styles Selector */
.g-abshidden,
  .g-hidden  { width: auto; max-width: 100%; height: 1px; overflow: hidden; margin: 0 0 -1px; margin-bottom: calc(-1 * (var(--gap-row, var(--gap, 0px)) + 1px)); padding: 0; border: 0; background: none; visibility: visible; white-space: inherit; }
.g-hidden.flow-inline  { display: inline-block; width: 1px; margin-right: -1px; margin-right: calc(-1 * (var(--gap-col, var(--gap, 0px)) + 1px)); white-space: nowrap; }
.g-hidden:not(caption):not(legend):not(.flow-inline)  { display: block; }
.g-abshidden  { display: block !important; position: absolute !important; inset: auto; clip: rect(0 0 0 0); clip: rect(0,0,0,0); clip-path: circle(0); width: 1px; margin-right: -1px; }
:has(>.g-abshidden)  { position: relative; }

.g-overlay  { position: absolute; left: 0; right: 0; bottom: 0; min-width: 100%; height: 1px; min-height: 100%; background: Black; background-color: var(--color-dimmed-overlay, #000); opacity: 0.6; opacity: var(--alpha-dimmed-overlay, 0.6); }
.g-overlay  { background-color: var(--color-surface-overlay, #000); backdrop-filter: blur(var(--blur-abs-50)); opacity: 1.0; }


.g-hide  { display: none !important; }
.g-contents  { display: contents !important; }
.g-intable  { display: inline-table !important; }
.g-table  { display: table !important; }
.g-trow  { display: table-row !important; }
.g-tcell  { display: table-cell !important; }
.g-inflex  { display: inline-flex !important; }
.g-flex  { display: flex !important; }
.g-inblock  { display: inline-block !important; }
.g-block  { display: block !important; }
.g-flowroot  { display: flow-root !important; }
.g-runin  { display: run-in !important; }
.g-inline  { display: inline !important; }

.g-static  { position: static !important; }
.g-relative  { position: relative !important; }
.g-stick  { position: -webkit-sticky !important; position: sticky !important; }
.g-fixed  { position: fixed !important; }
.g-absolute  { position: absolute !important; }

.g-italic  { font-style: italic !important; }

.g-bolder  { font-weight: bolder !important; }
.g-lighter  { font-weight: lighter !important; }
.g-strong,
  .g-bold  { font-weight: var(--bold-70, 700) !important; }
.g-light  { font-weight: var(--bold-40, 400) !important; }
.g-regular  { font-weight: inherit !important; }

.g-color-inherit  { color: inherit !important; }


/** Secondary-Styles Selector */
.g-typo-en,
  .g-typo-number  { font-family: var(--typo-sans-latin); }

.g-flex-pass  { -webkit-box-flex: 0 !important; -ms-flex: none !important; flex: none !important; }


.g-scroll  { overflow: auto; }
.g-scroll-stable  { overflow: scroll; }
.g-scroll-hidden  { overflow: hidden; }
.scroll-x:where(.g-scroll, .g-scroll-stable)  { overflow-y: hidden; }
.scroll-y:where(.g-scroll, .g-scroll-stable)  { overflow-x: hidden; }


.g-fixed-data  { max-width: 0; }
.g-fixed-table  { table-layout: fixed; }
.g-auto-table  { table-layout: auto; }

/*
.g-justify  { justify-content: space-evenly; text-align: justify; }
.g-center  { justify-content: center; text-align: center; }
.g-end  { justify-content: flex-end; text-align: right; text-align: end; }
.g-start  { justify-content: flex-start; text-align: left; text-align: start; }
 */
.g-justify  { text-align: justify !important; }
.g-center  { text-align: center !important; }
.g-end  { text-align: right !important; text-align: end !important; }
.g-start  { text-align: left !important; text-align: start !important; }

.g-valign-super  { vertical-align: super; }
.g-valign-sub  { vertical-align: sub; }
.g-valign-txtbottom  { vertical-align: text-bottom; }
.g-valign-txttop  { vertical-align: text-top; }
.g-valign-bottom  { vertical-align: bottom; }
.g-valign-top  { vertical-align: top; }
.g-valign-center  { vertical-align: center; }

.g-middle  { display: inline-flex; align-items: center; }

.g-word-pred  { word-break: break-all; word-break: break-word; }
.g-word-attr  { word-break: break-word; word-break: keep-all; }

.g-nowrap,
  .g-wbr  { white-space: nowrap; }

.g-cursor-auto  { cursor: auto; }
.g-cursor-none  { cursor: none; }
.g-cursor-default  { cursor: default; }
.g-cursor-text  { cursor: text; }
.g-cursor-pointer  { cursor: pointer; }
.g-cursor-grab  { cursor: grab; }
.g-cursor-grab:active  { cursor: grabbing; }
.g-cursor-move  { cursor: move; }
.g-cursor-help  { cursor: help; }

.g-size1  { width: 100%; }
.g-size2  { width: calc(100% / 2); }
.g-size3  { width: calc(100% / 3); }
.g-size4  { width: calc(100% / 4); }
.g-size5  { width: calc(100% / 5); }
.g-size6  { width: calc(100% / 6); }
.g-size8  { width: calc(100% / 8); }
.g-size10  { width: calc(100% / 10); }
.g-size12  { width: calc(100% / 12); }


.g-test  { outline: thick solid Red !important; }
.g-debug:after  { content: ""; display: block; position: absolute; z-index: 100; left: 0; top: 0; width: 100px; height: 100px; background: Red; }

.g-annot  { font-weight: var(--bold-40, 350); font-size: 12px; line-height: calc(18 / 12); z-index: 2; padding: 0 0.25em; background: Black; color: Gold; outline: 1px solid White; text-align: justify; text-overflow: ellipsis; word-wrap: break-word; word-break: break-all; }
.g-annot samp  { font-weight: var(--bold-70, 650); color: Crimson; }
.g-annot:hover,  .g-annot:focus-within  { color: Ivory; cursor: help; word-break: keep-all; }
.g-annot:not(.flow-block)  { position: absolute; }
.g-annot:not(.flow-block):hover:not(:focus-within)  { opacity: 0.0; }
.g-annot.flow-block  { display: block; position: relative; }
.g-annot.flow-block:not(:hover):not(:focus-within)  { height: 1.5em; height: 1lh; overflow: hidden; }


/* .o-loading  { --spinner: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23paint0_angular_1665_40740_clip_path)' data-figma-skip-parse='true'%3E%3Cg transform='matrix(0 0.03 -0.03 0 30 30)'%3E%3CforeignObject x='-1026.5' y='-1026.5' width='2052.99' height='2052.99'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' style='background:conic-gradient(from 90deg rgba(0  146  214  1) 0deg rgba(0  146  214  1) 63.243deg rgba(255  255  255  0) 360deg)%3Bheight:100%25%3Bwidth:100%25%3Bopacity:1'%3E%3C/div%3E%3C/foreignObject%3E%3C/g%3E%3C/g%3E%3Cpath d='M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30ZM8.9708 30C8.9708 41.6141 18.3859 51.0292 30 51.0292C41.6141 51.0292 51.0292 41.6141 51.0292 30C51.0292 18.3859 41.6141 8.9708 30 8.9708C18.3859 8.9708 8.9708 18.3859 8.9708 30Z' data-figma-gradient-fill='%7B%26%2334%3Btype%26%2334%3B:%26%2334%3BGRADIENT_ANGULAR%26%2334%3B %26%2334%3Bstops%26%2334%3B:%5B%7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.0%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.17567500472068787%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:1.0 %26%2334%3Bg%26%2334%3B:1.0 %26%2334%3Bb%26%2334%3B:1.0 %26%2334%3Ba%26%2334%3B:0.0%7D %26%2334%3Bposition%26%2334%3B:1.0%7D%5D %26%2334%3BstopsVar%26%2334%3B:%5B%7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.0%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.17567500472068787%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:1.0 %26%2334%3Bg%26%2334%3B:1.0 %26%2334%3Bb%26%2334%3B:1.0 %26%2334%3Ba%26%2334%3B:0.0%7D %26%2334%3Bposition%26%2334%3B:1.0%7D%5D %26%2334%3Btransform%26%2334%3B:%7B%26%2334%3Bm00%26%2334%3B:3.6739406106950628e-15 %26%2334%3Bm01%26%2334%3B:-60.0 %26%2334%3Bm02%26%2334%3B:60.0 %26%2334%3Bm10%26%2334%3B:60.0 %26%2334%3Bm11%26%2334%3B:3.6739406106950628e-15 %26%2334%3Bm12%26%2334%3B:-3.6739406106950628e-15%7D %26%2334%3Bopacity%26%2334%3B:1.0 %26%2334%3BblendMode%26%2334%3B:%26%2334%3BNORMAL%26%2334%3B %26%2334%3Bvisible%26%2334%3B:true%7D'/%3E%3Ccircle cx='30.2986' cy='55.5' r='4.5' fill='%2300a4f0'/%3E%3Cdefs%3E%3CclipPath id='paint0_angular_1665_40740_clip_path'%3E%3Cpath d='M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30ZM8.9708 30C8.9708 41.6141 18.3859 51.0292 30 51.0292C41.6141 51.0292 51.0292 41.6141 51.0292 30C51.0292 18.3859 41.6141 8.9708 30 8.9708C18.3859 8.9708 8.9708 18.3859 8.9708 30Z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); } */
/* .o-loading  { --spinner: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23paint0_angular_1665_40756_clip_path)' data-figma-skip-parse='true'%3E%3Cg transform='matrix(0.00607143 -0.0264286 -0.0264286 -0.00607143 30 30.0002)'%3E%3CforeignObject x='-1540.61' y='-1540.61' width='3081.21' height='3081.21'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' style='background:conic-gradient(from 90deg rgba(0  146  214  1) 0deg rgba(0  146  214  1) 63.243deg rgba(255  255  255  0) 360deg)%3Bheight:100%25%3Bwidth:100%25%3Bopacity:1'%3E%3C/div%3E%3C/foreignObject%3E%3C/g%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34 7.14307C34 4.93393 32.2092 3.14307 30 3.14307C15.1672 3.14307 3.14289 15.1674 3.14289 30.0002C3.14289 44.833 15.1672 56.8574 30 56.8574C44.8328 56.8574 56.8572 44.833 56.8572 30.0002C56.8572 22.3199 53.6281 15.3873 48.4648 10.4974C46.8608 8.97831 44.3291 9.04716 42.81 10.6511C41.291 12.2551 41.3598 14.7869 42.9638 16.3059C46.5983 19.7479 48.8572 24.607 48.8572 30.0002C48.8572 40.4147 40.4145 48.8574 30 48.8574C19.5855 48.8574 11.1429 40.4147 11.1429 30.0002C11.1429 19.5857 19.5855 11.1431 30 11.1431C32.2092 11.1431 34 9.35221 34 7.14307Z' data-figma-gradient-fill='%7B%26%2334%3Btype%26%2334%3B:%26%2334%3BGRADIENT_ANGULAR%26%2334%3B %26%2334%3Bstops%26%2334%3B:%5B%7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.0%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.17567500472068787%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:1.0 %26%2334%3Bg%26%2334%3B:1.0 %26%2334%3Bb%26%2334%3B:1.0 %26%2334%3Ba%26%2334%3B:0.0%7D %26%2334%3Bposition%26%2334%3B:1.0%7D%5D %26%2334%3BstopsVar%26%2334%3B:%5B%7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.0%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:0.0 %26%2334%3Bg%26%2334%3B:0.57254904508590698 %26%2334%3Bb%26%2334%3B:0.83921569585800171 %26%2334%3Ba%26%2334%3B:1.0%7D %26%2334%3Bposition%26%2334%3B:0.17567500472068787%7D %7B%26%2334%3Bcolor%26%2334%3B:%7B%26%2334%3Br%26%2334%3B:1.0 %26%2334%3Bg%26%2334%3B:1.0 %26%2334%3Bb%26%2334%3B:1.0 %26%2334%3Ba%26%2334%3B:0.0%7D %26%2334%3Bposition%26%2334%3B:1.0%7D%5D %26%2334%3Btransform%26%2334%3B:%7B%26%2334%3Bm00%26%2334%3B:12.142857551574707 %26%2334%3Bm01%26%2334%3B:-52.857143402099609 %26%2334%3Bm02%26%2334%3B:50.3571777343750 %26%2334%3Bm10%26%2334%3B:-52.857143402099609 %26%2334%3Bm11%26%2334%3B:-12.142857551574707 %26%2334%3Bm12%26%2334%3B:62.500209808349609%7D %26%2334%3Bopacity%26%2334%3B:1.0 %26%2334%3BblendMode%26%2334%3B:%26%2334%3BNORMAL%26%2334%3B %26%2334%3Bvisible%26%2334%3B:true%7D'/%3E%3Cdefs%3E%3CclipPath id='paint0_angular_1665_40756_clip_path'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M34 7.14307C34 4.93393 32.2092 3.14307 30 3.14307C15.1672 3.14307 3.14289 15.1674 3.14289 30.0002C3.14289 44.833 15.1672 56.8574 30 56.8574C44.8328 56.8574 56.8572 44.833 56.8572 30.0002C56.8572 22.3199 53.6281 15.3873 48.4648 10.4974C46.8608 8.97831 44.3291 9.04716 42.81 10.6511C41.291 12.2551 41.3598 14.7869 42.9638 16.3059C46.5983 19.7479 48.8572 24.607 48.8572 30.0002C48.8572 40.4147 40.4145 48.8574 30 48.8574C19.5855 48.8574 11.1429 40.4147 11.1429 30.0002C11.1429 19.5857 19.5855 11.1431 30 11.1431C32.2092 11.1431 34 9.35221 34 7.14307Z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); } */
.o-loading  { --spinner: url('../../../../src/assets/images/layout/sym_loading-spinner.svg'); }
.o-loading  { font-size: calc(var(--rem) * 60); display: block; width: 1em; height: 1em; background: var(--spinner) no-repeat 0 /100%; }
.o-loading.style-spinner  { animation: ANI_spinner infinite 1s linear; }
.o-loading.style-spinner:not(.o-loading-layer.js_show *)  { animation-play-state: paused; }

.m-loading  { display: flex; flex-direction: column; align-items: center; justify-content: center; position: relative; text-align: center; }
.m-loading .caption  { position: absolute; margin-top: 1em; }
.m-loading .caption  { display: block; width: auto; max-width: 100%; height: 1px; overflow: hidden; margin: 0 0 -1px; margin-bottom: calc(-1 * (var(--gap-row, var(--gap, 0px)) + 1px)); padding: 0; border: 0; background: none; visibility: visible; white-space: inherit; }

.o-loading-layer  { box-shadow: none; }
.o-loading-layer  { --duration: 0.25s; display: flex; flex-direction: column; align-items: center; justify-content: center; position: fixed; z-index: 9000; left: 0; top: 0; width: 100%; height: 100%; padding: calc(var(--rem) * var(--margin-layout-block, 10)) !important; animation-duration: var(--duration) !important; }
.o-loading-layer >.g-overlay  { background-color: rgb(from var(--color-surface, #FFF) r g b / 0.1); }

.o-loading-layer:not(.js_show)  { animation: ANI_fade forwards; }
.o-loading-layer:not(.js_show) >*  { animation: ANI_fadeOut forwards; animation-duration: inherit; }
.o-loading-layer.js_show >*  { animation: ANI_fadeIn forwards; animation-duration: inherit; }
