@charset "UTF-8";

.page-index  { background: var(--color-ground-70); }
.page-index >.div-temp  { padding: $margin-layout-block $margin-layout-inline; padding-right: calc($margin-layout-inline - $width-scrollbar); }
.page-index >.div-temp img  { max-width: none; }


.page-home:is(.dom-main *)  { display: flex; flex-direction: column; background: var(--color-ground-70); }
.page-home .div-home  { flex: 1; padding: $margin-layout-block $margin-layout-inline; padding-right: calc($margin-layout-inline - $width-scrollbar); }
// .page-home .div-home  { display: grid; grid-template-columns: 2fr 1fr; }
// .page-home .div-home >*  { min-width: 0; min-height: 0; }
// .page-home .div-home >.home-header  { grid-column: 1 /2; grid-row: 1 /2; }
// .page-home .div-home >.home-primary  { grid-column: 1 /2; grid-row: 2 /3; }
// .page-home .div-home >.home-secondary  { grid-column: 2 /3; grid-row: 1 /span 2; }
.page-home .div-home  { display: flex; gap: $margin-section-50; min-width: III(1320); }
.page-home .div-home >*  { flex: 0 1 auto; min-width: 0; width: calc((100% * 1 / 3) - ($margin-section-50 / 2)); }
.page-home .div-home >*  { display: flex; flex-direction: column; gap: $margin-section-50; }
.page-home .div-home >.home-primary  { flex: 1; }
.page-home .div-home >.home-primary  { padding-top: III(16); }
.page-home .div-home >.home-secondary  { padding-top: III(24); }

.page-home .home-header  { display: flex; align-items: flex-end; gap: $margin-section-50; }
.page-home .home-header >*  { flex: none; display: flex; gap: $gap-element-70; min-width: 0; }
.page-home .home-header >.primary  { flex: 1; flex-direction: column; }
.page-home .home-header .welcome  { font-weight: $bold-70; font-size: $font-80; line-height: $line-80; }
.page-home .home-header .controls >*  { display: flex; align-items: center; gap: $gap-whitespace-50; min-height: $height-form-50; }
.page-home .home-header .controls >* >.head  { font-weight: $bold-70; color: var(--color-text-70); }
.page-home .home-header .binds  { display: flex; align-items: center; gap: $gap-element-70; }
.page-home .home-header .binds .button  { font-weight: $bold-70; display: flex; align-items: center; gap: $gap-element-70; height: III(54); padding: 0 III(15); border: $e10 solid $tp; background: var(--color-ground); border-radius: $radius-70; }
.page-home .home-header .binds .button >.label  { order: -1; }
.page-home .home-header .binds .button .o-icon:before  { font-size: III(30); }

.page-home .home-group  { min-height: 0; }
.page-home .home-group  { display: flex; gap: $margin-section-50; }
.page-home .home-group >*  { flex: 1; min-width: 0; }

.page-home .home-section  { display: flex; flex-direction: column; position: relative; }
.page-home .home-section:where(.home-group:not(._setting) *)  { --m-margin-block: #{$margin-section-70}; --m-margin-block-start: #{$margin-section-40}; --m-margin-inline: #{$margin-section-70}; background: var(--bgcolor, var(--color-ground)); border-radius: $radius-70; }
.page-home .home-section:where(.home-group:not(._setting) *)  { --bgcolor: var(--color-ground); text-shadow: var(--text-shadow); }
.page-home .home-section >*  { min-height: 0; }
.page-home .home-section >:first-child  { border-start-start-radius: inherit; border-start-end-radius: inherit; }
.page-home .home-section >.header  { display: flex; align-items: center; gap: $gap-element-90; }
.page-home .home-section >.header >*  { min-width: 0; }
.page-home .home-section >.header >.primary  { flex: 1; font-weight: $bold-70; display: flex; align-items: center; gap: $gap-element-90; }
.page-home .home-section >.header >.primary >*  { min-width: 0; }
.page-home .home-section >.header .heading  { flex: 1; }
.page-home .home-section >.header .heading >.label:not(.home-group:where(._task, ._notice, ._setting) *)  { font-size: $font-70; line-height: $line-70; color: var(--color-text-70); }
.page-home .home-section >.center  { flex: 1; display: flex; flex-direction: column; }
.page-home .home-section >.center >.contain  { flex: 1; flex-direction: column; }
.page-home .home-section >.center >.contain:not(:empty)  { display: flex; }

.page-home :where(.home-group:not(._notice)) .home-section >.header  { padding: var(--m-margin-block) var(--m-margin-inline) 0; }
.page-home :where(.home-group:not(._notice)) .home-section >.center >.contain  { padding: var(--m-margin-block-start) var(--m-margin-inline) var(--m-margin-block); }

.page-home :where(.home-group:where(._task, ._quick))  { flex: 1; flex-basis: III(256); }
.page-home :where(.home-group:where(._task, ._quick)) .home-section >.center >.contain  { overflow: auto; overflow: auto scroll; padding-right: calc(var(--m-margin-inline) - $width-scrollbar); }

.page-home :is(.home-group:where(._task)) .home-section >.header  { padding: var(--m-margin-block) var(--m-margin-inline); color: var(--color-text-00); background: var(--color-key1-90); }
.page-home :is(.home-group:where(._task)) .home-section._my >.header  { background-color: var(--color-key1-40); }
.page-home :is(.home-group:where(._task)) .home-section._branch >.header  { background-color: var(--color-key1-70); }
.page-home :is(.home-group:where(._task)) .home-section >.header .heading >.label  { font-size: $font-60; line-height: $line-60; }
.page-home :is(.home-group:where(._task)) .home-section >.header .data >.value  { font-size: $font-90; line-height: $line-90; }
.page-home :is(.home-group:where(._task)) .home-section >.header .data >.units  { @include getGlobalHidden(1); }
.page-home :is(.home-group:where(._task)) .home-section >.center >.contain  { padding-left: $margin-section-50; }

.page-home :is(.home-group:where(._task)) .table  { table-layout: fixed; border-collapse: collapse; width: 100%; }
.page-home :is(.home-group:where(._task)) .table .subject  { display: flex; align-items: center; gap: $gap-element-30; }
.page-home :is(.home-group:where(._task)) .table .subject >*  { flex: none; min-width: 0; }
.page-home :is(.home-group:where(._task)) .table .subject .main  { font-weight: $bold-70; }
.page-home :is(.home-group:where(._task)) .table .subject .main  { @include inc-ellipsis2(); flex: 0 1 auto; }
.page-home :is(.home-group:where(._task)) .table .subject .category  { font-size: $font-30; line-height: $line-30; color: var(--color-text-30); }
.page-home :is(.home-group:where(._task)) .table .subject .category:where(*+ *)  { margin-left: calc($gap-element-80 - $gap-element-30); }
.page-home :is(.home-group:where(._task)) .table .subject:before  { content: ""; flex: none; font-size: $height-icon-30; display: block; width: 1em; height: 1em; background: Gold; }
.page-home :is(.home-group:where(._task)) .table .subject:before  { background: var(--obj-ico-arrow-drop-right) no-repeat 25% /500%; }
.page-home :is(.home-group:where(._task)) .table .auth  { font-size: $font-30; line-height: $line-30; color: var(--color-text-30); }
.page-home :is(.home-group:where(._task)) .table .auth .position:before  { content: var(--utf-nbsp); }
.page-home :is(.home-group:where(._task)) .table .data .value  { font-weight: $bold-70; color: var(--color-key1-40); }
.page-home :is(.home-group:where(._task)) .table tr:not(:last-child)  { border-bottom: $e10 solid var(--color-edge-30); }
.page-home :is(.home-group:where(._task)) .table tr >*  { padding: III(12) III(4); border: 0; white-space: nowrap; }
.page-home :is(.home-group:where(._task)) .table tr >:first-child  { padding-left: 0; }
.page-home :is(.home-group:where(._task)) .table tr >:last-child  { padding-right: 0; }

.page-home :is(.home-group:where(._ship))  { gap: $gap-element-70; }
.page-home :is(.home-group:where(._ship)) .home-section:before  { content: ""; position: absolute; right: 0; bottom: 0; width: III(135); height: III(128); background: url('../../../../src/assets/images/media/CMM000301M_010.png') no-repeat 0 /300%; }
.page-home :is(.home-group:where(._ship)) .home-section:where(.is-busy-true):before  { background-position: 50%; }
.page-home :is(.home-group:where(._ship)) .home-section:where(.is-busy-false):before  { background-position: 100%; }
.page-home :is(.home-group:where(._ship)) .home-section >.header  { @include getGlobalHidden(); }
.page-home :is(.home-group:where(._ship)) .home-section >.center >.contain  { padding-top: var(--m-margin-block); padding-bottom: III(20); }
.page-home :is(.home-group:where(._ship)) .d-shipboard .wbr  { display: block; }
.page-home :is(.home-group:where(._ship)) .d-shipboard .emph  { font-weight: $bold-70; color: var(--color-key1-40); }
.page-home :is(.home-group:where(._ship)) .d-shipboard >.main  { --lh: var(--text-height-para); font-size: $font-60; line-height: var(--lh); }
.page-home :is(.home-group:where(._ship)) .d-shipboard >.binds  { display: flex; gap: $gap-element-30; margin-top: $gap-element-80; }

.page-home :is(.home-group:where(._notice)) .home-section  { flex-direction: row; align-items: center; gap: $gap-element-80; padding: $margin-section-40 var(--m-margin-inline); }
.page-home :is(.home-group:where(._notice)) .home-section >*  { min-width: 0; }
.page-home :is(.home-group:where(._notice)) .home-section >.center >.contain  { flex-direction: row; align-items: center; gap: $gap-element-80; }
.page-home :is(.home-group:where(._notice)) .home-section >.aside  { display: flex; align-items: center; gap: $gap-element-90; }
.page-home :is(.home-group:where(._notice)) .home-section >.aside:before  { content: ""; display: block; width: $e10; height: III(16); background: var(--color-edge-40); }
.page-home :is(.home-group:where(._notice)) .d-notice  { display: flex; align-items: center; gap: $gap-element-80; padding: III(8) 0; }
.page-home :is(.home-group:where(._notice)) .d-notice >.main  { @include inc-ellipsis2(); flex: 1; flex-basis: 0; min-width: 0; }
.page-home :is(.home-group:where(._notice)) .d-notice >.date  { font-size: $font-30; line-height: $line-30; color: var(--color-text-30); }
.page-home :is(.home-group:where(._notice)) .d-noticelist  { flex: 1; }
.page-home :is(.home-group:where(._notice)) .d-noticelist  { display: flex; align-items: center; height: calc(1lh + III(8 * 2)); white-space: nowrap; }
.page-home :is(.home-group:where(._notice)) .d-noticelist +.binds  { display: flex; align-items: center; gap: $gap-element-30; }

.page-home :is(.home-group:where(._setting)) .home-section  { gap: $margin-section-30; }

.page-home :is(.home-group:where(._watch)) .home-section  { min-height: III(244); }
.page-home :is(.home-group:where(._watch)) .home-section >.center >.contain >:first-child  { flex: 1; }
.page-home :is(.home-group:where(._watch)) .d-dates  { font-size: $font-30; line-height: $line-30; display: flex; gap: $gap-whitespace-50; }
.page-home :is(.home-group:where(._watch)) .d-dates >.head  { font-weight: $bold-70; color: var(--color-key1-40); text-transform: uppercase; }
.page-home :is(.home-group:where(._watch)) .d-watches  { display: flex; flex-direction: column; gap: $gap-element-70; }
.page-home :is(.home-group:where(._watch)) .d-watches >.header  { display: flex; align-items: center; }
.page-home :is(.home-group:where(._watch)) .d-watches >.header >.primary  { flex: 1; font-weight: $bold-70; }
.page-home :is(.home-group:where(._watch)) .d-watches >.header .heading >.label  { color: var(--color-text-70); }
.page-home :is(.home-group:where(._watch)) .d-watches >.center  { flex: 1; display: flex; flex-direction: column; padding: 0 $gap-element-90; background: var(--color-ground-40); border-radius: $radius-50; }
.page-home :is(.home-group:where(._watch)) .d-watches .lists  { flex: 1; display: table; border-collapse: collapse; width: 100%; }
.page-home :is(.home-group:where(._watch)) .d-watches .lists >*  { display: table-row; vertical-align: middle; }
.page-home :is(.home-group:where(._watch)) .d-watches .lists >:not(:last-child)  { border-bottom: $e10 solid var(--color-edge-40); }
.page-home :is(.home-group:where(._watch)) .d-watches .lists >* >*  { display: table-cell; vertical-align: inherit; padding: III(6) 0; }
.page-home :is(.home-group:where(._watch)) .d-watches .lists >* >.head  { font-weight: $bold-70; font-size: $font-30; line-height: $line-30; width: 0; padding-right: III(8); color: var(--color-point-orange); white-space: nowrap; }
.page-home :is(.home-group:where(._watch)) .d-watchboard  { display: flex; flex-direction: column; gap: $gap-element-70; }
.page-home :is(.home-group:where(._watch)) .d-watchboard >.main  { flex: 1; display: flex; flex-wrap: wrap; gap: inherit; }
.page-home :is(.home-group:where(._watch)) .d-watchboard >.main >*  { flex: 1; flex-basis: calc(50% - $gap-element-70 / 2); }

.page-home :is(.home-group:where(._quick)) .home-section >.nav >.m-tab  { padding: var(--m-margin-block-start) var(--m-margin-inline) 0; }



.m-noticeview  {  }
.m-noticeview >:not(:first-child) { margin-top: $gap-element-90; }

.m-noticeview >.notice-caption .subject  { font-weight: $bold-70; font-size: $font-60; line-height: $line-60; text-align: center; }
.m-noticeview >.notice-caption .copyright  { font-size: $font-40; line-height: $line-40; display: flex; justify-content: center; gap: $gap-element-80; margin-top: $gap-element-70; }
.m-noticeview >.notice-caption .copyright >*  { display: flex; flex-wrap: wrap; }
.m-noticeview >.notice-caption .copyright >* >.head  { margin-right: $gap-element-30; color: var(--color-text-30); white-space: nowrap; }

.m-noticeview >.notice-contents  { --lh: var(--text-height-para); line-height: var(--lh); min-height: 3lh; }


.o-tab.type-c >.lists  { display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--width-min, III(120)), 1fr)); overflow: hidden; border-radius: $radius-50; }
.o-tab.type-c >.lists  { padding: $e10 0 0 $e10; }
.o-tab.type-c >.lists >*  { margin: calc(-1 * $e10) 0 0 calc(-1 * $e10); }

.o-tab.type-c .link  { display: flex; align-items: center; justify-content: center; min-height: III(42); border: $e10 solid var(--color-edge-30); }
.o-tab.type-c .link[aria-selected="true"]  { font-weight: $bold-70; position: relative; border-color: $tp; color: var(--color-text-00); background: var(--color-icon-90); border-radius: $radius-50; }

.o-tab.type-c >.lists:has(:nth-child(9))  { grid-template-columns: repeat(5, 1fr); }


.o-product  { display: flex; }
.o-product >*  { flex: none; }
.o-product >.main  { flex: 1; }
.o-product >.main .caption  { font-size: $font-30; line-height: $line-30; display: flex; align-items: center; gap: $gap-element-70; margin-bottom: $gap-whitespace-30; color: var(--color-text-30); }
.o-product >.main .caption  { display: flex; align-items: center; }
.o-product >.main .caption >*  { display: flex; align-items: center; }
.o-product >.main .caption >:not(:first-child):before  { content: ""; width: $e10; height: calc(1em - 2px); margin-right: $gap-element-70; background: var(--color-edge-40); }
.o-product >.main .subject  { --lh: var(--text-height-para); font-weight: $bold-70; line-height: var(--lh); display: flex; }

.o-product:where(.m-shop-detail *) >.main .caption  { font-size: $font-40; line-height: $line-40; margin-bottom: $gap-whitespace-50; }
.o-product:where(.m-shop-detail *) >.main .subject  { font-size: $font-60; }


.m-product  { position: relative; padding-bottom: III(8); border-radius: $radius-50; }
.m-product:where(li.is-selected *)  { background: var(--color-ground-40); }
.m-product >.figures  { height: III(182); overflow: hidden; margin-bottom: III(12); border: $e10 solid var(--color-edge-40); border-radius: $radius-50; }
.m-product >.figures .o-view-image  { width: 100%; height: 100%; border-radius: inherit; }
.m-product >.figures .o-view-image >*  { display: block; width: 100%; height: 100%; object-fit: cover; object-position: top; margin: auto; }
.m-product >.captions  { padding: 0 III(8); }
.m-product >.captions >.header  { display: flex; align-items: center; margin-bottom: III(6); }
.m-product >.captions >.header >*  { flex: none; min-width: 0; }
.m-product >.captions >.header >.primary  { flex: 1; }
.m-product >.captions >.header >.primary .status  { position: absolute; left: 0; top: 0; right: 0; color: var(--color-text-00); background: var(--color-point-orange); border-radius: $radius-50 $radius-50 0 0; text-align: center; }
.m-product >.captions >.header >.primary .status >.label  { font-size: $font-40; line-height: $line-40; display: block; padding: III(4); }
.m-product >.captions >.header >.secondary .limits  { color: var(--color-text-30); }
.m-product >.captions >.o-product .caption  { margin-bottom: 0; }
.m-product >.captions >.o-product .subject  { @include inc-ellipsis2(2); font-weight: inherit; line-height: inherit; height: 2lh; overflow: hidden; }
.m-product >.captions >.footer  { margin-top: III(6); }
.m-product >.captions >.footer .summary  { font-size: $font-10; line-height: $line-10; display: flex; align-items: center; gap: $gap-element-70; color: var(--color-text-30); }
.m-product >.captions >.footer .summary >*  { display: flex; align-items: center; }
.m-product >.captions >.footer .summary >:not(:first-child):before  { content: ""; width: $e10; height: calc(1em - 2px); margin-right: $gap-element-70; background: var(--color-edge-40); }
.m-product >.captions >.footer .summary >* >*  { display: flex; align-items: center; }
.m-product >.captions >.footer .summary >* >.head:after  { content: var(--utf-nbsp) ":" var(--utf-nbsp); }
.m-product >.actions  { margin-top: III(8); padding: 0 III(8); }
.m-product >.actions .units  { font-size: $font-10; line-height: $line-10; color: var(--color-text-30); }


.o-empty-data  { font-size: $font-40; line-height: $line-40; padding: III(16) III(8); border: $e10 solid var(--color-edge-40); border-style: solid hidden; text-align: center; color: var(--color-text-30); }
:has(.o-empty-data):where(.m-shop-list, .m-shop-table),
:has(.o-empty-data):where(.m-shop-list *, .m-shop-table *)  { flex: 1; display: flex; flex-direction: column; }

.o-empty-data:where(.m-shop-list *, .m-shop-table *)  { flex: 1; display: flex; flex-direction: column; justify-content: center; }
.o-empty-data:where(.m-shop-table *)  { border-style: hidden; }

.m-shop-list  {  }
.m-shop-list >.container  {  }
.m-shop-list >.container >:not(.o-empty-data)  { display: grid; grid-template-columns: repeat(auto-fit, minmax(var(--width-min, III(242)), var(--width-max, III(242)),)); gap: III(16); /* gap: III(24) III(16); */ }


.m-shop-table  {  }
.m-shop-table .caption-primary  { display: flex; flex-direction: column; align-items: center; }
.m-shop-table .caption-primary .status  { font-size: $font-30; line-height: $line-30; margin-bottom: $gap-element-30; color: var(--color-point-orange); }
.m-shop-table .caption-primary .status:empty  { display: none; }
.m-shop-table .caption-secondary  { display: flex; align-items: center; gap: $gap-element-30; }
.m-shop-table .caption-secondary .limits  { font-size: $font-30; line-height: $line-30; color: var(--color-text-30); }
.m-shop-table .product  { display: flex; align-items: center; gap: $gap-element-30; }
.m-shop-table .product .caption  { font-size: $font-30; color: var(--color-text-30); }
.m-shop-table .product .subject  { @include inc-ellipsis2(); }
.m-shop-table .product:hover .subject  { text-decoration: underline; }
.m-shop-table .actions .units  { font-size: $font-10; line-height: $line-10; color: var(--color-text-30); }
.m-shop-table .summary  { font-size: $font-10; line-height: $line-10; display: flex; flex-direction: column; gap: $gap-element-30; color: var(--color-text-30); }
.m-shop-table .summary >*  { display: flex; align-items: center; }
.m-shop-table .summary >* >*  { display: flex; align-items: center; }
.m-shop-table .summary >* >.head:after  { content: var(--utf-nbsp) ":" var(--utf-nbsp); }

.m-shop-table >.container  { border: 0 solid var(--color-edge-30); border-width: $e10 0; border-top-color: var(--color-edge-40); }
.m-shop-table .table  { table-layout: fixed; border-collapse: collapse; width: 100%; border: hidden; text-align: center; white-space: nowrap; }
.m-shop-table tr >*  { height: III(59); overflow: hidden; padding: III(10) III(12); border: 0 solid var(--color-edge-30); border-width: 0 0 $e10; text-overflow: ellipsis; }
.m-shop-table tr.is-selected  { background: var(--color-ground-40); }


.m-shop-detail  { --m-margin-block: #{$gap-element-80}; --m-margin-inline: #{$gap-element-80}; display: flex; flex-direction: column; }
.m-shop-detail >*  { padding: var(--m-margin-block) var(--m-margin-inline); }
.m-shop-detail >.header .heading  { font-weight: $bold-70; font-size: $font-60; line-height: $line-60; color: var(--color-text-70); }
.m-shop-detail >.bodies  { flex: 1; display: flex; flex-direction: column; padding-top: 0; }
.m-shop-detail >.bodies >.detail  { flex: 1 0 0; flex-basis: III(44); min-height: 0; overflow: auto scroll; }
.m-shop-detail >.bodies >.detail  { --margin-block-end: var(--m-margin-block); --margin-inline-end: ((var(--m-margin-inline) - #{$width-scrollbar}) / 2); overflow: auto scroll; margin-right: calc(-1 * (var(--margin-inline-end) + $width-scrollbar)); margin-bottom: calc(-1 * var(--margin-block-end)); padding-right: calc(var(--margin-inline-end)); padding-bottom: var(--margin-block-end); }
.m-shop-detail >.bodies >.detail:after  { content: ""; display: block; position: sticky; bottom: calc(-1 * var(--margin-block-end)); min-height: calc(1 * var(--margin-block-end)); margin-bottom: calc(-1 * var(--margin-block-end)); background: fnLinearGradient(); }

.m-shop-detail >.bodies >.figure  { margin-bottom: III(12); }
.m-shop-detail >.bodies >.figure  { height: III(177); border: $e10 solid var(--color-edge-40); }
.m-shop-detail >.bodies >.figure :has(.o-view-image),
.m-shop-detail >.bodies >.figure .o-view-image  { height: 100%; }
.m-shop-detail .o-view-image  { margin: 0 auto; }
.m-shop-detail .o-view-image  { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; background: var(--color-ground) var(--obj-sym-empty-image) no-repeat 50% /auto 26%; }
.m-shop-detail .o-view-image >*  { display: block; width: 100%; height: 100%; object-fit: contain; object-position: center; margin: auto; }

.m-shop-detail >.bodies >.detail  {  }
.m-shop-detail >.bodies >.detail >.summary  { display: grid; grid-template-columns: repeat(2, 1fr); /* gap: III(12); */ gap: III(8); gap: III(8) III(12); margin-top: III(12); padding-top: III(12); border-top: $e10 solid var(--color-edge-30); }
.m-shop-detail >.bodies >.detail >.summary >* >*  { display: block; }
.m-shop-detail >.bodies >.detail >.summary .head  { font-weight: $bold-70; font-size: $font-30; line-height: $line-30; margin-bottom: III(2); color: var(--color-text-30); }
.m-shop-detail >.bodies >.detail >.summary .data  { font-size: $font-40; line-height: $line-40; }


.o-rank  { display: flex; align-items: center; gap: $gap-element-30; }
.o-rank >*  { flex: none; display: flex; align-items: center; min-width: 0; }
.o-rank >* >*  { flex: none; display: flex; align-items: center; min-width: 0; }
.o-rank >* >* >*  { flex: none; min-width: 0; }

.o-rank >.order .rank  { font-weight: $bold-70; justify-content: center; width: III(16); text-align: center; }
.o-rank >.order .status  { justify-content: center; position: relative; width: III(24); }
.o-rank >.order .status .tag  { @include inc-sronly(); }
.o-rank >.product  { flex: 1 0 0; gap: $gap-element-30; white-space: nowrap; }
.o-rank >.product .id  { width: III(42); color: var(--color-text-40); }
// .o-rank >.product .name  { flex: 1 0 0; overflow: hidden; text-overflow: ellipsis; }
.o-rank >.product .name  { @include inc-ellipsis2(1); flex: 1 0 0; }

.o-rank:where(.m-shop-ranking *)  { --lh: var(--text-height-para); font-size: $font-40; line-height: var(--lh); }


.m-shop-ranking  { --m-margin-block: #{$gap-element-80}; --m-margin-inline: #{$gap-element-80}; display: flex; flex-direction: column; }
.m-shop-ranking >*  { padding: var(--m-margin-block) var(--m-margin-inline); }

.m-shop-ranking  { padding: var(--m-margin-block) 0; background: var(--color-ground-30); }
.m-shop-ranking:where(* +*)  { border-top: $e10 solid var(--color-edge-40); }

.m-shop-ranking >.header  { --m-margin-block: 0; display: flex; align-items: center; min-height: $height-form-50; margin-bottom: III(8); }
.m-shop-ranking >.header .heading  { font-weight: $bold-70; color: var(--color-text-70); }
.m-shop-ranking >.header .o-toggles  { flex: 1; }
.m-shop-ranking >.header .o-toggles >*  { flex: 1; }

.m-shop-ranking >.bodies  { --m-margin-block: 0; }
.m-shop-ranking >.bodies >.ranking >*  { padding: III(8) 0; }








.m-cart  {  }
.m-cart .amount  { display: flex; margin-top: $gap-element-50; }


.m-shop-cart  { --m-margin-block: #{$gap-element-80}; --m-margin-inline: #{$gap-element-80}; display: flex; flex-direction: column; }
.m-shop-cart >*  { padding: var(--m-margin-block) var(--m-margin-inline); }

.m-shop-cart >.header  { --m-margin-block: #{$gap-element-70}; display: flex;  align-items: center; gap: $gap-element-70; border-bottom: $e10 solid var(--color-edge-40); background: var(--color-ground2-blue-30); }
.m-shop-cart >.header >*  { flex: none; min-width: 0; }
.m-shop-cart >.header >.primary  { flex: 1; }
.m-shop-cart >.header .heading  { font-weight: $bold-70; font-size: $font-60; line-height: $line-60; color: var(--color-key1-70); }

.m-shop-cart >.bodies  { flex: 1; flex-basis: 0; overflow: hidden auto; }
.m-shop-cart >.bodies >.carts >:not(:first-child)  { padding-top: III(8); }
.m-shop-cart >.bodies >.carts >:not(:last-child)  { padding-bottom: III(8); border-bottom: $e10 solid var(--color-edge-30); }

.m-shop-cart >.footer  { padding-top: 0; }
.m-shop-cart >.footer >.binds  { display: flex; }
.m-shop-cart >.footer >.binds >*  { flex: 1; display: flex; }
.m-shop-cart >.footer >.binds >* >*  { flex: 1; }


.m-shop  { display: flex; gap: $margin-section-70; }
.m-shop >*  { flex: none; min-width: 0; }
.m-shop >.lists  { flex: 1; display: flex; flex-direction: column; min-width: III(1016); }


.m-shop >.results  { display: flex; gap: $margin-section-50; }
.m-shop >.results >*  { flex: none; display: flex; flex-direction: column; min-width: 0; overflow: hidden; border: $e10 solid var(--color-edge-40); border-radius: $radius-50; }
.m-shop >.results >* >:first-child  { flex: 1; border-start-start-radius: inherit; border-start-end-radius: inherit; }
.m-shop >.results >* >:last-child  { border-end-start-radius: inherit; border-end-end-radius: inherit; }

.m-shop >.results >.details  { width: III(260); }

.m-shop >.results >.requests  { width: III(220); border-color: var(--color-edge2-blue-30); }



.m-shop  { flex: 1 0; flex-basis: 0; min-height: 0; }
.m-shop .o-section  { outline: 0 !important; }



.o-section >.main.rows-1fr:is(.m-shop >.lists *)  { --height-section-main: 0; --margin-block-end: #{$margin-layout-block}; --margin-inline-end: ((#{$margin-section-70} - #{$width-scrollbar}) / 2); overflow: auto scroll; margin-right: calc(-1 * (var(--margin-inline-end) + $width-scrollbar)); margin-bottom: calc(-1 * var(--margin-block-end)); padding-right: calc(var(--margin-inline-end)); padding-bottom: var(--margin-block-end); }
.o-section >.main.rows-1fr:is(.m-shop >.lists *):after  { content: ""; display: block; position: sticky; bottom: calc(-1 * var(--margin-block-end)); min-height: calc(1 * var(--margin-block-end)); margin-bottom: calc(-1 * var(--margin-block-end)); background: fnLinearGradient(); }



.o-survey  {}
.o-survey:disabled  { color: inherit; filter: none; opacity: 0.4; cursor: default; pointer-events: none; }
.o-survey >.caption  { --lh: var(--text-height-para); line-height: var(--lh); padding: $gap-element-70 $gap-element-70; background: var(--color-ground-40); text-align: center; }
.o-survey >.fields  { display: flex; gap: $gap-element-90; padding: III(16 - 1); padding-left: III(64 - 1); }
.o-survey >.fields >*  { flex: none; min-width: 0; }
.o-survey >.fields >.desc  { flex-basis: calc(50% - III(8)); min-width: III(160); max-width: III(330); }
.o-survey >.fields >.term  { flex: 1; }
.o-survey >.fields >.term .question  { --lh: var(--text-height-para); font-size: $font-60; line-height: var(--lh); position: relative; min-height: 1lh; margin-bottom: $gap-element-80; }
.o-survey >.fields >.term .question >.order  { font-weight: $bold-70; font-size: $font-40; display: inline-block; vertical-align: middle; margin-top: calc((1lh - $font-40) / -5); color: var(--color-text-20); }
.o-survey >.fields >.term .question >.order >.count  { position: absolute; top: 0; left: III(16 - 64); }


.m-survey  { border: $e10 solid var(--color-edge-40); border-radius: $radius-50; }
.m-survey >:first-child  { border-start-start-radius: inherit; border-start-end-radius: inherit; }
.m-survey >:last-child  { border-end-start-radius: inherit; border-end-end-radius: inherit; }

.m-survey >.header  { display: flex; padding: III(10) $gap-element-90; gap: $gap-element-80; border-bottom: $e10 solid var(--color-edge-40); background: var(--color-ground2-blue-30); }
.m-survey >.header >*  { flex: none; min-width: 0; }
.m-survey >.header .subject  { flex: 1; font-weight: $bold-70; font-size: $font-60; line-height: $line-60; min-height: $height-form-50; padding: calc(($height-form-50 - 1lh) / 2) 0; }
.m-survey >.header .binds  { align-self: center; }

.m-survey >.bodies  {  }
.m-survey >.bodies >* >:not(:last-child)  { border-bottom: $e10 solid var(--color-edge-30); }


.m-survey-form >* >:not(:first-child)  { margin-top: $gap-element-50; }


.m-survey-form li:has(.order >.count)  {
  --survey-bul-width-int: (var(--survey-bul-width-bullet) / 42);
  --survey-bul-width: calc(1em * var(--survey-bul-width-int));
  --survey-bul-width-neg: calc(-1em * var(--survey-bul-width-int));
}
.m-survey-form .order >.count:before  { content: var(--survey-bul-content); text-align: left; text-align: start; white-space: nowrap; }
.m-survey-form .order >.count:not(:empty):before  { content: none !important; }

.m-survey-form :has(>li .order >.count)  { counter-reset: NUM_surveys; }
.m-survey-form li:has(.order >.count)  { --survey-bul-content-main: counter(NUM_surveys); --survey-bul-content: var(--survey-bul-content-pre, "") var(--survey-bul-content-main, "") var(--survey-bul-content-suf, ".") var(--utf-nbsp); counter-increment: NUM_surveys; }

.m-survey-form :has(>li .order >.count):where(li *)  { counter-reset: NUM_surveys-level2; }
.m-survey-form li:has(.order >.count):where(li *)  { --survey-bul-content-pre: counter(NUM_surveys) "-"; --survey-bul-content-main: counter(NUM_surveys-level2); --survey-bul-content-suf: ""; --survey-bul-width-bullet: auto; counter-increment: NUM_surveys-level2; }

