@charset "UTF-8";

.page-index  { background: var(--color-ground-70); }
.page-index >.div-temp  { padding: $margin-layout-block $margin-layout-inline; padding-right: calc($margin-layout-inline - $width-scrollbar); }
.page-index >.div-temp img  { max-width: none; }


.m-shop  { display: flex; }
.m-shop >*  { flex: none; min-width: 0; border: $e10 solid var(--color-edge-40); }
.m-shop >.lists  { flex: 1; display: flex; flex-direction: column; }
// .m-shop >* >*  { flex: 1; }

.m-shop >.m-shop-list  { flex: 1; }


.m-shop >.results  { display: flex; }
.m-shop >.results >*  { flex: none; display: flex; flex-direction: column; min-width: 0; }



.m-shop  { flex: 1 0; flex-basis: 0; min-height: 0; }



.o-survey  {}
.o-survey:disabled  { color: inherit; filter: none; opacity: 0.4; cursor: default; pointer-events: none; }
.o-survey >.caption  { --lh: var(--text-height-para); line-height: var(--lh); padding: $gap-element-70 $gap-element-70; background: var(--color-ground-40); text-align: center; }
.o-survey >.fields  { display: flex; gap: $gap-element-90; padding: III(16 - 1); padding-left: III(64 - 1); }
.o-survey >.fields >*  { flex: none; min-width: 0; }
.o-survey >.fields >.desc  { flex-basis: calc(50% - III(8)); min-width: III(160); max-width: III(330); }
.o-survey >.fields >.term  { flex: 1; }
.o-survey >.fields >.term .question  { --lh: var(--text-height-para); font-size: $font-60; line-height: var(--lh); position: relative; min-height: 1lh; margin-bottom: $gap-element-80; }
.o-survey >.fields >.term .question >.order  { font-weight: $bold-70; font-size: $font-40; display: inline-block; vertical-align: middle; margin-top: calc((1lh - $font-40) / -5); color: var(--color-text-20); }
.o-survey >.fields >.term .question >.order >.count  { position: absolute; top: 0; left: III(16 - 64); }


.m-survey  { border: $e10 solid var(--color-edge-40); border-radius: $radius-50; }
.m-survey >:first-child  { border-start-start-radius: inherit; border-start-end-radius: inherit; }
.m-survey >:last-child  { border-end-start-radius: inherit; border-end-end-radius: inherit; }

.m-survey >.header  { display: flex; padding: III(10) $gap-element-90; gap: $gap-element-80; border-bottom: $e10 solid var(--color-edge-40); background: var(--color-ground2-blue-30); }
.m-survey >.header >*  { flex: none; min-width: 0; }
.m-survey >.header .subject  { flex: 1; font-weight: $bold-70; font-size: $font-60; line-height: $line-60; min-height: $height-form-50; padding: calc(($height-form-50 - 1lh) / 2) 0; }
.m-survey >.header .binds  { align-self: center; }

.m-survey >.bodies  {  }
.m-survey >.bodies >* >:not(:last-child)  { border-bottom: $e10 solid var(--color-edge-30); }


.m-survey-form >* >:not(:first-child)  { margin-top: $gap-element-50; }


.m-survey-form li:has(.order >.count)  {
  --survey-bul-width-int: (var(--survey-bul-width-bullet) / 42);
  --survey-bul-width: calc(1em * var(--survey-bul-width-int));
  --survey-bul-width-neg: calc(-1em * var(--survey-bul-width-int));
}
.m-survey-form .order >.count:before  { content: var(--survey-bul-content); text-align: left; text-align: start; white-space: nowrap; }
.m-survey-form .order >.count:not(:empty):before  { content: none !important; }

.m-survey-form :has(>li .order >.count)  { counter-reset: NUM_surveys; }
.m-survey-form li:has(.order >.count)  { --survey-bul-content-main: counter(NUM_surveys); --survey-bul-content: var(--survey-bul-content-pre, "") var(--survey-bul-content-main, "") var(--survey-bul-content-suf, ".") var(--utf-nbsp); counter-increment: NUM_surveys; }

.m-survey-form :has(>li .order >.count):where(li *)  { counter-reset: NUM_surveys-level2; }
.m-survey-form li:has(.order >.count):where(li *)  { --survey-bul-content-pre: counter(NUM_surveys) "-"; --survey-bul-content-main: counter(NUM_surveys-level2); --survey-bul-content-suf: ""; --survey-bul-width-bullet: auto; counter-increment: NUM_surveys-level2; }

