@charset "UTF-8";

.m-shop  { display: flex; }
.m-shop >*  { flex: none; display: flex; flex-direction: column; min-width: 0; border: $e10 solid var(--color-edge-40); }
.m-shop >* >*  { flex: 1; }

.m-shop >.m-shop-list  { flex: 1; }

.m-shop  { flex: 1; }



.o-survey  {}
.o-survey >.fields  { display: flex; gap: $gap-element-90; padding: III(16 - 1); padding-left: III(64 - 1); }
.o-survey >.fields >*  { flex: none; min-width: 0; }
.o-survey >.fields >.desc  { flex-basis: calc(50% - III(8)); min-width: III(160); max-width: III(330); }
.o-survey >.fields >.term  { flex: 1; }
.o-survey >.fields >.term .question  { --lh: var(--text-height-para); font-size: $font-60; line-height: var(--lh); margin-bottom: $gap-element-80; }


.m-survey  { border: $e10 solid var(--color-edge-40); border-radius: $radius-50; }
.m-survey >:first-child  { border-start-start-radius: inherit; border-start-end-radius: inherit; }
.m-survey >:last-child  { border-end-start-radius: inherit; border-end-end-radius: inherit; }

.m-survey >.header  { display: flex; padding: 10px $gap-element-90; border-bottom: $e10 solid var(--color-edge-40); background: var(--color-ground2-blue-30); }
.m-survey >.header >*  { flex: none; min-width: 0; }
.m-survey >.header .subject  { flex: 1; font-weight: $bold-70; font-size: $font-60; line-height: $line-60; display: flex; min-height: $height-form-50; align-items: center; padding: calc(($height-form-50 - 1lh) / 2) 0; }

.m-survey >.bodies  {  }
.m-survey >.bodies >* >:not(:last-child)  { border-bottom: $e10 solid var(--color-edge-30); }

