@charset "UTF-8";

// *,  :before,  :after  { transition-duration: 0s !important; }
:where(:not(.dom-main .div-tablist *, .swiper *)),
  :where(:not(.dom-main .div-tablist *, .swiper *)):before,
  :where(:not(.dom-main .div-tablist *, .swiper *)):after  { transition-duration: 0s !important; }
html  { scroll-behavior: auto !important; }

// .o-section:not(.o-section *):not(.o-grid >.column >*)  {
.o-section:not(.o-section *):not(.home-section *):not(.o-grid >.column >*):not(.m-sections >*):not(.m-tabs >.m-tabs-panel >*)  {
  outline: thick solid Red;
}
.o-grid:where(.o-grid *):where(.dom-wrapper.type-proto *) {
  outline: thick solid Blue;
}

// // ** .p-dialog HSPHS1901P01 : h3 제목 클릭 후, 팝업 높이 값으로 하단 버튼 안 보임 이슈
// .p-dialog { max-height: 90% !important;}

// ** FMTFT0801P02 화폐이미지 보기
.m-flex-list-col .m-upload-image + .m-upload-image {margin-top: 16px;}
.m-upload-image._large {width: 100%;}
.m-upload-image._large > .main > .header > .label {font-size: 14px;}
.m-upload-image._large > .main .o-object {height: 304px; }

// ** CMP000601P 주소검색
.address-box {text-align: start;}
.address-box .address-sub {font-size: $font-40; line-height: $line-40;}

// ** CMP000901P : 메모(업무별)
.layer-wrap :has(> .div-container._small) {min-height: auto;}
.layer-wrap :has(> .div-container._small) .div-footer {padding-top: III(24);}

// ** CMP001501P 결재선 그룹
.o-grid ._row:has(.o-section > .main._primary):not(.column) { flex-direction: row; gap: 0 24px;} // reWrite
:has(> .o-section)>.o-section.mini-section {margin-top: 0;} // reWrite

.content-editor-box {display: flex; flex: 1 1 auto; }
.content-editor-box .list {max-width: 157px; width:157px; border: 1px solid var(--color-edge-40);}
.content-editor-box .list .item {display: flex; justify-content: space-between; align-items: center; width: inherit; padding: 5px 4px 5px 8px; border-bottom: 1px solid var(--color-edge-40);}
.content-editor-box .list .item.state-edit {background-color: var(--design-background2-blue-40);}
.content-editor-box .list .item:hover:not(.state-edit) {background-color: #ECECEE;}
// .content-editor-box .list .item:hover {background-color: $color-grid-hover;}
// .content-editor-box .list .item.state-edit:hover {background-color: $color-grid-hover;}

.content-editor-box .list .item._active ._edit {display: none;}
.content-editor-box .list .item._active .name {min-width: 0;}
.content-editor-box .list .item._active .name[contenteditable="true"]:focus {outline: none;min-width: 0; border:0; background-color: #b1c7ff; }
.content-editor-box .list .item._active .util {flex-shrink: 0;}


// ** BSSCR0101P01 thumbnail-image in tbody
.p-datatable-tbody .thumbnail-image {overflow:hidden; border-radius: 8px; border: 1px solid var(--color-edge-40);}
.m-upload-image.type-widthy {width: 444px;}


// ** FMTFT0801M 외국통화견양집
.card-list {display: grid; grid-template-columns: repeat(auto-fill, minmax(var(--width-min, III(354)), 1fr)); gap: III(24) III(16);}
.card-list .item { transition: 0.25s $timing-func-ease-slower; }
.card-list .item >* { transition: inherit; }
.card-list .item .info-area {display: flex; align-items: center; margin: 12px 0 8px; justify-content: center; border: 1px solid #ECECEE; border-radius: 4px; }
.card-list .item .info-area li + li::before {content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: 0; display: block; width: 1px; height: 10px; background-color: #ECECEE;}

.card-list .item .o-object {position: relative; height: III(157); border: 1px solid #ECECEE; border-radius: $radius-50; }
.card-list .item .o-object img { object-fit: contain; object-position: center; }
.card-list .item .o-object .o-image-button:where(:not(img +*), .noimage +*) { display: none; }
.card-list .item .o-image-button { position: absolute; top: 0; right: 0; width: III(34); height: III(34); background-color: var(--color-surface-overlay) !important; border-start-start-radius: 0; border-end-end-radius: 0; }
.card-list .item .o-image-button:not(.o-object:hover *)  { opacity: 0.0; }
.card-list .item .o-image-button:before  { background-position: 75%; }

.card-list .item .info-area li {position: relative; display: flex; flex: 1; justify-content: center; padding: 8px 0;}
.card-list .item .info-area .name {position: relative; display: flex; font-size: 13px;}
.card-list .item .info-area .o-icon {margin-left: 10px;}
// .card-list .item .info-area .name::after {content: ''; display: inline-block; width: 16px; height: 16px; margin-left: 10px;}
// .card-list .item .info-area .name::before {content: ''; display: inline-block;position: absolute;top: 50%; transform: translateY(-50%); width: 16px; height: 16px; right:-20px; background-color: blue;}

.card-list .item .text-area {font-size: 13px; color: #525252; @include inc-ellipsis2(2);}

.card-list .item.is-selected .o-object,
.card-list .item.is-selected .info-area  { border-color: var(--color-control-40); box-shadow: $dropshadow-40; }


// **primereact 달력
.p-datepicker  {
  table :not(tr >* *) {
      font-weight: revert;
      color: revert;
      background-color: revert;
      text-align: revert;
    }
  th,
    td {
      -moz-box-sizing: revert;
      -webkit-box-sizing: revert;
      box-sizing: revert;
      padding: revert;
      border: revert;
      border-width: revert;

      .p-disabled  {
        color: $color-text-disabled;
        opacity: 0.4;
      }
    }
}

.p-calendar {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  .p-inputtext {
    flex: 1 1 auto;
    width: 1%;
  }

  .p-datepicker {
    min-width: 100%;
  }

  .p-datepicker-touch-ui {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 80vw;
    transform: translate(-50%, -50%);
  }
}

.p-calendar-w-btn-right {
  .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .p-datepicker-trigger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.p-calendar-w-btn-left {
  .p-inputtext {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .p-datepicker-trigger {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.p-fluid {
  .p-calendar {
    display: flex;

    .p-inputtext {
      width: 1%;
    }
  }
}

.p-datepicker {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  td {
    >span {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
  }

  button {
    min-width: 0;
  }
}

.p-datepicker-inline {
  display: inline-block;
  position: static;
  overflow-x: auto;
}

.p-datepicker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button.p-datepicker-prev,
  button.p-datepicker-next {
    min-width: III(28) !important;
    width: III(28) !important;
    height: III(28) !important;

    .p-icon {
      width: III(14);
      height: III(14);
    }
  }
  .p-datepicker-title {
    display: flex;
    margin: 0 auto;
    gap: 0 8px;
  }

  .p-datepicker-month {
    order: 2;
  }

  .p-datepicker-year {
    order: 1;
  }
}

.p-datepicker-prev {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.p-datepicker-next {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.p-datepicker-multiple-month {
  .p-datepicker-group-container {
    display: flex;
    display: flex;

    .p-datepicker-group {
      flex: 1 1 auto;
    }
  }
}

.p-monthpicker-month {
  width: 33.3%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.p-datepicker-buttonbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-timepicker {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  >div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.p-datepicker-touch-ui {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 80vw;
  transform: translate(-50%, -50%);
}

.p-yearpicker-year {
  width: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}